@font-face {
    font-family: Avenir;
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/Avenir/AvenirNextLTPro-BoldCn.otf');
}


body, html
{
    width: 1920px;
    height: 1080px;
    background-color: transparent; 
    font-family: Avenir;
    color: black;
    font-size: 20px;
}

.overlay
{
    position: relative;
    height: 100%;
    text-transform: uppercase;
    overflow: hidden;
}

.board
{
    width: 192px;
    height: 183px;
    position: absolute;
    right: 0;
    top: 50px;
   	text-align: center;
    display: none;
}

.teams {
	width: 100%;
	height: 102px;
}

.team {
	height: 100%;
	width: 50%;
	float: left;
}

.team img {
	height: 80%;
	margin-top: 9px;
}

.timer {
	display: none;
	width: 100%;
	height: 81px;
	font-size: 60px;
	background: linear-gradient(to right, #eceeed, #fff);
	line-height: 90px;
}