{% extends 'GrafismBundle::form/base_form.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-3">
            {{ form_label(form.match_id) }}
            {{ form_widget(form.match_id, { 'attr': { 'class' : 'form-control match-select' } }) }}
        </div>
        <div class="col-xs-3">
            {{ form_label(form.game_id) }}
            {{ form_widget(form.game_id, { 'attr': { 'class' : 'form-control game-select' } }) }}
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('.match-select').off('change');
            $('.match-select').change(function () {
                $target = $(this).parents('form').find('.game-select');
                $target.empty();
                var matchId = $(this).val();
                var url = '{{ url('crl_form_select_games', {'context':'cr'}) }}';
                $.getJSON(url + '&id=' + matchId, function (response) {                    
                    $.each(response, function (value, text) {
                        $target.append($('<option>', {                            
                            value: value,
                            text: text                            
                        }));
                    });
                });
            })
        });
    </script>
{% endblock %}