{% extends 'GrafismBundle::form/base_form.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-3">
            {{ form_label(form.match_id) }}
            {{ form_widget(form.match_id, { 'attr': { 'class' : 'form-control match-select' } }) }}
        </div>
        <div class="col-xs-3">
            {{ form_label(form.team_id) }}
            {{ form_widget(form.team_id, { 'attr': { 'class' : 'form-control team-select' } }) }}
        </div>
        <div class="col-xs-3">
            {{ form_label(form.player1_id) }}
            {{ form_widget(form.player1_id, { 'attr': { 'class' : 'form-control player-select' } }) }}

            {{ form_label(form.player2_id) }}
            {{ form_widget(form.player2_id, { 'attr': { 'class' : 'form-control player-select' } }) }}

            {{ form_label(form.player3_id) }}
            {{ form_widget(form.player3_id, { 'attr': { 'class' : 'form-control player-select' } }) }}

            {{ form_label(form.player4_id) }}
            {{ form_widget(form.player4_id, { 'attr': { 'class' : 'form-control player-select' } }) }}
        </div>
    </div>
    <script>
        $(document).ready(function () {

            $('.match-select').off('change');
            $('.match-select').change(function () {
                var matchId = $(this).val();
                $target = $(this).parents('form').find('.team-select');
                $target.empty();
                $players = $(this).parents('form').find('.player-select');
                $players.empty();
                var url = '{{ url('crl_form_select_teams', {'context':'cr'}) }}';
                $.getJSON(url + '&id=' + matchId, function (data) {
                    $.each(data, function (key, value) {
                        $target.append($('<option>', {
                            value: key,
                            text: value
                        }));
                    });
                });
            });

            $('.team-select').off('change');
            $('.team-select').change(function(){
                var teamId = $(this).val();
                $target = $(this).parents('form').find('.player-select');
                $target.empty();
                var url = '{{ url('crl_form_select_players', {'context':'cr'}) }}&competitionId={{ competitionId }}';
                $.getJSON(url + '&teamId=' + teamId, function (data) {
                    $.each(data, function (key, value) {
                        $target.append($('<option>', {
                            value: key,
                            text: value
                        }));
                    });
                });
            });
        });
    </script>
{% endblock %}