{% extends 'GrafismBundle::form/base_form.html.twig' %}

{% block body %}
    <div class="row local">
        <div class="col-xs-3">
            {{ form_label(form.match_id) }}
            {{ form_widget(form.match_id, { 'attr': { 'class' : 'form-control match-select' } }) }}
        </div>
        <div class="col-xs-2">
            {{ form_label(form.team_local_id) }}
            {{ form_widget(form.team_local_id, { 'attr': { 'class' : 'form-control team-select', 'data-team': 'local' } }) }}
        </div>
        <div class="col-xs-2">
            {{ form_label(form.team_local_player1_id) }}
            {{ form_widget(form.team_local_player1_id, { 'attr': { 'class' : 'form-control player-select' } }) }}
        </div>
        <div class="col-xs-2" style="padding-top: 30px;">
            {{ form_widget(form.team_local_player1_ch, { 'attr': { 'class' : 'form-control' } }) }}
        </div>

        <div class="col-xs-2 col-xs-offset-5">
            {{ form_label(form.team_local_player2_id) }}
            {{ form_widget(form.team_local_player2_id, { 'attr': { 'class' : 'form-control player-select' } }) }}
        </div>
        <div class="col-xs-2" style="padding-top: 30px;">
            {{ form_widget(form.team_local_player2_ch, { 'attr': { 'class' : 'form-control' } }) }}
        </div>

        <div class="col-xs-2 col-xs-offset-5">
            {{ form_label(form.team_local_player3_id) }}
            {{ form_widget(form.team_local_player3_id, { 'attr': { 'class' : 'form-control player-select' } }) }}
        </div>
        <div class="col-xs-2" style="padding-top: 30px;">
            {{ form_widget(form.team_local_player3_ch, { 'attr': { 'class' : 'form-control' } }) }}
        </div>
    </div>

    <div class="row visitor">
        <div class="col-xs-offset-3 col-xs-2">
            {{ form_label(form.team_visitor_id) }}
            {{ form_widget(form.team_visitor_id, { 'attr': { 'class' : 'form-control team-select', 'data-team': 'visitor' } }) }}
        </div>
            <div class="col-xs-2">
                {{ form_label(form.team_visitor_player1_id) }}
                {{ form_widget(form.team_visitor_player1_id, { 'attr': { 'class' : 'form-control player-select' } }) }}
            </div>
            <div class="col-xs-2" style="padding-top: 30px;">
                {{ form_widget(form.team_visitor_player1_ch, { 'attr': { 'class' : 'form-control' } }) }}
            </div>

            <div class="col-xs-2 col-xs-offset-5">
                {{ form_label(form.team_visitor_player2_id) }}
                {{ form_widget(form.team_visitor_player2_id, { 'attr': { 'class' : 'form-control player-select' } }) }}
            </div>
            <div class="col-xs-2" style="padding-top: 30px;">
                {{ form_widget(form.team_visitor_player2_ch, { 'attr': { 'class' : 'form-control' } }) }}
            </div>

            <div class="col-xs-2 col-xs-offset-5">
                {{ form_label(form.team_visitor_player3_id) }}
                {{ form_widget(form.team_visitor_player3_id, { 'attr': { 'class' : 'form-control player-select' } }) }}
            </div>
            <div class="col-xs-2" style="padding-top: 30px;">
                {{ form_widget(form.team_visitor_player3_ch, { 'attr': { 'class' : 'form-control' } }) }}
            </div>
    </div>
    <script>
        $(document).ready(function () {

            $('.match-select').off('change');
            $('.match-select').change(function () {
                var matchId = $(this).val();
                $target = $(this).parents('form').find('.team-select');
                $target.empty();
                $players = $(this).parents('form').find('.player-select');
                $players.empty();
                var url = '{{ url('crl_form_select_teams', {'context':'cr'}) }}';
                $.getJSON(url + '&id=' + matchId, function (data) {
                    $.each(data, function (key, value) {
                        $target.append($('<option>', {
                            value: key,
                            text: value
                        }));
                    });
                });
            });

            $('.team-select').off('change');
            $('.team-select').change(function(){
                var teamId = $(this).val();
                var side = $(this).attr('data-team');
                $target = $(this).parents('form .' + side).find('.player-select');
                $target.empty();
                var url = '{{ url('crl_form_select_players', {'context':'cr'}) }}&competitionId={{ competitionId }}';
                $.getJSON(url + '&teamId=' + teamId, function (data) {
                    $.each(data, function (key, value) {
                        $target.append($('<option>', {
                            value: key,
                            text: value
                        }));
                    });
                });
            });
        });
    </script>
{% endblock %}