@font-face {
    font-family: Geogtq-Bold;
    src: url('../../fonts/Geogtq-Bd.otf');
}

@font-face {
    font-family: Geogtq-SemiBold;
    src: url('../../fonts/Geogtq-Sb.otf');
}

@font-face {
    font-family: Geogtq-Regular;
    src: url('../../fonts/Geogtq-Rg.otf');
}

body, html
{
    width: 1920px;
    height: 1080px;
    /*background-color: #6EF618;*/
    background-image: url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Counter+Strike/comparativa.png');
    background-repeat: no-repeat;
    background-color: transparent; 
    font-family: Geogtq-SemiBold;
    color: white;
    font-size: 20px;
}

.overlay
{
    position: relative;
    height: 100%;
    /*text-shadow: 1px 1px #000000;*/
    text-transform: uppercase;
}

.board
{
    width: 1459px;
    height: 754px;
    position: absolute;
    margin-left: 228px;
    margin-top: 178px;
}

.side {
    width: 362px;
    height: 754px;
    float: left;
}

.middle {
    width: 732px;
    height: 754px;
    float: left;
}

.header {
    width: 100%;
    height: 119px;
    text-align: center;
    font-size: 40px;
    line-height: 119px;
}

.title{
/*    background-image: -moz-linear-gradient( 90deg, rgb(119,42,0) 0%, rgb(255,111,29) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(119,42,0) 0%, rgb(255,111,29) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(119,42,0) 0%, rgb(255,111,29) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
    color: #ff6600;
    font-size: 50px;
}

.data-row{
    margin-top: 1px;
    margin-bottom: 2px;
    width: 100%;
    height: 156px;
    text-align: center;
    line-height: 156px;
}

.data{
    float: left;
    color: #ff6600;
    width: 202px;
    height: 100%;
    font-size: 50px;
}

.key {
    float: left;
    font-family: Geogtq-Regular;
    width: 328px;
    height: 100%;
    font-size: 30px;
}