@font-face {
    font-family: Geogtq-Bold;
    src: url('../../fonts/Geogtq-Bd.otf');
}

@font-face {
    font-family: Geogtq-SemiBold;
    src: url('../../fonts/Geogtq-Sb.otf');
}

body, html
{
	width: 1920px;
	height: 1080px;
	/*background-color: #6EF618;*/
 	background-color: transparent; 
	font-family: Geogtq-SemiBold;
	color: white;
	font-size: 20px;
}

.overlay
{
	position: relative;
	height: 100%;
	text-shadow: 1px 1px #000000;
	text-transform: uppercase;
}

.board
{
    width: 974px;
    height: 948px;
    position: absolute;
    margin-left: 473px;
    margin-top: 63px;
}

.teams
{
    width:100%;
    height: 491px;
    margin-bottom: 6px;
}

.team
{
    float: left;
    width: 483px;
    height: 553px;
}

.team.right
{
    float: right;
}

.team_logo
{
    width: 100%;
    height: 396px;
    background-color: rgba(16, 17, 21, 0.7);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.team_logo img
{
    vertical-align: baseline;
}

.team_scoreboard
{
    width: 100%;
    height: 95px;
    text-align: center;
/*    background: -webkit-linear-gradient(right top, #2a4e63, #4f9cc0);
    background: -o-linear-gradient(bottom right, #2a4e63, #4f9cc0);
    background: -moz-linear-gradient(bottom right, #2a4e63, #4f9cc0);*/
    background: linear-gradient(to top right, #2a4e63, #4f9cc0);
    line-height: 87px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.team_scoreboard_name
{
    height: 87px;
    float: left;
    width: 390px;
    background-color: rgba(12, 13, 15, 0.95);
    color: #4a94b6;
    font-size: 30px;
    text-transform: uppercase;
}

.team_scoreboard_score
{
    width: 93px;
    height: 95px;
    color: white;
    text-shadow: 1px 2px #000000;
    float: left;
    font-size: 45px;
    line-height: 95px;
}

.team.right .team_scoreboard
{
    background: linear-gradient(to top left, #7e6127, #c59d2f);
}

.team.right .team_scoreboard_name
{
    float: right;
    color: #bc962e;
}

.team.right .team_scoreboard_score
{
    float: right;
}

.recap
{
    width: 100%;
    height: 97px;
    background-color: rgba(12, 13, 15, 0.7);
    margin-bottom: 7px;
    position: relative;
    border-radius: 5px;
    text-align: center;
}

.whiteLine
{
    height: 2px;
    width: 690px;
    background-color: white;
    position: absolute;
    top: 46px;
    left: 183px;
}

.roundWin
{
    width: 16px;
    height: 32px;
/*     background-color: white; */
    float: left;
    list-style: none;
    overflow: hidden;
    margin-left: 4px;
/*     background: linear-gradient(to bottom, #c59d2f, #7e6127); */
}

.roundWin:nth-child(6), .roundWin:nth-child(11), .roundWin:nth-child(21), .roundWin:nth-child(26) 
{
	margin-left: 11px;
}

.roundWin:nth-child(16)
{
	margin-left: 54px;
}

.recap ul
{
    padding-top: 28px;
    padding-left: 188px;
    margin: 0;
    position: absolute;
}

.title
{
	width: 100%;
	height: 51px;
	background-color: rgba(12, 13, 15, 0.7);
	border-radius: 5px;
	margin-bottom: 5px;
	letter-spacing: 10px;
	text-align: center;
	line-height: 51px;
}

.team_name_a
{
	position: absolute;
    color: #4a94b6;
    left: 15px;
    top: 20px;
    font-size: 16px;
}

.team_name_b
{
	color: #bc962e;
	position: absolute;
	left: 15px;
    bottom: 20px;
    font-size: 16px;
}

.stats
{
    width: 100%;
    height: 292px;
}

.stats_left
{
    width: 482px;
    height: 100%;
    float: left;
    background-color: rgba(12, 13, 15, 0.7);
    border-radius: 5px;
}

.stats_right
{
    width: 482px;
    height: 100%;
    float: right;
    background-color: rgba(12, 13, 15, 0.7);
    border-radius: 5px;
}

.stats_player
{
    height: 58px;
    width: 100%;
    margin-bottom: 1px;
    line-height: 58px;
}

.stats_player_name
{
    float: left;
    height: 100%;
    width: 196px;
    color: #4a94b6;
    text-transform: uppercase;
    text-align: left;
    padding-left: 20px;
}

.stats_player_score
{
    width: 286px;
    height: 100%;
    float: right;
}

.stats_right .stats_player_name
{
    float: right;
    color: #bc962e;
    text-align: right;
    padding-right: 20px;
}

.stats_right .stats_player_score
{
    float: left;
}

.stats_player_score_bar
{
    height: 17px;
    /* No ha de superar 210px */
    max-width: 210px;
    background: linear-gradient(to right, #4f9cc0, #2a4e63);
    float: right;
    margin-top: 20px;
}

.stats_right .stats_player_score_bar
{
    float: left;
    background: linear-gradient(to left, #c59d2f, #7e6127);
}

.stats_player_score_number
{
    float: right;
    margin-right: 7px;
}

.stats_right .stats_player_score_number
{
    float: left;
    margin-left: 7px;
}

.vertical_line
{
	height: 100%;
	width: 1px;
/* 	background-color: white; */
	border-left: 1px dashed white;
	left: 293px;
	position: absolute;
	opacity: 0.5;
}
