@font-face {
    font-family: Geogtq-Bold;
    src: url('../../fonts/Geogtq-Bd.otf');
}

@font-face {
    font-family: Geogtq-SemiBold;
    src: url('../../fonts/Geogtq-Sb.otf');
}

body, html
{
	width: 1920px;
	height: 1080px;
 	background-color: transparent; 
	font-family: Geogtq-SemiBold;
	color: white;
	font-size: 20px;
}

.overlay
{
	position: relative;
	height: 100%;
	text-transform: uppercase;
}

.board
{
	width: 517px;
	height: 242px;
	position: absolute;
	right: 14px;
	top: 386px;
}

.header
{
	height: 44px;
	font-size: 25px;
	width: 100%;
	margin-bottom: 2px;
	padding-left: 15px;
	line-height: 44px;
}

.content {
	padding-top: 12px;
	padding-left: 14px;
	height: 196px;
	width: 100%;
}

.team {
	width: 100%;
	height: 66px;
	line-height: 63px;
	margin-bottom: 3px;
}

.team-logo {
	height: 100%;
	width: 132px;
	float: left;
	overflow: hidden;
	border-radius: 8%;
}

.team-logo img {
	height: 100%;
	margin-left: -25px;
}

ul {
	padding: 0;
	margin: 0;
	float: left;
}

.team-score {
	height: 100%;
	width: 63px;
	font-size: 35px;
	text-align: center;
	margin-left: 4px;
	display: inline-block;
}

.team-score:first-child {
	margin-left: 7px;
}

.scores {
	height: 35px;
	width: 132px;
    line-height: 37px;
    margin-top: 5px;
    text-align: center;
}