@font-face {
    font-family: DIN;
    src: url('../../fonts/DIN/DIN.otf');
}

html, body
{
    width: 1920px;
    height: 1080px;
    background-color: transparent;
    font-family: DIN;
    color: #222933;
    font-size: 22px;
    overflow: hidden;
}

.all
{
	position: relative;
	height: 100%;
}

.board
{
	width: 1920px;
	height: 81px;
	position: absolute;
	bottom: 0px;
	background: url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Call+of+Duty/scoreboard_cwl.png');
}

.blank {
	width: 452px;
    height: 69px;
    z-index: 5;
    position: absolute;
    float: left;
    bottom: 9px;
    background: url(https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Call+of+Duty/scoreboard_cwl.png);
}

.text
{
	width: 1480px;
	height: 69px;
	line-height: 82px;
	font-size: 32px;
	bottom: 9px;
	float: right;
	padding: 0 20px;
	text-transform: uppercase;
	overflow: hidden;
/* 	text-align: right; */
	position: absolute;
	right: -1440px;
}