@font-face {
    font-family: Geogtq-Bold;
    src: url('../../fonts/Geogtq-Bd.otf');
}

@font-face {
    font-family: Geogtq-SemiBold;
    src: url('../../fonts/Geogtq-Sb.otf');
}

body, html
{
	width: 1920px;
	height: 1080px;
 	background-color: transparent;
	font-family: Geogtq-SemiBold;
	color: white;
	font-size: 20px;
}

.overlay
{
	position: relative;
	height: 100%;
	text-transform: uppercase;
}

.board
{
	width: 1536px;
	height: 701px;
	position: absolute;
	right: 192px;
	top: 190px;
	border-radius: 15px;
	background: linear-gradient(#0a0a0c, #0c0d10);
}

.header {
	width: 100%;
	height: 129px;
    padding-left: 330px;
	font-size: 60px;
	line-height: 129px;
	background: linear-gradient(#1f2026, #17181c);
	text-shadow: 1px 2px 2px black;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}

.header img {
    position: absolute;
    margin-left: 32px;
    margin-top: 24px;
}

.map {
	width: 100%;
	height: 181px;
}

.scoreboard {
	width: 100%;
	height: 330px;
	text-align: center;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.scoreboard-header {
	line-height: 64px;
	height: 64px;
	margin-bottom: 2px;
}

.rounds, .score-number, .total, .team-logo{
	width: 125px;
	float: left;
	height: 100%;
}

.team-logo img {
	width: 100%;
}

.score-number {
	font-size: 30px;
}

.rounds, .total-title {
	background-color: #050507;
}

.score-number , .team-score{
	width: 116px;
	margin-right: 2px;
	background-color: #08090d;
	float: left;
}

.total-title, .total-score {
	width: 113px;
	float: left;
}

.total-score {
	background-color: #08090d;
    font-size: 55px;
}

.team {
	height: 133px;
	line-height: 133px;
}

.color {
	background-color: #181b22;
}

.orange {
	background: linear-gradient(#e35b02, #803200);
}