@font-face {
    font-family: Geogtq-Bold;
    src: url('../../fonts/Geogtq-Bd.otf');
}

@font-face {
    font-family: Geogtq-SemiBold;
    src: url('../../fonts/Geogtq-Sb.otf');
}

body, html
{
	width: 1920px;
	height: 1080px;
	background: url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Call+of+Duty/resumen/base.png');
 	background-repeat: no-repeat;
 	background-color: transparent;
	font-family: Geogtq-SemiBold;
	color: white;
	font-size: 20px;
}

.overlay
{
	position: relative;
	height: 100%;
	text-transform: uppercase;
}

.board
{
	width: 1558px;
	height: 865px;
	position: absolute;
	right: 181px;
	top: 108px;
	padding-top: 129px;
}

.header {
	width: 1536px;
	height: 79px;
	margin-left: 11px;
	line-height: 79px;
}

.team {
	width: 682px;
	height: 100%;
	float: left;
	font-size: 35px;
}

.team.left {
	text-align: right;
	padding-right: 20px;
}

.team.right {
	padding-left: 20px;
}

.scoreboard {
	width: 172px;
	height: 100%;
	float: left;
}

.score {
	text-align: center;
	width: 85px;
	font-size: 45px;
}

.maps {
	width: 1536px;
	height: 657px;
	margin-left: 11px;
}

.map {
	width: 307px;
	height: 100%;
	float: left;
	position: relative;
}

.map:nth-child(even) {
/* 	border-left: 2px solid black; */
/* 	border-right: 2px solid black; */
}

.map-result {
	width: 100%;
	height: 196px;
	position: absolute;
	bottom: 186px;
	z-index: 4 !important;
}

.finished {
	position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 471px;
    background-color: black;
    opacity: 0.6;
    z-index: 1 !important;
    transition: 1s ease all;
}

.cinta {
	position: absolute;
	width: 100%;
	height: 114px;
    bottom: 95px;	
	background: url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Call+of+Duty/resumen/Modos-cinta.png');
	background-color: transparent;
	z-index: 10;
}

.result {
	width: 100%;
	height: 87px;
	text-align: center;
	line-height: 87px;
	font-size: 40px;
	background: rgba(0,0,0, 0.8);
}

.team-result {
	width: 100%;
	height: 109px;
}

.team-result img {
	width: 100%;
}