@font-face {
    font-family: Geogtq-Bold;
    src: url('../../fonts/Geogtq-Bd.otf');
}

@font-face {
    font-family: Geogtq-SemiBold;
    src: url('../../fonts/Geogtq-Sb.otf');
}

body, html
{
	width: 1920px;
	height: 1080px;
 	background-color: transparent;
	font-family: Geogtq-SemiBold;
	color: white;
	font-size: 20px;
}

.overlay
{
	position: relative;
	height: 100%;
	text-transform: uppercase;
}

.board
{
	width: 1536px;
	height: 865px;
	position: absolute;
	right: 192px;
	top: 108px;
}

.header {
	width: 100%;
	height: 129px;
	text-align: center;
	font-size: 60px;
	line-height: 129px;
	background: linear-gradient(#1f2026, #17181c);
	text-shadow: 1px 2px 2px black;
}

.header img {
    position: absolute;
    margin-left: 32px;
    margin-top: 20px;
}

.maps-header {
	height: 96px;
	width: 100%;
	text-align: center;
	background-color: #070a0d;
	line-height: 96px;
	font-size: 30px;
}

.map {
	width: 312px;
	height: 100%;
	background-color: #050508;
	float: left;
}

.hardpoint-container {
	width: 244px;
	height: 100%;
	float: left;
	padding: 20px 0;
}

.hardpoint-name {
	height: 63px;
    line-height: 63px;
	border-right: 2px solid #181b21;
	font-size: 24px;
}

.hardpoint-container:last-child .hardpoint-name {
	border-right: none;
}

.rotation {
	width: 100%;
	height: 213px;
	background: linear-gradient(rgba(9, 10, 12, 0.9), rgba(14, 14, 17, 0.9));
}

.rotation-name {
	height: 100%;
	width: 312px;
	float: left;
	font-size: 45px;
	text-align: center;
	padding-top: 40px;
}

.rotation:nth-child(even) {
	background: rgba(0,0,0, 0.9);
}

.scoreboard {
	padding-top: 42px;
	height: 132px;
	width: 237px;
	margin-right: 8px;
	float: left;
}

.scoreboard:last-child {
	margin-right: 0;
}

.scores {
	width: 100%;
	height: 92px;
	line-height: 92px;
	text-align: center;
	font-size: 40px;
}

.score-local {
	float: left;
	background-color: #14161c;
	width: 50%;
}

.score-visitor {
	float: right;
	background-color: #181b21;
	width: 50%;
}

.teams {
	background-color: #0d0e13;
	width: 100%;
	height: 40px;
}

.team-local {
	height: 100%;
	width: 50%;
	float: left;
	position: relative;
	overflow: hidden;
}

.team-visitor {
	height: 100%;
	width: 50%;
	float: right;
	position: relative;
	overflow: hidden;
}

.team-local img, .team-visitor img {
	width: 100%;
}

.orange {
	background: linear-gradient(#e35b02, #803200);
}

.border {
	height: 9px;
	width: 100%;
	position: absolute;
	bottom: 0;
}