@font-face {
    font-family: Univers;
    src: url('../../fonts/UNIVERSLTSTD-CN.OTF');
}

@font-face {
    font-family: Univers-it;
    src: url('../../fonts/UNIVERSLTSTD-CNOBL.OTF');
}

html, body
{
	width: 1920px;
	height: 1080px;
/* 	background-color: #6EF618; */
	background-color: transparent;
	font-family: Univers;
	color: white;
	font-size: 24px;
}

.all
{
	position: relative;
	height: 100%;
}

.pastilla
{
	width: 1002px;
	height: 158px;
	background: url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Call+of+Duty/twitter_copa.png');
	position: absolute;
	bottom: 0;
	left: 0;
	margin-left: 45px;
	margin-bottom: 45px;
}

.tweet
{
	float: right;
	height: 100%;
	width: 795px;
	margin-right: 28px;
}

.header
{
	height: 54px;
	width: 100%;
	line-height: 60px;
	text-transform: uppercase;
}

.user
{
	float: left;
	margin-left: 75px;
}

.hashtag
{
	color: #c0b688;
	float: right;
	margin-right: 10px;
}

.text
{
	width: 100%;
	padding: 20px 20px;
}