@font-face {
    font-family: DIN;
    src: url('../../fonts/DIN/DINPro-CondBold.otf');
}

@font-face {
    font-family: DIN-Medium;
    src: url('../../fonts/DIN/DINPRO-MEDIUM (1).OTF');
}

html, body
{
	width: 1920px;
	height: 1080px;
/* 	background-color: #6EF618; */
	background-color: transparent;
	font-family: DIN-Medium;
	color: #222933;
	font-size: 24px;
}

.all
{
	position: relative;
	height: 100%;
}

.pastilla
{
	width: 1554px;
	height: 213px;
	background: url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Call+of+Duty/twitter_cwl.png');
	position: absolute;
	bottom: 0;
	left: 0;
}

.tweet
{
	width: 1328px;
	height: 185px;
	float: right;
	bottom: 28px;
}

.user
{
	width: 100%;
	height: 59px;
	text-transform: uppercase;
	padding-left: 278px;
	font-size: 40px;
	line-height: 68px;
	font-family: DIN;
}

.text
{
	height: 126px;
	width: 100%;
	padding: 13px 22px;
}