@font-face {
    font-family: Uni-Bold;
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/Uni+Sans+Bold+Italic.ttf');
}

@font-face {
    font-family: Uni-Italic;
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/Uni+Sans+Heavy+Italic.otf');
}

html, body
{
    width: 1920px;
    height: 1080px;
     background: url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Forge/Overlay-Ingame-Online.png'); 
     background-repeat: no-repeat;
	background-color: transparent;
    font-family: Uni-Italic;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}

.header {
	width: 1303px;
	height: 43px;
	margin: 0 auto;
	text-align: center;
	line-height: 43px;
	font-family: Uni-Bold;
}

.header .blue {
	width: 270px;
	height: 100%;
	float: left;
    margin-left: 7px;
}

.header .red {
	height: 100%;
	float: right;
	width: 270px;
    margin-right: -6px;
}

.blue-score, .red-score {
	width: 55px;
	height: 100%;
	float: left;
	font-size: 30px;
}

.blue-name, .red-name {
	width: 215px;
	height: 100%;
	float: left;
	font-size: 27px;
}

.patros
{
    width: 293px;
    height: 101px;
    margin-left: 7px;
    margin-top: 930px; 
    position: absolute;
}

.patros > img
{
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
}

.patch {
	position: absolute;
	font-size: 60px;
    right: 35px;
    display: none;
}

.mid {
	width: 713px;
	height: 50px;
	margin-top: 755px;
	margin-left: 612px;
	padding-left: 20px;
	line-height: 60px;
	text-align: center;
}

.tournament {
	color: #8eb8c9;
}

.camera
{
	position: absolute;
	left: 311px;
	bottom: 0px;
	/*width: 308px;*/
	width: 289px;
	height: 254px;
	/*height: 237px;*/
}

.camera2
{
	position: absolute;
	/*    width: 308px;
        height: 237px;  */
	width: 304px;
	height: 257px;
	bottom: 0;
	right: 287px;
}

.camera.l
{
	background: url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/League+of+Legends/cam-blue.png');
}

.camera2.r
{
	background: url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/League+of+Legends/cam-red.png');
}

.team_name
{
	height: 43px;
	width: 100%;
	line-height: 43px;
	bottom: 0;
	position: absolute;
	text-align: center;
}