@font-face {
    font-family: Uni-Bold;
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/Uni+Sans+Bold.ttf');
}

@font-face {
    font-family: Uni-Regular;
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/Uni+Sans.ttf');
}

@font-face {
    font-family: Uni-Italic;
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/Uni+Sans+Heavy+Italic.otf');
}

html, body
{
    width: 1920px;
    height: 1080px;
    background-color: transparent;
    font-family: Uni-Regular;
    color: white;
    font-size: 22px;
}

.all
{
	position: relative;
	height: 100%;
}

.board
{
	width: 849px;
	height: 173px;
	position: absolute;
	bottom: 54px;
	left: 96px;
	text-transform: uppercase;
	background: url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Forge/chyron-twitter.png');
}

.content {
	width: 100%;
	height: 120px;
}

.avatar {
	width: 119px;
	height: 100%;
	float: left;
}

.avatar img {
	width: 99px;
    margin-top: 10px;
    margin-left: 18px;
}

.text {
	width: 730px;
	height: 100%;
	float: right;
	padding: 20px;
}

.user {
	width: 355px;
	height: 52px;
	line-height: 55px;
	margin-left: 12px;
	padding-left: 10px;
	font-family: Uni-Italic;
	font-size: 27px;
}