@font-face {
    font-family: 'DIN';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/dinpro/DINPro-CondBold.otf');
}

@font-face {
    font-family: 'DIN-Light';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/dinpro/DINPro-CondLight.otf');
}

html, body {
    width: 1920px;
    height: 1080px;
    background: url('https://s3-eu-west-1.amazonaws.com/lvp-graphism/slo/clash/in-game/Base-Overlay-RdlA.png');
    background-color: transparent;
    background-repeat: no-repeat;
    /*background-color: green;*/
    font-family: 'DIN';
    color: #FFFFFF;
    position: relative;
    letter-spacing: 2px;
    text-transform: uppercase;
}


.left {
    width: 496px;
    height: 100%;
    float: left;
}

.left > .header {
    width: 100%;
    height: 105px;
    padding-bottom: 1px;
    margin-bottom: 37px;
    position: relative;
}

.left > .header > img {
    position: absolute;
    top:27px;
}

.orange {
    right: 45px;
}

.lvp {
    top: 30px !important;
    left: 65px;
}

.slo {
    top: 13px !important;
    left: 175px;
}

.left .content {
    width: 100%;
    height: 902px;
    padding: 0 89px;
}

.team-big {
    width: 100%;
    height: 407px;
    margin-bottom: 20px;
}

.team-big > .team-scoreboard {
    width: 100%;
    height: 53px;
    text-align: center;
    line-height: 46px;
    font-size: 30px;
}

.team-scoreboard > .team-name {
    width: 240px;
    height: 100%;
    float: left;
    background: #101010;
    text-transform: uppercase;
}

.team-scoreboard > .team-score {
    width: 78px;
    height: 100%;
    float: left;
    background: #b7a76b;
}

.team-score.border-red {
    border-bottom: 5px solid #ff4c4d;
}

.team-score.border-blue {
    border-top: 5px solid #0090e6;
}

.team-big > .team-logo {
    width: 100%;
    height: 305px;
    background: #1b1b1b;
    text-align: center;
}

.team-logo > img {
    height: 75%;
    margin-top: 35px;
}

.team-big > .team-bans {
    width: 100%;
    height: 49px;
    background: #1b1b1b;
}

.team-bans > .ban-label {
    width: 126px;
    height: 100%;
    float: left;
    text-align: center;
    background: #101010;
    line-height: 49px;
    font-size: 18px;
}

.team-bans .ban {
    width: 62px;
    height: 100%;
    float: left;
    margin-left: 2px;
    background: #101010;
    overflow: hidden;
    position: relative;
}

.ban > img {
    height: 100%;
    position: absolute;
    left: -7px;
}

.scoreboard {
    width: 100%;
    height: 49px;
    text-align: center;
    line-height: 49px;
    margin-bottom: 19px;
}

.scoreboard > .scoreboard-label {
    width: 126px;
    height: 100%;
    float: left;
    background: #101010;
    font-size: 18px;
}

.scoreboard-set {
    width: 62px;
    height: 100%;
    margin-left: 2px;
    float: left;
    background: #1b1b1b;
    border-bottom: 5px solid transparent;
    line-height: 47px;
    font-size: 17px;
}

.scoreboard-set.visitor {
    background-color: #ff4c4d;
}

.scoreboard-set.local {
    background-color: #0090e6;
}

.current {
    border-color: #b7a76b !important;
}

.bg-blue {
    background: #0090e6 !important;
}

.bg-red {
    background: #ff4c4d !important;
}

.border-red {
    border-bottom: 5px solid #ff4c4d;
}

.border-blue {
    border-top: 5px solid #0090e6;
}

.right {
    width: 612px;
    height: 100%;
    float: right;
}

.right > .header {
    width: 100%;
    height: 104px;
    text-align: center;
    line-height: 104px;
    font-size: 27px;
    letter-spacing: 3px;
    margin-bottom: 38px;
    font-family: 'Din-Light';
}

.right .content {
    width: 100%;
    padding: 0 94px;
}

.big-players {
    width: 100%;
    height: 407px;
    text-align: center;
    margin-bottom: 19px;
    font-family: 'DIN';
}

.games-scoreboard {
    width: 100%;
    height: 49px;
    text-align: center;
    margin-bottom: 20px;
}

.games-scoreboard > .game {
    width: 82px;
    height: 100%;
    float: left;
    border-bottom: 5px solid transparent;
    background: #101010;
    margin-left: 2px;
    line-height: 49px;
}

.game.red {
    border-color: #ff4c4d;
}

.game.blue {
    border-color: #0090e6;
}

.game.local {
    background-color: #0090e6 !important;
}

.game.visitor {
    background-color: #ff4c4d !important;
}

.game:first-child {
    margin-left: 0;
}

.current-player {
    width: 100%;
    height: 297px;
    background: #1b1b1b;
    margin-bottom: 3px;
}

.current-player > .player-photo {
    width: 100%;
    height: 245px;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.current-player > .player-photo > .player-img {
    width: 100%;
    top: -15px;
    position: absolute;
    left: 0;
}

.current-player > .player-photo > .team-img {
    width: 100%;
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
}

.current-player > .player {
    width: 100%;
    height: 52px;
    line-height: 52px;
    font-size: 23px;
}

.current-player > .player.red {
    background: #ff4c4d;
}

.current-player > .player.blue {
    background: #0090e6;
}

.player-list {
    width: 100%;
    height: 107px;
}

.player-list > .player {
    width: 138px;
    height: 100%;
    float: left;
    margin-left: 3px;
    background: #101010;
    text-align: center;
}

.player-list > .player:first-child {
    margin-left: 0;
}

.player-list > .player > .player-photo {
    width: 100%;
    height: 76px;
    overflow: hidden;
}

.player-list > .player > .player-photo > img {
    width: 150%;
    margin-top: -22px;
    margin-left: -34px
}

.player-list > .player > .player-name {
    width: 100%;
    height: 31px;
    line-height: 31px;
    background: #1b1b1b;
}

.player-name.red.active {
    background: #ff4c4d;
}

.player-name.blue.active {
    background: #0090e6;
}

.player-name.red.defeated, .player-name.blue.defeated {
    background: #171717 !important;
}

.defeated {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    opacity: 0.50;
}