@font-face {
    font-family: 'DIN';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/dinpro/DINPro-CondBold.otf');
}

@font-face {
    font-family: 'DIN-Light';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/dinpro/DINPro-CondLight.otf');
}

html, body {
    width: 1920px;
    height: 1080px;
    background-color: transparent;
    font-family: 'DIN';
    color: #fff;
    margin: 0px;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;;
}

.featured{
    width: 1286px;
    height: 707px;
    position: absolute;
    top: 181px;
    left: 316px;
    margin: auto;
}

.header{
    width: 100%;
    height: 112px;
    background-color: #101010;
    text-align: center;
    font-size: 35px;
    line-height: 106px;
}

.team{
    width: 475px;
    height: 100%;
    float: left;
}

.ban{
    width: 112px;
    height: 112px;
    float: left;
    overflow: hidden;
    position: relative;
}

.text-ban{
    background-color: #008de1;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25px;
    line-height: 25px;
    font-size: 15px;
}

.ban img{
    height: 87px;
    vertical-align: baseline;
    margin-left: -12px;
}

.team.second .ban{
    width: 112px;
    height: 112px;
    float: left;
    background-color: #008de1;
}

.team.second{
    float: left;
}

.set{
    width: 112px;
    height: 100%;
    float: left;
    background-color: #008de1;
}

.team .img{
    width: 102px;
    height: 100%;
    float: left;
    border-bottom: 5px solid transparent;
}

.team .name{
    width: 339px;
    height: 100%;
    float: left;
    text-align: right;
    padding: 0 20px;
}

.team.second .img{
    float: left;
    margin-left: 24px;
    margin-right: 0px;
}

.team.second .name{
    float: left;
    text-align: left;
}

.team .img img{
    width: 90%;
}

.players{
    width: 1062px;
    height: 495px;
    margin: 50px auto 0px;
    font-size: 31px;
    line-height: 163px;
    text-align: center;
    background-color: #050505;
}

.match{
    width: 100%;
    height: 163px;
    margin-bottom: 3px;
}

.player{
    width: 475px;
    height: 100%;
    float: left;
    background-color: #1b1b1b;
    overflow: hidden;
}

.player .name{
    text-align: right;
    padding-right: 64px;
}

.player.second{
    float: right;
}

.player.second .name{
    text-align: left;
    padding-left: 64px;
    padding-right: 0px;
}

.player .img{
    width: 199px;
    height: 163px;
    float: left;
}

.player.second .img{
    float: right;
}

.player .img img{
    width: 125%;
    margin-top: -20px;
    margin-left: -20px;
}

.versus{
    width: 112px;
    height: 100%;
    background-color: #00629c;
    float: left;
}
