@font-face {
    font-family: 'DIN';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/dinpro/DINPro-CondBold.otf');
}

@font-face {
    font-family: 'DIN-Light';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/dinpro/DINPro-CondLight.otf');
}

html, body {
    width: 1920px;
    height: 1080px;
    background: url('https://s3-eu-west-1.amazonaws.com/lvp-graphism/slo/clash/line-up/Logo-ReyArena.png');
    background-repeat: no-repeat;
    background-color: transparent;
    /*background-color: green;*/
    font-family: 'DIN';
    color: #FFFFFF;
    position: relative;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
}

.content {
    width: 1740px;
    height: 986px;
    position: absolute;
    left: 91px;
    top: 94px;
}

.header {
    width: 100%;
    height: 110px;
}

.header > .team {
    width: 814px;
    height: 100%;
    float: left;
}

.header > .team > .bans {
    width: 226px;
    height: 100%;
    float: left;
}

.header > .team > .bans > .ban {
    width: 110px;
    height: 100%;
    float: left;
    margin-right: 3px;
    background: #1b1b1b;
    overflow: hidden;
    position: relative;
}

.header > .team > .bans > .ban > img {
    height: 100%;
    position: absolute;
    left: -33px;
}

.header > .team > .team-data {
    width: 588px;
    height: 100%;
    float: left;
    background: #101010;
}

.header > .team > .team-data > .name {
    width: 462px;
    height: 100%;
    float: left;
    text-align: center;
    line-height: 110px;
    font-size: 30px;
}

.header > .team > .team-data > .logo {
    width: 102px;
    height: 100%;
    float: left;
    border-bottom: 5px solid transparent;
    text-align: center;
}

.header > .team > .team-data > .logo > img {
    width: 90%;
    margin-top: 10px;
}

.header > .versus {
    width: 109px;
    height: 100%;
    float: left;
    text-align: center;
    line-height: 110px;
    background: #b8a76b;
    font-size: 27px;
}

.lineups {
    width: 100%;
    height: 876px;
}

.lineup {
    width: 50%;
    height: 100%;
    float: left;
}

.lineup > .player {
    width: 290px;
    height: 100%;
    float: left;
    position: relative;
    text-align: center;
}

.lineup > .player > .photo {
    width: 100%;
    height: 676px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.lineup > .player > .photo > img {
    height: 100%;
    margin-left: -90px;
}

.lineup > .player > .player-label {
    width: 229px;
    height: 50px;
    position: absolute;
    bottom: 35px;
    line-height: 50px;
    left: 30.5px;
    font-size: 21px;
    z-index: 90;
}

.lineup > .player > .player-label > .name {
    width: 179px;
    height: 100%;
    float: left;
    text-align: center;
    background: #101010;
    border-bottom: 5px solid #b8a76b;
}

.lineup > .player > .player-label > .position {
    width: 50px;
    height: 100%;
    text-align: center;
    background: #b8a76b;
    float: left;
}