@font-face {
    font-family: 'DIN';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/dinpro/DINPro-CondBold.otf');
}

@font-face {
    font-family: 'DIN-Light';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/dinpro/DINPro-CondLight.otf');
}

html, body {
    width: 1920px;
    height: 1080px;
    background-color: transparent;
    font-family: 'DIN';
    color: #fff;
    margin: 0px;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
}

.featured{
    top: 912px;
    width: 1105px;
    height: 114px;
    left: 96px;
    position: absolute;
}

.logo{
    width: 114px;
    height: 100%;
    float: left;
    background-color: #008de1;
    text-align: center;
}

.logo img{
    width: 85%;
    margin-top: 18px;
}

.text{
    width: 307px;
    height: 100%;
    float: left;
    background: #1b1b1b;
    text-align: center;
}

.predict{
    width: 100%;
    height: 73px;
    font-size: 42px;
    line-height: 73px;
}

.match{
    width: 100%;
    height: 41px;
    font-size: 23px;
}

span{
    color: #0087d8;
}

.teams{
    width: 570px;
    height: 100%;
    float: left;
    background: #1b1b1b;
}

.team{
    width: 114px;
    height: 114px;
    float: left;
    background: #101010;
    text-align: center;
}

.inside {
    padding: 0 5px;
    width: 102px;
    height: 100%;
    border-bottom: 5px solid transparent;
    margin: 0 auto;
}

.team img{
    padding-bottom: 3px;
    padding-top: 10px;
    width: 100%;
}

.team.par{
    background: #1b1b1b;
}

.box-predict{
    top: 877px;
    left: 517px;
    position: absolute;
}

.user-predict{
    width: 684px;
    height: 32px;
    position: relative;
    font-size: 18px;
}

.name{
    width: 114px;
    height: 100%;
    float: left;
    text-align: center;
    line-height: 30px;
    background: #101010;
}

.name.par{
    background: #1b1b1b;
}