@font-face {
    font-family: 'DIN';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/dinpro/DINPro-CondBold.otf');
}

@font-face {
    font-family: 'DIN-Light';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/dinpro/DINPro-CondLight.otf');
}

html, body {
    width: 1920px;
    height: 1080px;
    background-color: transparent;
    /*background-color: green;*/
    font-family: 'DIN';
    color: #fff;
    margin: 0px;
    text-transform: uppercase;
}

.box-game{
    left: 88px;
    position: absolute;
}

.game{
    width: 811px;
    height: 1080px;
    position: relative;
    border-right: 2px solid #008de1;
    border-left: 2px solid #008de1;
}

.box-replay{
    top: 114px;
    left: 1128px;
    position: absolute;
}

.replay{
    width: 701px;
    height: 853px;
    position: relative;
}

.text-replay{
    width: 697px;
    height: 109px;
    background: #101010;
    padding-left: 33px;
    font-size: 35px;
    line-height: 105px;
}

.square{
    width: 697px;
    height: 391px;
    border: 2px solid #008de1;
    margin-top: 46px;
}

.players{
    width: 701px;
    height: 319px;
}

.teams{
    width: 100%;
    height: 109px;
    background: #101010;
    position: absolute;
    bottom: 0px;
    letter-spacing: 2px;
    font-size: 26px;
    line-height: 106px;
}

.team{
    width: 310px;
    height: 100%;
    float: left;
}

.name{
    width: 205px;
    height: 100%;
    text-align: center;
    float: left;
}

.logo{
    width: 102px;
    height: 100%;
    float: left;
    border-bottom: 6px solid transparent;
}

.logo img{
    width: 100%;
}

.versus{
    width: 81px;
    height: 100%;
    float: left;
    text-align: center;
}

.player{
    position: absolute;
    overflow: hidden;
    height: 250px;
    margin-top: -250px;
    margin-left: -53px;
}

.player img{
    width: 420px;
}

span{
    font-family: 'DIN-Light';
}