@font-face {
    font-family: 'DIN';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/dinpro/DINPro-CondBold.otf');
}

@font-face {
    font-family: 'DIN-Light';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/dinpro/DINPro-CondLight.otf');
}

html, body {
    width: 1920px;
    height: 1080px;
    background-color: transparent;
    font-family: 'DIN';
    color: #fff;
    margin: 0px;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
}

.featured{
    top: 829px;
    width: 545px;
    height: 130px;
    left: 97px;
    position: absolute;
}

.team{
    width: 100%;
    height: 65px;
    background: #101010;
}

.logo{
    width: 135px;
    height: 100%;
    float: left;
    overflow: hidden;
    border-left: 5px solid;
}

.logo img{
    width: 100%;
    margin-left: -2.5px;
    vertical-align: baseline;
    height: 100%;
}

.pre-ban{
    width: 82px;
    height: 100%;
    float: left;
    overflow: hidden;
}

.pre-ban img{
    width: 125%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    margin-left: -11px;
}

.set{
    width: 82px;
    height: 100%;
    float: left;
    text-align: center;
    font-size: 35px;
    line-height: 62px;
}

.box-set{
    top: 800px;
    left: 232px;
    position: absolute;
}

.text-set{
    width: 382px;
    height: 26px;
    position: relative;
    font-size: 14px;
}

.name{
    width: 82px;
    height: 100%;
    float: left;
    text-align: center;
    line-height: 26px;
    background: #101010;
}

.par{
    background: #1b1b1b;
}

.local {
    background: #0090e6;
}

.visitor {
    background: #ff4c4d;
}

.sand {
    background: #b7a76b !important;
}

.box-bans{
    top: 962px;
    left: 396px;
    position: absolute;
}

.bans{
    width: 164px;
    height: 58px;
    position: relative;
}

.card{
    width: 82px;
    height: 100%;
    float: left;
    overflow: hidden;
}

.card img{
    width: 110%;
    margin-left: -4px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}