@font-face {
    font-family: 'DIN';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/dinpro/DINPro-CondBold.otf');
}

@font-face {
    font-family: 'DIN-Light';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/dinpro/DINPro-CondLight.otf');
}

html, body {
    width: 1920px;
    height: 1080px;
    background-color: transparent;
    font-family: 'DIN';
    color: #fff;
    margin: 0px;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
}

.featured{
    top: 147px;
    width: 1569px;
    height: 787px;
    left: 175px;
    position: absolute;
}

.top{
    width: 919px;
    height: 109px;
    margin: auto;
}

.top .logo{
    width: 109px;
    height: 100%;
    float: left;
    background-color: #008de1;
    text-align: center;
}

.top .logo img{
    width: 85%;
    margin-top: 18px;
}

.top .teams{
    width: 701px;
    height: 109px;
    background: #101010;
    letter-spacing: 2px;
    font-size: 26px;
    line-height: 106px;
    float: left;
}

.top .team{
    width: 310px;
    height: 100%;
    float: left;
}

.top .name{
    width: 205px;
    height: 100%;
    text-align: center;
    float: left;
}

.top .logo-team{
    width: 102px;
    height: 100%;
    float: left;
    border-bottom: 5px solid transparent;
}

.top .logo-team img{
    width: 90%;
}

.top .versus{
    width: 81px;
    height: 100%;
    float: left;
    text-align: center;
}

.top .time{
    width: 100%;
    height: 59px;
    font-size: 30px;
    line-height: 85px;
}

.line-up{
    width: 100%;
    height: 607px;
    margin-top: 71px;
}

.set{
    width: 492px;
    height: 607px;
    background: #050505;
    float: left;
    margin-right: 45px;
}

.set:last-child{
    margin-right: 0px;
}

.set .match{
    width: 100%;
    height: 109px;
    letter-spacing: 2px;
    font-size: 26px;
    line-height: 106px;
    text-align: center;
}

.match .team{
    width: 191px;
    height: 100%;
    float: left;
    background: #101010;
}

.match .team .name{
    width: 102px;
    height: 100%;
    margin: auto;
    border-bottom: 5px solid transparent;
}

.match .status{
    width: 109px;
    height: 100%;
    background: #018de2;
    float: left;
}

.players{
    width: 492px;
    height: 163px;
    margin-top: 3px;
}

.players .player{
    width: 191px;
    height: 100%;
    float: left;
}

.players .player .img{
    width: 100%;
    height: 130px;
    background: #1b1b1b;
    overflow: hidden;
}

.players .player .img img{
    width: 100%;
}

.players .player .name{
    width: 100%;
    height: 33px;
    text-align: center;
    line-height: 33px;
    background: #101010;
}

.players .result{
    width: 109px;
    height: 100%;
    background: #00629b;
    float: left;
    font-size: 26px;
    line-height: 160px;
    text-align: center;
}

.players .result.games-4 {
    line-height: 130px;
}

.players .result.games-5 {
    line-height: 100px;
}

.set-3 {
    background: #b7a76b !important;
}

.img-4 {
    margin-top: -17px;
}

.img-5 {
    margin-top: -20px;
}

img.not-played {
    opacity: 0.5;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.name.not-played {
    color: #898989;
}

.result.not-played {
    background: #898989;
}