@font-face {
    font-family: 'DIN';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/dinpro/DINPro-CondBold.otf');
}

@font-face {
    font-family: 'DIN-Light';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/dinpro/DINPro-CondLight.otf');
}

html, body {
    width: 1920px;
    height: 1080px;
    background-color: transparent;
    font-family: 'DIN';
    color: #fff;
    margin: 0px;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
}

.featured {
    width: 1728px;
    height: 114px;
    left: 96px;
    top: 912px;
    position: absolute;
}

.sub{
    width: 512px;
    height: 100%;
    float: left;
}

.sub.visitor {
    float: right;
    width: 398px;
}

.logo{
    width: 114px;
    height: 100%;
    float: left;
    background-color: #008de1;
    text-align: center;
}

.logo img{
    width: 85%;
    margin-top: 18px;
}

.team{
    width: 57px;
    height: 100%;
    background-color: #1b1b1b;
    float: left;
    border-bottom: 5px solid #147070;
}

.team-logo{
    width: 100%;
    height: 80px;
}

.team-logo img{
    width: 100%;
    margin-top: 10px;
}

.team-name{
    width: 100%;
    height: 29px;
    text-align: center;
}

.players{
    width: 341px;
    height: 100%;
    float: left;
    position: relative;
}

.player{
    width: 100%;
    height: 50%;
    background-color: #1b1b1b;
    position: absolute;
    left: 0;
    line-height: 57px;
}

.player.second{
    background: #101010;
}

.name{
    width: 284px;
    height: 100%;
    padding-left: 31px;
    font-size: 30px;
    float: left;
}

.status{
    width: 57px;
    height: 100%;
    float: left;
    text-align: center;
}

.status.blue {
    background: #008de1;
}

.player.second .status.blue {
    background: #00629c;
}

.status.red {
    background: #ff4c4d;
}

.player.second .status.red {
    background: #be2e2d;
}

.in {
    top: 57px;
}