@font-face {
    font-family: 'DIN';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/dinpro/DINPro-CondBold.otf');
}

@font-face {
    font-family: 'DIN-Light';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/dinpro/DINPro-CondLight.otf');
}

html, body {
    width: 1920px;
    height: 1080px;
    background-color: transparent;
    /*background-color: green;*/
    font-family: 'DIN';
    color: #fff;
    margin: 0px;
    text-transform: uppercase;
}

.box-timer{
    bottom: 121px;
    left: 642px;
    position: absolute;
    width: 164px;
    height: 159px;
}


.title {
    width: 100%;
    height: 26px;
    text-align: center;
    line-height: 26px;
    background: #101010;
    margin-bottom: 3px;
    font-size: 22px;
}

.timer{
    width: 100%;
    height: 130px;
    background: #1b1b1b;
    text-align: center;
    font-size: 45px;
    line-height: 127px;
    border-right: 5px solid #101010;
}