@font-face {
    font-family: 'Univers-Bold';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/UniversLTStd-BoldCn.otf');
}
@font-face {
    font-family: 'Univers-Rg';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/Univers/UniversLTStd-Cn.otf');
}


html, body {
    width: 384px;
    height: 384px;
    background-color: transparent;
    /*background-color: green;*/
    font-family: 'Univers-Bold';
    position: relative;
    text-transform: uppercase;
    color: #FFFFFF;
}
.atril {
    width: 50%;
    height: 100%;
    background: url('https://s3-eu-west-1.amazonaws.com/lvp-graphism/la-copa/clash-royale/Atril.png');
    background-repeat: no-repeat;
    float: left;
}

.player {
    width: 100%;
    height: 42px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Univers-Rg';
    font-size: 23px;
    text-shadow: 0px 2px #0a0a0c;
}

.games {
    width: 100%;
    height: 46px;
    padding-top: 1px;
    padding-bottom: 3px;
}

.game {
    width: 63px;
    height: 100%;
    margin-right: 2px;
    float: left;
    text-align: center;
    line-height: 46px;
}

.game > img {
    width: 20px;
}

.game:last-child {
    margin-right: 0;
}

.logo {
    width: 100%;
    height: 148px;
    text-align: center;
}

.logo > img {
    width: 50%;
}