@font-face {
    font-family: 'Univers-Bold';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/UniversLTStd-BoldCn.otf');
}
@font-face {
    font-family: 'Univers-Rg';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/Univers/UniversLTStd-Cn.otf');
}

html, body {
    width: 1800px;
    height: 1040px;
    background-color: transparent;
    /*background-color: green;*/
    font-family: 'Univers-Rg';
    position: relative;
    text-transform: uppercase;
    color: #FFFFFF;
}

.local, .visitor {
    width: 1560px;
    height: 520px;
    float: left;
}

.local {
    background: url('https://s3-eu-west-1.amazonaws.com/lvp-graphism/la-copa/clash-royale/LaCopa-Trasera-3-ingame-izq.png');
    background-repeat: no-repeat;
}

.visitor {
    background: url('https://s3-eu-west-1.amazonaws.com/lvp-graphism/la-copa/clash-royale/LaCopa-Trasera-3-ingame-der.png');
    background-repeat: no-repeat;
}

.cards {
    width: 100%;
    height: 127px;
    padding-bottom: 4px;
}

.visitor .cards {
    padding-left: 4px;
}

.card {
    width: 191px;
    height: 100%;
    margin-right: 4px;
    float: left;
}

.card img {
    width: 100%;
}

.content {
    width: 100%;
    height: 393px;
}

.local .content {
    padding-left: 288px;
}

.visitor .content {
    padding-left: 410px;
}

.logo {
    width: 300px;
    height: 300px;
    float: left;
    text-align: center;
    margin-top: 15px;
}

.logo > img {
    width: 100%;
}

.team {
    width: 562px;
    height: 199px;
    float: left;
    margin-top: 66px;
    text-align: center;
}

.local .team {
    padding-left: 4px;
}

.visitor .team {
    padding-right: 4px;
}

.team-name {
    width: 100%;
    height: 66px;
    padding-top: 1px;
    line-height: 70px;
    text-shadow: 0px 2px #0a0a0c;
    font-size: 45px;
}

.player-name {
    width: 100%;
    height: 133px;
    padding-top: 1px;
    line-height: 137px;
    font-family: 'Univers-Bold';
    background: linear-gradient(to top, #92855e, #e9e7df 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 60px;
}

.search {
    width: 240px;
    height: 100px;
    float: left;
    padding: 10px;
    color: #000000;
}