@font-face {
    font-family: 'Univers-Bold';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/UniversLTStd-BoldCn.otf');
}
@font-face {
    font-family: 'Univers-Rg';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/Univers/UniversLTStd-Cn.otf');
}


html, body {
    width: 1920px;
    height: 1080px;
    background: url('https://s3-eu-west-1.amazonaws.com/lvp-graphism/la-copa/clash-royale/01-overlay-3-sin.png');
    background-repeat: no-repeat;
    background-color: transparent;
    /*background-color: green;*/
    font-family: 'Univers-Bold';
    position: relative;
    text-transform: uppercase;
}

.local {
    width: 569px;
    height: 100%;
    margin-right: 5px;
    float: left;
}

.header {
    width: 100%;
    height: 260px;
    font-size: 35px;
    text-shadow: 0px 3px #0a0a0c;
}

.header > img {
    margin-left: 30px;
}

.content {
    text-align: center;
    color: #ffffff;
}

.local .content {
    padding-left: 70px;
    padding-right: 64px;
}

.team-score {
    width: 100%;
    height: 116px;
    padding-top: 1px;
    color: #c2b483;
    line-height: 116px;
    font-size: 80px;
    text-shadow: 0px 3px #0a0a0c;
}

.team-name {
    width: 100%;
    height: 51px;
    padding-top: 1px;
    line-height: 50px;
    font-size: 26px;
    font-family: 'Univers-Rg';
}

.team-logo {
    width: 100%;
    height: 337px;
    padding-top: 40px;
    margin-bottom: 37px;
}

.team-logo img {
    height: 80%;
}

.games {
    width: 100%;
    height: 231px;
}

.game {
    width: 100%;
    height: 72px;
    padding-top: 1px;
    line-height: 72px;
    margin-bottom: 7px;
}

.game > .player-name {
    width: 336px;
    height: 100%;
    float: left;
    text-align: right;
    font-size: 28px;
    text-shadow: 0px 3px #0a0a0c;
}

.game > .player-score {
    width: 89px;
    height: 100%;
    text-align: center;
    float: left;
}

.game > .player-score > img {
    width: 50px;
}

.local .game {
    padding-left: 10px;
}

.visitor .game {
    padding-right: 10px;
}

.local .game > .player-name {
    padding-right: 15px;
}

.visitor .game > .player-name {
    float: right;
    text-align: left;
    padding-left: 15px;
}

.middle {
    width: 774px;
    height: 100%;
    float: left;
    margin-right: 5px;
    position: relative;
}

.visitor {
    width: 567px;
    height: 100%;
    float: right;
    padding-left: 64px;
    padding-right: 68px;
    color: #FFFFFF;
}

.bans {
    width: 95px;
    height: 303px;
    position: absolute;
    left: -96px;
    top: 415px;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Univers-Rg';
    z-index: -1;
}

.bans-header {
    width: 100%;
    height: 31px;
    background: linear-gradient(to bottom, #1d2b45, #040b15);
    border-top: 1px solid #465268;
    border-bottom: 1px solid #000000;
    line-height: 33px;
}

.ban {
    width: 100%;
    height: 68px;
    border-right: 3px solid #d5c8a8;
    border-bottom: 3px solid #d5c8a8;
    background: rgba(0, 0, 0, 0.4);
    line-height: 68px;
    font-size: 23px;
    position: relative;
    overflow: hidden;
}

.ban > img {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.team-label {
    width: 10px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border-left: 3px solid #d5c8a8;
}

.team-label.team-100 {
    background: #0087c1;
}

.team-label.team-200 {
    background: #ff4242;
}