@font-face {
    font-family: 'Univers-Bold';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/UniversLTStd-BoldCn.otf');
}
@font-face {
    font-family: 'Univers-Rg';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/Univers/UniversLTStd-Cn.otf');
}


html, body {
    width: 1920px;
    height: 1080px;
    background-color: transparent;
    /*background-color: green;*/
    font-family: 'Univers-Bold';
    position: relative;
    text-transform: uppercase;
}

.lineups {
    width: 100%;
    height: 273px;
    position: absolute;
    bottom: 47px;
    left: 0;
    color: #FFFFFF;
}

.lineup {
    width: 543px;
    height: 273px;
    text-shadow: 1px 3px #0a0a0c;
}

.lineup.local {
    background: url('https://s3-eu-west-1.amazonaws.com/lvp-graphism/la-copa/lineups/left.png');
    margin-left: 48px;
    float: left;
    padding-left: 4px;
}

.lineup.visitor {
    background: url('https://s3-eu-west-1.amazonaws.com/lvp-graphism/la-copa/lineups/right.png');
    margin-right: 48px;
    float: right;
    padding-right: 4px;
}

.lineup-header {
    width: 100%;
    height: 57px;
    line-height: 63px;
    font-family: 'Univers-Rg';
    text-align: center;
    font-size: 32px;
}

.lineup-content {
    width: 100%;
    height: 216px;
}

.logo {
    width: 207px;
    height: 100%;
    float: left;
    text-align: center;
    padding-top: 20px;
}

.logo > img {
    width: 80%;
}

.players {
    width: 332px;
    height: 100%;
    float: left;
}

.player {
    width: 100%;
    height: 72px;
    line-height: 72px;
    padding: 0 30px;
    font-size: 22px;
}

.players.visitor {
    text-align: right;
}