@font-face {
    font-family: 'Univers-Bold';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/UniversLTStd-BoldCn.otf');
}
@font-face {
    font-family: 'Univers-Rg';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/Univers/UniversLTStd-Cn.otf');
}


html, body {
    width: 1920px;
    height: 1080px;
    /*background: url('');*/
    /*background-repeat: no-repeat;*/
    background-color: transparent;
    /*background-color: green;*/
    font-family: 'Univers-Bold';
    text-transform: uppercase;
    color: #FFFFFF;
}

.header {
    width: 998px;
    height: 286px;
    margin-top: 75px;
    margin-left: 463px;
    text-align: center;
    background: url('https://s3-eu-west-1.amazonaws.com/lvp-graphism/la-copa/clash-royale/header-cr-sets.png');
    background-repeat: no-repeat;
    margin-bottom: 66px;
    float: left;
}

.header-team {
    width: 385px;
    height: 286px;
    float: left;
}

.header-team-name {
    width: 100%;
    height: 91px;
    line-height: 91px;
    font-size: 30px;
}

.header-team-logo {
    width: 100%;
    height: 195px;
    overflow: hidden;
}

.header-scores {
    width: 227px;
    height: 195px;
    line-height: 195px;
    float: left;
    color: #d5c69f;
    font-size: 95px;
    margin-top: 91px;
}

.first-sets {
    width: 1779px;
    height: 257px;
    margin-left: 71px;
    margin-bottom: 49px;
    float: left;
}

.second-sets {
    width: 1170px;
    height: 257px;
    margin-left: 375px;
    float: left;
}

.set {
    width: 561px;
    height: 257px;
    margin-right: 47px;
    float: left;
    background: url('https://s3-eu-west-1.amazonaws.com/lvp-graphism/la-copa/clash-royale/clash-set.png');
    background-repeat: no-repeat;
}

.set-header {
    width: 100%;
    height: 59px;
    text-align: center;
    margin-bottom: 9px;
    line-height: 59px;
}

.set-header-team {
    width: 243px;
    height: 100%;
    float: left;
}

.set-header-set {
    width: 75px;
    height: 100%;
    float: left;
    color: #d5c69f;
    font-size: 21px;
}

.game {
    width: 100%;
    height: 63px;
    line-height: 63px;
}

.player-left, .player-right {
    width: 279px;
    height: 100%;
    float: left;
}

.player-left {
    margin-right: 3px;
}

.player {
    width: 244px;
    height: 100%;
    float: left;
    padding: 0 20px;
    font-size: 20px;
}

.player.left {
    text-align: right;
    padding-left: 6px;
}

.player.right {
    text-align: left;
    padding-right: 6px;
}

.score {
    width: 35px;
    height: 100%;
    text-align: center;
    float: left;
}

.score > img {
    width: 70%;
}

.not-played {
    color: #585c5d;
}

.victory {
    background: linear-gradient(to bottom, rgba(210, 202, 171, 0.2), rgba(166, 150, 89, 0.2));
}