@font-face {
    font-family: 'Univers-Bold';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/UniversLTStd-BoldCn.otf');
}
@font-face {
    font-family: 'Univers-Rg';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/Univers/UniversLTStd-Cn.otf');
}


html, body {
    width: 1560px;
    height: 1040px;
    background-color: transparent;
    /*background-color: green;*/
    font-family: 'Univers-Rg';
    position: relative;
    text-transform: uppercase;
    color: #c6b587;
}

.recap {
    width: 100%;
    height: 520px;
    background: url('https://s3-eu-west-1.amazonaws.com/lvp-graphism/la-copa/clash-royale/LaCopa-Trasera-3-partida.png');
    background-repeat: no-repeat;
}

.games {
    width: 100%;
    height: 275px;
}

.game {
    width: 517px;
    height: 100%;
    margin-right: 4px;
    float: left;
    text-align: center;
}

.game:last-child {
    margin-right: 0;
}

.game-header {
    width: 100%;
    height: 103px;
    line-height: 103px;
    font-size: 45px;
}

.game-score{
    width: 100%;
    height: 172px;
    line-height: 172px;
    font-size: 100px;
}

.game-score > img {
    height: 90px;
    margin-top: -15px;
}