@font-face {
    font-family: 'Univers-Bold';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/UniversLTStd-BoldCn.otf');
}
@font-face {
    font-family: 'Univers-Rg';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/Univers/UniversLTStd-Cn.otf');
}


html, body {
    width: 1920px;
    height: 1080px;
    background: url('https://s3-eu-west-1.amazonaws.com/lvp-graphism/la-copa/clash-royale/replays.png');
    background-repeat: no-repeat;
    background-color: transparent;
    /*background-color: green;*/
    font-family: 'Univers-Bold';
    text-transform: uppercase;
}

.replays {
    width: 1121px;
    height: 100%;
    padding-top: 169px;
    float: right;
    padding-left: 61px;
    padding-right: 62px;
}

.scores {
    width: 100%;
    height: 116px;
}

.score {
    width: 434px;
    height: 100%;
    float: left;
    line-height: 122px;
    color: #c0b688;
    text-shadow: 1px 3px #0a0a0c;
    text-align: center;
    font-size: 70px;
}

.teams-name {
    width: 100%;
    height: 51px;
    font-family: 'Univers-Rg';
    text-shadow: 1px 3px #0a0a0c;
    font-size: 30px;
    color: #FFFFFF;
    line-height: 60px;
    margin-bottom: 13px;
}

.team-name {
    width: 434px;
    height: 100%;
    text-align: center;
    float: left;
}

.match-scoreboard {
    width: 100%;
    height: 337px;
    margin-bottom: 32px;
}

.team-logo {
    width: 434px;
    height: 100%;
    float: left;
    text-align: center;
}

.team-logo img {
    height: 80%;
    margin-top: 30px;
}

.set-scores {
    width: 129px;
    height: 100%;
    float: left;
}

.set-score {
    width: 100%;
    height: 68px;
    line-height: 70px;
    text-align: center;
    color: #c0b688;
    text-shadow: 1px 3px #0a0a0c;
    font-size: 30px;
}

.set {
    width: 100%;
    height: 309px;
}

.set-label {
    width: 100%;
    height: 30px;
    text-align: center;
    margin-bottom: 13px;
    font-family: 'Univers-Rg';
    line-height: 35px;
    color: #FFFFFF;
    font-size: 20px;
}

.game {
    width: 100%;
    height: 80px;
    margin-bottom: 13px;
    text-shadow: 1px 3px #0a0a0c;
    padding: 0 11px;
    line-height: 85px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 37px;
}

.local-name {
    width: 424px;
    height: 100%;
    text-align: right;
    float: left;
    padding: 0 30px;
}

.game-score {
    width: 126px;
    height: 100%;
    color: #c0b688;
    float: left;
    text-align: center;
    font-size: 30px;
}

.visitor-name {
    width: 424px;
    height: 100%;
    float: left;
    text-align: left;
    padding: 0 30px;
}