@font-face {
    font-family: 'Univers-Bold';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/UniversLTStd-BoldCn.otf');
}
@font-face {
    font-family: 'Univers-Rg';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/Univers/UniversLTStd-Cn.otf');
}


html, body {
    width: 1920px;
    height: 1080px;
    background-color: transparent;
    /*background-color: green;*/
    font-family: 'Univers-Bold';
    position: relative;
    text-transform: uppercase;
}

.scoreboard {
    width: 595px;
    height: 149px;
    background: url('https://s3-eu-west-1.amazonaws.com/lvp-graphism/la-copa/clash-royale/Chyron-Resultados.png');
    background-repeat: no-repeat;
    position: absolute;
    left: 98px;
    bottom: 76px;
    padding-left: 25px;
    padding-top: 26px;
}

.bans {
    width: 312px;
    height: 62px;
    position: absolute;
    left: 279px;
    bottom: 14px;
    overflow: hidden;
}

.team {
    width: 546px;
    height: 62px;
    line-height: 62px;
}

.team-logo {
    width: 78px;
    height: 100%;
    text-align: center;
    float: left;
}

.team-logo > img {
    height: 80%;
}

.score {
    width: 77px;
    height: 100%;
    margin-right: 1px;
    color: #FFFFFF;
    float: left;
    text-align: center;
    font-size: 35px;
    line-height: 68px;
}

.score.final {
    color: #131f31;
}

.ban {
    width: 77px;
    height: 100%;
    margin-right: 1px;
    float: left;
    text-align: center;
    overflow: hidden;
    border-top: 1px solid #a59973;
}

.ban img {
    width: 100%;
}