@font-face {
    font-family: 'Univers-Bold';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/UniversLTStd-BoldCn.otf');
}
@font-face {
    font-family: 'Univers-Rg';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/Univers/UniversLTStd-Cn.otf');
}


html, body {
    width: 1560px;
    height: 1040px;
    background-color: transparent;
    /*background-color: green;*/
    font-family: 'Univers-Bold';
    position: relative;
    text-transform: uppercase;
    color: #c6b587;
}

.scoreboard {
    width: 100%;
    height: 520px;
}

.scoreboard.local {
    background: url('https://s3-eu-west-1.amazonaws.com/lvp-graphism/la-copa/clash-royale/LaCopa-Trasera-3-sets-izq.png');
    background-repeat: no-repeat;
    padding-left: 203px;
}

.scoreboard.visitor {
    background: url('https://s3-eu-west-1.amazonaws.com/lvp-graphism/la-copa/clash-royale/LaCopa-Trasera-3-sets-der.png');
    background-repeat: no-repeat;
    padding-left: 305px;
}

.logo {
    width: 300px;
    height: 300px;
    float: left;
    text-align: center;
    margin-top: 75px;
}

.logo > img {
    width: 100%;
}

.scores {
    width: 751px;
    height: 199px;
    float: left;
    font-size: 65px;
    margin-top: 126px;
}

.name {
    width: 562px;
    height: 100%;
    float: left;
    text-align: center;
    background: linear-gradient(to top, #92855e, #e9e7df 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 199px;
}

.score {
    width: 189px;
    height: 100%;
    text-align: center;
    float: left;
    font-size: 120px;
    background: linear-gradient(to top, #92855e, #e9e7df 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 190px;
}