<div id="stats-selector" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Stats ingame</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <ul>
                            <li>
                                <button class="100_top stat" role="1" side="100" layer="70">Top</button>
                            </li>
                            <li>
                                <button class="100_jungler stat" role="2" side="100" layer="71">Jungler</button>
                            </li>
                            <li>
                                <button class="100_mid stat" role="3" side="100" layer="72">Mid</button>
                            </li>
                            <li>
                                <button class="100_adc stat" role="4" side="100" layer="73">ADC</button>
                            </li>
                            <li>
                                <button class="100_support stat" role="5" side="100" layer="74">Support</button>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-4">
                    	<div class="row">
                    		<div class="col-xs-6">
                    			<select id="champion-selector-2" class="form-control">
                                {% for id, name in champions %}
                                    <option value="{{ id }}">{{ name }}</option>
                                {% endfor %}
                                </select>
                    		</div>
                    		
                    		<div class="col-xs-6">
                        		<select id="player-selector" class="form-control">
                                {% for id, name in players %}
                                    <option value="{{ id }}">{{ name }}</option>
                                {% endfor %}
                                </select>
                    		</div>
                    	</div>
                    	
                    	<div class="row">
                    		<div class="col-xs-12">
                    			<select id="temporada-selector" class="form-control">
                    				<option value="T2018V-L">T2018 Verano</option>
                    				<option value="T2018P-L">T2018 Primavera</option>
                    			</select>
                    		</div>
                    	</div>
                    	
                    	<div class="row" style="margin-top:50px;">
                    		<div class="col-xs-12">
                    			<div class="form-group">
                    				<input type="radio" name="stat" value="kda" checked> KDA<br>
                                  <input type="radio" name="stat" value="gpm"> GPM<br>
                                  <input type="radio" name="stat" value="dmg"> DMG/MIN<br>
                                  <input type="radio" name="stat" value="text">Custom text
                    			</div>
                    		</div>
                    	</div>
                    	
                    	<div class="row" style="margin-top:20xpx;">
                    		<div class="col-xs-12">
                    			<input type="text" placecholder="54 characters" maxlength="54" id="input-text" class="form-control" />
                    		</div>
                    	</div>
                    </div>

                    <div class="col-md-4">
                        <ul>
                            <li>
                                <button class="200_top stat" role="1" side="200" layer="75">Top</button>
                            </li>
                            <li>
                                <button class="200_jungler stat" role="2" side="200" layer="76">Jungler</button>
                            </li>
                            <li>
                                <button class="200_mid stat" role="3" side="200" layer="77">Mid</button>
                            </li>
                            <li>
                                <button class="200_adc stat" role="4" side="200" layer="78">ADC</button>
                            </li>
                            <li>
                                <button class="200_support stat" role="5" side="200" layer="79">Support</button>
                            </li>
                        </ul>

                    </div>
                </div>

                
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>         

<script type="text/javascript">
    $(function () {
        $(".stat").click(function () {
            var champion = $('#champion-selector-2').val();
            var side = $(this).attr('side');
            var role = $(this).attr('role');
            var layer = $(this).attr('layer');
            var player = $('#player-selector').val();
            var stat = $('input[name="stat"]:checked').val();
            var text = $('#input-text').val();
            var season = $('#temporada-selector').val();

            $.post(Routing.generate('caspar_play_lol_stats_ingame', {
                champion: champion, 
                side: side, 
                rol: role, 
                player: player,
                stat: stat,
                text: text,
                season: season,
                layer: layer}));
        });

    });
</script>