<div id="ban-selector" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Picks & Bans</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <ul>
                            <li>
                                <button class="100_top pick" role="1" side="100" layer="70">Top</button>
                            </li>
                            <li>
                                <button class="100_jungler pick" role="2" side="100" layer="71">Jungler</button>
                            </li>
                            <li>
                                <button class="100_mid pick" role="3" side="100" layer="72">Mid</button>
                            </li>
                            <li>
                                <button class="100_adc pick" role="4" side="100" layer="73">ADC</button>
                            </li>
                            <li>
                                <button class="100_support pick" role="5" side="100" layer="74">Support</button>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-4">
                        <select id="champion-selector">
                            {% for id, name in champions %}
                                <option value="{{ id }}">{{ name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-md-4">
                        <ul>
                            <li>
                                <button class="200_top pick" role="1" side="200" layer="75">Top</button>
                            </li>
                            <li>
                                <button class="200_jungler pick" role="2" side="200" layer="76">Jungler</button>
                            </li>
                            <li>
                                <button class="200_mid pick" role="3" side="200" layer="77">Mid</button>
                            </li>
                            <li>
                                <button class="200_adc pick" role="4" side="200" layer="78">ADC</button>
                            </li>
                            <li>
                                <button class="200_support pick" role="5" side="200" layer="79">Support</button>
                            </li>
                        </ul>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <ul>
                            <li style="display:inline-block">
                                <button class="100_1 ban" side="100" pos="1" layer="80">1</button>
                            </li>
                            <li style="display:inline-block">
                                <button class="100_2 ban" side="100" pos="2" layer="81">2</button>
                            </li>
                            <li style="display:inline-block">
                                <button class="100_3 ban" side="100" pos="3" layer="82">3</button>
                            </li>
                            <li style="display:inline-block">
                                <button class="100_4 ban" side="100" pos="4" layer="83">4</button>
                            </li>
                            <li style="display:inline-block">
                                <button class="100_5 ban" side="100" pos="5" layer="84">5</button>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-6">
                        <ul>
                            <li style="display:inline-block">
                                <button class="200_5 ban" side="200" pos="6" layer="85">5</button>
                            </li>
                            <li style="display:inline-block">
                                <button class="200_4 ban" side="200" pos="7" layer="86">4</button>
                            </li>
                            <li style="display:inline-block">
                                <button class="200_3 ban" side="200" pos="8" layer="87">3</button>
                            </li>
                            <li style="display:inline-block">
                                <button class="200_2 ban" side="200" pos="9" layer="88">2</button>
                            </li>
                            <li style="display:inline-block">
                                <button class="200_1 ban" side="200" pos="10" layer="89">1</button>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>         

<script type="text/javascript">
    $(function () {

        $(".pick").click(function () {
            var champion = $('#champion-selector').val();
            var side = $(this).attr('side');
            var role = $(this).attr('role');
            var layer = $(this).attr('layer');
            $.post(Routing.generate('caspar_play_lol_picks', {champion: champion, side: side, rol: role, layer: layer}));
        });
        
        $(".ban").click(function () {
            var champion = $('#champion-selector').val();
            var side = $(this).attr('side');
            var pos = $(this).attr('pos');
            var layer = $(this).attr('layer');
            $.post(Routing.generate('caspar_play_lol_bans', {champion: champion, side: side, pos: pos, layer: layer}));
        });

    });
</script>