{% extends 'GrafismBundle::layout.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('bundles/grafism/css/LaCopa/csgo/stats.css') }}" />
{% endblock styles %}

{% block body %}

    {% if side == 'local' %}
        <div class="top-box local">{{ text }}</div>
    {% elseif side == 'visitor' %}
        <div class="top-box visitor">{{ text }}</div>
    {% elseif side == 'mid' %}
        <div class="middle-box">{{ text }}</div>
    {% endif %}

    <script type="text/javascript">
        $(function () {
            setTimeout(function () {
                $('.middle-box').animate({
                    height: 66,
                    padding: 10
                }, 1000);

                $('.top-box').animate({
                    height: 72,
                    padding: 5
                }, 500);

                setTimeout(function () {
                    $('.middle-box, .top-box').animate({
                        height: 0,
                        padding: 0
                    }, 1000);
                },7500);
            }, 2000);
        });
    </script>
{% endblock %}