{% extends 'GrafismBundle::form/base_form.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-3">
            {{ form_label(form.match_id) }}
            {{ form_widget(form.match_id, { 'attr': { 'class' : 'form-control match-selector' } }) }}
        </div>
        <div class="col-xs-2">
            {{ form_label(form.player_id) }}
            {{ form_widget(form.player_id, { 'attr': { 'class' : 'form-control player-selector' } }) }}
        </div>
        <div class="col-xs-2">
    </div>

    <script type="text/javascript">
        $('.match-selector').off('change');
        $('.match-selector').change(function(){
            var matchId = $(this).val();
            $target = $(this).parents('.row').find('.player-selector');
            $target.empty();
            var url = '{{ url('fifa_form_select_players', {'context':'fifa'}) }}&competitionId={{ competitionId }}';
            $.getJSON(url + '&matchId=' + matchId, function (data) {
                $.each(data, function (key, value) {
                    $target.append($('<option>', {
                        value: key,
                        text: value
                    }));
                });
            });
        });
    </script>
{% endblock %}