{% extends 'GrafismBundle::form/base_form.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-3">
            {{ form_label(form.match_id) }}
            {{ form_widget(form.match_id, { 'attr': { 'class' : 'form-control' } }) }}
        </div>
        <div class="col-xs-2">
            {{ form_label(form.game_id) }}
            {{ form_widget(form.game_id, { 'attr': { 'class' : 'form-control' } }) }}
        </div>
        <div class="col-xs-2">
            {{ form_label(form.half_id) }}
            {{ form_widget(form.half_id, { 'attr': { 'class' : 'form-control' } }) }}
        </div>

        <div class="col-xs-2">
            {{ form_label(form.local_flag) }}
            {{ form_widget(form.local_flag, { 'attr': { 'class' : 'form-control' } }) }}
        </div>

        <div class="col-xs-2">
            {{ form_label(form.visitor_flag) }}
            {{ form_widget(form.visitor_flag, { 'attr': { 'class' : 'form-control' } }) }}
        </div>
    </div>
{% endblock %}