{% extends 'GrafismBundle::form/base_form.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-offset-3 col-xs-2">
            {{ form_label(form.player_11) }}
            {{ form_widget(form.player_11, { 'attr': { 'class' : 'form-control' } }) }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            {{ form_label(form.player_1) }}
            {{ form_widget(form.player_1, { 'attr': { 'class' : 'form-control' } }) }}
        </div>
        <div class="col-xs-2">
            {{ form_label(form.player_2) }}
            {{ form_widget(form.player_2, { 'attr': { 'class' : 'form-control' } }) }}
        </div>
        <div class="col-xs-2">
            {{ form_label(form.player_3) }}
            {{ form_widget(form.player_3, { 'attr': { 'class' : 'form-control' } }) }}
        </div>
        <div class="col-xs-2">
            {{ form_label(form.player_4) }}
            {{ form_widget(form.player_4, { 'attr': { 'class' : 'form-control' } }) }}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-offset-1 col-xs-2">
            {{ form_label(form.player_5) }}
            {{ form_widget(form.player_5, { 'attr': { 'class' : 'form-control' } }) }}
        </div>
        <div class="col-xs-2">
            {{ form_label(form.player_6) }}
            {{ form_widget(form.player_6, { 'attr': { 'class' : 'form-control' } }) }}
        </div>
        <div class="col-xs-2">
            {{ form_label(form.player_7) }}
            {{ form_widget(form.player_7, { 'attr': { 'class' : 'form-control' } }) }}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-offset-1 col-xs-2">
            {{ form_label(form.player_8) }}
            {{ form_widget(form.player_8, { 'attr': { 'class' : 'form-control' } }) }}
        </div>
        <div class="col-xs-2">
            {{ form_label(form.player_9) }}
            {{ form_widget(form.player_9, { 'attr': { 'class' : 'form-control' } }) }}
        </div>
        <div class="col-xs-2">
            {{ form_label(form.player_10) }}
            {{ form_widget(form.player_10, { 'attr': { 'class' : 'form-control' } }) }}
        </div>
    </div>
{% endblock %}