{% extends 'AppBundle:Stream:layout.html.twig' %}

{% block styles %}
    <link href="{{ asset('bundles/app/css/fifa/score.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
	<style>
        .board {
        margin-top: 85px;
        {% if side == 100 %}
             margin-left: 313px;
         {% else %}
             margin-left: 374px;
         {% endif %} 
        }
	</style>
	<div class="overlay">
		<div class="board">
			<div class="score">
        		<span class="number">{{ score }}</span>
        	</div>
		</div>
	</div>
{% endblock body %}