{% extends 'GrafismBundle::form/base_form.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-3">
            {{ form_label(form.match_id) }}
            {{ form_widget(form.match_id, { 'attr': { 'class' : 'form-control match-select' } }) }}
        </div>
    </div>

    <div class="row casters">
        {% for child in form.children %}
            {% if child.vars.name matches '~^caster_~' %}
                <div class="col-xs-2">
                    {{ form_label(child) }}
                    {{ form_widget(child, { 'attr': { 'class' : 'form-control team-selector' } }) }}
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <script>
        $(document).ready(function () {
            $('.match-select').off('change');
            $('.match-select').change(function () {
                $target = $(this).parents('form').find('.team-selector');
                $target.empty();
                var matchId = $(this).val();
                var url = '{{ url('slo_csgo_form_select_teams', {'context':'cs'}) }}';
                $.getJSON(url + '&id=' + matchId, function (response) {
                    $.each(response, function (value, text) {
                        $target.append($('<option>', {
                            value: value,
                            text: text
                        }));
                    });
                });
            })
        });
    </script>
{% endblock %}