{% extends 'GrafismBundle::layout.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('bundles/grafism/css/SLO/clash/in-game-arena.css') }}" />
{% endblock styles %}

{% block body %}

    {% set localTeam = teams.local.id %}
    {% set visitorTeam = teams.visitor.id %}

    <div class="left">
        <div class="header">
            <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/slo/clash/in-game/logo-overlay-lvp.png" class="lvp" alt="" />
            <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/slo/clash/in-game/logo-overlay-slo.png" alt="" class="slo" />
            <img id="patros" src="" class="orange" alt="" />
        </div>

        <div class="content">
            <div class="team-big">
                <div class="team-scoreboard">
                    <div class="team-name border-red">{{ teams.visitor.name }}</div>
                    <div class="team-score border-red">{{ scores.visitor }}</div>
                </div>
                <div class="team-logo">
                    <img src="{{ teams.visitor.logo }}" alt="" />
                </div>
                <div class="team-bans">
                    <div class="ban-label">BANS</div>
                    {% for i in 1..3 %}
                        <div class="ban">
                            {% if bannedCards[i] is defined and bannedCards[i][visitorTeam] is defined %}
                                <img src="https://s3-eu-west-1.amazonaws.com/lvp-api/clash-royale/cards/thumbnail/{{ bannedCards[i][visitorTeam].cardKey }}.jpg" alt="" />
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="scoreboard">
                <div class="scoreboard-label">SETS</div>
                {% for i in 1..3 %}
                    {% set localScore =  setScores[i].local %}
                    {% set visitorScore =  setScores[i].visitor %}
                    <div class="scoreboard-set {% if localScore == 2 and i != 3 %}local{% elseif visitorScore == 2 and i != 3 %}visitor{% elseif localScore == 3 and i == 3 %}local{% elseif visitorScore == 3 and i == 3 %}visitor{% endif %} {% if match.set == i %} current {% endif %}">
                        {% if (localScore == 2 or visitorScore == 2) and i != 3 %}
                            {{ localScore }} - {{ visitorScore }}
                        {% elseif i == 3 %}
                            {{ localScore }} - {{ visitorScore }}
                        {% else %}
                            SET {{ i }}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>

            <div class="team-big">
                <div class="team-bans">
                    <div class="ban-label">BANS</div>
                    {% for i in 1..3 %}
                        <div class="ban">
                            {% if bannedCards[i] is defined and bannedCards[i][localTeam] is defined %}
                                <img src="https://s3-eu-west-1.amazonaws.com/lvp-api/clash-royale/cards/thumbnail/{{ bannedCards[i][localTeam].cardKey }}.jpg" alt="" />
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                <div class="team-logo">
                    <img src="{{ teams.local.logo }}" alt="" />
                </div>
                <div class="team-scoreboard">
                    <div class="team-name border-blue">{{ teams.local.name }}</div>
                    <div class="team-score border-blue">{{ scores.local }}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="right">
        <div class="header"></div>
        <div class="content">
            <div class="big-players">
                {% set done = false %}
                {% for player in players.visitor if not done %}
                    {% if player.alive %}
                        <div class="current-player">
                            <div class="player-photo">
                                <img class="team-img" src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/slo/clash/in-game/logos/{{ teams.visitor.shortName | lower }}.png" alt="" />
                                <img class="player-img" src="{{ player.photo | default('https://s3-eu-west-1.amazonaws.com/lvp-graphism/Sin-ti%CC%81tulo-2+(1).png') }}" alt="" />
                            </div>
                            <div class="player red">{{ player.name }}</div>
                        </div>
                        {% set done = true %}
                    {% endif %}
                {% endfor %}
                <div class="player-list">
                    {% set done = false %}
                    {% for player in players.visitor %}
                        <div class="player">
                            <div class="player-photo {% if not player.alive %}defeated{% endif %}">
                                <img src="{{ player.photo | default ('https://s3-eu-west-1.amazonaws.com/lvp-graphism/Sin-ti%CC%81tulo-2+(1).png')}}" alt="" />
                            </div>
                            <div class="player-name red {% if not player.alive %}defeated{% endif %} {% if player.alive and not done %}active {% set done = true %}{% endif %}">{{ player.name }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="games-scoreboard">
                {% for i in 1..5 %}
                    <div class="game {% if i == currentGame %}current{% endif %} {{ games[i].winner }}">PARTIDA {{ i }}</div>
                {% endfor %}
            </div>

            <div class="big-players">
                {% set done = false %}
                {% for player in players.local if not done %}
                    {% if player.alive %}
                    <div class="current-player">
                        <div class="player-photo">
                            <img class="team-img" src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/slo/clash/in-game/logos/{{ teams.local.shortName | lower }}.png" alt="" />
                            <img class="player-img" src="{{ player.photo | default('https://s3-eu-west-1.amazonaws.com/lvp-graphism/slo/clash/in-game/_Silueta.png') }}" alt="" />
                        </div>
                        <div class="player blue">{{ player.name }}</div>
                    </div>
                        {% set done = true %}
                    {% endif %}
                {% endfor %}
                <div class="player-list">
                    {% set done = false %}
                    {% for player in players.local %}
                        <div class="player">
                            <div class="player-photo {% if not player.alive %}defeated{% endif %}">
                                <img src="{{ player.photo | default ('https://s3-eu-west-1.amazonaws.com/lvp-graphism/slo/clash/in-game/_Silueta.png')}}" alt="" />
                            </div>
                            <div class="player-name blue {% if not player.alive %}defeated{% endif %} {% if player.alive and not done %}active {% set done = true %}{% endif %}">{{ player.name }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var picPaths = ['https://s3-eu-west-1.amazonaws.com/lvp-graphism/slo/clash/in-game/orange1.png', 'https://s3-eu-west-1.amazonaws.com/lvp-graphism/slo/clash/in-game/mapfre1.png'];
        var curPic = -1;
        //preload the images for smooth animation
        var imgO = new Array();
        for(i=0; i < picPaths.length; i++) {
            imgO[i] = new Image();
            imgO[i].src = picPaths[i];
        }

        function swapImage() {
            curPic = (++curPic > picPaths.length-1)? 0 : curPic;
            imgCont.src = imgO[curPic].src;
            setTimeout(swapImage, 15000);
        }

        $(document).ready(function(){
            imgCont = document.getElementById('patros');
            swapImage();
        });

    </script>
{% endblock %}