{% extends 'GrafismBundle::layout.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('bundles/grafism/css/SLO/clash/line-up-arena.css') }}" />
{% endblock styles %}

{% block body %}

    {% set localId = local.team.id %}
    {% set visitorId = visitor.team.id %}

    <div class="content">
        <div class="header">
            <div class="team">
                <div class="bans">
                    {% for i in 1..3 %}
                        {% if bans[i] is defined and bans[i][localId] is defined %}
                        <div class="ban" style="float: right;">
                            <img src="https://s3-eu-west-1.amazonaws.com/lvp-api/clash-royale/cards/thumbnail/{{ bans[i][localId].cardKey }}.jpg" alt="" />
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="team-data">
                    <div class="name">{{ local.team.name }}</div>
                    <div class="logo" style="border-color:{{ local.team.color }};">
                        <img alt="" src="{{ local.team.logo }}" />
                    </div>
                </div>
            </div>
            <div class="versus">SET 3</div>
            <div class="team">
                <div class="team-data" style="padding-left:24px;">
                    <div class="logo" style="border-color:{{ visitor.team.color }};">
                        <img alt="" src="{{ visitor.team.logo }}" />
                    </div>
                    <div class="name">{{ visitor.team.name }}</div>
                </div>
                <div class="bans">
                    {% for i in 1..3 %}
                        {% if bans[i] is defined and bans[i][visitorId] is defined %}
                        <div class="ban"style="margin-right:0;margin-left:3px;">
                            <img src="https://s3-eu-west-1.amazonaws.com/lvp-api/clash-royale/cards/thumbnail/{{ bans[i][visitorId].cardKey }}.jpg" alt="" />
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="lineups">
            <div class="lineup">
                {% for i in 2..0 %}
                    <div class="player" style="margin-left: -40px;">
                        <div class="photo">
                            <img alt="" src="{{ local.players[i].photo | default('https://s3-eu-west-1.amazonaws.com/lvp-graphism/Sin-ti%CC%81tulo-2+(1).png') }}" />
                        </div>
                        <div class="player-label">
                            <div class="name">{{ local.players[i].name }}</div>
                            <div class="position">{{ i + 1 }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="lineup" style="padding-left: 40px;">
                {% for i in 2..0 %}
                    <div class="player" style="z-index:{{ i  }};margin-right:-40px;">
                        <div class="photo">
                            <img alt="" src="{{ visitor.players[2-i].photo | default('https://s3-eu-west-1.amazonaws.com/lvp-graphism/Sin-ti%CC%81tulo-2+(1).png') }}" />
                        </div>
                        <div class="player-label" style="left:44px">
                            <div class="position">{{ (2-i) + 1 }}</div>
                            <div class="name">{{ visitor.players[2-i].name }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}