{% extends 'GrafismBundle::layout.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('bundles/grafism/css/SLO/clash/line-up.css') }}" />

    {% if set != 1 %}
        <style>
            .featured {
                width: 1062px;
                left: 428px;
            }
        </style>
    {% endif %}
{% endblock styles %}

{% block body %}

    {% set localId = local.team.id %}
    {% set visitorId = visitor.team.id %}

    <div class="featured">
        <div class="header">
            {% if set == 1 %}
                <div class="ban">
                    <img src="https://s3-eu-west-1.amazonaws.com/lvp-api/clash-royale/cards/thumbnail/{{ bans[set][localId].cardKey }}.jpg">
                    <div class="text-ban">BAN</div>
                </div>
            {% endif %}
            <div class="team">
                <div class="name">{{ local.team.name }}</div>
                <div class="img" style="border-color:{{ local.team.color }} !important;">
                    <img src="{{ local.team.logo }}" alt="">
                </div>
            </div>
            <div class="set">
                SET {{ set }}
            </div>
            <div class="team second">
                <div class="img" style="border-color:{{ visitor.team.color }} !important;">
                    <img src="{{ visitor.team.logo }}" alt="">
                </div>
                <div class="name">{{ visitor.team.name }}</div>
            </div>
            {% if set == 1 %}
            <div class="ban">
                <img src="https://s3-eu-west-1.amazonaws.com/lvp-api/clash-royale/cards/thumbnail/{{ bans[set][visitorId].cardKey }}.jpg">
                <div class="text-ban">BAN</div>
            </div>
            {% endif %}
        </div>

        <div class="players">
            {% for game in games %}
            <div class="match">
                <div class="player">
                    <div class="img">
                        <img src="{{ game.local.photo | default('https://s3-eu-west-1.amazonaws.com/lvp-graphism/Sin-ti%CC%81tulo-2+(1).png') }}" />
                    </div>
                    <div class="name">
                        {{ game.local.name }}
                    </div>
                </div>
                <div class="versus">
                    VS
                </div>
                <div class="player second">
                    <div class="img">
                        <img src="{{ game.visitor.photo | default('https://s3-eu-west-1.amazonaws.com/lvp-graphism/Sin-ti%CC%81tulo-2+(1).png') }}" />
                    </div>
                    <div class="name">
                        {{ game.visitor.name }}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}