{% extends 'GrafismBundle::layout.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('bundles/grafism/css/SLO/clash/replay.css') }}" />
{% endblock styles %}

{% block body %}
    <div class="box-game">
        <div class="game">

        </div>
    </div>
    <div class="box-replay">
        <div class="replay">
            <div class="text-replay">
                <!-- mdi rewind -->
                <span style="font-size: 30px"><i class="mdi mdi-rewind"></i></span>Replay <span>de la jugada</span>
            </div>
            <div class="square">

            </div>
            <div class="players">
                <div class="teams">
                    <div class="team">
                        <div class="player">
                            <img src="{{ players.local.photo | default('https://s3-eu-west-1.amazonaws.com/lvp-graphism/Sin-ti%CC%81tulo-2+(1).png') }}" alt="">
                        </div>
                        <div class="name">
                            {{  teams.local.shortName | upper }}
                        </div>
                        <div class="logo" style="border-color: {{ teams.local.color }} !important;">
                            <img src="{{  teams.local.logo }}" alt="">
                        </div>
                    </div>
                    <div class="versus">
                        VS
                    </div>
                    <div class="team">
                        <div class="player">
                            <img src="{{ players.visitor.photo | default('https://s3-eu-west-1.amazonaws.com/lvp-graphism/Sin-ti%CC%81tulo-2+(1).png') }}" alt="">
                        </div>
                        <div class="logo" style="border-color: {{ teams.visitor.color }} !important;">
                            <img src="{{  teams.visitor.logo }}" alt="">
                        </div>
                        <div class="name">
                            {{  teams.visitor.shortName | upper }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}