{% extends 'GrafismBundle::layout.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('bundles/grafism/css/SLO/clash/scheduled-matches.css') }}" />
{% endblock styles %}

{% block body %}

    <div class="scheduled-matches">
        <div class="header">
            <div class="header-round">
                {#<span style="position: absolute;left: -12px;"><i class="fas fa-angle-double-right"></i></span>#}
                JORNADA {% if round | length == 1 %}0{% endif %}{{ round }}</div>
            <div class="header-day">
                <span style="position: absolute;left: 10px;font-size: 22px;"><i class="mdi mdi-image-filter-center-focus"></i></span>
                {{ dayName | upper | trans({}, 'messages', locale ) }} {{ dayNumber }} {{ month | upper | trans({}, 'messages', locale) }}.</div>
        </div>
        <div class="matches">
            {% for match in matches %}
                <div class="match">
                    <div class="match-hour">{{ match.scheduledAt }}</div>
                    <div class="match-teams">
                        <div class="team local">
                            <div class="team-name text-right">{{ match.local.name }}</div>
                            <div class="team-logo" style="border-color:{{ match.local.color }};">
                                <img src="{{ match.local.logo }}" alt="" />
                            </div>
                        </div>
                        <div class="versus">
                            {% if match.scores.local == 0 and match.scores.visitor == 0 %}
                                VS
                            {% else %}
                                {{ match.scores.local }} - {{ match.scores.visitor }}
                            {% endif %}
                        </div>
                        <div class="team visitor">
                            <div class="team-logo" style="border-color:{{ match.visitor.color }};">
                                <img src="{{ match.visitor.logo }}" alt="" />
                            </div>
                            <div class="team-name text-left">{{ match.visitor.name }}</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}