{% extends 'GrafismBundle::layout.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('bundles/grafism/css/SLO/clash/scoreboard.css') }}" />
{% endblock styles %}

{% block body %}

    {% set localTeam = local.id %}
    {% set visitorTeam = visitor.id %}

    <div class="box-set">
        <div class="text-set">
            <div class="name par">
                Pre - Ban
            </div>
            <div class="name">
                Set 1
            </div>
            <div class="name par">
                Set 2
            </div>
            <div class="name">
                Set 3
            </div>
        </div>
    </div>
    {% set sand = false %}

    {% if setScores[3].visitor != 0 or setScores[3].local != 0 %}
        {% set sand = true %}
    {% endif %}

    <div class="featured">
        <div class="team">
            <div class="logo" style="border-color:{{ visitor.color }} !important;">
                <img alt="" src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/slo/clash/scoreboard/logos/{{ visitor.shortName | lower }}.png">
            </div>
            <div class="pre-ban">
                <img alt="" src="https://s3-eu-west-1.amazonaws.com/lvp-api/clash-royale/cards/thumbnail/{{ bans[1][visitorTeam].cardKey }}.jpg">
            </div>
            {% for key, score in setScores %}
            <div class="set {% if key % 2 == 0 %}par{% endif %}">
                {{ score.visitor }}
            </div>
            {% endfor %}
            <div class="set visitor {% if sand %}sand{% endif %}">
                {{ scores.visitor }}
            </div>
        </div>
        <div class="team">
            <div class="logo par" style="border-color:{{ local.color }} !important;">
                <img alt="" src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/slo/clash/scoreboard/logos/{{ local.shortName | lower }}.png">
            </div>
            <div class="pre-ban">
                <img alt="" src="https://s3-eu-west-1.amazonaws.com/lvp-api/clash-royale/cards/thumbnail/{{ bans[1][localTeam].cardKey }}.jpg">
            </div>
            {% for key, score in setScores %}
            <div class="set {% if key % 2 == 0 %}par{% endif %}">
                {{ score.local }}
            </div>
            {% endfor %}
            <div class="set local {% if sand %}sand{% endif %}">
                {{ scores.local }}
            </div>
        </div>
    </div>
    <div class="box-bans">
        <div class="bans">
            {% for key, ban in bans | slice(1,2) %}
            <div class="card">
                <img alt="" src="https://s3-eu-west-1.amazonaws.com/lvp-api/clash-royale/cards/thumbnail/{% if ban[localTeam] is defined %}{{ ban[localTeam].cardKey }}{% elseif ban[visitorTeam] is defined %}{{ ban[visitorTeam].cardKey }}{% endif %}.jpg">
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}