{% extends 'GrafismBundle::layout.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('bundles/grafism/css/SLO/clash/set-subs.css') }}" />
{% endblock styles %}

{% block body %}
    <div class="featured">
        {% if local.gone is not empty %}
        <div class="sub">
            <div class="logo">
                <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/slo/clash/in-game/logo-overlay-slo.png">
            </div>
            <div class="team" style="border-color:{{ local.team.color }} !important;">
                <div class="team-logo">
                    <img src="{{ local.team.logo }}" alt="">
                </div>
                <div class="team-name">
                    {{ local.team.shortName }}
                </div>
            </div>
            <div class="players">
                <div class="player in">
                    <div class="name">
                        {{ local.new[0] }}
                    </div>
                    <div class="status blue">
                        <span style="font-size: 60px"><i class="mdi mdi-menu-up"></i></span>
                    </div>
                </div>
                <div class="player second out">
                    <div class="name">
                        {{ local.gone[0] }}
                    </div>
                    <div class="status blue">
                        <span style="font-size: 60px"><i class="mdi mdi-menu-down"></i></span>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        {% if visitor.gone is not empty %}
        <div class="sub visitor">
            <div class="players">
                <div class="player in">
                    <div class="status red">
                        <span style="font-size: 60px"><i class="mdi mdi-menu-up"></i></span>
                    </div>
                    <div class="name">
                        {{ visitor.new[0] }}
                    </div>
                </div>
                <div class="player second out">
                    <div class="status red">
                        <span style="font-size: 60px"><i class="mdi mdi-menu-down"></i></span>
                    </div>
                    <div class="name">
                        {{ visitor.gone[0] }}
                    </div>
                </div>
            </div>
            <div class="team" style="border-color:{{ visitor.team.color }} !important;">
                <div class="team-logo">
                    <img src="{{ visitor.team.logo }}" alt="">
                </div>
                <div class="team-name">
                    {{ visitor.team.shortName }}
                </div>
            </div>
        </div>
        {% endif %}
    </div>

    <script type="text/javascript">
        $(document).ready(function(){
            setTimeout(function(){
                $(".out").animate({top: '57px'}, {duration:1500 });
                $(".in").animate({top: '0'}, {duration:1500 });
            }, 2000);
        });
    </script>
{% endblock %}