{% extends 'GrafismBundle::layout.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('bundles/grafism/css/SLO/clash/set-scoreboard.css') }}" />

    {% if sets | length == 2 %}
        <style>
            .line-up {
                padding-left: 265px;
            }
        </style>
    {% endif %}

{% endblock styles %}

{% block body %}
    <div class="featured">
        <div class="top">
            <div class="logo">
                <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/slo/clash/in-game/logo-overlay-slo.png">
            </div>
            <div class="teams">
                <div class="team">
                    <div class="name">
                        {{ teams.local.shortName }}
                    </div>
                    <div class="logo-team" style="border-color: {{ teams.local.color }} !important;">
                        <img src="{{ teams.local.logo }}" alt="">
                    </div>
                </div>
                <div class="versus">
                    {{ scores.local }} - {{ scores.visitor }}
                </div>
                <div class="team">
                    <div class="logo-team" style="border-color: {{ teams.visitor.color }} !important;">
                        <img src="{{ teams.visitor.logo }}" alt="">
                    </div>
                    <div class="name">
                        {{ teams.visitor.shortName }}
                    </div>
                </div>
            </div>
            <div class="logo">
                <div class="time">
                    J {% if round | length == 1 %}0{% endif %}{{ round }}
                </div>
                <div class="date">
                    {{ dayName | upper | trans({}, 'messages', locale ) }}, {{ day }}
                </div>
            </div>
        </div>
        <div class="line-up">
            {% for key,set in sets %}
            <div class="set">
                <div class="match">
                    <div class="team">
                        <div class="name" style="border-color: {{ teams.local.color }} !important;">
                            {{ teams.local.shortName }}
                        </div>
                    </div>
                    <div class="status set-{{ key }}">
                        SET {{ key }}
                    </div>
                    <div class="team">
                        <div class="name" style="border-color: {{ teams.visitor.color }} !important;">
                            {{ teams.visitor.shortName }}
                        </div>
                    </div>
                </div>
                {% set gameNumbers = set.games | length %}
                {% for game in set.games %}
                <div class="players "  style="{% if gameNumbers == 4 %}height: 121px; {% elseif gameNumbers == 5 %} height:96.5px; {% endif %}">
                    <div class="player">
                        <div class="img" style="{% if gameNumbers == 4 %} height: 87px; {% elseif gameNumbers == 5 %} height:63px ;{% endif %}">
                            <img class="img-{{ gameNumbers }} {% if game.scores.local  == 0 and game.scores.visitor == 0 %}not-played{% endif %} {% if game.scores.local < game.scores.visitor %}not-played{% endif %}" src="{{ game.local.player.photo | default('https://s3-eu-west-1.amazonaws.com/lvp-graphism/Sin-ti%CC%81tulo-2+(1).png') }}" alt="">
                        </div>
                        <div class="name {% if game.scores.local  == 0 and game.scores.visitor == 0 %}not-played{% endif %}">
                            {{ game.local.player.name }}
                        </div>
                    </div>
                    <div class="result set-{{ key }} games-{{ gameNumbers }} {% if game.scores.local  == 0 and game.scores.visitor == 0 %}not-played{% endif %}">
                        {% if game.scores.local  == 0 and game.scores.visitor == 0 %}
                            -
                        {% else %}
                            {{ game.scores.local }}-{{ game.scores.visitor }}
                        {% endif %}
                    </div>
                    <div class="player">
                        <div class="img" style="{% if gameNumbers == 4 %} height: 87px; {% elseif gameNumbers == 5 %} height:63px ;{% endif %}">
                            <img class="img-{{ gameNumbers }} {% if game.scores.local  == 0 and game.scores.visitor == 0 %}not-played{% endif %} {% if game.scores.local > game.scores.visitor %}not-played{% endif %}" src="{{ game.visitor.player.photo | default('https://s3-eu-west-1.amazonaws.com/lvp-graphism/Sin-ti%CC%81tulo-2+(1).png') }}" alt="">
                        </div>
                        <div class="name {% if game.scores.local  == 0 and game.scores.visitor == 0 %}not-played{% endif %}">
                            {{ game.visitor.player.name }}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            {% endfor %}
        </div>
    </div>
{% endblock %}