{% extends 'GrafismBundle::layout.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('bundles/grafism/css/SLO/clash/timer.css') }}" />
{% endblock styles %}

{% block body %}

    <div class="box-timer">
        <div class="title"></div>
        <div class="timer">
            <span class="time"></span>
        </div>
    </div>

    <script type="text/javascript">
        var count = 0;

        function startTimer() {

            var presentTime = $('.time').html();
            var timeArray = presentTime.split(/[:]+/);
            var m = timeArray[0];
            var s = checkSecond((timeArray[1] - 1));
            {#          if(s==57){s="0"+2}#}
            if(s==59){m=m-1}

            if(m<0) {
                $.when(function() {
                    return $('.time').fadeOut();
                }()).done(function() {
                    $('.box-timer').animate({'width': 'toggle'});
                });

                return;
            }

            $('.time').html(m + ":" + s);

            setTimeout(function(){
                startTimer();
            }, 1000);
        }

        function checkSecond(sec) {
            if (sec < 10 && sec >= 0) {sec = "0" + sec}; // add zero in front of numbers < 10
            if (sec < 0) {sec = "59"};
            return sec;
        }

        $(function(){
            $('.box-timer').hide();
            $('.box-timer').animate({'width': 'toggle'}, 'slow').delay(200);

            $('.box-timer').promise().done(function(){
                $('.title').html('{{ label }}').fadeIn();
                $('.time').html(0{{ minutes }} + ":" + 0{{ seconds }}).fadeIn();
                startTimer();
            });
        });
    </script>

{% endblock %}