{% extends 'GrafismBundle::form/base_form.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-2">
            {{ form_label(form.side) }}
            {{ form_widget(form.side, { 'attr': { 'class' : 'form-control' } }) }}
        </div>
        <div class="col-xs-4">
            {{ form_label(form.text) }}
            {{ form_widget(form.text, { 'attr': { 'class' : 'form-control' } }) }}
        </div>
    </div>
{% endblock %}