{% extends 'GrafismBundle::layout.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('bundles/grafism/css/SLO/csgo/predictions.css') }}" />
{% endblock styles %}

{% block body %}
    <div class="featured">
        <div class="logo">
            <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/slo/clash/in-game/logo-overlay-slo.png">
        </div>
        <div class="text">
            <div class="predict">
                Predicciones
            </div>
            <div class="match">
                {{ local.team.shortName }} <span>VS</span> {{ visitor.team.shortName }}
            </div>
        </div>
        <div class="teams">
            <div class="team ">
                <div class="inside" style="border-color:{% if votes.caster_wolk == 'local' %} {{ local.team.color }} {% else %} {{ visitor.team.color }} {% endif %} !important">
                    <img src="{% if votes.caster_wolk == 'local' %}{{ local.team.logo }}{% else %}{{ visitor.team.logo }}{% endif %}" alt="">
                </div>
            </div>
            <div class="team par">
                <div class="inside" style="border-color:{% if votes.caster_ulises == 'local' %} {{ local.team.color }} {% else %} {{ visitor.team.color }} {% endif %} !important">
                    <img src="{% if votes.caster_ulises == 'local' %}{{ local.team.logo }}{% else %}{{ visitor.team.logo }}{% endif %}" alt="">
                </div>
            </div>
            <div class="team">
                <div class="inside" style="border-color:{% if votes.caster_kraniel == 'local' %} {{ local.team.color }} {% else %} {{ visitor.team.color }} {% endif %} !important">
                    <img src="{% if votes.caster_kraniel == 'local' %}{{ local.team.logo }}{% else %}{{ visitor.team.logo }}{% endif %}" alt="">
                </div>
            </div>
            <div class="team par">
                <div class="inside" style="border-color:{% if votes.caster_kami == 'local' %} {{ local.team.color }} {% else %} {{ visitor.team.color }} {% endif %} !important">
                    <img src="{% if votes.caster_kami == 'local' %}{{ local.team.logo }}{% else %}{{ visitor.team.logo }}{% endif %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="box-predict">
        <div class="user-predict">
            <div class="name">
                Wolk
            </div>
            <div class="name par">
                Ulises
            </div>
            <div class="name">
                Kraniel
            </div>
            <div class="name par">
                Kam1
            </div>
        </div>
    </div>
{% endblock %}