{% extends 'GrafismBundle::layout.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('bundles/grafism/css/SLO/csgo/scheduled-matches.css') }}" />
{% endblock styles %}

{% block body %}

    <div class="scheduled-matches">
        <div class="header">
            <div class="header-round">
                {#<span style="position: absolute;left: -12px;"><i class="fas fa-angle-double-right"></i></span>#}
                JORNADA {% if round | length == 1 %}0{% endif %}{{ round }}
                <img src="https://s3-eu-west-1.amazonaws.com/lvp-static/ddh/menu/icon-csgo.png" alt="" />
            </div>
            <div class="header-day">
                <span style="position: absolute;left: 10px;font-size: 22px;"><i class="mdi mdi-image-filter-center-focus"></i></span>
                {{ dayName | upper | trans({}, 'messages', locale ) }} {{ dayNumber }} {{ month | upper | trans({}, 'messages', locale) }}.

                <span style="position:absolute; right:0;opacity:0.4;color:#e7492d;font-size:20px;right: 21px;">
                    {% for i in 0..11 %}
                        <i class="mdi mdi-close"></i>
                    {% endfor %}
                </span>

            </div>

        </div>
        <div class="matches">
            {% for match in matches | slice(0,3) %}
                <div class="match">
                    <div class="match-hour">{{ match.scheduledAt }}</div>
                    <div class="match-teams">
                        <div class="team local">
                            <div class="team-name text-right">{{ match.local.name }}</div>
                            <div class="team-logo" style="border-color:{{ match.local.color }};">
                                <img src="{{ match.local.logo }}" alt="" />
                            </div>
                        </div>
                        <div class="versus">
                            {% if match.scores.local == 0 and match.scores.visitor == 0 %}
                                VS
                            {% else %}
                                {{ match.scores.local }} - {{ match.scores.visitor }}
                            {% endif %}
                        </div>
                        <div class="team visitor">
                            <div class="team-logo" style="border-color:{{ match.visitor.color }};">
                                <img src="{{ match.visitor.logo }}" alt="" />
                            </div>
                            <div class="team-name text-left">{{ match.visitor.name }}</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="header-day">
            <span style="position: absolute;left: 10px;font-size: 22px;"><i class="mdi mdi-image-filter-center-focus"></i></span>
            {{ dayName2 | upper | trans({}, 'messages', locale ) }} {{ dayNumber2 }} {{ month2 | upper | trans({}, 'messages', locale) }}.

            <span style="position:absolute; right:0;opacity:0.4;color:#e7492d;font-size:20px;right: 21px;">
                    {% for i in 0..11 %}
                        <i class="mdi mdi-close"></i>
                    {% endfor %}
                </span>
        </div>
        <div class="matches" style="margin-top: 13px;">
            {% for match in matches | slice(3,3) %}
                <div class="match">
                    <div class="match-hour">{{ match.scheduledAt }}</div>
                    <div class="match-teams">
                        <div class="team local">
                            <div class="team-name text-right">{{ match.local.name }}</div>
                            <div class="team-logo" style="border-color:{{ match.local.color }};">
                                <img src="{{ match.local.logo }}" alt="" />
                            </div>
                        </div>
                        <div class="versus">
                            {% if match.scores.local == 0 and match.scores.visitor == 0 %}
                                VS
                            {% else %}
                                {{ match.scores.local }} - {{ match.scores.visitor }}
                            {% endif %}
                        </div>
                        <div class="team visitor">
                            <div class="team-logo" style="border-color:{{ match.visitor.color }};">
                                <img src="{{ match.visitor.logo }}" alt="" />
                            </div>
                            <div class="team-name text-left">{{ match.visitor.name }}</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}