{% extends 'GrafismBundle::layout.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('bundles/grafism/css/SLO/csgo/standings.css') }}" />
{% endblock styles %}

{% block body %}

    <div class="featured">
        <div class="header">
            <div class="up">Jornada {% if currentRound | length == 1 %}0{% endif %}{{ currentRound }}
                <img src="https://s3-eu-west-1.amazonaws.com/lvp-static/ddh/menu/icon-csgo.png" alt="" />
            </div>
            <div class="down">
                <span style="position: absolute;left: 21px;font-size: 18px;"><i class="mdi mdi-image-filter-center-focus"></i></span>
                Clasificación General 2019 - Superliga Orange Counter Strike
                <span style="position:absolute; right:0;opacity:0.4;color:#e7492d;font-size:20px;right: 21px;">
                    {% for i in 0..11 %}
                    <i class="mdi mdi-close"></i>
                    {% endfor %}
                </span>
            </div>
        </div>
        <div class="rating">
            <div class="result">
                <div class="win">Victorias</div>
                <div class="loss">Derrotas</div>
            </div>
            <div class="teams">
                {% for key, team in teams | slice(0,6)%}
                <div class="team">
                    <div class="position playoff">
                        0{{ key + 1 }}
                    </div>
                    <div class="img" style="border-color:{{ team.team.color }};">
                        <img src="{{ team.team.logo }}" alt="">
                    </div>
                    <div class="name">
                        {{ team.team.name }}
                    </div>
                    <div class="win">
                        {% if team.victories | length == 1 %}0{% endif %}{{ team.victories }}
                    </div>
                    <div class="loss">
                        {% if team.defeats | length == 1 %}0{% endif %}{{ team.defeats }}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="rating second">
            <div class="result">
                <div class="win">Victorias</div>
                <div class="loss">Derrotas</div>
            </div>
            <div class="teams">
                {% set index = 7 %}
                {% for team in teams | slice(6,6)%}
                <div class="team">
                    <div class="position {% if index == 11 or index == 12 %} descenso {% endif %}">
                        {% if index | length == 1 %}0{% endif %}{{ index }}
                    </div>
                    <div class="img" style="border-color:{{ team.team.color }};">
                        <img src="{{ team.team.logo }}" alt="">
                    </div>
                    <div class="name">{{ team.team.name }}</div>
                    <div class="win">
                        {% if team.victories | length == 1 %}0{% endif %}{{ team.victories }}
                    </div>
                    <div class="loss">
                        {% if team.defeats | length == 1 %}0{% endif %}{{ team.defeats }}
                    </div>
                </div>
                    {% set index = index + 1 %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}