{% extends 'AppBundle:Stream:layout.html.twig' %}

{% block styles %}
    <link href="{{ asset('bundles/app/css/lol/comparativa_stats.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}

    <div class="overlay">
        <div class="board">
			<div class="team a">
				<img src="https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/League+of+Legends/players/comparativa/left/{{ localPlayer }}.png" />
			</div>
			<div class="scoreboard">
				<div class="header">COMPARATIVA</div>
				<div class="stats">
					{% for i in 0..2 %}
						<div class="stat">
							<div class="local">{{ local[i].value | number_format(2) }}</div>
							<div class="value">{{ local[i].key }}</div>
							<div class="visitor">{{ visitor[i].value | number_format(2) }}</div>
						</div>
					{% endfor %}
				</div>
			</div>
			<div class="team b">
				<img src="https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/League+of+Legends/players/comparativa/right/{{ visitorPlayer }}.png" />
			</div>
        </div>
    </div>
    
    <script type="text/javascript">
		$(function() {
			$('.board').slideToggle(1000);

			setTimeout(function(){
				$('.board').slideToggle(1000);
			}, 10000);
		});	
	</script>
{% endblock %}