{% extends 'AppBundle:Stream:layout.html.twig' %}

{% block styles %}
    <link href="{{ asset('bundles/app/css/interface.css') }}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Signika" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="all">
        <div class="header">


        </div>

        <div class="main">
            <div class="container-fluid">
                <div class="interface">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Twitter</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12" style="margin-bottom:10px">
                                            <label>Tweet</label>
                                            <input id="tweetId" type="text" name="tweetId" class="form-control">
                                        </div>

                                        <div class="col-md-12" style="margin-bottom:10px">
                                            <label>Hashtag</label>
                                            <input id="hashtag" type="text" name="hashtag" class="form-control" value="SUPERLIGAORANGELOL">
                                        </div>

                                        <div class="col-md-2" style="margin-bottom:10px">
                                            <button id="play_tweet" class="btn btn-success">PLAY</button>
                                        </div>
                                        
                                        <div class="col-md-2" style="margin-bottom:10px">
                                            <button id="play_tweet_msi" class="btn btn-success">MSI</button>
                                        </div>

                                        <div class="col-sm-2">
                                            <button class="btn btn-danger stop">STOP</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-9">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Interfaz</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="row" style="margin-bottom: 10px">
                                        <div class="col-md-4">

                                            <select id="match_id" class="form-control">
                                                {% for match in matches %}
                                                    <option value="{{ match.id }}">{{ match }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <div class="col-md-3">
                                            <select id="drake" class="form-control">
                                                <option value="0">DRAKES</option>
                                                <option value="infernal">Infernal</option>
                                                <option value="cloud">Cloud</option>
                                                <option value="mountain">Mountain</option>
                                                <option value="ocean">Ocean</option>
                                                <option value="elder">Elder</option>
                                            </select>
                                        </div>   

                                    </div>
                                    <div class="row" style="margin-bottom: 20px">
                                        <div class="col-md-1">
                                            <label>LAN</label>
                                        </div>

                                        <div class="col-md-1">
                                            <button id="play" class="btn btn-success">PLAY</button>
                                        </div>

                                        <div class="col-sm-1">
                                            <button class="btn btn-danger stop">STOP</button>
                                        </div>

                                        <div class='col-md-1'>
                                            <button id="switch" class="btn btn-primary">SWITCH</button>
                                        </div>                                     
                                    </div>

                                    <div class="row" style="margin-bottom: 20px">
                                        <div class="col-md-1">
                                            <label>ONLINE</label>
                                        </div>
                                        <div class="col-md-1">
                                            <button id="play_online" class="btn btn-success">PLAY</button>
                                        </div>

                                        <div class="col-sm-1">
                                            <button class="btn btn-danger stop">STOP</button>
                                        </div>

                                        <div class='col-md-1'>
                                            <button id="switch_online" class="btn btn-primary">SWITCH</button>
                                        </div>

                                    </div>

                                    <div class="row" style="margin-bottom: 20px">
                                        <div class="col-md-1">
                                            <label>Votaciones countdown</label>
                                        </div>
                                        <div class="col-md-1">
                                            <button id="play_twitter_share" class="btn btn-success">PLAY</button>
                                        </div>

                                        <div class="col-sm-1">
                                            <button class="btn btn-danger stop">STOP</button>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-bottom: 20px">
                                        <div class="col-md-1">
                                            <label>Votaciones</label>
                                        </div>
                                        <div class="col-md-1">
                                            <button id="play_twitter_share_chyron" class="btn btn-success">PLAY</button>
                                        </div>

                                        <div class="col-sm-1">
                                            <button class="btn btn-danger stop">STOP</button>
                                        </div>
                                    </div>

                                    <div class="row" style="margin-bottom: 20px">
                                        <div class="col-md-1">
                                            <label>Clasificación</label>
                                        </div>
                                        <div class="col-md-1">
                                            <button id="play_ladder" class="btn btn-success">PLAY</button>
                                        </div>

                                        <div class="col-sm-1">
                                            <button class="btn btn-danger stop">STOP</button>
                                        </div>
                                    </div>

                                    <div class="row" style="margin-bottom:20px">
                                        <div class="col-md-1">
                                            <label>Picks & bans</label>
                                        </div>
                                        <div class="col-md-1">
                                            <button id="play_picks_bans" class="btn btn-success">PLAY</button>
                                        </div>

                                        <div class="col-sm-1">
                                            <button class="btn btn-danger stop">STOP</button>
                                        </div>
                                        
                                        <div class="col-md-2">
                                            <input type="text" id="player_name" class="form-control" placeholder="Summoner Name" />
                                        </div>
                                        
                                        <div class="col-md-2">
                                            <select id="team_blue" class="form-control">
                                            {% for team in teams %}
                                                <option value="{{ team.team.superligaId }}">{{ team.team.name }}</option>
                                            {% endfor %}
                                            </select>
                                        </div>
                                        
                                        <div class="col-md-2">
                                            <select id="team_purple" class="form-control">
                                            {% for team in teams %}
                                                <option value="{{ team.team.superligaId}}">{{ team.team.name }}</option>
                                            {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                           
                                    <div class="row" style="margin-bottom: 20px">
                                        <div class="col-md-1">
                                            <label>Ticker</label>
                                        </div>
                                        <div class="col-md-1">
                                            <button id="play_resumen" class="btn btn-success">PLAY</button>
                                        </div>

                                        <div class="col-sm-1">
                                            <button class="btn btn-danger stop">STOP</button>
                                        </div>
                                        
                                        <div class="col-md-2">
                                            <select id="slo_matches" class="form-control">
                                            {% for key, t in slo %}
                                                <option value="{{ t }}">{{ t }}</option>
                                            {% endfor %}
                                            </select>
                                        </div>
                                            
                                         <div class="col-md-1">
                                            <button id="play_postmatch" class="btn btn-success">PLAY</button>
                                        </div>

                                        <div class="col-sm-1">
                                            <button class="btn btn-danger stop">STOP</button>
                                        </div>
                                        <div class="col-md-1">
                                            <label>Postmatch</label>
                                        </div>
                                            
                                    </div>
                                        
                                    <div class="row" style="margin-bottom: 20px">
                                        <div class="col-md-1">
                                            <label>Picks&Bans Stats</label>
                                        </div>
                                        <div class="col-sm-1">
                                            <button id="open-modal">Open</button>
                                        </div>
                                    </div>
                                           
                                   <div class="row" style="margin-bottom: 20px">
                                        <div class="col-md-1">
                                            <label>Stats ingame</label>
                                        </div>
                                        <div class="col-sm-1">
                                            <button id="open-stats">Open</button>
                                        </div>
                                    </div>
                                            
									<div class="row" style="margin-bottom: 20px">
										<div class="col-md-1">MVP</div>
										<div class="col-md-1">
                                            <button id="play_mvp" class="btn btn-success">PLAY</button>
                                        </div>

                                        <div class="col-sm-1">
                                            <button class="btn btn-danger stop">STOP</button>
                                        </div>
                                        
                                        <div class="col-md-2">
                                            <select id="slo_matches_mvp" class="form-control">
                                            {% for key, t in slo %}
                                                <option value="{{ t }}">{{ t }}</option>
                                            {% endfor %}
                                            </select>
                                        </div>
                                        
                                        <div class="col-md-2">
                                        	<select id="player-selector-mvp" class="form-control">
                                                {% for id, name in players %}
                                                    <option value="{{ id }}">{{ name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
									</div>  
									
									<div class="row" style="margin-bottom: 20px">
										<div class="col-md-1">Comparativa</div>
										<div class="col-md-1">
                                            <button id="play_comparativa" class="btn btn-success">PLAY</button>
                                        </div>

                                        <div class="col-sm-1">
                                            <button class="btn btn-danger stop">STOP</button>
                                        </div>
                                        
                                        <div class="col-md-2">
                                        	<select id="player-selector-c1" class="form-control">
                                                {% for id, name in players %}
                                                    <option value="{{ id }}">{{ name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        
                                        <div class="col-md-2">
                                            <select id="slo_matches_comparativa" class="form-control">
                                            <option value="T2018V-L-">T2018 Verano</option>
                                            <option value="T2018P-L-">T2018 Primavera</option>
                                            {% for key, t in slo %}
                                                <option value="{{ t }}">{{ t }}</option>
                                            {% endfor %}
                                            </select>
                                        </div>
                                        
                                        <div class="col-md-2">
                                        	<select id="player-selector-c2" class="form-control">
                                                {% for id, name in players %}
                                                    <option value="{{ id }}">{{ name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
									</div>                                          
                                </div>
                            </div>     
                        </div>
                    </div>
                </div>
            </div>
        </div>                

    </div>

    {% include 'AppBundle:Stream:LeagueOfLegends/include/modal_selector.html.twig' with champions %}
    
    {% include 'AppBundle:Stream:LeagueOfLegends/include/modal_stats.html.twig' with [champions, players] %}
                                            
    <script type="text/javascript">
        $(document).ready(function () {
            var match_id = $("#match_id").val();
            $("#play").click(function () {
                var match_id = $("#match_id").val();
                var drake = $("#drake").val();
                $.post(Routing.generate('caspar_play_lol', {id: match_id, drake: drake}));
            });

            $("#switch").click(function () {
                var match_id = $("#match_id").val();
                var drake = $("#drake").val();
                $.post(Routing.generate('caspar_play_lol_switch', {id: match_id, drake: drake}));
            });

            $("#play_online").click(function () {
                var match_id = $("#match_id").val();
                var drake = $("#drake").val();
                $.post(Routing.generate('caspar_play_lol_online', {id: match_id, drake: drake}));
            });

            $("#switch_online").click(function () {
                var match_id = $("#match_id").val();
                var drake = $("#drake").val();
                $.post(Routing.generate('caspar_play_lol_switch_online', {id: match_id, drake: drake}));
            });

            $("#play_twitter_share").click(function () {
                var match_id = $("#match_id").val();
                $.post(Routing.generate('caspar_play_twitter_share', {game: '{{ game }}', competition: '{{ competition }}', id: match_id}));
            });
            
            $("#play_twitter_share_chyron").click(function () {
                var match_id = $("#match_id").val();
                $.post(Routing.generate('caspar_play_twitter_chyron', {game: '{{ game }}', competition: '{{ competition }}', id: match_id}));
            });

            $("#play_ladder").click(function () {
                $.post(Routing.generate('caspar_play_ladder_generic', {game: '{{ game }}', competition: '{{ competition }}'}));
            });
            
            $("#play_picks_bans").click(function () {
                var blue = $("#team_blue").val();
                var purple = $("#team_purple").val();
                var summoner = $("#player_name").val();
                
                $.post(Routing.generate('caspar_play_lol_picks_bans', { blueTeam: blue, purpleTeam: purple, name: summoner }));
            });

            $("#play_tweet").click(function () {
                var tweet = $("#tweetId").val();
                var hashtag = $("#hashtag").val();
                $.post(Routing.generate('caspar_play_tweet', {id: tweet, hashtag: hashtag}));
            });

            $("#play_tweet_msi").click(function () {
                var tweet = $("#tweetId").val();
                var hashtag = $("#hashtag").val();
                $.post(Routing.generate('caspar_play_tweet_msi', {id: tweet, hashtag: hashtag}));
            });

            $(".stop").click(function () {
                $.post(Routing.generate('caspar_stop_lol'));
            });
            
            $("#play_resumen").click(function () {
                var match_id = $("#match_id").val();
                var slo_id = $("#slo_matches").val();
                $.post(Routing.generate('caspar_play_lol_ticker', { superligaId: slo_id, matchId: match_id }));
            });
            
            $("#play_postmatch").click(function () {
                var match_id = $("#match_id").val();
                var slo_id = $("#slo_matches").val();
                $.post(Routing.generate('caspar_play_lol_postmatch', { superligaId: slo_id, matchId: match_id }));
            });

            $("#play_mvp").click(function () {
                var player_id = $("#player-selector-mvp").val();
                var slo_id = $("#slo_matches_mvp").val();
                $.post(Routing.generate('caspar_play_lol_mvp', { match: slo_id, player: player_id }));
            });

            $("#play_comparativa").click(function () {
                var local = $("#player-selector-c1").val();
                var visitor = $('#player-selector-c2').val();
                var slo_id = $("#slo_matches_comparativa").val();
                $.post(Routing.generate('caspar_play_lol_comparativa', { match: slo_id, local: local, visitor: visitor }));
            });
            
            var $modal = $('#ban-selector');

            $('#open-modal').on('click', function(){
                $modal.modal("show");
            });


            var $modal2 = $('#stats-selector');

            $('#open-stats').on('click', function(){
                $modal2.modal("show");
            });
        })
    </script>

{% endblock %}