{% extends 'AppBundle:Stream:layout.html.twig' %}

{% block styles %}
    <link href="{{ asset('bundles/app/css/lol/overlay_pantallas_gamergy.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="overlay">
        <div class="board">
            <div class="team blue-team">
            	{% for i in 1..5 %}
            		<div class="player 100_{{ i }}">
            			<div class="champion">
            				<img src="" />
            			</div>
            		</div>
            	{% endfor %}
				<div class="barras"></div>
            </div>
            <div class="team red-team">
            	{% for i in 1..5 %}
            		<div class="player 200_{{ i }}">
            			<div class="champion">
            				<img src="" />
            			</div>
            		</div>
            	{% endfor %}
				<div class="barras"></div>
            </div>
        </div>
    </div>
    
    <div class="commands">
    	<select id="team-selector-blue" size="9">
    		{% for key, value in teams %}
    			<option value="{{ key }}">{{ value }}</option>
    		{% endfor %}
    	</select>
    	
    	<select id="champion-selector" size="9">
    		{% for id, name in champions %}
    			<option value="{{ id }}">{{ name }}</option>
    		{% endfor %}
    	</select>
    	
    	<select id="team-selector-red" size="9">
    		{% for key, value in teams %}
    			<option value="{{ key }}">{{ value }}</option>
    		{% endfor %}
    	</select>

    	<br><br>

		<button class="button" data-player="100_1">Top</button>
		<button class="button" data-player="100_2" >Jungler</button>
		<button class="button" data-player="100_3" >Mid</button>
		<button class="button" data-player="100_4" >ADC</button>
		<button class="button" data-player="100_5" style="margin-right: 50px" >Support</button>
		
		<button id="clear" class="button btn btn-primary">CLEAR CHAMPIONS</button>
		
		<button class="button" data-player="200_1">Top</button>
		<button class="button" data-player="200_2" >Jungler</button>
		<button class="button" data-player="200_3" >Mid</button>
		<button class="button" data-player="200_4" >ADC</button>
		<button class="button" data-player="200_5" style="margin-right: 50px" >Support</button>

    </div>
    
    <script type="text/javascript">
		$(function(){
			$('.button').on('click', function(){
				var $this = $(this);
				var player = $this.attr('data-player');

				var champion = $('#champion-selector').val();
				
				$championImg = $('.' + player).find('.champion img');
				
				$championImg.attr('src', '');
				$championImg.attr('src', 'https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/League+of+Legends/gamergy/champions/' + champion + '.png');

				$championImg.parents('.champion').animate({
					'top' : 15
				}, 2000);
			});

			$('#team-selector-blue').on('change', function () {
				var selected = $(this).val();
				$('.blue-team').css('background', 'url("https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/League+of+Legends/bilbao/' + selected + '-100.png")');
			});

			$('#team-selector-red').on('change', function () {
				var selected = $(this).val();
				$('.red-team').css('background', 'url("https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/League+of+Legends/bilbao/' + selected + '-200.png")');
			});

			$('#clear').on('click', function () {
				$('.champion img').each(function () {
					$(this).attr('src', '');
					$('.champion').css('top', '520px');
				});
			});
		}); 
	</script>
{% endblock %}