{% extends 'AppBundle:Stream:layout.html.twig' %}

{% block styles %}
    <link href="{{ asset('bundles/app/css/lol/overlay_ticker.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}

    {% set local = stats['local'] %}
    {% set visitor = stats['visitor'] %}

    <div class="overlay">
        <div class="board">
            {#<div class="logo">
                <span class="jornada">3</span>
            </div>#}
            <div class="map">
                MAPA {{ map }}
            </div>
            {% for i in 0..4 %}

                <div class="stats role{{ i+1 }}" style="display: none" {% if i != 0 %}  {%endif%}>
                    <div class="gold blue">
                        {{ stats['blue'][i]['gold'] }}<img src="https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/League+of+Legends/rol/gold.png" />
                    </div>
                    <div class="creeps blue">
                        {{ stats['blue'][i]['creeps'] }}<img src="https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/League+of+Legends/rol/creeps.png" />
                    </div>

                    <div class="kda blue">
                        {{ stats['blue'][i]['kills'] }}/{{ stats['blue'][i]['deaths'] }}/{{ stats['blue'][i]['assists'] }}
                    </div>

                    <div class="name blue">
                        {{ stats['blue'][i]['player'] }}
                    </div>

                    <div class="champion">
                        <img src="http://ddragon.leagueoflegends.com/cdn/8.11.1/img/champion/{{ stats['blue'][i]['champion'] }}" />
                    </div>

                    <div class="score blue">
                        {% if local.id == stats['blue'][i]['team_id']%}
                            {{ local.score }}
                        {% else %}
                            {{ visitor.score }}
                        {% endif %}
                    </div>

                    <div class="team-logo blue">
                        {% if local.id == stats['blue'][i]['team_id']%}
                            <img src="{{ local.image }}" />
                        {% else %}
                            <img src="{{ visitor.image }}" />
                        {% endif %}
                    </div>

                    <div class="rol">
                        <img src="https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/League+of+Legends/rol/{{ i + 1 }}.png" />
                    </div>

                    <div class="team-logo red">
                        {% if local.id != stats['blue'][i]['team_id']%}
                            <img src="{{ local.image }}" />
                        {% else %}
                            <img src="{{ visitor.image }}" />
                        {% endif %}
                    </div>

                    <div class="score red">
                        {% if local.id != stats['blue'][i]['team_id']%}
                            {{ local.score }}
                        {% else %}
                            {{ visitor.score }}
                        {% endif %}
                    </div>

                    <div class="champion">
                        <img src="http://ddragon.leagueoflegends.com/cdn/8.11.1/img/champion/{{ stats['red'][i]['champion'] }}" />
                    </div>

                    <div class="name red">
                        {{ stats['red'][i]['player'] }}
                    </div>

                    <div class="kda red">
                        {{ stats['red'][i]['kills'] }}/{{ stats['red'][i]['deaths'] }}/{{ stats['red'][i]['assists'] }}
                    </div>

                    <div class="creeps red">
                        {{ stats['red'][i]['creeps'] }}<img src="https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/League+of+Legends/rol/creeps.png" />
                    </div>

                    <div class="gold red">
                        {{ stats['red'][i]['gold'] }}<img src="https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/League+of+Legends/rol/gold.png" />
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

    <script type="text/javascript">

        function sleep(miliseconds) {
            var currentTime = new Date().getTime();

            while (currentTime + miliseconds >= new Date().getTime()) {
            }
        }
        function hideAndShow(index)
        {
            sleep(600);
            $('.role' + index).fadeIn('slow');

            setTimeout(function () {

                $('.role' + index).fadeOut('slow');
                
                index++;

                if (index === 6) {
                    index = 1;
                }

                hideAndShow(index);
            }, 8000);

        }

        $(function () {
            hideAndShow(1);
        });

    </script>
{% endblock %}