{% extends 'AppBundle:Stream:layout.html.twig' %}

{% block styles %}
	<link href="{{ asset('bundles/app/css/lol/overlay_ingame_online.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="header">
        <div class="team_left">
            <div class="scoreTeam">
                {% if switch == 0 %}
                    {{ match.scoreOne }}
                {% else %}
                    {{ match.scoreTwo }}
                {% endif %}
            </div>
            <div class="nameTeam">
                {% if switch == 0 %}
                    {{ match.teamOne.Team.shortname }}
                {% else %}
                    {{ match.teamTwo.Team.shortname }}
                {% endif %}
            </div>
        </div>
        
        <div class="team_right">
           
            
            <div class="nameTeam">
                {% if switch == 0 %}
                    {{ match.teamTwo.Team.shortname }}
                {% else %}
                    {{ match.teamOne.Team.shortname }}
                {% endif %}
            </div>
            
             <div class="scoreTeam">
                {% if switch == 0 %}
                    {{ match.scoreTwo }}
                {% else %}
                    {{ match.scoreOne }}
                {% endif %}
            </div>
        </div>       
    </div>
    
    <div class="left">
        <div class="next_drake" style="background-image: url('{{ drake }}');">
			
        </div>

        <div class="masteries">

        </div>
         
        <div class="patros">
            <img id="patro_img" src="">
            <div id="patch">
                <span>PARCHE ACTUAL</span> <span class="orange">{{ patch.value }}</span>
            </div>
        </div>
            
            <div class="camera l" style="display:none">
                <div class="team_name">
                    {% if switch == 0 %}
                        {{ match.teamOne.Team.name }}
                    {% else %}
                        {{ match.teamTwo.Team.name }}
                    {% endif %}
                </div>
            </div>    
        
    </div>
        
    <div class="mid">
        <div class="info">
            <div class="info_text">
                #SUPERLIGAORANGELOL{{ match.jornada }}  - <span class="orange">SUPERLIGAORANGE</span>.ES
            </div>
        </div>
    </div>
        
    <div class="right">
        <div class="jornada">
            {{ match.jornada }}
        </div>
        
        <div class="masteries right">
            
        </div>
        
{#        <div class="logo_lvp">
            
        </div>#}
        
        <div class="camera2 r" style="display: none">
                <div class="team_name">
                    {% if switch == 0 %}
                        {{ match.teamTwo.Team.name }}
                    {% else %}
                        {{ match.teamOne.Team.name }}
                    {% endif %}
                </div>
            </div> 
    </div>
    
    <script type="text/javascript">
        var picPaths = ['https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/League+of+Legends/superliga.png','https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/League+of+Legends/orange.png','https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/League+of+Legends/takis.png'];
        var curPic = -1;
        //preload the images for smooth animation
        var imgO = new Array();
        for(i=0; i < picPaths.length; i++) {
            imgO[i] = new Image();
            imgO[i].src = picPaths[i];
        }

        function swapImage() {
            curPic = (++curPic > picPaths.length-1)? 0 : curPic;
            imgCont.src = imgO[curPic].src;
            setTimeout(swapImage,90000);
        }

        $(document).ready(function(){
            setTimeout(function(){
               $("#patch").hide();
                imgCont = document.getElementById('patro_img');
                swapImage(); 
            }, 60000); 
        });
        
    </script>
{% endblock %}
