{% extends 'AppBundle:Stream:layout.html.twig' %}

{% block styles %}
    <link href="{{ asset('bundles/app/css/lol/overlay_mvp.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
<div class="overlay">
    <div class="board">
    	<div class="player">
    		<img style="float:left" src="https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/League+of+Legends/players/mvp/{{ player }}.png" />
    		<img style="float:left" src="https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/League+of+Legends/players/mvp/barra.png" />
    	</div>
    	<div class="content">
    		<div class="header">JUGADOR DEL PARTIDO</div>
    		<div class="inside">
    		{% for match in matches %}
    			<div class="card">
    				<div class="card-header">PARTIDO {{ loop.index }}</div>
    				<div class="card-body">
    					<span class="orange">{{ match.kda }}</span> K.D.A
    				</div>
    				<div class="card-footer">{{ match.kills }}/{{ match.deaths }}/{{ match.assists }}</div>
    			</div>
    			<div class="card-ban">
    				<img src="https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/League+of+Legends/champions-big/{{ match.champion }}.png" />
    			</div>
    			{% endfor %}
    		</div>
    	</div>
    </div>
</div>
<script type="text/javascript">
	$(function(){
		setTimeout(function(){
			$('.content').fadeIn('slow');

			setTimeout(function(){
				$('.card').each(function(){
					var $this = $(this);
					$this.fadeIn('slow');
					
					setTimeout(function(){
						$this.siblings('.card-ban').animate({'margin-left':'0'}, 1000);
						$this.siblings('.card-ban').show();
						$this.siblings('.card-ban').css('z-index', 1);
					}, 1000);
				});
			}, 1000);
		}, 2000);
	});
</script>
{% endblock %}