{% extends 'AppBundle:Stream:layout.html.twig' %}

{% block styles %}
    <link href="{{ asset('bundles/app/css/lol/overlay_postmatch.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}

    {% set local = stats['local'] %}
    {% set visitor = stats['visitor'] %}
    {% set top = 0 %}
    {% set max = 174 %}

    <div class="overlay">
        <div class="board">
            <div class="header"></div>

            <div class="stats">
                <div class="picks_bans">
                    {% if stats.blue[0].team_id == stats.local.id %}
                        <img src="{{ stats.local.image }}" />
                    {% else %}
                           <img src="{{ stats.visitor.image }}" />
                    {% endif %}
                    
                    <div class="blue">
                        {% if stats.base[stats.blue[0].team_id].winner == 1 %}
                            <span style="font-family: Geogtq-SemiBold; margin-right: -7px;">VICTORIA</span>
                        {% else %}
                            DERROTA
                        {% endif %}
                        <br>
                        <span class="little">Picks</span>
                    </div>
                    <div class="p_b">
                        <ul>
                           {% for player in stats.blue %}
                               {% if player.damage > top %}
                                   {% set top = player.damage %}
                               {% endif %}
                                <li class="champ_pick pull-right">
                                    <img src="http://ddragon.leagueoflegends.com/cdn/8.11.1/img/champion/{{ player.champion }}"/>
                                </li>
                            {% endfor %}
                        </ul>
                        <br>
                        <br>
                        <span class="little">bans</span>
                        <br>
                        <ul>
                            {% for champ in stats.bans %}
                                {% if champ.team == stats.blue[0].team_id %}
                                <li class="champ_ban pull-right">
                                    <img src="http://ddragon.leagueoflegends.com/cdn/8.11.1/img/champion/{{ champ.champion }}"/>
                                </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="scores">
                    <div class="team">
                        {{ stats.blue[0].team }}
                    </div>
                    <div class="data">{{ stats.base[stats.blue[0].team_id].kills }}/{{ stats.base[stats.blue[0].team_id].deaths }}/{{ stats.base[stats.blue[0].team_id].assists }}</div>
                    <div class="data">{{ stats.base[stats.blue[0].team_id].gold }}</div>
                    <div class="data">{{ stats.base[stats.blue[0].team_id].towers }}</div>
                    <div class="data">{{ stats.base[stats.blue[0].team_id].drakes }}</div>
                    <div class="data">{{ stats.base[stats.blue[0].team_id].inhibitors }}</div>
                    <div class="data">{{ stats.base[stats.blue[0].team_id].nashors }}</div>
                </div>

                <div class="time">
                    {{ stats.time }}
                </div>

                <!--  RED SIDE -->
                <div class="scores">
                    <div class="team">
                        {{ stats.red[0].team }}
                    </div>
                    <div class="data">{{ stats.base[stats.red[0].team_id].kills }}/{{ stats.base[stats.red[0].team_id].deaths }}/{{ stats.base[stats.red[0].team_id].assists }}</div>
                    <div class="data">{{ stats.base[stats.red[0].team_id].gold }}</div>
                    <div class="data">{{ stats.base[stats.red[0].team_id].towers }}</div>
                    <div class="data">{{ stats.base[stats.red[0].team_id].drakes }}</div>
                    <div class="data">{{ stats.base[stats.red[0].team_id].inhibitors }}</div>
                    <div class="data">{{ stats.base[stats.red[0].team_id].nashors }}</div>
                </div>
                <div class="picks_bans rr">
                    {% if stats.red[0].team_id == stats.visitor.id %}
                        <img src="{{ stats.visitor.image }}" />
                    {% else %}
                           <img src="{{ stats.local.image }}" />
                    {% endif %}
                    <div class="red">
                        {% if stats.base[stats.red[0].team_id].winner == 1 %}
                            <span style="font-family: Geogtq-SemiBold;">VICTORIA</span>
                        {% else %}
                            DERROTA
                        {% endif %}
                        <br>
                        <span class="little">Picks</span>
                    </div>
                    <div class="p_b_r">
                        <ul>
                            {% for player in stats.red %}
                                {% if player.damage > top %}
                                   {% set top = player.damage %}
                               {% endif %}
                                <li class="champ_pick">
                                    <img src="http://ddragon.leagueoflegends.com/cdn/8.11.1/img/champion/{{ player.champion }}"/>
                                </li>
                            {% endfor %}
                        </ul>
                        <br>
                        <br>
                        <span class="little">bans</span>
                        <br>
                        <ul>
                            {% for champ in stats.bans %}
                                {% if champ.team == stats.red[0].team_id %}
                                <li class="champ_ban">
                                    <img src="http://ddragon.leagueoflegends.com/cdn/8.11.1/img/champion/{{ champ.champion }}"/>
                                </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="lower">
                <div class="match_info">
                    <ul>
                        <li class="destacado" style="margin-left: 64px;">
                            <img src="http://ddragon.leagueoflegends.com/cdn/8.11.1/img/champion/{{ stats.firstBlood.champion }}" style="border: 3px solid {% if stats.firstBlood.team == stats.blue[0].team_id %} rgb(0,74,126) {% else %} rgb(137,11,11) {% endif %}" />
                            {% if stats.blue[0].team_id == stats.firstTower.team %}
                                <p class="air">{{ stats.blue[0].team }}</p>
                            {% else %}
                                <p class="air">{{ stats.red[0].team }}</p>
                            {% endif %}
                        </li>
                        
                        <li class="destacado">
                            <img src="http://ddragon.leagueoflegends.com/cdn/8.11.1/img/champion/{{ stats.firstTower.champion }}" style="border: 3px solid {% if stats.firstBlood.team == stats.blue[0].team_id %} rgb(0,74,126) {% else %} rgb(137,11,11) {% endif %}" />
                            {% if stats.blue[0].team_id == stats.firstTower.team %}
                               <p class="air">{{ stats.blue[0].team }}</p>
                            {% else %}
                                <p class="air">{{ stats.red[0].team }}</p>
                            {% endif %}
                        </li>
                        
                        <li class="destacado">
                            <img src="http://ddragon.leagueoflegends.com/cdn/8.11.1/img/champion/{{ stats.killingSpree.champion }}"style="border: 3px solid {% if stats.firstBlood.team == stats.blue[0].team_id %} rgb(0,74,126) {% else %} rgb(137,11,11) {% endif %}" />
                            <p class="air">{{ stats.killingSpree.spree }}</p>
                        </li>
                    </ul>
                </div>
                
                <div class="teams">
                    <div class="team_ind" style="padding-top: 105px;"> {{ stats.blue[0].team }}</div>
                    <div class="team_ind" style="padding-top: 85px;"> {{ stats.red[0].team }}</div>
                </div>
                <div class="bars">
                    <ul style="float:left">
                        {% for player in stats.blue %}
                        <li class="stat">
                            <img src="http://ddragon.leagueoflegends.com/cdn/8.11.1/img/champion/{{ player.champion }}"/>
                            <span class="little">{{ (player.damage/1000)|round(1, 'floor') }}k</span>
                            <div class="bar_blue" style="width: {{ player.damage / top * max }}px"> </div>
                        </li>
                        {% endfor %}
                    </ul>
                    
                    <ul style="float:right">
                        {% for player in stats.red %}
                        <li class="stat rr">
                            <div class="bar_red" style="width:{{ player.damage / top * max }}px"> </div>
                            <span class="little">{{ (player.damage/1000)|round(1, 'floor') }}k</span>
                            <img src="http://ddragon.leagueoflegends.com/cdn/8.11.1/img/champion/{{ player.champion }}"/>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}