{% extends 'AppBundle:Stream:layout.html.twig' %}

{% block styles %}
    <link href="{{ asset('bundles/app/css/lol/overlay_pantallas.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="overlay">
        <div class="board">
            {% for i in 5..1 %}
            	<div class="card card_100_{{ i }}" data-side="100" style="background-image: url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/League+of+Legends/murcia/players/100_{{ i }}.png') ">
            		<div class="rol">
            			<img src="https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/League+of+Legends/murcia/roles/100_{{ i }}.png" />
            		</div>
            		<div class="champion">
            			<img src="" />
            		</div>
            	</div>
            {% endfor %}
            {% for i in 1..5 %}
            	<div class="card card_200_{{ i }}" data-side="200" style="background-image: url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/League+of+Legends/murcia/players/200_{{ i }}.png') ">
            		<div class="rol">
            			<img src="https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/League+of+Legends/murcia/roles/200_{{ i }}.png" />
            		</div>
            		<div class="champion">
            			<img src="" />
            		</div>
            	</div>
            {% endfor %}
        </div>
    </div>
    
    <div class="commands">
    	<select id="champion-selector" size="7">
    		{% for id, name in champions %}
    			<option value="{{ id }}">{{ name }}</option>
    		{% endfor %}
    	</select>
    	
    	<select id="player-selector" size="7">
    		{% for key, value in players %}
    			<option value="{{ key }}">{{ value }}</option>
    		{% endfor %}
    	</select>
    	
    	<input type="checkbox" id="player" />Player
    	<input type="checkbox" id="champion" checked/>Champion
    	
    	
    	<br><br>

		<button class="button" data-card="100_5">Support</button>
		<button class="button" data-card="100_4" >ADC</button>
		<button class="button" data-card="100_3" >Mid</button>
		<button class="button" data-card="100_2" >Jungler</button>
		<button class="button" data-card="100_1" style="margin-right: 50px" >Top</button>
		
		<button class="button" data-card="200_1">Top</button>
		<button class="button" data-card="200_2" >Jungler</button>
		<button class="button" data-card="200_3" >Mid</button>
		<button class="button" data-card="200_4" >ADC</button>
		<button class="button" data-card="200_5" style="margin-right: 50px" >Support</button>

    </div>
    
    <script type="text/javascript">
		$(function(){
			$('.button').on('click', function(){
				var $this = $(this);
				var card = $this.attr('data-card');

				var champion = $('#champion-selector').val();
				var player = $('#player-selector').val();
				
				if($('#champion').is(':checked')) {
					$championImg = $('.card_' + card).find('.champion img');
					
					$championImg.parents('.champion').css('top', 0);
					$championImg.attr('src', '');
					$championImg.attr('src', 'https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/League+of+Legends/murcia/champions/' + champion + '.jpg');

					$championImg.parents('.champion').animate({
						'top' : "+=209"
					}, 'slow');
				}

				if($('#player').is(':checked')) {
					$('.card_' + card).css('background-image', 'url("https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/League+of+Legends/murcia/players/' + player + '.png")');
				}
				
			});
		});
	</script>
{% endblock %}