{% extends 'AppBundle:Stream:layout.html.twig' %}

{% block styles %}
	<link href="{{ asset('bundles/app/css/lol/overlay_picks.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="overlay">
        <div class="board">
            <div class="pastilla">
                <div class="pastilla_left">
                    <div class="team">
                        <img src="https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/League+of+Legends/teams/{{ blue }}.png" />
                    </div>
                    
                    <div class="bans">
                        <div class="bans_top">
                            <ul>
                                {% for ban in data.100.bans|slice(0, 3) %}
                                <li class="ban"> 
                                    <img src="http://ddragon.leagueoflegends.com/cdn/8.11.1/img/champion/{{ data.images[ban['championId']] }}" />
                                </li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="bans_bot">
                            <ul>
                                <li class="ban_title">BANS</li>
                                {% for ban in data.100.bans|slice(3, data.100.bans|length)  %}
                                <li class="ban"> 
                                     <img src="http://ddragon.leagueoflegends.com/cdn/8.11.1/img/champion/{{ data.images[ban['championId']] }}" />
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                            
                    <div class="picks">
                        <img src="https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/League+of+Legends/roles-blue-full.png" />
                        <ul>
                        {% for pick in data.100.picks %}
                            <li class="champion">
                                <img src="https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/League+of+Legends/champions/{{ pick }}.png" />
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
                
                <div class="pastilla_right">
                    <div class="picks">
                        <img src="https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/League+of+Legends/roles-purple-full.png" />
                        <ul>
                        {% for pick in data.200.picks %}
                            <li class="champion">
                                <img src="https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/League+of+Legends/champions/{{ pick }}.png" />
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                    
                    <div class="bans">
                        <div class="bans_top">
                            <ul>
                                {% for ban in data.200.bans|slice(0, 3) %}
                                <li class="ban"> 
                                    <img src="http://ddragon.leagueoflegends.com/cdn/8.11.1/img/champion/{{ data.images[ban['championId']] }}" />
                                </li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="bans_bot">
                            <ul>
                                {% for ban in data.200.bans|slice(3, data.200.bans|length) %}
                                <li class="ban"> 
                                     <img src="http://ddragon.leagueoflegends.com/cdn/8.11.1/img/champion/{{ data.images[ban['championId']] }}" />
                                </li>
                                {% endfor %}
                                <li class="ban_title right">BANS</li>
                            </ul>
                        </div>
                    </div>
                              
                    <div class="team">
                        <img src="https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/League+of+Legends/teams/{{ purple }}.png" />
                    </div>
                </div>
                        
            </div>
        </div>
    </div>
{% endblock %}