{% extends 'AppBundle:Stream:layout.html.twig' %}

{% block styles %}
    <style>
        @font-face {
            font-family: Geogtq-Regular;
            src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/Geogtq-Rg.otf');
        }

        body{
             /*background-image: url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/League+of+Legends/Screen01.png');*/
            background-color: transparent;
            font-family: Geogtq-Regular;
            text-transform: uppercase;
        }

        .square {
            background-image: url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/League+of+Legends/stats_{{ side }}.png');
            width: 203px;
            height: 75px;
            font-size: 20px;
            color: #ace4d7;
            top: {{ top }}px;
            display: none; 
            font-weight: bold;
            text-align: center;
            position: absolute;
            
            {% if side == 200 %}
                right: 78px;
            {% else %}
                left: 76px;
            {% endif %}
        }
        
        .title {
            height: 23px;
            width: 100%;
            margin-top: 1px;
            line-height: 23px;
            font-size: 18px;
        }
        
        .kda {
            height: 50px;
            width: 100%;
            line-height: 50px;
            font-size: 47px;
            display: none;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="square">
        <div class="title">
        	{% if stat == 'kda' %} {{ stats[0]['key'] }} {% elseif stat == 'gpm' %}{{ stats[1]['key'] }}{% elseif stat == 'dmg' %} {{ stats[2]['key'] }} {% else %} DATO {% endif %}
        </div>
        <div class="kda">
            {% if stat == 'kda' %} {{ stats[0]['value'] | number_format(2) }} {% elseif stat == 'gpm' %} {{ stats[1]['value'] | number_format(2) }} {% elseif stat == 'dmg' %} {{ stats[2]['value'] | number_format(2) }} 
            
            {% else %} 
            
            <style>
            	.kda {
            		font-size: 13px;
            		line-height: inherit;
        		    padding: 7px;
        		    word-wrap:break-word;
            	}
            </style>
            
            {{ text }} 
            
            {% endif %}
        </div>
    </div>

    <script type="text/javascript">
        $(function () {
            $('.square').animate({'width': 'toggle'}, 'slow');
        	setTimeout(function(){
        		$('.kda').fadeIn("slow");
        	}, 1000);

            setTimeout(function () {
                $('.kda').fadeOut();
                $('.square').animate({'width': 'toggle'}, 'slow').delay(200);
            }, 9000);
        });
    </script>

{% endblock %}