{% extends 'AppBundle:Stream:layout.html.twig' %}

{% block styles %}
	<link href="{{ asset('bundles/app/css/lol/twitter.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
	<div class="all">
		<div class="board">
			<div class="header">
				<div class="user">
					{{ tweet.name }} @{{ tweet.user }}
				</div>
				
				<div class="hashtag">
					#{{ hashtag }}
				</div>
			</div>
			
			<div class="content">
				{{ tweet.text }}
			</div>
		</div>
	</div>	
{% endblock %}