@font-face {
    font-family: 'DIN';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/dinpro/DINPro-CondBold.otf');
}

@font-face {
    font-family: 'DIN-Light';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/dinpro/DINPro-CondLight.otf');
}

html, body {
    width: 1920px;
    height: 1080px;
    background-color: transparent;
    /*background-color: green;*/
    font-family: 'DIN';
    color: #FFFFFF;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.scheduled-matches {
    width: 1230px;
    height: 795px;
    position: absolute;
    top: 139px;
    left: 344px;
}

.header {
    width: 100%;
    height: 113px;
    line-height: 57px;
    font-size: 30px;
    margin-bottom: 13px;
}

.header-round {
    width: 100%;
    height: 57px;
    background: #e7492d;
    padding-left: 40px;
    position: relative;
}

.header-round img {
    position: absolute;
    right: 21px;
    top: 8px;
}

.header-day {
    width: 100%;
    height: 56px;
    background: #802818;
    padding-left: 46px;
    position: relative;
    padding-right: 21px;
    line-height: 57px;
    font-size: 30px;
}

.matches {
    width: 100%;
    height: 333px;
    background: #050505;
    margin-bottom: 13px;
}

.match {
    width: 100%;
    height: 109px;
    margin-bottom: 3px;
    text-align: center;
    line-height: 109px;
}

.match-hour {
    width: 211px;
    height: 100%;
    text-align: center;
    background: #1b1b1b;
    float: left;
    font-size: 32px;
}

.match-teams {
    width: 1019px;
    height: 100%;
    float: left;
    background: #101010;
}

.team {
    width: 435px;
    height: 100%;
    float: left;
}

.team-name {
    width: 335px;
    height: 100%;
    float: left;
    font-size: 32px;
    padding: 0 20px;
}

.team-logo {
    width: 100px;
    height: 100%;
    float: left;
    border-bottom: 5px solid transparent;
}

.team-logo > img {
    height: 80%;
}

.versus {
    width: 143px;
    height: 100%;
    float: left;
    font-size: 32px;
}