@font-face {
    font-family: 'DIN';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/dinpro/DINPro-CondBold.otf');
}

@font-face {
    font-family: 'DIN-Light';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/dinpro/DINPro-CondLight.otf');
}

html, body {
    width: 1920px;
    height: 1080px;
    background-color: transparent;
    /*background-color: green;*/
    font-family: 'DIN';
    color: #fff;
    margin: 0px;
    text-transform: uppercase;
}

.featured{
    padding-top: 133px;
    width: 1593px;
    height: 815px;
    margin: auto;
}

.header{
    width: 100%;
    height: 100px;
    font-size: 26px;
    line-height: 49px;
    letter-spacing: 2px;
    margin-bottom: 46px;
}

.header .up{
    width: 100%;
    height: 50px;
    padding-left: 21px;
    background-color: #e7492d;
    position: relative;
}

.header .up img {
    position: absolute;
    right: 21px;
    top: 8px;
}

.header .down{
    width: 100%;
    height: 50px;
    padding-left: 46px;
    background-color: #802818;
    font-family: 'DIN-Light';
    position: relative;
    padding-right: 21px;
}

.rating{
    width: 759px;
    height: 669px;
    float: left;
}

.rating.second{
    float: right;
}

.result{
    width: 200px;
    height: 50px;
    font-family: 'DIN-Light';
    float: right;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    letter-spacing: 1px;
}

.result .win{
    width: 100px;
    height: 100%;
    background-color: #e7492d;
    float: left;
}

.result .loss{
    width: 100px;
    height: 100%;
    background-color: #802818;
    float: right;
}

.teams{
    width: 100%;
    height: 615px;
    float: left;
    margin-top: 4px;
    background-color: #050505;
}

.team{
    width: 100%;
    height: 100px;
    float: left;
    background-color: #050505;
    text-align: center;
    font-size: 30px;
    line-height: 96px;
    margin-bottom: 3px;
}

.team .position{
    width: 100px;
    height: 100%;
    background-color: #1b1b1b;
    float: left;
    margin-right: 3px;
    letter-spacing: 4px;
}

.team .position.playoff{
    background-color: #e7492d;
}

.team .position.descenso{
    background-color: #802818;
}

.team .img{
    width: 100px;
    height: 100%;
    background-color: #101010;
    float: left;
    border-bottom: 5px solid #157373;
    overflow: hidden;
}

.team .img img{
    height: 75%;
    margin-top: 12px;
    vertical-align: baseline;
}

.team .name{
    width: 353px;
    height: 100%;
    background-color: #1b1b1b;
    float: left;
    margin-right: 3px;
    padding-left: 40px;
    text-align: left;
    letter-spacing: 2px;
}

.team .win{
    width: 100px;
    height: 100%;
    background-color: #101010;
    float: left;
    letter-spacing: 4px;
}

.team .loss{
    width: 100px;
    height: 100%;
    background-color: #1b1b1b;
    float: left;
    letter-spacing: 4px;
}
