{% extends 'GrafismBundle::layout.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('bundles/grafism/css/LaCopa/standing.css') }}" />
{% endblock styles %}

{% block body %}

    {% set teams = groups | first %}

    <div class="standings">
        <div class="header">
            GRUPO {{ teams[0].group }}
            <div class="header-scores">
                <div class="score">{% if 'cs' == context %}DR{% elseif 'cr' == context %}DS{% endif %}</div>
                <div class="score">V</div>
                <div class="score">D</div>
            </div>
        </div>
        {% for team in teams %}
            <div class="team">
                <div class="team-logo">
                    <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/la-copa/standings/teams/{{ team.shortname | lower }}.png" alt="" />
                </div>
                <div class="team-name">{{ team.name }}</div>
                <div class="team-scores">

                        <div class="score">
                            {% if 'cs' == context %}
                                {{ team.round_diff }}
                            {% elseif 'cr' == context %}
                                {{ team.set_diff }}
                            {% endif %}
                        </div>
                    <div class="score">{{ team.victories }}</div>
                    <div class="score">{{ team.defeats }}</div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}