{% extends 'GrafismBundle::layout.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('bundles/grafism/css/LaCopa/standings.css') }}" />
{% endblock styles %}

{% block body %}

    <div class="standings">
        <div class="standing">
            {% for team in groups.A %}
                <div class="team">
                    <div class="logo">
                        <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/la-copa/standings/teams/{{ team.shortname | lower }}.png" alt="" />
                    </div>
                    <div class="name">{{ team.name }}</div>
                    <div class="scores">{{ team.victories }} - {{ team.defeats }}</div>
                </div>
            {% endfor %}
        </div>

        <div class="standing pull-right">
            {% for team in groups.B %}
                <div class="team">
                    <div class="logo">
                        <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/la-copa/standings/teams/{{ team.shortname | lower }}.png" alt="" />
                    </div>
                    <div class="name">{{ team.name }}</div>
                    <div class="scores">{{ team.victories }} - {{ team.defeats }}</div>
                </div>
            {% endfor %}
        </div>

        <div class="standing">
            {% for team in groups.C %}
                <div class="team">
                    <div class="logo">
                        <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/la-copa/standings/teams/{{ team.shortname | lower }}.png" alt="" />
                    </div>
                    <div class="name">{{ team.name }}</div>
                    <div class="scores">{{ team.victories }} - {{ team.defeats }}</div>
                </div>
            {% endfor %}
        </div>

        <div class="standing pull-right">
            {% for team in groups.D %}
                <div class="team">
                    <div class="logo">
                        <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/la-copa/standings/teams/{{ team.shortname | lower }}.png" alt="" />
                    </div>
                    <div class="name">{{ team.name }}</div>
                    <div class="scores">{{ team.victories }} - {{ team.defeats }}</div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}