{% extends 'GrafismBundle::layout.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('bundles/grafism/css/LaCopa/twitter.css') }}" />
{% endblock styles %}

{% block body %}

    <div class="twitter">
        <div class="logo">
            <img src="{{ logo }}" alt="" />
        </div>
        <div class="tweet-info">
            <div class="header">
                <div class="logo-twitter">
                    <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/la-copa/logos/twitter.png" alt="" />
                </div>
                <div class="header-content">
                    @{{ user }} <span class="hashtag">#{{ hashtag }}</span>
                </div>
            </div>
            <div class="tweet">
                <span class="text">{{ tweet }}</span>
            </div>
        </div>

        <div class="border">
            <div class="color"></div>
        </div>
    </div>

    <script type="text/javascript">
        $(function () {
            setTimeout(function () {
                $('.logo').fadeIn("slow").promise().done(function () {
                    $('.border').fadeIn("slow").promise().done(function () {
                        $('.tweet-info').animate({
                            width: 684
                        }).promise().done(function () {
                            $('.header, .tweet').fadeIn("fast");

                            setTimeout(function () {
                                var text = $('.text').html();

                                var length = 12;

                                if(text.length > 185) {
                                    length = -28;
                                }

                                if(text.length <= 230 ) {
                                    length = -65;
                                }

                                if(text.length > 230) {
                                    length = -100
                                }

                                if(text.length > 128) {
                                    $('.text').animate({
                                        top: length
                                    }, 4000);
                                }
                            }, 5000);

                        });
                    });
                });
            }, 2000);
        });
    </script>

{% endblock %}