<div class="row control-commands" style="margin-top:20px;">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-2 col-md-1">
                {{ form_widget(form.play, { attr: { 'data-action' : 'PLAY' } }) }}
            </div>
            <div class="col-xs-2 col-md-1">
                {{ form_widget(form.stop, { attr: { 'data-action' : 'STOP' } }) }}
            </div>
            <div class="col-xs-3 col-md-1">
                {{ form_widget(form.preview, { attr: { 'data-action' : 'PREVIEW' } }) }}
            </div>
            <div class="col-xs-3 col-md-1">
                {{ form_widget(form.layer) }}
            </div>
            <div class="col-xs-2 col-md-2">
                {{ form_widget(form.locale, { attr: { 'class' : 'form-control' } }) }}
            </div>
        </div>
    </div>
</div>

