  {% for tweet in tweets %}
	<div class="tweet" data-value="{{ tweet.text }}" user-value="{{ tweet.user }}">
		<div class="tweet_header">{{ tweet.user }}</div>
		{{ tweet.text }}
	</div>
{% endfor %}

{% block javascripts %}
		
{% endblock %}
