{% extends 'AppBundle:Stream:layout.html.twig' %}

{% block styles %}
    <link href="{{ asset('bundles/app/css/crl/overlay_clasificacion.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %} 
    <div class="overlay">
        <div class="board">
        	<div class="ranking">
        		{% for team in data.data %}
        			<div class="team">
        				<div class="logo">
        					<img src="{{ team.attributes.logo.original }}" />
        				</div>
        				<div class="name"><p>{{ team.attributes.name }}</p></div>
        				<div class="scores">{{ team.attributes.victories }} - {{ team.attributes.defeats }}</div>
        			</div>
        		{% endfor %}
        	</div>
        </div>
    </div>
{% endblock %}