<div class="caspar-command">

    <div class="panel panel-default">
        <div class="panel-heading">
            <span data-toggle="collapse" data-target="#{{ formName }}"><strong>{{ name | default('Name') }}</strong></span>
            <span class="pull-right remove-command"><i style="color:red;" class="fas fa-times"></i></span>
        </div>
        <div class="panel-body collapse in " aria-expanded="true" id="{{ formName }}">
            <div class="input-commands">
            {% block body %}

            {% endblock body %}

                {{ form_widget(form.url) }}
                {{ form_widget(form.competitionId) }}
                {{ form_widget(form.context) }}
            </div>

            {% include 'GrafismBundle::caspar_actions.html.twig' %}
        </div>
    </div>
</div>