{% extends 'GrafismBundle::layout.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('bundles/grafism/css/LaCopa/clash/atril.css') }}" />
{% endblock styles %}

{% block body %}

    <div class="atriles">
        <div class="atril">
            <div class="player">{{ games[currentGame].local.player }}</div>
            <div class="games">
                {% for game in games %}
                    <div class="game" {% if loop.index == 2 %} style="width:62px;";{% endif %}>
                        {% if game.local.score == 'win' %}
                            <img style="width:30px;" src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/la-copa/clash-royale/corona.png" alt="" />
                        {% elseif game.local.score == 'loss' %}
                            <img src="https://s3-eu-west-1.amazonaws.com/lvp-api/clash-royale/ui/no-cancel.png" alt="" />
                        {% else %}
                            {{ game.local.score }}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <div class="logo">
                <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/la-copa/standings/teams/{{ games[currentGame].local.logo | lower }}.png" alt="" />
            </div>
        </div>
        <div class="atril">
            <div class="player">{{ games[currentGame].visitor.player }}</div>
            <div class="games">
                {% for game in games %}
                    <div class="game" {% if loop.index == 2 %} style="width:62px;";{% endif %}>
                        {% if game.visitor.score == 'win' %}
                            <img style="width:30px;" src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/la-copa/clash-royale/corona.png" alt="" />
                        {% elseif game.visitor.score == 'loss' %}
                            <img src="https://s3-eu-west-1.amazonaws.com/lvp-api/clash-royale/ui/no-cancel.png" alt="" />
                        {% else %}
                            {{ game.visitor.score }}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <div class="logo">
                <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/la-copa/standings/teams/{{ games[currentGame].visitor.logo | lower }}.png" alt="" />
            </div>
        </div>
    </div>

{% endblock %}