{% extends 'GrafismBundle::layout.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('bundles/grafism/css/LaCopa/clash/cards.css') }}" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />
{% endblock styles %}

{% block body %}
    <div class="local">
        <div class="cards">
            {% for i in 0..7 %}
                <div class="card local-{{ i+1 }} no-image"></div>
            {% endfor %}
        </div>
        <div class="content">
            <div class="logo">
                <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/la-copa/standings/teams/{{ games[currentGame].local.logo | lower }}.png" alt="" />
            </div>
            <div class="team">
                <div class="team-name">{{ games[currentGame].local.name | upper }}</div>
                <div class="player-name">{{ games[currentGame].local.player }}</div>
            </div>
        </div>
    </div>

    <div class="search">
        <div class="row">
            <div class="col-md-12">
                <select id="card" class="selectpicker" data-show-subtext="true" data-live-search="true">
                    {% for card in cards %}
                        <option value="{{ card.attributes.card_key }}">{{ card.attributes.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-12">
                <input type="radio" name="team" value="local" checked>{{ games[currentGame].local.name }}<br>
                <input type="radio" name="team" value="visitor">{{ games[currentGame].visitor.name }}<br>
            </div>
            <div class="col-md-12">
                <button id="play" class="btn btn-sm btn-primary">Play</button>
                <button id="undo" class="btn btn-sm btn-warning">Undo</button>
            </div>
        </div>
    </div>

    <div class="visitor">
        <div class="cards">
            {% for i in 0..7 %}
                <div class="card visitor-{{ i+1 }} no-image" {% if loop.last %} style="margin-right:0;" {% endif %}></div>
            {% endfor %}
        </div>
        <div class="content">
            <div class="team">
                <div class="team-name">{{ games[currentGame].visitor.name | upper }}</div>
                <div class="player-name">{{ games[currentGame].visitor.player }}</div>
            </div>
            <div class="logo">
                <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/la-copa/standings/teams/{{ games[currentGame].visitor.logo | lower }}.png" alt="" />
            </div>
        </div>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var steps = [];

            $('#play').on('click', function () {
                let key = $('#card').val();

                let side = $('input[name="team"]:checked').val();
                if(typeof side === 'undefined') {
                    side = 'local';
                }

                let card = $('.' + side).find('.card.no-image').get(0);
                $(card).html('<img style="display:none;" src="https://s3-eu-west-1.amazonaws.com/lvp-api/clash-royale/cards/thumbnail/' + key + '.jpg" />');
                $(card).removeClass('no-image');
                $(card).find('img').fadeIn(1000);
                let classes = $(card).attr('class');

                steps.push(classes);
            });

            $('#undo').on('click', function () {
                if(steps.length === 0) {
                    return;
                }

                let item = steps.pop();
                item = item.replace('card ', '.');
                $(item).addClass('no-image');
                $(item).find('img').fadeOut(1000, 'swing', function () {
                    $(item).html('');
                });
            });
        });
    </script>
{% endblock %}