{% extends 'GrafismBundle::layout.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('bundles/grafism/css/LaCopa/clash/ingame.css') }}" />
{% endblock styles %}

{% block body %}

    <div class="local">
        <div class="header">
            <img id="patros" src="" alt="" />
        </div>
        <div class="content">
            <div class="team-score">{{ teams.local.score }}</div>
            <div class="team-name">{{ teams.local.name }}</div>
            <div class="team-logo">
                <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/la-copa/standings/teams/{{ teams.local.shortname | lower }}.png" alt="" />
            </div>
            <div class="games">
                {% for game in games %}
                    <div class="game">
                        <div class="player-name">{{ game.local.player }}</div>
                        <div class="player-score">
                            {% if game.local.score == 'win' %}
                                <img src="https://s3-eu-west-1.amazonaws.com/lvp-api/clash-royale/ui/blue-crown.png" alt="" />
                            {% elseif game.local.score == 'loss' %}
                                <img src="https://s3-eu-west-1.amazonaws.com/lvp-api/clash-royale/ui/no-cancel.png" alt="" />
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="middle">
        <div class="bans">
            <div class="bans-header">BANS</div>
            {% for i in 0..3 %}
                <div class="ban">
                    {% if bans[i] is defined %}
                        <img src="https://s3-eu-west-1.amazonaws.com/lvp-api/clash-royale/cards/thumbnail/{{ bans[i].card }}.jpg" />
                        <div class="team-label team-{{ bans[i].side }}"></div>
                    {% else %}
                        -
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="visitor">
        <div class="header">
            <p style="padding-top:60px;">{{ toLiteral(competition.type, competition.current_round, competition.max_rounds) }}{% if competition.type == 'LEAGUE' %} - GRUPO {{ competition.group | toLetter }}{% endif %}</p>
            <p style="line-height: 0;">SET {{ set }}</p>

        </div>
        <div class="content">
            <div class="team-score">{{ teams.visitor.score }}</div>
            <div class="team-name">{{ teams.visitor.name }}</div>
            <div class="team-logo">
                <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/la-copa/standings/teams/{{ teams.visitor.shortname | lower }}.png" alt="" />
            </div>
            <div class="games">
                {% for game in games %}
                    <div class="game">
                        <div class="player-name">{{ game.visitor.player }}</div>
                        <div class="player-score">
                            {% if game.visitor.score == 'win' %}
                                <img src="https://s3-eu-west-1.amazonaws.com/lvp-api/clash-royale/ui/blue-crown.png" alt="" />
                            {% elseif game.visitor.score == 'loss' %}
                                <img src="https://s3-eu-west-1.amazonaws.com/lvp-api/clash-royale/ui/no-cancel.png" alt="" />
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var picPaths = ['https://s3-eu-west-1.amazonaws.com/lvp-graphism/la-copa/clash-royale/01-banner-copa.png', 'https://s3-eu-west-1.amazonaws.com/lvp-graphism/la-copa/clash-royale/01-banner-orange.png'];
        var curPic = -1;
        //preload the images for smooth animation
        var imgO = new Array();
        for(i=0; i < picPaths.length; i++) {
            imgO[i] = new Image();
            imgO[i].src = picPaths[i];
        }

        function swapImage() {
            curPic = (++curPic > picPaths.length-1)? 0 : curPic;
            imgCont.src = imgO[curPic].src;
            setTimeout(swapImage,15000);
        }

        function showBans()
        {
            $('.bans').animate({
               left: 0
            }, 2000);
        }

        $(document).ready(function(){
            imgCont = document.getElementById('patros');
            swapImage();

            {% if set != 1 %}

            setTimeout(function () {
                showBans();
            }, 5000);

            {% endif %}
        });

    </script>

{% endblock %}