{% extends 'GrafismBundle::layout.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('bundles/grafism/css/LaCopa/clash/lineup.css') }}" />
{% endblock styles %}

{% block body %}

<div class="lineups">
    <div class="lineup local">
        <div class="lineup-header">{{ local.name }}</div>
        <div class="lineup-content">
            <div class="logo">
                <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/la-copa/standings/teams/{{ local.shortname |lower }}.png" alt="" />
            </div>
            <div class="players">
                {% for game in games %}
                    <div class="player">{{ game.local }}</div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="lineup visitor">
        <div class="lineup-header">{{ visitor.name }}</div>
        <div class="lineup-content">
            <div class="players visitor">
                {% for game in games %}
                    <div class="player">{{ game.visitor }}</div>
                {% endfor %}
            </div>
            <div class="logo">
                <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/la-copa/standings/teams/{{ visitor.shortname |lower }}.png" alt="" />
            </div>
        </div>
    </div>
</div>

{% endblock %}