{% extends 'GrafismBundle::layout.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('bundles/grafism/css/LaCopa/clash/match-results.css') }}" />
{% endblock styles %}

{% block body %}

   <div class="header">
       <div class="header-team">
           <div class="header-team-name">{{ local.name | upper }}</div>
           <div class="header-team-logo">
               <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/la-copa/clash-royale/match-results/logos/big/{{ local.shortname | lower }}.png" alt=""/>
           </div>
       </div>
       <div class="header-scores">{{ local.score }} - {{ visitor.score }}</div>
       <div class="header-team">
           <div class="header-team-name">{{ visitor.name | upper }}</div>
           <div class="header-team-logo">
               <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/la-copa/clash-royale/match-results/logos/big/{{ visitor.shortname | lower }}.png" alt=""/>
           </div>
       </div>
   </div>

    <div class="first-sets">
        {% for i in 1..3 %}
            {% if i <= currentSet %}
                <div class="set" {% if loop.last %} style="margin-right:0;" {% endif %}>
                    <div class="set-header">
                        <div class="set-header-team {% if set_results[i] == 'local' %}victory{% endif %}">
                            <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/la-copa/clash-royale/match-results/logos/small/{{ local.shortname | lower }}.png" alt=""/>
                        </div>
                        <div class="set-header-set">SET {{ i }}</div>
                        <div class="set-header-team {% if set_results[i] == 'visitor' %}victory{% endif %}">
                            <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/la-copa/clash-royale/match-results/logos/small/{{ visitor.shortname | lower }}.png" alt=""/>
                        </div>
                    </div>

                    <div class="set-games">
                        {% for game in sets[i] %}
                            <div class="game {% if game.score == '-' %}not-played{% endif %}" >
                                <div class="player-left">
                                    <div class="player left {% if game.score == 'local' %}victory{% endif %}">{{ game.player_local }}</div>
                                    <div class="score">
                                        {% if game.score == 'local' %}
                                            <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/CRL/overlay/blue-crown.png" alt="" />
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="player-right">
                                    <div class="score">
                                        {% if game.score == 'visitor' %}
                                            <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/CRL/overlay/blue-crown.png" alt="" />
                                        {% endif %}
                                    </div>
                                    <div class="player right {% if game.score == 'visitor' %}victory{% endif %}">{{ game.player_visitor }}</div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="second-sets">
        {% for i in  4..5 %}
            {% if i <= currentSet %}
                <div class="set" {% if loop.last %} style="margin-right:0;" {% endif %}>
                    <div class="set-header">
                        <div class="set-header-team {% if set_results[i] == 'local' %}victory{% endif %}">
                            <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/la-copa/clash-royale/match-results/logos/small/{{ local.shortname | lower }}.png" alt=""/>
                        </div>
                        <div class="set-header-set">SET {{ i }}</div>
                        <div class="set-header-team {% if set_results[i] == 'visitor' %}victory{% endif %}">
                            <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/la-copa/clash-royale/match-results/logos/small/{{ visitor.shortname | lower }}.png" alt=""/>
                        </div>
                    </div>

                    <div class="set-games">
                        {% for game in sets[i] %}
                            <div class="game {% if game.score == '-' %}not-played{% endif %}" >
                                <div class="player-left">
                                    <div class="player left {% if game.score == 'local' %}victory{% endif %}">{{ game.player_local }}</div>
                                    <div class="score">
                                        {% if game.score == 'local' %}
                                            <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/CRL/overlay/blue-crown.png" alt="" />
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="player-right">
                                    <div class="score">
                                        {% if game.score == 'visitor' %}
                                            <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/CRL/overlay/blue-crown.png" alt="" />
                                        {% endif %}
                                    </div>
                                    <div class="player right {% if game.score == 'visitor' %}victory{% endif %}">{{ game.player_visitor }}</div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}