{% extends 'GrafismBundle::layout.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('bundles/grafism/css/LaCopa/clash/recap-set.css') }}" />
{% endblock styles %}

{% block body %}
    <div class="recap">
        <div class="games">
            {% for game in games %}
                <div class="game">
                    <div class="game-header">{{ game.local.player }}</div>
                    <div class="game-score">
                        {% if game.local.score == 'win' %}
                            <img style="height:120px;" src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/la-copa/clash-royale/corona.png" alt="" />
                        {% elseif game.local.score == 'loss' %}
                            <img src="https://s3-eu-west-1.amazonaws.com/lvp-api/clash-royale/ui/no-cancel.png" alt="" />
                        {% else %}
                            {{ game.local.score }}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="recap">
        <div class="games">
            {% for game in games %}
                <div class="game">
                    <div class="game-header">{{ game.visitor.player }}</div>
                    <div class="game-score">
                        {% if game.visitor.score == 'win' %}
                            <img style="height:120px;" src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/la-copa/clash-royale/corona.png" alt="" />
                        {% elseif game.visitor.score == 'loss' %}
                            <img src="https://s3-eu-west-1.amazonaws.com/lvp-api/clash-royale/ui/no-cancel.png" alt="" />
                        {% else %}
                            {{ game.visitor.score }}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}