{% extends 'GrafismBundle::layout.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('bundles/grafism/css/LaCopa/clash/replays.css') }}" />
{% endblock styles %}

{% block body %}

    <div class="replays">
        <div class="scores">
            <div class="score">{{ score_local }}</div>
            <div class="score pull-right">{{ score_visitor }}</div>
        </div>
        <div class="teams-name">
            <div class="team-name">{{ local.name }}</div>
            <div class="team-name pull-right">{{ visitor.name }}</div>
        </div>

        <div class="match-scoreboard">
            <div class="team-logo">
                <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/la-copa/standings/teams/{{ local.shortname | lower }}.png" alt="" />
            </div>
            <div class="set-scores">
                {% for set in sets %}
                    <div class="set-score">{{ set.score_local }} - {{ set.score_visitor }}</div>
                {% endfor %}
            </div>
            <div class="team-logo">
                <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/la-copa/standings/teams/{{ visitor.shortname | lower }}.png" alt="" />
            </div>
        </div>

        <div class="set">
            <div class="set-label">SET {{ set }}</div>
            {% for game in games %}
                <div class="game">
                    <div class="local-name">{{ game.player_local }}</div>
                    <div class="game-score">{{ game.score_local }} - {{ game.score_visitor }}</div>
                    <div class="visitor-name">{{ game.player_visitor }}</div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}