{% extends 'GrafismBundle::layout.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('bundles/grafism/css/LaCopa/clash/scoreboard.css') }}" />
{% endblock styles %}

{% block body %}

    <div class="scoreboard">
        <div class="team">
            <div class="team-logo">
                <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/la-copa/standings/teams/{{ local.shortname |lower }}.png" alt="" />
            </div>
            {% for game in games %}
                <div class="score">{{ game.score_local }}</div>
            {% endfor %}
            <div class="score final">{{ score_local }}</div>
        </div>
        <div class="team">
            <div class="team-logo">
                <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/la-copa/standings/teams/{{ visitor.shortname |lower }}.png" alt="" />
            </div>
            {% for game in games %}
                <div class="score">{{ game.score_visitor }}</div>
            {% endfor %}
            <div class="score final">{{ score_visitor }}</div>
        </div>
    </div>
    <div class="bans">
        {% for ban in 2..5 %}
            {% if games[ban].ban != '' %}
            <div class="ban">
                <img src="https://s3-eu-west-1.amazonaws.com/lvp-api/clash-royale/cards/thumbnail/{{ games[ban].ban }}.jpg" alt="" />
            </div>
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}