{% extends 'GrafismBundle::layout.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('bundles/grafism/css/LaCopa/clash/set-score.css') }}" />
{% endblock styles %}

{% block body %}

    <div class="scoreboard local">
        <div class="logo">
            <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/la-copa/standings/teams/{{ local.shortname | lower }}.png" alt="" />
        </div>
        <div class="scores">
            <div class="name" style="padding-left:3px;">{{ local.name | upper }}</div>
            <div class="score">{{ local.score }}</div>
        </div>
    </div>
    <div class="scoreboard visitor">
        <div class="scores">
            <div class="score">{{ visitor.score }}</div>
            <div class="name" style="padding-right:3px;">{{ visitor.name | upper }}</div>
        </div>
        <div class="logo">
            <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/la-copa/standings/teams/{{ visitor.shortname | lower }}.png" alt="" />
        </div>
    </div>

{% endblock %}