@font-face {
    font-family: 'Univers';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/UniversLTStd-BoldCn.otf');
}

html, body {
    width: 1920px;
    height: 1080px;
    background: url('https://s3-eu-west-1.amazonaws.com/lvp-graphism/la-copa/standings/FF_Grupos-Base.png');
    background-repeat: no-repeat;
    background-color: transparent;
    /*background-color: green;*/
    font-family: 'Univers';
    position: relative;
}

.standings {
    width: 1432px;
    height: 874px;
    position: absolute;
    top: 103px;
    left: 244px;
    color: #ffffff;
    text-transform: uppercase;
}

.standing {
    width: 687px;
    height: 415px;
    float: left;
    margin-bottom: 43px;
    padding-top: 68px;
}

.team {
    width: 100%;
    height: 87px;
    padding-top: 1px;
    line-height: 86px;
}

.team > .logo {
    width: 86px;
    height: 100%;
    float: left;
    text-align: center;
}

.team > .logo > img {
    height: 70px;
}

.team > .name {
    width: 467px;
    height: 100%;
    float: left;
    padding-left: 40px;
    font-size: 40px;
}

.team > .scores {
    width: 134px;
    height: 100%;
    float: left;
    text-align: center;
    font-size: 42px;
}