@font-face {
    font-family: 'Univers';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/UniversLTStd-BoldCn.otf');
}

html, body {
    width: 1920px;
    height: 1080px;
    background: url('https://s3-eu-west-1.amazonaws.com/lvp-graphism/la-copa/standings/FF_Grupo.png');
    background-repeat: no-repeat;
    background-color: transparent;
    /*background-color: green;*/
    font-family: 'Univers';
    position: relative;
}

.standings {
    width: 1276px;
    height: 630px;
    position: absolute;
    top: 225px;
    left: 322px;
    color: #ffffff;
    text-transform: uppercase;
}

.header {
    width: 100%;
    height: 126px;
    line-height: 133px;
    padding-left: 50px;
    font-size: 50px;
    padding-top: 1px;
}

.header-scores {
    width: 307px;
    height: 100%;
    float: right;
    text-align: center;
}

.team {
    width: 100%;
    height: 126px;
    line-height: 133px;
}

.team-logo {
    width: 156px;
    height: 100%;
    float: left;
    text-align: center;
    overflow: hidden;
    padding-top: 15px;
}

.team-logo img {
    height: 85%;
    vertical-align: inherit;
}

.team-name {
    width: 813px;
    height: 100%;
    float: left;
    padding-left: 50px;
    font-size: 40px;
}

.team-scores {
    width: 307px;
    height: 100%;
    float: left;
    text-align: center;
}

.score {
    width: 33.3%;
    height: 100%;
    float: left;
    text-align: center;
    font-size: 50px;
}