@font-face {
    font-family: 'Univers';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/UniversLTStd-BoldCn.otf');
}

@font-face {
    font-family: 'Univers-Rg';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/Univers/UniversLTStd-Cn.otf');
}

html, body {
    width: 1920px;
    height: 1080px;
    /*background: url('https://s3-eu-west-1.amazonaws.com/lvp-graphism/la-copa/standings/FF_Grupo-csgo.png');*/
    background-repeat: no-repeat;
    background-color: transparent;
    /*background-color: green;*/
    font-family: 'Univers-Rg';
    position: relative;
}

.twitter {
    width: 864px;
    height: 136px;
    position: absolute;
    bottom: 55px;
    left: 96px;
    color: #ffffff;
}

.logo {
    background: url('https://s3-eu-west-1.amazonaws.com/lvp-graphism/la-copa/logos/Chyron_Twitter.png');
    width: 150px;
    height: 100%;
    margin-right: 4px;
    text-align: center;
    float: left;
    display: none;
}

.logo > img {
    height: 100%;
}

.tweet-info {
    width: 0;
    height: 100%;
    float: left;
}

.header {
    width: 100%;
    height: 47px;
    border-bottom: 1px solid #3d4453;
    display: none;
}

.logo-twitter {
    width: 53px;
    height: 100%;
    float: left;
    text-align: center;
    background: linear-gradient(to bottom, #00aef0, #026892);
}

.logo-twitter > img {
    margin-top: 7px;
    height: 70%;
}

.header-content {
    width: 631px;
    height: 100%;
    background: linear-gradient(to bottom, #162237, #091220);
    border-top: 1px solid #3d4453;
    border-bottom: 1px solid #02060c;
    float: left;
    line-height: 47px;
    padding: 0 20px;
    text-transform: uppercase;
    font-size: 23px;
}

.hashtag {
    float: right;
    color: #c5b787;
}

.tweet {
    width: 100%;
    height: 89px;
    padding: 11px;
    background: linear-gradient(to bottom, #162237, #091220);
    font-size: 23px;
    display: none;
    overflow: hidden;
    position: relative;
}

.text {
    position: absolute;
    top: 12px;
    left: 20px;
    line-height: 36px;
    width: 95%;
}

.border {
    width: 26px;
    height: 100%;
    background: linear-gradient(to bottom, #162237, #091220);
    border-top: 1px solid #3d4453;
    border-bottom: 1px solid #02060c;
    float: left;
    position: relative;
    display: none;
}

.color {
    width:  5px;
    height: 93px;
    position: absolute;
    top: 21px;
    right: 0;
    background: linear-gradient(to bottom, #d6cbab, #ad9756);
}