@font-face {
    font-family: DIN;
    src: url('../../fonts/DIN/DINPro-CondMedium.otf');
}

body, html
{
	width: 1920px;
	height: 1080px;
	background-color: #6EF618;
	background-image: url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Fifa/alineacion-allianz.png');
/*  	background-image:url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Fifa/Alineaci%C3%B3n-Allianz-preview.jpg'); */
 	background-repeat: no-repeat;
 	background-size: 100%;
 	background-color: transparent; 
	font-family: Geogtq-SemiBold;
	color: white;
	font-size: 40px;
}

.overlay
{
	position: relative;
	height: 100%;
/* 	text-shadow: 1px 1px #000000; */
	text-transform: uppercase;
}

.board
{
    width: 1205px;
    height: 862px;
    position: absolute;
    margin-left: 108px;
    margin-top: 108px;
}

.card {
	background: url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Fifa/Carta-base.png');
	background-size: 128px 194px;
	background-repeat: no-repeat;
    border: none;
    position: absolute;
    width: 128px;
    height: 194px;
    cursor: pointer;
}

.left {
	height: 100%;
	width: 26px;
	float: left;
	margin-left: 5px;
	text-align: center;
}

.right {
	height: 100%;
	width: 91px;
	float: left;
	text-align: center;
}

.name {
	position: relative;
	font-family: DIN;
	font-size: 12px;
	text-transform: uppercase;
}

.rating, .position {
	margin-top: 23px;
	font-family: DIN;
	font-size: 18px;
	font-weight: bold;
}

.position {
	margin-top: -15px;
	font-size: 12px;
}

.team-logo {
	height: 18px;
    margin-top: -70px;
}

.flag {
	margin-top: -151px;
	width: 22px;
}

.photo {
	width: 78px;
	margin-top: 15px;
}

.stats {
	font-size: 12px;
    font-family: DIN;
    text-align: left;
    padding-left: 13px;
    padding-top: 3px;
}

.card:nth-child(1) {
    margin-left: 174px;
}

.card:nth-child(1), .card:nth-child(3) {
	margin-top: 28px;
}

.card:nth-child(2) {
	margin-left: 539px;
	margin-top: 13px;
}
.card:nth-child(3) {
	margin-left: 908px;	
}

.card:nth-child(4), .card:nth-child(6) {
    margin-top: 265px;
}

.card:nth-child(4) {
	margin-left: 248px;
}

.card:nth-child(5) {
	margin-left: 539px;
	margin-top: 294px;
}

.card:nth-child(6) {
	margin-left: 834px;
}

.card:nth-child(7), .card:nth-child(8), .card:nth-child(9), .card:nth-child(10) {
	margin-top: 490px;
}

.card:nth-child(7) {
	margin-left: 113px;
}

.card:nth-child(8) {
	margin-left: 367px;
}

.card:nth-child(9) {
	margin-left: 715px;
}

.card:nth-child(10) {
	margin-left: 968px;
}

.card:nth-child(11){
	margin-top: 652px;
	margin-left: 539px;
}