@font-face {
    font-family: DIN;
    src: url('../../fonts/DIN/DINPro-CondMedium.otf');
}

body {
	background-image: url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Fifa/fondo-fifa.jpg');
	background-size: cover;
	background-repeat: no-repeat;	
}

.draft {
   	background: transparent url('https://cdn.futbin.com/design/img/builder_imgs/18/grass.png?v=4') no-repeat scroll center top;
    background-size: 100% 100%;
    border-radius: 3px;
    margin: 5px;
    background-position: top;
    z-index: 1;
    position: relative;
    height: 725px;
    border: 0px;
    background-size: 100% 100%;
}

.row {
	height: 150px;
	padding-top: 70px;
}

.team-header {
	text-align: center;
	color: white;
	padding: 10px;
	text-transform: uppercase;
}

.card {
	background: url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Fifa/Carta-base.png');
	background-size: 99px 150px;
	background-repeat: no-repeat;
    border: none;
    position: absolute;
    width: 99px;
    height: 150px;
    cursor: pointer;
    margin-left: 80px;
}

#filtered-card-list .card {
	display: inline-block;
	position: relative;
	margin-left: 0;
}

.js-card-choice {
	height: 150px;
	width: 99px;
}

.card-choice {
	cursor: pointer;
	height: 150px;
	width: 99px;
	display: inline-block;
	background-size: 99px 150px;
	margin-bottom: 15px;
}

.modal-body ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.left {
	height: 100%;
	width: 20px;
	float: left;
	margin-left: 4px;
	text-align: center;
}

.right {
	height: 100%;
	width: 71px;
	float: left;
	text-align: center;
}

.name {
	position: relative;
	font-family: DIN;
	font-size: 10px;
	text-transform: uppercase;
}

.rating, .position {
	margin-top: 20px;
	font-family: DIN;
}

.position {
	margin-top: -15px;
	font-size: 9px;
}

.team-logo {
	height: 15px;
    margin-top: -30px;
}

.flag {
	margin-top: -45px;
	width: 13px;
}

.photo {
	width: 60px;
	margin-top:12px;
}

.stats {
	font-size: 11px;
	font-family: DIN;
	text-align: left;
	padding-left: 10px;
}