@font-face {
    font-family: DIN;
    src: url('../../fonts/DIN/DINPro-CondMedium.otf');
}

@font-face {
	font-family: CoreSans;
	src: url('../../fonts/CoreSans/S-Core - CoreSansC-65Bold.otf');
}

@font-face {
	font-family: CoreSans-Light;
	src: url('../../fonts/CoreSans/S-Core - CoreSansC-35Light.otf');
}

body, html
{
	width: 1920px;
	height: 1080px;
	background-color: #6EF618;
	background-image: url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Fifa/draft-full-frame.png');
/*  	background-image:url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Fifa/Alineaci%C3%B3n-Allianz-preview.jpg'); */
 	background-repeat: no-repeat;
 	background-size: 100%;
 	background-color: transparent; 
	font-family: Geogtq-SemiBold;
	color: white;
	font-size: 40px;
}

.overlay
{
	position: relative;
	height: 100%;
/* 	text-shadow: 1px 1px #000000; */
	text-transform: uppercase;
}

.board
{
    width: 1243px;
    height: 959px;
    position: absolute;
    margin-left: 338px;
    margin-top: 61px;
    padding: 19px;
}

.header {
	width: 1205px;
	height: 63px;
	line-height: 63px;
	text-align: center;
	letter-spacing: 5px;
}

.field-team {
	font-family: CoreSans-Light;
}

.field-name {
	font-family: CoreSans;
}

.field {
	width: 1205px;
	height: 100%;
	float: left;
}

.card {
	background: url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Fifa/Carta-base.png');
	background-size: 119px 180px;
	background-repeat: no-repeat;
    border: none;
    position: absolute;
    width: 119px;
    height: 180px;
    cursor: pointer;
}

.left {
	height: 100%;
	width: 23px;
	float: left;
	margin-left: 5px;
	text-align: center;
}

.right {
	height: 100%;
	width: 86px;
	float: left;
	text-align: center;
}

.name {
	position: relative;
	font-family: DIN;
	font-size: 12px;
	text-transform: uppercase;
}

.rating, .position {
	margin-top: 19px;
	font-family: DIN;
	font-size: 18px;
	font-weight: bold;
}

.position {
	margin-top: -15px;
	font-size: 12px;
}

.team-logo {
	height: 18px;
    margin-top: -70px;
}

.flag {
	margin-top: -151px;
	width: 22px;
}

.photo {
	width: 75px;
	margin-top: 11px;
}

.stats {
	font-size: 12px;
    font-family: DIN;
    text-align: left;
    padding-left: 13px;
    padding-top: 3px;
}

.pick-order {
	position: absolute;
	top: 0;
	right: 0;
	width: 31px;
  	height: 26px;
  	text-align: center;
  	font-size: 14px;
  	line-height: 26px;
    font-family: CoreSans;
    border-radius: 8px;
    background-image: -moz-linear-gradient( -90deg, rgb(77,31,153) 0%, rgb(35,0,91) 100%); 
    background-image: -webkit-linear-gradient( -90deg, rgb(77,31,153) 0%, rgb(35,0,91) 100%); 
    background-image: -ms-linear-gradient( -90deg, rgb(77,31,153) 0%, rgb(35,0,91) 100%);
}

.card[card-number="1"],.card[card-number="2"],.card[card-number="3"] {
	margin-top: 14px;
}

.card[card-number="1"] {
    margin-left: 216px;
}

.card[card-number="2"], .card[card-number="5"], .card[card-number="11"] {
	margin-left: 545px;
}

.card[card-number="3"] {
    margin-left: 885px;
}

.card[card-number="4"], .card[card-number="6"] {
	margin-top: 202px;
}

.card[card-number="4"] {
	margin-left: 273px;
}

.card[card-number="5"] {
    margin-top: 230px;
    margin-left: 543px;
}

.card[card-number="6"] {
	margin-left: 816px;
}

.card[card-number="7"], .card[card-number="8"], .card[card-number="9"], .card[card-number="10"] {
	margin-top: 383px;
}

.card[card-number="7"] {
	margin-left: 149px;
}

.card[card-number="8"] {
	margin-left: 384px;
}

.card[card-number="9"] {
	margin-left: 706px;
}

.card[card-number="10"] {
	margin-left: 941px;
}

.card[card-number="11"] {
	margin-top: 460px;
}

.card[card-number="12"], .card[card-number="13"], .card[card-number="14"], .card[card-number="15"] {
	margin-top: 670px;
}

.card[card-number="12"] {
	margin-left: 320px;
}

.card[card-number="13"] {
	margin-left: 455px;
}

.card[card-number="14"] {
	margin-left: 590px;
}

.card[card-number="15"] {
	margin-left: 725px;
}