@font-face {
    font-family: DIN;
    src: url('../../fonts/DIN/DINPro-CondMedium.otf');
}

@font-face {
	font-family: CoreSans;
	src: url('../../fonts/CoreSans/S-Core - CoreSansC-65Bold.otf');
}

@font-face {
	font-family: CoreSans-Rg;
	src: url('../../fonts/CoreSans/S-Core - CoreSansC-45Regular.otf');
}

@font-face {
	font-family: CoreSans-Light;
	src: url('../../fonts/CoreSans/S-Core - CoreSansC-35Light.otf');
}

@font-face {
	font-family: CoreSans-Md;
	src: url('../../fonts/CoreSans/S-Core - CoreSansC-55Medium.otf');
}

body, html
{
	width: 1920px;
	height: 1080px;
	background-image: url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Fifa/patros/Overlay-In-game.png');
 	background-repeat: no-repeat;
 	background-size: 100%;
 	background-color: transparent; 
	font-family: CoreSans;
	color: white;
	font-size: 15px;
}

.overlay
{
	position: relative;
	height: 100%;
/* 	text-shadow: 1px 1px #000000; */
	text-transform: uppercase;
}

.board
{
    width: 486px;
    height: 99px;
    position: absolute;
    margin-left: 192px;
    margin-top: 50px;
}

.main {
	width: 367px;
	height: 100%;
	border-radius: 8px;
	background: url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Fifa/Marcador-FIFA.png');
	padding: 3px;
	float: left;
	position: absolute;
}

.main-blue {
	border-radius: 8px;
	height: 100%;
	padding: 4px;
}

.header {
	height: 25px;
	width: 100%;
	text-align: center;
	color: #00ace4;
	border-radius: 8px;
	background-color: #0d041f;
	line-height: 27px;
	margin-bottom: 3px;
	letter-spacing: 3px;
}

.content {
	height: 59px;
	width: 100%;
}

.team-background {
	width: 112px;
	height: 100%;
	border-radius: 8px;
	background-color: #00ace4;
	padding: 1px;
	float: left;
}

.team {
	border-radius: 8px;
	background-color: #0d041f;
	width: 100%;
	height: 100%;
	color: #00ace4;
	font-family: CoreSans-Light;
	text-align: center;
	font-size: 35px;
	padding-top: 1px;
}

.team img {
    margin-top: -55px;
}

.score {
	width: 60px;
	height: 54px;
	float: left;
	background-color: #100031;
	border-radius: 8px;
	line-height: 63px;
	font-size: 40px;
	margin-left: 3px;
	text-align: center;
	font-family: CoreSans-Light;
}

.color {
	width: 100px;
	height: 5px;
	background-color: white;
	border-radius: 2px;
	margin-left: 5px;
	margin-top: -7px;
}

.global-scoreboard-background {
	width: 115px;
	height: 62px;
	border-radius: 8px;
	background: rgba(0,0,0,0.3);
	float: left;
	padding: 2px;
	margin-left: 3px;
	position: absolute;
	bottom: 0;
	right: 0;
}

.global-scoreboard {
	width: 100%;
	height: 100%;
	border-radius: 8px;
	background-color: rgba(0,172,228, 0.6);
	text-align: center;
	line-height: 67px;
	font-family: CoreSans-Light;
	font-size: 32px;
}

.patros {
	display: none;
	width: 459px;
	height: 90px;
	position: absolute;
    right: 87px;
    top: 50px;
    background: url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Fifa/patros/rotatorio.png');
	background-color: transparent;
}

.rotatorio {
	width: 105px;
	height: 77px;
	padding: 19px;
	float: right;
    margin-top: 6px;
    margin-right: 5px;
}

.camera {
	width: 272px;
	height: 32px;
	text-align: center;
	font-size: 20px;
	line-height: 34px;
	font-family: CoreSans-Md;
	position: absolute;
    bottom: 148px;
    color: #00ace4;    
}

.round {
	width: 265px;
	height: 42px;
	line-height: 45px;
	font-size: 20px;
	font-family: CoreSans-Md;
	position: absolute;
	bottom: 54px;
    left: 828px;
    text-align: center;
    color: #00ace4;
    letter-spacing: 1px;
}

.left-camera {
	left: 100px;
}

.right-camera {
	right: 100px;
}