@font-face {
	font-family: CoreSans;
	src: url('../../fonts/CoreSans/S-Core - CoreSansC-65Bold.otf');
}

@font-face {
	font-family: CoreSans-Rg;
	src: url('../../fonts/CoreSans/S-Core - CoreSansC-45Regular.otf');
}

body, html
{
	width: 1920px;
	height: 1080px;
 	background-repeat: no-repeat;
 	background-size: 100%;
 	background-color: transparent; 
	font-family: CoreSans;
	color: white;
	font-size: 15px;
}

.overlay
{
	position: relative;
	height: 100%;
/* 	text-shadow: 1px 1px #000000; */
	text-transform: uppercase;
}

.board
{
    width: 60px;
    height: 54px;
    position: absolute;
}

.score {
	width: 60px;
	height: 54px;
	background-color: #100031;
	border-radius: 8px;
	line-height: 63px;
	font-size: 40px;
	margin-left: 3px;
	text-align: center;
	font-family: CoreSans-Rg;
}