@font-face {
	font-family: CoreSans-Regular;
	src: url('../../fonts/CoreSans/S-Core - CoreSansC-45Regular.otf');
}

@font-face {
	font-family: CoreSans-Light;
	src: url('../../fonts/CoreSans/S-Core - CoreSansC-35Light.otf');
}

html, body
{
    width: 1920px;
    height: 1080px;
    background-color: transparent;
    font-family: CoreSans-Regular;
    color: white;
    font-size: 17px;
}

.all
{
	position: relative;
	height: 100%;
}

.image {
	width: 128px;
	height: 127px;
	float: left;
	margin-left: 9px;
    margin-top: 8px;
    padding: 3px;
}

.image img {
	height: 120px;
	border-radius: 50%;
}

.board
{
	width: 782px;
	height: 143px;
	position: absolute;
	bottom: 88px;
	left: 146px;
	background: url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Fifa/chyron-twitter.png');
	background-repeat: no-repeat;
}

.content {
	width: 637px;
	height: 127px;
    margin-top: 8px;
    margin-right: 8px;
    float: right;
}

.header {
	font-family: CoreSans-Light;
	width: 632px;
	height: 35px;
	line-height: 35px;
	color: #01abe6;
	margin-top: 5px;
	margin-bottom: 3px;
	letter-spacing: 1px;
}

.user {
	width: 67%;
	height: 100%;
	float: left;
	text-align: left;
	padding-left: 10px;
}

.hashtag {
	width: 33%;
	height: 100%;
	float: right;
	text-align: right;
	padding-right: 10px;
	font-style: italic;
}

.tweet {
	width: 632px;
	height: 80px;
	padding: 5px 10px;
	letter-spacing: 0.5px;
}