html, body
{
    width: 1920px;
    height: 1080px;
    background-color: transparent;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}

.drakes {
	width: 82px;
	height: 87px;
	position: absolute;
    left: 27px;
    top: 24px;
}

.drakes > img {
    display: none;
}