@font-face {
    font-family: 'Diogenes';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/DIOGENES.ttf');
}

@font-face {
    font-family: 'Din';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/dinpro/DINPro-Bold.otf');
}

html, body {
    width: 1920px;
    height: 1080px;
    background: url('https://s3-eu-west-1.amazonaws.com/lvp-graphism/iberian/ingame/BGW-PiP-Overlay-Ingame.png');
    background-repeat: no-repeat;
    background-color: transparent;
    /*background-color: green;*/
    font-family: 'Diogenes';
    color: #000000;
    position: relative;
    overflow: hidden;
}

.header {
    width: 100%;
    height: 74px;
}

.scoreboard {
    width: 1518px;
    height: 100%;
    padding-left: 413px;
    line-height: 50px;
}

.team {
    width: 115px;
    height: 100%;
    text-align: center;
    font-size: 27px;
    text-transform: uppercase;
    font-family: 'Din';
    line-height: 44px;
}

.score {
    width: 56px;
    height: 100%;
    margin-right: 2px;
    text-align: center;
    font-size: 27px;
    font-family: 'Din';
    line-height: 44px;
}

.team.local {
    float: left;
    color: #02cbf7;
    margin-right: 757px;
}

.team.visitor {
    float: left;
    color: #f10505;
    margin-right: 2px;
}

.score.local {
    float: left;
    color: #02cbf7;
}

.score.visitor {
    float: right;
    color: #f10505;
}

.footer {
    width: 100%;
    height: 273px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.sponsors-spot {
    width: 306px;
    height: 100%;
    font-family: 'Din';
    padding-top: 158px;
    padding-left: 3px;
    color: #FFFFFF;
    float: left;
    margin-right: 4px;
}

.sponsors {
    position: relative;
    text-align: center;
    line-height: 100px;
}

.patch {
    display: none;
    width: 100%;
    position: absolute;
    top: 27px;
    left: 0;
    line-height: 33px;
    font-size: 30px;
}

.info {
    width: 734px;
    height: 47px;
    float: left;
    text-transform: uppercase;
    color: #c1b07c;
    text-align: center;
    line-height: 59px;
    font-size: 23px;
    letter-spacing: 2px;
    margin-right: 12px;
}

.cam {
    width: 289px;
    height: 254px;
    float: left;
    margin-top: 19px;
    position: relative;
    margin-right: 1px;
}

.cam-label {
    width: 100%;
    height: 43px;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
    font-family: 'Diogenes';
    line-height: 50px;
    font-size: 23px;
    color: #c1b07c;
    text-transform: uppercase;
    letter-spacing: 3px;
}