@font-face {
    font-family: 'Diogenes';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/DIOGENES.ttf');
}

@font-face {
    font-family: 'Din';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/dinpro/DINPro-Bold.otf');
}

html, body {
    width: 1920px;
    height: 1080px;
    background-color: transparent;
    /*background-color: green;*/
    font-family: 'Din';
    color: #FFFFFF;
    position: relative;
    overflow: hidden;
}

.item {
    width: 206px;
    height: 118px;
    position: absolute;
    bottom: 293px;
    display: none;
}

.item.local {
    left: 0;
}

.item.visitor {
    right: 0;
}