@font-face {
    font-family: 'Diogenes';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/DIOGENES.ttf');
}

@font-face {
    font-family: 'Din';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/dinpro/DINPro-Bold.otf');
}

html, body {
    width: 1920px;
    height: 1080px;
    background-color: transparent;
    /*background-color: green;*/
    font-family: 'Din';
    color: #FFFFFF;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
}

.item-row {
    width: 206px;
    height: 18px;
    position: absolute;
}

.item-bar {
    width: 131px;
    height: 100%;
    position: relative;
    text-align: center;
    line-height: 15px;
}

.item-bar.local, .timer.local {
    float: left;
}

.item-bar.visitor, .timer.visitor {
    float: right;
}

.timer {
    width: 60px;
    height: 100%;
    text-align: center;
    font-size: 16px;
    line-height: 15px;
}

.item-row.top {
    bottom: 352px;
}

.item-row.mid {
    bottom: 329px;
}

.item-row.bot {
    bottom: 306px;
}

.item-row.visitor {
    right: 0;
}

.item-bar.local{
    float: left;
}

.item-bar .up, .item-bar .down {
    width: 0%;
    height: 50%;
    position: absolute;
}

.item-bar .up.local {
    top: 0;
    left: 0;
    background: #00a2dd;
}

.item-bar .down.local {
    bottom: 0;
    left: 0;
    background: #005d8b;
}

.item-bar .up.visitor {
    top: 0;
    right: 0;
    background: #e42d2d;
}

.item-bar .down.visitor {
    bottom: 0;
    right: 0;
    background: #a20404;
}

.timer-label {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 16px;
}