@font-face {
    font-family: 'Din';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/dinpro/DINPro-Bold.otf');
}

@font-face {
    font-family: 'Din-Regular';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/dinpro/DINPro.otf');
}

html, body {
    width: 1920px;
    height: 1080px;
    background: url('https://s3-eu-west-1.amazonaws.com/lvp-graphism/iberian/next-matches/Chyron-Proximo-Partido.png');
    background-repeat: no-repeat;
    background-color: transparent;
    /*background-color: green;*/
    font-family: 'Din';
    color: #000000;
    position: relative;
    overflow: hidden;
}

.match {
    width: 400px;
    height: 131px;
    position: absolute;
    bottom: 78px;
    left: 316px;
}

.logo {
    width: 165px;
    height: 100%;
    float: left;
    text-align: center;
}

.logo > img {
    height: 100%;
}

.hour {
    width: 70px;
    height: 100%;
    text-align: center;
    float: left;
    color: #FFFFFF;
    font-size: 20px;
}

.h {
    font-family: 'Din-Regular';
    margin-left: -4px;
    line-height: 9;
    text-shadow: 2px 2px #0a0a0c;
}