@font-face {
    font-family: 'Diogenes';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/DIOGENES.ttf');
}

@font-face {
    font-family: 'Din';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/dinpro/DINPro-Bold.otf');
}

html, body {
    width: 2700px;
    height: 1280px;
    background-color: transparent;
    /*background-color: green;*/
    color: #000000;
    position: relative;
    overflow: hidden;
}

.screen {
    width: 1920px;
    height: 640px;
    position: relative;
    float: left;
    background-repeat: no-repeat !important;
}

.player {
    width: 350px;
    height: 100%;
    margin-left: 42px;
    float: left;
    padding-top:74px;
}

.player:first-child {
    margin-left: 0px;
}

.bars {
    background: url('https://s3-eu-west-1.amazonaws.com/lvp-graphism/iberian/screens/Barras-2.png');
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.champion {
    height: 213px;
    position: absolute;
    top:15px;
    padding-top:74px;
    display: none;
}

.champion img {
    width: 353px;
}


.commands {
    margin-top: 50px;
    padding-left: 50px;
    float: left;
}