@font-face {
    font-family: 'Din';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/Din/DIN+Next+LT+Pro+Bold.otf');
}

@font-face {
    font-family: 'Diogenes';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/DIOGENES.ttf');
}

html, body {
    width: 1920px;
    height: 1080px;
    background: url('https://s3-eu-west-1.amazonaws.com/lvp-graphism/iberian/standings/FF-Grupo-individual.png');
    background-repeat: no-repeat;
    background-color: transparent;
    background-color: green;
    font-family: 'Din';
    position: relative;
    color: #FFFFFF;
}

.label {
    width: 941px;
    height: 70px;
    position: absolute;
    top: 279px;
    left: 500px;
    text-align: center;
}

.standing {
    width: 941px;
    height: 628px;
    position: absolute;
    top: 313px;
    left: 500px;
}

.team {
    width: 100%;
    height: 121px;
    margin-bottom: 49px;
    line-height: 130px;
}

.name {
    width: 546px;
    height: 100%;
    float: left;
    padding-left: 40px;
    text-transform: uppercase;
    font-size: 37px;
}

.logo {
    width: 104px;
    height: 100%;
    float: left;
    margin-right: 31px;
    position: relative;
}

.logo > img {
    height: 113%;
    position: absolute;
    left: -16px;
    top: -9px;
}

.score {
    width: 121px;
    height: 100%;
    float: left;
    text-align: center;
    font-size: 55px;
}

.score.victories {
    margin-right: 18px;
}