@font-face {
    font-family: 'Din';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/Din/DIN+Next+LT+Pro+Bold.otf');
}

html, body {
    width: 1920px;
    height: 1080px;
    font-family: 'Din';
    position: relative;
    background: url('https://s3-eu-west-1.amazonaws.com/lvp-graphism/iberian/standings/FF_Grupos-General.png');
    background-color: transparent;
    color: #FFFFFF;
}

.standings {
    width: 1248px;
    height: 857px;
    position: absolute;
    top: 108px;
    left: 329px;
}

.standing {
    width: 588px;
    height: 392px;
    float: left;
    margin-right: 72px;
    margin-bottom: 74px;
    float: left;
}

.standing:nth-child(even) {
    margin-right: 0;
}

.team {
    width: 100%;
    height: 76px;
    margin-bottom: 29px;
    line-height: 81px;
}

.name {
    width: 342px;
    height: 100%;
    float: left;
    padding-left: 30px;
    text-transform: uppercase;
    font-size: 23px;
}

.logo {
    width: 62px;
    height: 100%;
    float: left;
    margin-right: 21px;
    position: relative;
}

.logo > img {
    height: 113%;
    position: absolute;
    left: -13px;
    top: -3px;
}

.score {
    width: 75px;
    height: 100%;
    float: left;
    text-align: center;
    font-size: 35px;
}

.score.victories {
    margin-right: 13px;
}