@font-face {
    font-family: 'Diogenes';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/DIOGENES.ttf');
}

@font-face {
    font-family: 'Din';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/dinpro/DINPro-Bold.otf');
}

html, body {
    width: 1920px;
    height: 1080px;
    background-color: transparent;
    /*background-color: green;*/
    font-family: 'Din';
    color: #FFFFFF;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
}

.item {
    width: 278px;
    height: 76px;
    position: absolute;
    right: 0;
    top: 34px;
}

.item.elder {
    left: 0;
}

.blue {
    color: #009ae3;
}

.red {
    color: #f10606;
}

.item-label {
    width: 201PX;
    height: 42px;
    float: right;
    text-align: center;
    line-height: 47px;
    font-size: 20px;
}

.item-label.elder {
    float: left;
}

.timer {
    width: 178px;
    height: 18px;
    float: right;
    margin-right: 10px;
    text-align: center;
    line-height: 17px;
    position: relative;
}

.timer.elder {
    float: left;
    margin-right: 0px;
    margin-left: 7px;
    margin-top: 1px;
}

.timer-label {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 18px;
}

.up {
    width: 100%;
    height: 50%;
    position: absolute;
    top: 0;
    right: 0;
}

.down {
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.baron.up {
    background: #8f45e8;
}

.baron.down {
    background: #480a99;
}

.elder.up {
    left: 0;
    background: #00bca9;
}

.elder.down {
    left: 0;
    background: #005c4d;
}