@font-face {
    font-family: 'Diogenes';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/DIOGENES.ttf');
}

@font-face {
    font-family: 'Din';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/dinpro/DINPro-Bold.otf');
}

@font-face {
    font-family: 'Din-Light';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/dinpro/DINPro-Light.otf');
}

html, body {
    width: 1920px;
    height: 1080px;
    background: url('https://s3-eu-west-1.amazonaws.com/lvp-graphism/iberian/twitter/Chyron-Twitter-Base.png');
    background-repeat: no-repeat;
    background-color: transparent;
    /*background-color: green;*/
    font-family: 'Din';
    color: #FFFFFF;
    position: relative;
    overflow: hidden;
}

.twitter {
    width: 815px;
    height: 133px;
    position: absolute;
    bottom: 72px;
    left: 317px;
    padding-left: 24px;
}

.header {
    width: 100%;
    height: 33px;
    padding-top: 3px;
    color: #c1b07c;
    font-family: 'Din-Light';
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 22px;
    line-height: 33px;
}

.tweet {
    width: 100%;
    height: 100px;
    font-size: 20px;
    line-height: 1.2;
}