@font-face {
    font-family: 'Din';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/dinpro/DINPro-Bold.otf');
}

html, body {
    width: 1920px;
    height: 1080px;
    background: url('https://s3-eu-west-1.amazonaws.com/lvp-graphism/iberian/votaciones/Chyron-Votacion-Publico-y-Prediccion-Casters.png');
    background-repeat: no-repeat;
    background-color: transparent;
    /*background-color: green;*/
    font-family: 'Din';
    color: #000000;
    position: relative;
}

.votes {
    width: 659px;
    height: 161px;
    position: absolute;
    left: 631px;
    bottom: 77px;
}

.caster-votes {
    width: 100%;
    height: 9px;
    margin-bottom: 73px;
}

.caster-votes > .vote {
    width: 73px;
    height: 100%;
    float: left;
    margin-right: 44px;
}

.caster-votes > .vote.local {
    background: #0072c7;
}

.caster-votes > .vote.visitor {
    background: #ee4447;
}

.team-votes {
    width: 100%;
    height: 90px;
    padding-left: 180px;
    padding-right: 25px;
    position: relative;
}

.team {
    width: 90px;
    height: 100%;
    position: relative;
}

.team > img {
    width: 125%;
    position: absolute;
    top: -40px;
    z-index: 4;
}

.team.local {
    float: left;
}

.team.visitor {
    float: right;
}

.bars {
    width: 316px;
    height: 24px;
    position: absolute;
    z-index: 3;
    top: 3px;
    left: 264px;
}

.bar {
    height: 100%;
    float: left;
}

.bar.local {
    background: #0072c7;
}

.bar.visitor {
    background: #ee4447;
}

.percentages {
    color: #FFFFFF;
    text-shadow: 2px 2px #0a0a0c;
    font-size: 33px;
    text-align: center;
    line-height: 3;
}