body, html
{
    font-family: 'Signika', sans-serif;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-size: 14px;
    margin: 0;
    background-color: #1E88E5;
    height: 100%;
}

.all
{

}

.header
{
    height: 75px;
    top: 0;
    left: 0;
    right: 0;
    background: #040d17;
    position: fixed;
    z-index: 1030;
    -webkit-transition-property: background,height,top;
    transition-property: background,height,top;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-box-shadow: rgba(0,0,0,0.6) 0px 2px 2px;
    box-shadow: rgba(0,0,0,0.6) 0px 2px 2px;
}

.main
{
    margin-top: 75px;
}

.interface
{
    margin-top: 20px;
}

.gameSelector
{
    height: 65px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    padding: 10px;
}

.byd-selector, .tlb-selector {
	float: left;
	width: 50px;
	height: 50px;
	cursor: pointer;
	margin-left: 3px;
	border: 1px solid black;
	background-color: black;
}

.byd-selector img , .tlb-selector img {
	height: 100%;
}