@font-face {
    font-family: Geogtq-Bold;
    src: url('../fonts/Geogtq-Bd.otf');
}

@font-face {
    font-family: Geogtq-SemiBold;
    src: url('../fonts/Geogtq-Sb.otf');
}

body, html
{
	width: 1920px;
	height: 1080px;
	/*background-color: #6EF618;*/
 	background-color: transparent; 
	font-family: Geogtq-SemiBold;
	color: white;
	font-size: 40px;
}

.overlay
{
	position: relative;
	height: 100%;
	text-shadow: 1px 1px #000000;
	text-transform: uppercase;
}

.board
{
    width: 1133px;
    height: 752px;
    position: absolute;
    margin-left: 387px;
    margin-top: 120px;
}

.header
{
	width: 100%;
	height: 80px;
	margin-bottom: 4px;
	line-height: 80px;
	font-size: 30px;
	text-align: center;
	text-transform: uppercase;
	font-size: 45px;
}

.header_jornada
{
	width: 804px;
	text-align: left;
	height: 100%;
	padding-left: 9px;
	float: left;
}

.header_square
{
	width: 81px;
	height: 100%;
	margin-right: 1px;
	float: right;
}

.team
{
	width: 100%;
	height: 80px;
	margin-bottom: 4px;
	line-height: 80px;
	font-size: 30px;
	text-align: center;
}

.team_color
{
	width: 9px;
	height: 100%;
    border-radius: 5px 0 0 5px;
    float: left;
}

.team_position
{
	width: 81px;
	height: 100%;
	float: left;
    background: linear-gradient(to top, #0d0e11 50%, #2a2a2a 50%);
    font-size: 35px;
}

.team_logo
{
	float: left;
	width: 225px;
	height: 100%;
	background: linear-gradient(to bottom, rgba(0,0,0, 1), rgba(38, 56, 84,1) 70%);
}

.team_logo img
{
	vertical-align: baseline;
	height: 100%;
}

.team_name
{
	width: 489px;
	height: 100%;
	float: left;
    background: linear-gradient(to bottom, #0f0e13 50%, #040406 50%);
}

.team_win
{
	width: 81px;
	height: 100%;
	float: left;
    background: linear-gradient(to top, #0d0e11 50%, #2a2a2a 50%);
    margin-right: 1px;
    font-size: 37px;
}

.team_draw
{
	width: 81px;
	height: 100%;
	float: left;
    background: linear-gradient(to top, #0d0e11 50%, #2a2a2a 50%);
    margin-right: 1px;
    font-size: 37px;
}

.team_defeat
{
	width: 81px;
	height: 100%;
	float: left;
    background: linear-gradient(to top, #0d0e11 50%, #2a2a2a 50%);
    margin-right: 2px;
    font-size: 37px;
}

.team_score
{
    height: 100%;
    width: 81px;
    float: left;
    margin-left: 1px;
    background: linear-gradient(to bottom, #ff6100, #c04000);
    border-radius: 0 5px 5px 0;
    font-size: 40px;
}