@font-face {
    font-family: Geogtq-Bold;
    src: url('../fonts/Geogtq-Bd.otf');
}

@font-face {
    font-family: Geogtq-SemiBold;
    src: url('../fonts/Geogtq-Sb.otf');
}

@font-face {
    font-family: Geogtq-Regular;
    src: url('../fonts/Geogtq-Rg.otf');
}

html, body
{
    width: 1920px;
    height: 1080px;
    background-color: transparent;
    font-family: Geogtq-SemiBold;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.all
{
    position: relative;
    height: 100%;
}

.board
{
    width: 901px;
    height: 164px;
    position: absolute;
    bottom: 66px;
    left: 59px;
    /*background: linear-gradient(to top, #0d0e11,#2a2a2a);*/

}

.header
{
    width: 715px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    margin-left: 186px;
    background: linear-gradient(to top, #0d0e11, #2a2a2a);
    letter-spacing: 1px;
    font-weight: bold;
}

.orange
{
    color: #ff6600;
}

.content
{
    width: 100%;
    height: 120px;
}

.border
{
    float: left;
    height: 100%;
    width: 9px;
    background: linear-gradient(to bottom, #fd5c01,#8f2c02);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.slo
{
    float: left;
    height: 100%;
    width: 177px;
    background: linear-gradient(to bottom, #0f0e13 50%, #040406 50%);
}

.slo img
{
    width: 145px;
    display: block;
    margin: -13px auto;
}

.teams
{
    width: 715px;
    height: 100%;
    float: left;
    background: linear-gradient(to top, #0d0e11, #2a2a2a);
    line-height: 120px;
}

.team
{
    height: 100%;
    float: left;
    background-color: red;
    width: 81px;
    text-align: right;
    font-size: 35px;
    transition: 3s ease all;
    min-width: 81px !important;
    max-width: calc(100% - 307px) !important;
}

.team.right
{
    background-color: grey;
    float: right;
    max-width: 100%;
    text-align: left;
}

.logo
{
    width: 113px;
    background-color: blue;
    height: 100%;
    float: left;
}

.p 
{
    padding-right: 10px;
}

#teamOne .p 
{
    padding-left: 10px;
}


#teamTwo .p 
{
    padding-right: 0;
    padding-left: 10px;
}

.logo img
{
    width: 82%;
    margin: 12px auto;
    position: relative;
    display: block;
    z-index: 2;
}

.logo.right
{
    float: right;
}

.logo-container
{
    height: 100%;
    float: left;
}

.overlay
{
    height: 100%;
    opacity: 0.3;
    background-color: black;
    z-index: 4;
}
