@font-face {
    font-family: Geogtq-Bold;
    src: url('../fonts/Geogtq-Bd.otf');
}

@font-face {
    font-family: Geogtq-SemiBold;
    src: url('../fonts/Geogtq-Sb.otf');
}

html, body
{
    width: 1920px;
    height: 1080px;
    background-color: transparent;
    font-family: Geogtq-SemiBold;
    color: white;
    font-size: 22px;
}

.all
{
	position: relative;
	height: 100%;
}

.board
{
	width: 901px;
	height: 160px;
	position: absolute;
	bottom: 66px;
	left: 59px;
	background: url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/twitter.png');
}

.header
{
	height: 40px;
	width: 810px;
	float: right;
	line-height: 40px;
	font-family: Geogtq-Bold;
	text-transform: uppercase;
}

.user
{
	width: 50%;
	height: 100%;
	float: left;
	padding-left: 15px;
}

.hashtag
{
	width: 50%;
	height: 100%;
	float: right;
	text-align: right;
	padding-right: 15px;
}

.content
{
	height: 100%;
	width: 810px;
	float: right;
	padding: 10px;
}