@font-face {
    font-family: Avenir-ProDemi;
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/Avenir/AvenirNextLTPro-Demi.otf');
}

@font-face {
    font-family: Avenir-ProMediumCn;
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/Avenir/AvenirNextLTPro-MediumCn.otf');
}

html, body
{
    width: 1920px;
    height: 1080px;
    background-color: transparent;
    font-family: Avenir-ProMediumCn;
    color: white;
    font-size: 22px;
}

.all
{
	position: relative;
	height: 100%;
}

.board
{
	width: 887px;
	height: 171px;
	position: absolute;
	bottom: 54px;
	left: 96px;
	background: url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Chyron-Twitter.png');
}

.header
{
	height: 52px;
	width: 100%;
	line-height: 58px;
	font-family: Avenir-ProDemi;
	text-transform: uppercase;
	font-size: 25px;
}

.user {
	width: 622px;
	height: 100%;
	margin-left: 53px;
	float: left;
	padding-left: 20px;
}

.hashtag {
	width: 212px;
	height: 100%;
	float: left;
	text-align: center;
}

.content {
	width: 100%;
	height: 119px;
	color: black;
}

.avatar {
	width: 135px;
	height: 100%;
	float: left;
	overflow: hidden;
}

.avatar img {
	width: 119px;
}

.text {
	height: 100%;
    width: 752px;
    float: left;
    font-size: 24px;
    padding-top: 25px;
    text-transform: uppercase;
}