@font-face {
    font-family: Geogtq-Bold;
    src: url('../fonts/Geogtq-Bd.otf');
}

@font-face {
    font-family: Geogtq-SemiBold;
    src: url('../fonts/Geogtq-Sb.otf');
}

html, body
{
    width: 1920px;
    height: 1080px;
    background-color: transparent;
    font-family: Geogtq-SemiBold;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}

.all
{
	position: relative;
	height: 100%;
}

.board
{
	width: 1250px;
	height: 176px;
	position: absolute;
	bottom: 0;
	right: 0;
	background: linear-gradient(to top, #0d0e11,#2a2a2a);

}

.info{
	height: 88px;
	text-align: center;
	line-height: 88px;
	font-size: 43px;
}

.underline_orange
{
	border-bottom: 3px solid #f16509;
}

.votes
{
	height: 88px;
}

.team
{
	height: 100%;
	float: left;
	background-color: red;
	width: 81px;
	text-align: right;
	line-height: 88px;
	font-size: 47px;
	transition: 3s ease all;
	min-width: 81px !important;
	max-width: calc(100% - 243px) !important;  
	
}

.team.right
{
	background-color: grey;
	float: right;
	max-width: 100%;
	text-align: left;
	line-height: 88px;
}

.logo
{
	width: 81px;
	background-color: blue;
	height: 100%;
	float: left;
	display: flex;
    align-items: center;
}

.p 
{
	padding-right: 10px;
}

#teamOne .p 
{
	padding-left: 10px;
}


#teamTwo .p 
{
	padding-right: 0;
	padding-left: 10px;
}

.logo img
{
	width: 100%;
   	margin: 0 auto;
    position: relative;
    display: block;
    z-index: 2;
}

.logo.right
{
	float: right;
}

.logo-container
{
    height: 88px;
    float: left;
}


.logo-container .overlay
{
    height: 100%;
    opacity: 0.3;
    z-index: 4;
    background-color: black;
}

