{% extends 'GrafismBundle::form/base_form.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-3">
            {{ form_label(form.side_id) }}
            {{ form_widget(form.side_id, { 'attr': { 'class' : 'form-control ' } }) }}
        </div>
    </div>
{% endblock %}