@font-face {
    font-family: Geogtq-Bold;
    src: url('../../fonts/Geogtq-Bd.otf');
}

@font-face {
    font-family: Geogtq-SemiBold;
    src: url('../../fonts/Geogtq-Sb.otf');
}

html, body
{
    width: 1920px;
    height: 1080px;
    /* 	background-color: #6EF618; */
    background-color: transparent;
    font-family: Geogtq-SemiBold;
    color: white;
    font-size: 24px;
}

.overlay
{
    position: relative;
    height: 100%;
/*     text-shadow: 1px 1px #000000; */
}

.overlay ul
{
    padding: 0;
    margin: 0;
}

img
{
    vertical-align: inherit;
}

.ban
{
    width: 82px;
    height: 65px;
    margin-left: 3px;
    float: left;
    background: rgba(0,0,0,0.8);
    list-style: none;
/*     line-height: 65px; */
    overflow: hidden;
    text-align: center;
    margin-bottom: 3px;
    background: rgba(255,255,255,0.5);
}

.ban:first-child
{
    margin-left: 0;
}

.ban:last-child
{
    margin-bottom: 0;
}

.bans
{
    height: 65px;
    margin-left: 320px;
    width: 337px;
    position: absolute;
    bottom: 50px;
}

.ban-rate {
	width: 82px;
	height: 65px;
	background-color: rgba(0,0,0,0.7);
	z-index: 10;
	position: absolute;
	bottom: 0;
	font-size: 18px;
	padding-top: 10px;
	display: none;
}

.value {
	position: absolute;
	left: 17px;
    top: 30px;
}