@font-face {
    font-family: Geogtq-Bold;
    src: url('../../fonts/Geogtq-Bd.otf');
}

@font-face {
    font-family: Geogtq-SemiBold;
    src: url('../../fonts/Geogtq-Sb.otf');
}

@font-face {
    font-family: Geogtq-Regular;
    src: url('../../fonts/Geogtq-Rg.otf');
}

body, html
{
	width: 1920px;
	height: 1080px;
/* 	background-color: #6EF618; */
 	background-color: transparent; 
	font-family: Geogtq-SemiBold;
	color: white;
	font-size: 40px;
}

.overlay
{
	position: relative;
	height: 100%;
/* 	text-shadow: 1px 1px #000000; */
	text-transform: uppercase;
}

.board
{
    width: 1134px;
    height: 967px;
    position: absolute;
    margin-left: 393px;
    margin-top: 46px;
}

.header
{
	width: 100%;
	height: 73px;
	border-bottom: 1px solid #ff5a00;
	background: rgba(0,0,0,0.48);
	line-height: 73px;
	font-size: 40px;
	font-family: Geogtq-Regular;
	margin-bottom: 36px;
}

.header_title
{
	text-align: left;
	float: left;
	width: 50%;
	height: 100%;
	padding-left: 22px;
}

.header_subtitle
{
	text-align: right;
	float: right;
	width: 50%;
	height: 100%;
	color: #ff6100;
	padding-right: 22px;
}

.border
{
	width: 9px;
	height: 100%;
	background: linear-gradient(to bottom, #ff6100, #7e3200);
    border-radius: 5px 0 0 5px;
    float: left;
}

.team_big
{
	width: 100%;
	height: 170px;
	line-height: 170px;
	margin-bottom: 7px;
}

.team_medium
{
	margin-left: 93px;
	height: 92px;
	width: 1041px;
	line-height: 92px;
	margin-bottom: 7px;
}

.team_small
{
	width: 948px;
	height: 63px;
	line-height: 63px;
	margin-bottom: 7px;
	margin-left: 186px;
}

.team_rank
{
	width: 81px;
	height: 100%;
    background: linear-gradient(to bottom, #0f0e13 50%, #040406 50%);
	float: left;
	margin-right: 3px;
	text-align: center;
}

.overimg
{
    height: 100%;
    width: 100%;
    position: relative;
}

.team_big_photo
{
	width: 272px;
	height: 100%;
	float: left;
	background-color: cyan;
	overflow: hidden;
	position: relative;
}

.team_medium_photo
{
	width: 179px;
	height: 100%;
	background-color: cyan;
	float: left;
	overflow: hidden;
	position: relative;
}

.team_small_photo
{
	width: 89px;
	height: 100%;
	background-color: cyan;
	float: left;
	overflow: hidden;
}

.team_big_photo img
{
    width: 80%;
    float: right;
    margin-right: -45px;
    margin-top: -15px;
}

.overimg img
{
	margin-top: 0;
}

.team_medium_photo img
{
	width: 85%;
    float: right;
    margin-right: -25px;
    margin-top: -21px;
}

.team_small_photo img
{
    vertical-align: baseline;
    margin-left: -23px;
}

.team_info
{
	width: 769px;
	height: 100%;
	background: linear-gradient(to top, #0d0e11 50%, #2a2a2a 50%);
	float: left;
}

.team_info_name
{
	height: 100%;
	width: 523px;
	border-right: 3px solid #ff6100;
	float: left;
	padding-left: 35px;
}

.team_info_score
{
	height: 100%;
	width: 246px;
	float: left;
	text-align: center;
}