@font-face {
    font-family: Geogtq-Bold;
    src: url('../../fonts/Geogtq-Bd.otf');
}

@font-face {
    font-family: Geogtq-SemiBold;
    src: url('../../fonts/Geogtq-Sb.otf');
}

body, html
{
	width: 1920px;
	height: 1080px;
	/*background-color: #6EF618;*/
 	background-color: transparent; 
	font-family: Geogtq-SemiBold;
	color: white;
	font-size: 40px;
}

.overlay
{
	position: relative;
	height: 100%;
	text-shadow: 1px 1px #000000;
	text-transform: uppercase;
}

.board
{
    width: 1050px;
    height: 836px;
    position: absolute;
    margin-left: 412px;
    margin-top: 120px;
}

.team
{
    width: 100%;
    height: 80px;
    line-height: 80px;
    margin-bottom: 4px;
    text-align: center;
}

.team_color
{
    height: 100%;
    width: 9px;
    background: linear-gradient(to bottom, #00e75d, #006b27);
    border-radius: 5px 0 0 5px;
    float: left;
}

.team_no_color
{
    height: 100%;
    width: 9px;
    /*background: l4inear-gradient(to top, #0d0e11 50%, #2a2a2a 50%);*/
    border-radius: 5px 0 0 5px;
    float: left;
}

.team_position
{
    height: 100%;
    width: 81px;
    float: left;
    background: linear-gradient(to top, #0d0e11 50%, #2a2a2a 50%);
}

.round
{
    border-radius: 5px 0 0 5px;
}

.team_logo
{
    height: 100%;
    width: 225px;
    float: left;
    overflow: hidden;
    
}

.team_logo img
{
    height: 100%;
    margin-left: -30px;
    vertical-align: baseline;
}

.team_name
{
    height: 100%;
    width: 488px;
    float: left;
    background: linear-gradient(to bottom, #0f0e13 50%, #040406 50%);

}

.team_victory
{
    height: 100%;
    width: 81px;
    float: left;
    margin-left: 1px;
    background: linear-gradient(to top, #0d0e11 50%, #2a2a2a 50%);
}

.team_defeat
{
    height: 100%;
    width: 82px;
    float: left;
    margin-left: 1px;
    background: linear-gradient(to top, #0d0e11 50%, #2a2a2a 50%);
}

.team_points
{
    height: 100%;
    width: 81px;
    float: left;
    margin-left: 1px;
    background: linear-gradient(to bottom, #ff6100 50%, #c04000 50%);
    border-radius: 0 5px 5px 0;
}

.header
{
    height: 80px;
    width: 246px;
    float: right;
    margin-top: 39px;
    margin-right: 458px;
    text-align: center;
    line-height: 80px;
}

.header_victory
{
    height: 100%;
    width: 81px;
    float: left;
}

.header_defeat
{
    height: 100%;
    width: 82px;
    float: left;
    margin-left: 1px;
}

.header_points
{
    height: 100%;
    width: 81px;
    float: left;
    margin-left: 1px;
}

.jornada
{
    height: 84px;
    width: 332px;
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    position: absolute;
    top: 244px;
    left: 200px;
    text-align: right;
    line-height: 84px;
    font-size: 50px;
}