@font-face {
    font-family: Geogtq-Bold;
    src: url('../../fonts/Geogtq-Bd.otf');
}

@font-face {
    font-family: Geogtq-SemiBold;
    src: url('../../fonts/Geogtq-Sb.otf');
}

body, html
{
	width: 1920px;
	height: 1080px;
	/*background-color: #6EF618;*/
 	background-color: transparent; 
	font-family: Geogtq-SemiBold;
	color: white;
	font-size: 20px;
}

.overlay
{
	position: relative;
	height: 100%;
	text-shadow: 1px 1px #000000;
	text-transform: uppercase;
}

.board
{
	width: 1532px;
	height: 827px;
	position: absolute;
	margin-left: 193px;
	margin-top: 126px;
}

.header
{
	width: 100%;
	height: 85px;
	margin-bottom: 17px;
}

.header_team
{
	width: 277px;
	height: 100%;
	margin-left: 9px;
	float: left;	
	overflow: hidden;
    border-bottom: 2px solid #fd5c01;
}

.header_team img
{
	width: 100%;
}

.header_team.right
{
	float: right;
	margin-left: 0px;
	margin-right: 9px;
}

.header_set
{
    width: 255px;
    height: 74px;
    background: linear-gradient(to bottom, #1c1c24 50%, #040406 50%);
    margin-top: 10px;
    border-bottom: 6px solid #fd5c01;
    line-height: 68px;
    float: left;
    text-align: center;
    font-size: 35px;
    border-radius: 5px;
    margin-left: 354px;
}

.team
{
	width: 100%;
	height: 225px;
    background: linear-gradient(to top, #0d0e11 50%, #2a2a2a 50%);
	border-left: 9px solid #fd5c01;
	border-right: 10px solid #fd5c01;
	border-radius: 5px;
	line-height: 225px;
	text-transform: uppercase;
	margin-bottom: 25px;
	border-radius: 5px;
}

.team_player
{
	width: 277px;
	height: 100%;
	float: left;
	overflow: hidden;
}

.team_player_name
{
	width: 413px;
	height: 100%;
	background: linear-gradient(to bottom, #0f0e13 50%, #040406 50%);
	float: left;
	text-align: right;
	font-size: 45px;
	padding-right: 35px;
}

.team_versus
{
	width: 133px;
	height: 100%;
	float: left;
	text-align: center;
	font-size: 50px;
}

.team_player_name.right
{
	float: left;
	text-align: left;
	padding-right: 0;
	padding-left: 35px;	
}