@font-face {
    font-family: Geogtq-Bold;
    src: url('../../fonts/Geogtq-Bd.otf');
}

@font-face {
    font-family: Geogtq-SemiBold;
    src: url('../../fonts/Geogtq-Sb.otf');
}

@font-face {
    font-family: Geogtq-Regular;
    src: url('../../fonts/Geogtq-Rg.otf');
}

@font-face {
    font-family: Geogtq-Medium;
    src: url('../../fonts/Geogtq-Md.otf');
}

body, html
{
	width: 1920px;
	height: 1080px;
/* 	background-color: #6EF618; */
 	background-color: transparent; 
	font-family: Geogtq-SemiBold;
	color: white;
	font-size: 32px;
}

.overlay
{
	position: relative;
	height: 100%;
	text-transform: uppercase;
}

.left
{
	height: 100%;
	width: 960px;
	float: left;
	border-right: 6px solid #ff6600;
}

.right
{
	height: 100%;
	width: 960px;
	float: right;
	border-left: 6px solid #ff6600;
}

.lower
{
	height: 213px;
	background-color: #ff6600;
	width: 954px;
	bottom: 0;
	position: absolute;
}

.right > .lower
{
	float: right;
}

.lower_header
{
	width: 100%;
	height: 64px;
	line-height: 64px;
	text-align: center;
    font-size: 40px;
}

.lower_body
{
	width: 100%;
	height: 149px;
	text-align: center;
}

.card
{
	height: 100%;
	width: 232px;
	float: left;
}

.win_condition
{
	height: 100%;
	width: 186px;
	background-color: #38383a;
	float: left;
	margin-right: 1px;
}

.win_condition_top
{
	height: 50%;
	font-size: 29px;
    line-height: 24px;
    padding-top: 15px;
    font-family: Geogtq-Medium;
}

.win_condition_bot
{
	height: 50%;
}

.crown_avg
{
	height: 100%;
	width: 271px;
	float: left;
	background-color: #38383a;
	margin-right: 1px;
}

.crown_avg_top
{
	height: 50%;
	font-size: 27px;
    padding-top: 15px;
    line-height: 24px;
    font-family: Geogtq-Medium;
}

.crown_avg_bot
{
	height: 50%;
	background-color: #090a0e;
	line-height: 77px;
	color: #ff6600;
	font-size: 45px;
}

.victories
{
	height: 100%;
	width: 263px;
	float: left;
	background-color: #38383a;
}

.victories_top
{
	height: 50%;
	font-size: 27px;
	line-height: 77px;
	font-family: Geogtq-Medium;
}

.victories_bot
{
	background-color: #090a0e;
	line-height: 77px;
	color: #ff6600;
	font-size: 45px;
	height: 50%;
}

.right .victories
{
	margin-right: 1px;
}

.right .win_condition
{
	margin-right: -1px;
}

.name
{
	color: black;
	padding-right: 85px;
}

.team
{
	font-family: Geogtq-Regular;
}