@font-face {
    font-family: Geogtq-Bold;
    src: url('../../fonts/Geogtq-Bd.otf');
}

@font-face {
    font-family: Geogtq-SemiBold;
    src: url('../../fonts/Geogtq-Sb.otf');
}

body, html
{
	width: 1920px;
	height: 1080px;
	/*background-color: #6EF618;*/
 	background-color: transparent; 
	font-family: Geogtq-SemiBold;
	color: white;
	font-size: 20px;
}

.overlay
{
	position: relative;
	height: 100%;
/* 	text-shadow: 1px 1px #000000; */
	text-transform: uppercase;
}

.board
{
	width: 1781px;
	height: 972px;
	position: absolute;
	margin-top: 32px;
	margin-left: 84px;
}

.header {
	width: 1781px;
	height: 73px;
	border-bottom: 1px solid #ff6600;
	background-color: rgba(0,0,0, 0.48);
}

.header-brand {
	width: 330px;
	height: 100%;
	float: left;
}

.logo {
	height: 95px;
    position: absolute;
    top: -18px;
    left: -56px;
}

.brand {
	margin-left: 60px;
    margin-top: 5px;
}

.header-team {
	float: left;
	height: 100%;
	line-height: 73px;
	font-size: 40px;
	margin-left: 300px;
}

.team-name {
	float: left;
	margin-right: 5px;
}

.team-logo {
	width: 203px;
	height: 100%;
	overflow: hidden;
	float: left;
}

.header-jornada {
	float: right;
	height: 100%;
	line-height: 73px;
	font-size: 37px;
	text-align: right;
	padding-right: 30px;
}

.winrate {
	width: 389px;
	height: 234px;
	margin-left: 92px;
	bottom: 0;
	position: absolute;
	text-align: center;
	font-size: 25px;
}

.winrate-title {
	width: 100%;
	height: 52px;
	background-color: #ff6600;
	line-height: 52px;
	display: none;
}

.winrate-name {
	width: 100%;
	height: 79px;
	line-height: 79px;
	background-color: #1c1b20;
	border-bottom: 1px solid #ff6600;
	display: none;
}

.winrate-value {
	width: 100%;
	height: 103px;
	line-height: 103px;
	font-size: 40px;
	background-color: #07060b;
	color: #ff6600;
	display: none;
}

.stats {
	width: 1050px;
	height: 727px;
	position: absolute;
	right: 100px;
	top: 245px;
}

.stats-header {
	width: 100%;
	height: 52px;
	padding-left: 80px;
	margin-bottom: 16px;
	line-height: 52px;
	font-size: 30px;
	text-align: center;
	display: none;
}

.stats-header-card {
	width: 439px;
	height: 100%;
	float: left;
	margin-right: 3px;
	background-color: #ff6600;
}

.stats-header-use {
	width: 272px;
	height: 100%;
	float: left;
	background-color: #ff6600;
	margin-right: 3px;
}
.stats-header-winrate{
	width: 253px;
	float: left;
	height: 100%;
	background-color: #ff6600;
}

.stats-card {
	width: 100%;
	height: 127px;
	border: 1px solid #ff6600;
	background: linear-gradient(to top, #0d0e11, #2a2a2a);
	margin-bottom: 6px;
	line-height: 127px;
	display: none;
}

.rating {
	width: 80px;
	height: 100%;
	float: left;
	text-align: center;
	font-size: 50px;
	background-color: #ff6600;
	display: none;
}

.card-image {
	width: 195px;
	height: 100%;
	float: left;
	display: none;
}

.card-image img {
	height: 100%;
	vertical-align: baseline;
}

.card-name {
	width: 246px;
	height: 100%;
	float: left;
	border-right: 1px solid #ff6600;
	text-align: center;
}

.card-usage {
	width: 275px;
	height: 100%;
	float: left;
	border-right: 1px solid #ff6600;
	text-align: center;
	font-size: 40px;
}

.card-winrate {
	width: 252px;
	height: 100%;
	float: left;
	text-align: center;
	font-size: 40px;
}