@font-face {
    font-family: Geogtq-Bold;
    src: url('../../fonts/Geogtq-Bd.otf');
}

@font-face {
    font-family: Geogtq-SemiBold;
    src: url('../../fonts/Geogtq-Sb.otf');
}

html, body
{
    width: 1920px;
    height: 1080px;
    /* 	background-color: #6EF618; */
    background-color: transparent;
    /*background: url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Clash+Royale/overlay-CR-fondo-0.jpg');*/
    font-family: Geogtq-Bold;
    color: white;
    font-size: 20px;
}

.left
{
    width: 429px;
    float: left;
    height: 100%;
    border-right: 14px solid black;
}

.left-content
{
    padding: 30px 45px 16px 52px;
}

.game img
{
    vertical-align: inherit;
}

.left-header
{
    height: 104px;
    background: rgba(0,0,0,0.48);
    background-image: url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Clash+Royale/SLO-CR-chyron-text.png');
}

.team-scoreboard
{
    height: 48px;	
}

.team-scoreboard-name
{
    float:left;
    width: 240px;
    background: linear-gradient(to top, #0d0e11, #2a2a2a);
    text-align: center;
    line-height: 48px;
    font-size: 24px;
    text-transform: uppercase;
}

.team-scoreboard-score
{
    width: 78px;
    float:right;
    text-align: center;
    line-height: 48px;
    font-size: 27px;
    background: -webkit-linear-gradient(to top,#763100, #e65c02); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(to top,#763100, #e65c02); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(to top,#763100, #e65c02); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to top, #763100, #e65c02); /* Standard syntax (must be last) */
}

.team-big
{
    height: 320px;
    position: relative;
    /* 	background: linear-gradient(to bottom, rgba(0,0,0, 0.48), rgba(255,248,31,0.48)); */
}

.team-big.bottom
{
    /* 	background: linear-gradient(to top, rgba(0,0,0, 0.48), rgba(31,154,255,0.48)); */
}

.team-bans.bottom
{
    bottom: auto;
}

.team-big-body.bottom
{
    padding-top: 49px;
}

.team-big-body > img
{
    width: 100%;
    position: absolute;
}

.team-big-body
{
    height: 86%;
}

.team-big-body.bottom > img
{
    position: absolute;
    width: 100%;
}

.team-bans
{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.team-bans ul
{
    padding: 0;
    margin: 0;
}

.ban
{
    float:left;
    background: rgba(0,0,0,0.2);
    height:49px;
    width: 62px;
    margin-left: 2px;
    list-style: none;
    line-height: 49px;
    text-align: center;
    overflow: hidden;
}

.ban > img
{
    width: 100%;
    vertical-align: baseline;
}

.ban:first-child
{
    margin-left: 0;
}

.scoreboard
{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    height:49px;
}

.scoreboard ul
{
    padding: 0;
    margin: 0;
}

.scoreboard-single
{
    float:left;
    background: rgba(0,0,0,0.2);
    width: 62px;
    margin-left: 2px;
    list-style: none;
    line-height: 49px;
    text-align: center;
    text-shadow: 1px 1px #000000;
}

.scoreboard-single:first-child
{
    margin-left: 0;
}

.patro_orange
{
    width: 100%;
    height: 70px;
    background: linear-gradient(to top, #0d0e11, #2a2a2a);
    margin-top: 40px;
}

.patro_orange img
{
    width: 70%;
    display: block;
    margin: auto;
    padding: 13px 0;
}

.right
{
    width: 542px;
    float: right;
    border-left: 14px solid black;
    height: 100%;
}

.right-content
{
    padding: 32px 56px 24px 49px;
}

.right-header
{
    height: 73px;
    background: rgba(0,0,0,0.48);
    border-bottom: 1px solid #ff5a00;
    text-align: center;
    line-height: 73px;
    font-size: 25px;
    margin-bottom: 29px;
}

.set
{
    height: 198px;
    margin-bottom:36px;
}

.set-header
{
    width: 100%;
    height:49px;
}

.set-header ul
{
    padding: 0;
    margin: 0;
}

.set-left, .set-right
{
    float:left;
    background: rgba(255,255,255,0.2);
    width: 173px;
    list-style: none;
    line-height: 49px;
    text-align: center;
    overflow: hidden;
}

.set-left > img, .set-right > img
{
    width: 100%;
}

.set-center
{
    float:left;
    background: rgba(0,0,0,0.48);
    width: 77px;
    list-style: none;
    line-height: 48px;
    text-align: center;
    border-bottom: 1px solid #ff5a00;
}

.set-map .set-center
{
    border-bottom:none;
}

.set-map
{
    width: 100%;
    height:49px;
    margin-top: 2px;
}

.set ul
{
    padding: 0;
    margin: 0;
    list-style: none;
}

.set-map ul
{
    padding: 0;
    margin: 0;
}

.cards
{
    position: relative;
    margin-top: 29px;
    height: 372px;
    overflow:hidden;
}

.camera
{
    /*padding-top:48px;*/
    height: 88%;
}
.card
{
    /*width: 261px;*/
    width: 100%;
    /*background-color: #e6b500;*/
    position: absolute;
    height: 372px;
    z-index:2;
    overflow: hidden;
    transition: 1s ease all;
    margin-left: 0;
    opacity: 1;
    border: 10px solid black;
}

/* .card + .card */
/* { */
/* 	border-left: 2px solid black; */
/* 	border-right: 2px solid black; */
/* } */

.card-container
{
    position: relative;
    height: 100%;
}


.card-container .overlay
{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    z-index:1;
    transition: 1s ease all;
}

.cards > .card.disabled .overlay 
{
    opacity: 0.6;
}

.card img
{
    width: 100%;
    bottom: 0;
    position: absolute;

}

.card-header
{
    background: rgba(0,0,0,0.48);
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-size: 24px;
    position: relative;
    z-index: 2;
    text-transform: uppercase;
    text-shadow: 1px 1px #000000;
}

.disabled
{
    z-index: 1 !important;
    display: none;
}

.cards > .card.disabled .card-header
{
    display: none;
    width: 41px;
    height: 239px;
    writing-mode: tb;
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.card:nth-child(2)
{
    /*margin-left:82px;*/
}

.card:nth-child(3)
{
    /*margin-left:168px;*/
}

.card:nth-child(3).disabled
{
    /*margin-left: 341px;*/
}

.card:nth-child(1) + .card
{
    /*margin-left: 261px;*/
}

.card:nth-child(1).disabled + .card
{
    /*margin-left: 82px;*/
}

.gameboard
{
    height: 49px;
    margin-top:10px;

}

.gameboard ul
{
    padding: 0;
    margin: 0;
    list-style: none;
}

.game
{
    float: left;
    width: 78px;
    margin-left: 2px;
    background: rgba(0,0,0,0.2);
    height: 49px;
    text-align: center;
    line-height: 49px;
    font-size: 16px;
    text-transform: uppercase;
    text-shadow: 1px 1px #000000;
}

.game:first-child {
    margin-left:0;
}

.gameboard .game.active
{
    width: 263px;
}

.cards.bottom
{
    margin-top: 10px;
}

.cards.bottom .card
{
    /*background: rgba(31,154,255,1);*/
}


.patros_rotativos
{
    width: 100%;
    height: 78px;
    border-left: 3px solid #fd5c01;
    margin-top: 31px;
    display: none;
}

.patros_rotativos_logo
{
    width: 80px;
    height: 100%;
    float: left;
}

.patros_rotativos_text
{
    width: 340px;
    height: 100%;
    background: linear-gradient(to top, #0d0e11, #2a2a2a);
    float: left;
    padding: 11px 18px;
    font-size: 20px;
    font-family: Geogtq-SemiBold;
    letter-spacing: 1px;
}

.patros_rotativos_logo.twitter
{
    background: url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Clash+Royale/Twitter.jpg');
}

.patros_rotativos_logo.youtube
{
    background: url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Clash+Royale/Youtube.jpg');
}

.patros_rotativos_logo.shop
{
    background: url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Clash+Royale/shop.jpg');
}

.patros_rotativos_logo.crn
{
    background: url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Clash+Royale/crn.jpg');
}

.patros_rotativos_logo.gy
{
    background: url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Clash+Royale/gy.jpg');
}

.color
{
    color: #fd5c01;
}