@font-face {
    font-family: Geogtq-Bold;
    src: url('../../fonts/Geogtq-Bd.otf');
}

@font-face {
    font-family: Geogtq-SemiBold;
    src: url('../../fonts/Geogtq-Sb.otf');
}

@font-face {
    font-family: Geogtq-Regular;
    src: url('../../fonts/Geogtq-Rg.otf');
}

@font-face {
    font-family: Geogtq-Lg;
    src: url('../../fonts/Geogtq-Lg.otf');
}

body, html
{
	width: 1920px;
	height: 1080px;
/* 	background-color: #6EF618; */
 	background-color: transparent; 
	font-family: Geogtq-SemiBold;
	color: white;
	font-size: 32px;
}

.overlay
{
	position: relative;
	height: 100%;
	text-transform: uppercase;
}

.board
{
    width: 100%;
    height: 220px;
    position: absolute;
/*     background-color: pink; */
    bottom: 0;
}

.team
{
	width: 383px;
	height: 198px;
	float: left;
	margin-top: 22px;
	position: relative;
	overflow: hidden;
}

.team > img
{
	opacity: 0.5;
	height: 140%;
	float: left;
	margin-top: -20px;
}

.player
{
	width: 383px;
	height: 220px;
	position: absolute;
	bottom: 0;
/* 	overflow: hidden; */
}

.player > img
{
	height: 100%;
	float: right;
}


.stats
{
	height: 198px;
	margin-top: 22px;
	width: 1537px;
	float: left;
	background-color:#ff6600;
}

.stats_header
{
	width: 100%;
	height: 73px;
	line-height: 73px;
	font-size: 50px;
}

.black
{
	color: black;
	margin-left: 50px;
}

.nameTeam
{
	font-family:Geogtq-Lg;
	margin-left:35px;
}

.stats_victories
{
	width: 440px;
	height: 125px;
	margin-left: 1px;
	line-height: 125px;
	background: linear-gradient(to bottom, #252525, #06070b);
	float: left;
}

.title
{
	text-align: center;
	float: left;
	width: 60%;
}

.score
{
	color: #ff6600;
	font-size: 65px;
	text-align: center;
	width: 40%;
	float: right;
}

.stats_crownavg
{
	width: 605px;
	height: 125px;
	float: left;
	margin-left: 1px;
	line-height: 125px;
	background: linear-gradient(to bottom, #252525, #06070b);
}

.stats_winc
{
	width: 489px;
	height: 125px;
	float: left;
	margin-left: 1px;
	line-height: 125px;
	background: linear-gradient(to bottom, #252525, #06070b);
}

.stats_winc_title
{
	width: 60%;
	height: 100%;
	text-align: center;
	float: left;
}

.stats_winc_card
{
	width:40%;
	height: 100%;
	float: right;
	overflow: hidden;
}

.stats_winc_card img
{
	height: 100%;
	float: right;
}