@font-face {
    font-family: Geogtq-Bold;
    src: url('../../fonts/Geogtq-Bd.otf');
}

@font-face {
    font-family: Geogtq-SemiBold;
    src: url('../../fonts/Geogtq-Sb.otf');
}

html, body
{
    width: 1920px;
    height: 1080px;
    /*background-color: #6EF618;*/ 
    background-color: transparent;
    font-family: Geogtq-SemiBold;
    text-transform: uppercase;
    color: white;
    font-size: 24px;
    /*background: url(https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Clash+Royale/screencapture-127-0-0-1-8000-scoreboard-out-1-1518798158883.png);*/
}

.overlay
{
    position: relative;
    height: 100%;
    text-shadow: 1px 1px #000000;
}

.scoreboard
{
    width: 239px;
    height: 139px;
    position: absolute;
    bottom: 0;
    margin-bottom: 115px;
    margin-left: 742px;	
    background: rgba(255,255,255,0.2);
    border-right: 6px solid #fd5c01;
    border-radius: 3px;
    padding: 3px;
    padding-right: 0;
}

.content
{
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #0d0e11, #2a2a2a);
    text-align: center;
    padding-top: 15px;
}

.text
{
    font-size: 25px;
}

.time
{
    font-size: 50px;
}