@font-face {
    font-family: Geogtq-Bold;
    src: url('../../fonts/Geogtq-Bd.otf');
}

@font-face {
    font-family: Geogtq-SemiBold;
    src: url('../../fonts/Geogtq-Sb.otf');
}

body, html
{
	width: 1920px;
	height: 1080px;
/* 	background-color: #6EF618; */
	background-color: transparent;
	font-family: Geogtq-Bold;
	color: white;
	font-size: 20px;
}

.overlay
{
	position: relative;
	height: 100%;
	text-shadow: 1px 1px #000000;
	text-transform: uppercase;
}

.board
{
	position: absolute;
	bottom: 115px;
	left: 50px;
	width: 613px;
	height: 139px;
	border-left: 5px solid #fd5c01;
	border-radius: 3px;
}

.team
{
	width: 139px;
	height: 139px;
/* 	background-color: yellow; */
	float: left;
}

.team img
{
	width: 100%;
}

.in
{
	width: 469px;
	height: 78px;
	float: left;
	line-height: 78px;
	text-align: center;
    font-size: 30px;
    position: absolute;
    right: 0;
    top: 61px;
    z-index: 3;
}

.in_name
{
    background: linear-gradient(to top, #0d0e11, #2a2a2a);	
    float: left;
	height: 100%;
	width: 343px;
}

.up
{
	background: linear-gradient(to bottom, #18fd02, #09a901);
	float: right;
	height: 100%;
	width: 126px;
}

.out
{
	width: 383px;
	height: 59px;
	float: left;
	text-align: center;
	line-height: 59px;
	position: absolute;
	top: 0px;
	left: 139px;
	
}

.out_name
{
	height: 100%;
	width: 289px;
    background: linear-gradient(to top, #0d0e11, #2a2a2a);	
    float: left;
   	font-size: 25px;
}

.down
{
	float: right;
	background: linear-gradient(to bottom, #fe0000, #aa0000);
	width: 94px;
	height: 100%;
}

.arrow-up 
{
	margin: 20px auto;
	width: 0; 
	height: 0; 
	border-left: 35px solid transparent;
 	border-right: 35px solid transparent;
	border-bottom: 35px solid white;
}

.arrow-down
{
	margin: 20px auto;
	width: 0px;
    height: 0px;
    border-left: 22px solid transparent;
    border-right: 22px solid transparent;
    border-top: 22px solid white;
}

.board-right
{
	right: 50px;
	position: absolute;
	bottom: 115px;
	width: 613px;
	height: 139px;
	border-right: 5px solid #fd5c01;
	border-radius: 3px;
}

.board-right .team
{
	float: right;
}

.board-right .in
{
	left: 0;	
}

.board-right .out_name
{
	float: right;
}

.board-right .in_name
{
	float: right;
}

.board-right .out
{
	left: 86px;
}