@font-face {
    font-family: Geogtq-Bold;
    src: url('../../fonts/Geogtq-Bd.otf');
}

@font-face {
    font-family: Geogtq-SemiBold;
    src: url('../../fonts/Geogtq-Sb.otf');
}

body, html
{
	width: 1920px;
	height: 1080px;
	/*background-color: #6EF618;*/
 	background-color: transparent; 
	font-family: Geogtq-SemiBold;
	color: white;
	font-size: 30px;
}

.overlay
{
	position: relative;
	height: 100%;
	text-shadow: 1px 1px #000000;
	text-transform: uppercase;
}

.board
{
    width: 1619px;
    height: 830px;
    position: absolute;
    margin-left: 150px;
    margin-top: 127px;
}

.header
{
    width: 850px;
    height: 157px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 143px;
}

.header_team
{
    width: 310px;
    height: 100%;
    float: left;
}

.header_team.right
{
    float: right;
}

.header_team_name
{
    height: 63px;
    width: 100%;
    margin-bottom: 1px;
    background: linear-gradient(to bottom, #252525, #06070b);
    line-height: 63px;
}

.header_team_logo
{
    height: 93px;
    width: 100%;
    background-color: white;
}

.header_team_logo img
{
    height: 100%;
}

.header_score
{
    height: 100%;
    width: 102px;
    margin-left: 3px;
    float: left;
    line-height: 157px;
    font-size: 60px;
    background: linear-gradient(to bottom, #ff6100, #c04000);
}

.header_score.right
{
    margin-left: 20px;
}

.line
{
    height: 343px;
    width: 100%;
	background: rgba(0,0,0,0.4);
    border-bottom: 1px solid #ff5a00;
    position: absolute;
}

.sets
{
    width: 100%;
    height: 530px;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
}

.set
{
    width: 498px;
    height: 234px;
    margin-left: 62px;
    margin-bottom: 62px;
    line-height: 56px;
    float: left;
}

.set:first-child
{
    margin-left: 0;
}

.set:nth-child(4)
{
    margin-left: 280px;
}

.set_header
{
    width: 100%;
    height: 57px;
    margin-bottom: 2px;
    overflow: hidden;
}

.set_header_team
{
    float: left;
    width: 203px;
    height: 56px;
    background: rgba(255,255,255,0.2);
}

.set_header_team img
{
    height: 100%;
    vertical-align: initial;
}

.set_header_set
{
    height: 100%;
    width: 92px;
    float: left;
    border-bottom: 1px solid #ff5a00;
    /*background: linear-gradient(to top, rgba(13,14,17, 0.48) , rgba(42,42,42,0.48));*/
    background: linear-gradient(to bottom, #0f0e13 50%, #040406 50%);
}

.set_
{
    height: 56px;
    width: 100%;
    margin-bottom: 3px;
    position: relative;
}

.set_player
{
   width: 203px;
   height: 100%;
   background: rgba(255,255,255,0.2);
   float: left;
}

.set_scores
{
    height: 100%;
    width: 92px;
    float: left;
    background: linear-gradient(to bottom, #252525, #06070b);
}
.notPlayed
{
    position: absolute;
    background: black;
    top: 0;
    left: 0;
    bottom: 0;
    opacity: 0.6;
    width: 203px;
    height: 100%;
}

.notPlayedRight
{
	position: absolute;
    background: black;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0.6;
    width: 203px;
    height: 100%;
}