@font-face {
    font-family: Geogtq-Bold;
    src: url('../../fonts/Geogtq-Bd.otf');
}

@font-face {
    font-family: Geogtq-SemiBold;
    src: url('../../fonts/Geogtq-Sb.otf');
}

html, body
{
	width: 1920px;
	height: 1080px;
/* 	background-color: #6EF618; */
	background-color: transparent;
	font-family: Geogtq-SemiBold;
	color: white;
	font-size: 24px;
}

.overlay
{
	position: relative;
	height: 100%;
	text-shadow: 1px 1px #000000;
}

.scoreboard
{
	width: 651px;
	height: 230px;
	position: absolute;
	bottom: 0;
	margin-bottom: 50px;
	margin-left: 91px;	
}

.scoreboard ul
{
	padding: 0;
	margin: 0;
}

img
{
	vertical-align: inherit;
}

.team
{
	width: 135px;
	height: 65px;
	margin-bottom: 3px;
	float:left;
	list-style: none;
	overflow: hidden;
	text-align: center;
	overflow:hidden;
	line-height: 65px;
	background: rgba(0,0,0,0.8);
}

.ban
{
	width: 82px;
	height: 65px;
	margin-left: 3px;
	float: left;
    background: rgba(0,0,0,0.8);
	list-style: none;
	line-height: 65px;
	overflow: hidden;
	text-align: center;
	margin-bottom: 3px;
    background: rgba(255,255,255,0.5);
	
}

.ban:first-child
{
	margin-left: 0;
}

.resultado
{
	width: 82px;
	height: 65px;
	margin-left: 3px;
	float: left;
    background: rgba(0,0,0,0.7);
	list-style: none;
	line-height: 65px;
	overflow: hidden;
	text-align: center;
	margin-bottom: 3px;
}

.team:last-child
{
	margin-bottom: 0;
}

.ban:last-child
{
	margin-bottom: 0;
}

.sets
{
	margin-left: 144px;
	height: 26px;
	width: 422px;
    background: rgba(255,255,255,0.2);
}

.set
{
	width: 82px;
	height: 26px;
	background: linear-gradient(to top, #0d0e11, #2a2a2a);
	line-height: 26px;
	font-size: 17px;
	text-align: center;
	margin-left: 3px;
	list-style: none;
	float: left;
	text-transform: uppercase;
}

.set:first-child 
{
	margin-left:0;
}

.scores
{
	font-size: 35px;
	width: 100%;
	height: 139px;
	padding-top: 3px;
	/* Border */
	border-left: 6px solid #fd5c01;
	border-radius: 3px;
	
	    background: rgba(255,255,255,0.2);
}

.scoresOne
{
	width: 100%;
	height: 68px;
}

.scoresTwo
{
	width: 100%;
	height: 68px;
}

.scoreTotal
{
	width: 82px;
	height: 65px;
	margin-left: 3px;
	float: left;
    background: linear-gradient(to bottom, #fd5c01,#8f2c02);
	list-style: none;
	line-height: 65px;
	overflow: hidden;
	text-align: center;
	margin-bottom: 3px;
}

.bans
{
	height: 65px;
	margin-left: 229px;
	width: 337px;
}