@font-face {
    font-family: 'CoreSans';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/CoreSans/S-Core+-+CoreSansC-35Light.otf');
}

@font-face {
    font-family: 'DIN';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/dinpro/DINPro-CondBold.otf');
}

@font-face {
    font-family: 'DIN-Light';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/dinpro/DINPro-CondLight.otf');
}

html, body {
    width: 1920px;
    height: 1080px;
    background-color: transparent;
    /*background-color: green;*/
    font-family: 'CoreSans';
    color: #FFFFFF;
    position: relative;
    overflow: hidden;
}

.din-bond {
    font-family: 'DIN' !important;
}

.draft {
    width: 1113px;
    height: 925px;
    position: absolute;
    top: 48px;
}

.draft.local {
    left: 156px;
}

.draft.visitor {
    right: 156px;
}

.header {
    width: 100%;
    height: 90px;
    margin-bottom: 43px;
    line-height: 91px;
    font-size: 35px;
    padding-left: 128px;
    text-transform: uppercase;
}

.cards {
    width: 100%;
    height: 792px;
}

.card-row {
    width: 100%;
    height: 256px;
    margin-bottom: 12px;
}

.card {
    width: 213px;
    height: 216px;
    margin-right: 12px;
    float: left;
    padding-left: 35px;
}

.fifa-card {
    font-family: 'DIN-Light';
    background-size: 100% !important;
    background-repeat: no-repeat !important;
    background-position-x: center !important;
    width: 143px;
    height: 216px;
    float: left;
    padding: 0px 4px;
    /*display: none;*/
}

.card:nth-child(n+5) {
    margin-right: 0;
}


.top {
    width: 100%;
    height: 116px;
    padding-top: 3px;
}

.top .card-info {
    width: 34px;
    height: 113px;
    float: left;
    text-align: center;
    z-index: 5;
    position: relative;
}

.rating {
    font-size: 25px;
    width: 100%;
    font-weight: 600;
    position: absolute;
    right: -13px;
    top: 17px;
}

.position {
    width: 100%;
    font-size: 13px;
    position: absolute;
    right: -14px;
    top: 46px;
    font-weight: 600;
}

.flag {
    position: absolute;
    top: 64px;
    left: 20px;
}

.flag > img {
    height: 13px;
}

.club {
    position: absolute;
    bottom: 3px;
    right: -7px;
}

.club > img {
    height: 20px;
}

.top .player {
    width: 99px;
    height: 100%;
    float: left;
    text-align: center;
    position: relative;
    z-index: 2;
}

.player > img {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.bottom {
    width: 133px;
    height: 75px;
}

.player-name {
    width: 100%;
    height: 21px;
    line-height: 21px;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
}

.player-stats {
    width: 100%;
    height: 53px;
    padding-top: 3px;
}

.stats {
    width: 50%;
    height: 100%;
    float: left;
    text-align: left;
    font-size: 14px;
}

.stats > div {
    width: 100%;
    line-height: 1.1;
}

.gold18 > img, .gold3 > img {
    top: 13px;
    height: 110%;
    width: auto;
    left: -9px;
}

.gold22 > img, .gold50 > img, .gold51 > img,.gold63 > img {
    top: 10px;
    height: 112%;
    width: auto;
    left: -12px;
}

.gold1 {
    color: rgb(70, 57, 12);
}

.silver1 {
    color: rgb(48, 53, 54);
}

.gold18 {
    color: rgb(227, 207, 131);;
}

.gold12 {
    color: rgb(98, 82, 23);
}

.gold50, .gold48, .gold63, .gold47 {
    color: rgb(245, 245, 245);
}

.gold21 {
    color: rgb(255, 71, 130);
}

.gold22 {
    color: rgb(255, 105, 13);
}

.gold3 {
    color: rgb(233, 204, 116);
}

.gold51 {
    color: rgb(228, 215, 188);
}