@font-face {
    font-family: 'CoreSans';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/CoreSans/S-Core+-+CoreSansC-35Light.otf');
}

html, body {
    width: 1920px;
    height: 1080px;
    background-color: transparent;
    /*background-color: green;*/
    font-family: 'CoreSans';
    color: #FFFFFF;
    position: relative;
    overflow: hidden;
}

.header {
    width: 100%;
    height: 94px;
    padding-left: 189px;
    padding-right: 38px;
    position: absolute;
    top: 53px;
}

.scoreboard {
    width: 374px;
    height: 100%;
    float: left;
    background: url('https://s3-eu-west-1.amazonaws.com/lvp-graphism/Virtual/in-game/Marcador.png');
    background-repeat: no-repeat;
    margin-right: 5px;
}

.scoreboard-header {
    width: 100%;
    height: 30px;
    line-height: 27px;
    padding: 5px 4px 0 4px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.team {
    width: 50%;
    height: 59px;
    float: left;
    padding-top: 5px;
    position: relative;
}

.team.local {
    padding-left: 4px;
    padding-right: 2px;
}

.team.visitor {
    padding-left: 2px;
    padding-right: 4px;
}

.team-info {
    width: 116px;
    height: 52px;
    float: left;
    position: relative;
}

.team-tag {
    width: 100%;
    height: 42px;
    padding-top: 1px;
    text-align: center;
    line-height: 40px;
    text-transform: uppercase;
    font-size: 30px;
    float: left;
    margin-bottom: 5px;
    letter-spacing: 4px;
}

.team-color {
    width: 100%;
    height: 5px;
    float: left;
    position: relative;
}

.team-color > img {
    width: 115px;
    position: absolute;
    left: 0;
    top: 0;
}

.team-score {
    width: 60px;
    height: 54px;
    float: left;
    text-align: center;
    line-height: 55px;
    font-size: 35px;
    margin-left: 5px;
}

.local-fade {
    width: 60px;
    height: 0px;
    position: absolute;
    right: 2px;
    top: 5px;
    background: #c8102e;
    border-radius: 5px;
}

.visitor-fade {
    width: 60px;
    height: 0px;
    position: absolute;
    left: 2px;
    top: 5px;
    background: #c8102e;
    border-radius: 5px;
}

.team.visitor > .team-score {
    margin-left: 0px;
    margin-right: 5px;
}

.global-scoreboard {
    width: 109px;
    height: 56px;
    background: #FFFFFF;
    color: #e9072c;
    text-align: center;
    line-height: 64px;
    margin-top: 33px;
    border-radius: 3px;
    float: left;
    font-size: 35px;
    letter-spacing: 1px;
    display: none;
}

.sponsors {
    width: 469px;
    height: 72px;
    background: url('https://s3-eu-west-1.amazonaws.com/lvp-graphism/Virtual/in-game/Ingame-Patros.png');
    background-repeat: no-repeat;
    float: right;
    /*margin-top: 22px;*/
}

.sponsors-rotative {
    width: 86px;
    height: 62px;
    float: right;
    margin-right: 4px;
    margin-top: 5px;
}

.patros {
    width: 100%;
}

.cameras {
    width: 100%;
    height: 203px;
    padding-left: 91px;
    padding-right: 95px;
    position: absolute;
    top: 739px;
}

.camera {
    width: 290px;
    height: 100%;
    float: left;
    background: url('https://s3-eu-west-1.amazonaws.com/lvp-graphism/Virtual/in-game/Marco-Camara.png');
    background-repeat: no-repeat;
    position: relative;
}

.camera.visitor {
    float: right;
}

.camera-name {
    width: 278px;
    height: 35px;
    position: absolute;
    bottom: 6px;
    left: 6px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 36px;
    font-size: 18px;
}

.round {
    width: 265px;
    height: 42px;
    line-height: 45px;
    /*letter-spacing: 2px;*/
    text-align: center;
    text-transform: uppercase;
    background: url('https://s3-eu-west-1.amazonaws.com/lvp-graphism/Virtual/in-game/Marco-Ronda.png');
    background-repeat: no-repeat;
    position: absolute;
    top: 1032px;
    left: 828px;
    font-size: 18px;
}