@font-face {
    font-family: 'CoreSans';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/CoreSans/S-Core+-+CoreSansC-65Bold.otf');
}

@font-face {
    font-family: 'DIN';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/dinpro/DINPro-CondBold.otf');
}

@font-face {
    font-family: 'DIN-Light';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/dinpro/DINPro-CondLight.otf');
}

html, body {
    width: 1920px;
    height: 1080px;
    background-color: transparent;
    /*background-color: green;*/
    font-family: 'CoreSans';
    color: #FFFFFF;
    position: relative;
    overflow: hidden;
    letter-spacing: 2px;
}

.twitter {
    width: 871px;
    height: 129px;
    position: absolute;
    bottom: 94px;
    left: 97px;
    background: url('https://s3-eu-west-1.amazonaws.com/lvp-graphism/Virtual/twitter/Base-Tweets.png');
    padding: 8px 7px;
}

.username {
    width: 100%;
    height: 30px;
    padding-left: 10px;
    line-height: 30px;
    text-transform: uppercase;
}

.text {
    width: 100%;
    height: 69px;
    padding: 0 10px 10px 10px;
}