{% extends 'AppBundle:Stream:layout.html.twig' %}

{% block styles %}
    <link href="{{ asset('bundles/app/css/fifa/allianz.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="overlay">
        <div class="board">
        	{% for player in players %}
        	    {% include 'AppBundle:Stream:Fifa/includes/card.html.twig' with { 'card' : player, 'order' : 1  } %}
        	{% endfor %}
        </div>
	</div>
	
{% endblock body %}