{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block sonata_admin_content %}

	<div class="row">
		<div class="col-md-6">
			<div class="box box-primary">
				<div class="box-header">
					<h4 class="box-title">PS4</h4>
				</div>
				<div class="box-body">
					<div class="table-responsive">
						<table class="table table-striped table-bordered">
							<thead>
								<tr>
									<th>Jornada</th>
									<th>Partido</th>
									<th>URL</th>
								</tr>
							</thead>
							<tbody>
								{% for match in ps4 %}
									<tr>
										<td>{{ match.jornada }}</td>
										<td>{{ match.teamOne.team.name }} vs {{ match.teamTwo.team.name }}</td>
										<td><a href="http://45.76.142.122/admin/fut/draft/{{ match.id }}">Draft</a></td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-md-6">
			<div class="box box-success">
				<div class="box-header">
					<h4 class="box-title">XBOX</h4>
				</div>
				<div class="box-body">
					<div class="table-responsive">
						<table class="table table-striped table-bordered">
							<thead>
								<tr>
									<th>Jornada</th>
									<th>Partido</th>
									<th>URL</th>
								</tr>
							</thead>
							<tbody>
								{% for match in xbox %}
									<tr>
										<td>{{ match.jornada }}</td>
										<td>{{ match.teamOne.team.name }} vs {{ match.teamTwo.team.name }}</td>
										<td><a href="http://45.76.142.122/admin/fut/draft/{{ match.id }}">Draft</a></td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}