{% extends 'AppBundle:Stream:layout.html.twig' %}

{% block styles %}
	<link href="{{ asset('bundles/app/css/fifa/draft.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
	{% set nPlayers = 1 %}
	<div id="match-draft" data-id="{{ match.id }}" data-mode="dev">
		<div class="container-fluid">
			<div class="row" style="padding-top:0;">
				<div class="col-md-6">
					<div class="team-header">{{ match.teamOne.team.name }}</div>
					<div class="js-load-draft draft" data-team-id="{{ match.teamOne.id }}" data-draft-id="{{ localDraft.id }}">
						<div class="row"> <!-- Strikers -->
							 {% for player in localPlayers | slice(0,3) %}
							 	{% if player is not null %}
        	 						<div class="col-md-4">
    									{% include 'AppBundle:Stream:Fifa/includes/card.html.twig' with { 'card' : player.fifaPlayer, 'order' : nPlayers } %}
        							</div>
    							{% else %}
    							<div class="col-md-4">
        								<div class="card" card-number="{{ nPlayers  }}"></div>
    							</div>
    							 {% endif %}
    							 {% set nPlayers = nPlayers + 1 %}
							 {% endfor %}
						</div>
						
						<div class="row">
						    {% for player in localPlayers | slice(3,3) %}
							 	{% if player is not null %}
        	 						<div class="col-md-4">
    									{% include 'AppBundle:Stream:Fifa/includes/card.html.twig' with { 'card' : player.fifaPlayer, 'order' : nPlayers } %}
        							</div>
    							{% else %}
    							<div class="col-md-4">
        								<div class="card" card-number="{{ nPlayers  }}"></div>
    							</div>
    							 {% endif %}
    							 {% set nPlayers = nPlayers + 1 %}
							 {% endfor %}
						</div>
						
						<div class="row">
						    {% for player in localPlayers | slice(6,4) %}
							 	{% if player is not null %}
        	 						<div class="col-md-3">
    									{% include 'AppBundle:Stream:Fifa/includes/card.html.twig' with { 'card' : player.fifaPlayer, 'order' : nPlayers } %}
        							</div>
    							{% else %}
    							<div class="col-md-3">
        								<div class="card" card-number="{{ nPlayers  }}"></div>
    							</div>
    							 {% endif %}
    							 {% set nPlayers = nPlayers + 1 %}
							 {% endfor %}
						</div>
						
						<div class="row">
						    {% for player in localPlayers | slice(10,1) %}
							 	{% if player is not null %}
        	 						<div class="col-md-offset-4 col-md-4">
    									{% include 'AppBundle:Stream:Fifa/includes/card.html.twig' with { 'card' : player.fifaPlayer, 'order' : nPlayers } %}
        							</div>
    							{% else %}
    							<div class="col-md-offset-4 col-md-4">
        								<div class="card" card-number="{{ nPlayers  }}"></div>
    							</div>
    							 {% endif %}
    							 {% set nPlayers = nPlayers + 1 %}
							 {% endfor %}
						</div>
						
						<div class="row" style="padding-top:150px;">
						    {% for player in localPlayers | slice(11,4) %}
							 	{% if player is not null %}
        	 						<div class="col-md-3">
    									{% include 'AppBundle:Stream:Fifa/includes/card.html.twig' with { 'card' : player.fifaPlayer, 'order' : nPlayers } %}
        							</div>
    							{% else %}
    							<div class="col-md-3">
        								<div class="card" card-number="{{ nPlayers  }}"></div>
    							</div>
    							 {% endif %}
    							 {% set nPlayers = nPlayers + 1 %}
							 {% endfor %}
						</div>
					</div>	
				</div>
				{% set nPlayers = 1 %}
				<div class="col-md-6">
    				<div class="team-header">{{ match.teamTwo.team.name }}</div>
    					<div class="js-load-draft draft" data-team-id="{{ match.teamTwo.id }}" data-draft-id="{{ visitorDraft.id }}">
    						<div class="row"> <!-- Strikers -->
    							 {% for player in visitorPlayers | slice(0,3) %}
    							 	{% if player is not null %}
            	 						<div class="col-md-4">
        									{% include 'AppBundle:Stream:Fifa/includes/card.html.twig' with { 'card' : player.fifaPlayer, 'order' : nPlayers } %}
            							</div>
        							{% else %}
        							<div class="col-md-4">
            								<div class="card" card-number="{{ nPlayers  }}"></div>
        							</div>
        							 {% endif %}
        							 {% set nPlayers = nPlayers + 1 %}
    							 {% endfor %}
    						</div>
    						
    						<div class="row">
    						    {% for player in visitorPlayers | slice(3,3) %}
    							 	{% if player is not null %}
            	 						<div class="col-md-4">
        									{% include 'AppBundle:Stream:Fifa/includes/card.html.twig' with { 'card' : player.fifaPlayer, 'order' : nPlayers } %}
            							</div>
        							{% else %}
        							<div class="col-md-4">
            								<div class="card" card-number="{{ nPlayers  }}"></div>
        							</div>
        							 {% endif %}
        							 {% set nPlayers = nPlayers + 1 %}
    							 {% endfor %}
    						</div>
    						
    						<div class="row">
    						    {% for player in visitorPlayers | slice(6,4) %}
    							 	{% if player is not null %}
            	 						<div class="col-md-3">
        									{% include 'AppBundle:Stream:Fifa/includes/card.html.twig' with { 'card' : player.fifaPlayer, 'order' : nPlayers } %}
            							</div>
        							{% else %}
        							<div class="col-md-3">
            								<div class="card" card-number="{{ nPlayers  }}"></div>
        							</div>
        							 {% endif %}
        							 {% set nPlayers = nPlayers + 1 %}
    							 {% endfor %}
    						</div>
    						
    						<div class="row">
    						    {% for player in visitorPlayers | slice(10,1) %}
    							 	{% if player is not null %}
            	 						<div class="col-md-offset-4 col-md-4">
        									{% include 'AppBundle:Stream:Fifa/includes/card.html.twig' with { 'card' : player.fifaPlayer, 'order' : nPlayers } %}
            							</div>
        							{% else %}
        							<div class="col-md-offset-4 col-md-4">
            								<div class="card" card-number="{{ nPlayers  }}"></div>
        							</div>
        							 {% endif %}
        							 {% set nPlayers = nPlayers + 1 %}
    							 {% endfor %}
    						</div>
    						
    						<div class="row" style="padding-top:150px;">
    						    {% for player in visitorPlayers | slice(11,4) %}
    							 	{% if player is not null %}
            	 						<div class="col-md-3">
        									{% include 'AppBundle:Stream:Fifa/includes/card.html.twig' with { 'card' : player.fifaPlayer, 'order' : nPlayers } %}
            							</div>
        							{% else %}
        							<div class="col-md-3">
            								<div class="card" card-number="{{ nPlayers  }}"></div>
        							</div>
        							 {% endif %}
        							 {% set nPlayers = nPlayers + 1 %}
    							 {% endfor %}
    						</div>
    					</div>	
					</div>
			</div>
		</div>
		<button class="btn btn-success" id="save" style="margin: 0 auto; position: absolute;left: 50%;">Guardar</button>
	</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/app/js/fifa/draft.js') }}" ></script>
{% endblock %}

{% block extra %}

<div id="card-modal-list" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Selección de jugador</h4>
            </div>
            <div class="modal-body" style="height:500px;
                            overflow:scroll;
                            overflow-x:hidden;">
                    
            </div>
            <div class="modal-footer modal-footer-cards">
                
                <div class="form-group row">
                    <div class="col-xs-5">
                        <input type="text" id="card-modal-search" placeholder="Nombre"  class="form-control input-sm" />
                    </div>
                    
                    <div class="col-xs-2">
                        <button type="button" id="search" class="btn btn-primary">Buscar</button>
                    </div>
                    
                    <div class="col-xs-2">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>                  
{% endblock extra %}