{% extends 'AppBundle:Stream:layout.html.twig' %}

{% block styles %}
    <link href="{{ asset('bundles/app/css/interface.css') }}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Signika" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="all">
        <div class="header">


        </div>

        <div class="main">
            <div class="container-fluid">
                <div class="interface">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Twitter</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12" style="margin-bottom:10px">
                                            <label>Tweet</label>
                                            <input id="tweetId" type="text" name="tweetId" class="form-control">
                                        </div>

                                        <div class="col-md-12" style="margin-bottom:10px">
                                            <label>Hashtag</label>
                                            <input id="hashtag" type="text" name="hashtag" class="form-control" value="VirtualLaLigaLVP">
                                        </div>

                                        <div class="col-md-2" style="margin-bottom:10px">
                                            <button id="play_tweet" class="btn btn-success">PLAY</button>
                                        </div>

                                        <div class="col-sm-2">
                                            <button class="btn btn-danger stop">STOP</button>
                                        </div>
                                    </div>									
                                </div>
                            </div>
                        </div>

                        <div class="col-md-7">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Interfaz</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="gameSelector">
                                        <div class="row" style="margin-bottom: 10px">
                                            <div class="col-md-4">

                                                <select id="match_id" class="form-control">
                                                    {% for match in matches %}
                                                        <option value="{{ match.id }}">{{ match }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-bottom: 20px">
                                            <div class="col-md-1">
                                                <label>Allianz</label>
                                            </div>
                                            <div class="col-md-1">
                                                <button id="modal_allianz" class="btn btn-success">OPEN</button>
                                            </div>

                                            <div class="col-sm-1">
                                                <button class="btn btn-danger stop">STOP</button>
                                            </div>
                                        </div>

                                        <div class="row" style="margin-bottom: 20px">
                                            <div class="col-md-1">
                                                <label>Lineup</label>
                                            </div>
                                            <div class="col-md-1">
                                                <button id="play-lineup-local" class="btn btn-success">LOCAL</button>
                                            </div>
                                            <div class="col-md-1">
                                                <button id="play-lineup-visitor" class="btn btn-success">VISITOR</button>
                                            </div>
                                            <div class="col-sm-1">
                                                <button class="btn btn-danger stop">STOP</button>
                                            </div>
                                        </div>
                                        
                                        <div class="row" style="margin-bottom: 20px">
                                            <div class="col-md-1">
                                                <label>Lineup FULL</label>
                                            </div>
                                            <div class="col-md-1">
                                                <button id="play-lineup-local-full" class="btn btn-success">LOCAL</button>
                                            </div>
                                            <div class="col-md-1">
                                                <button id="play-lineup-visitor-full" class="btn btn-success">VISITOR</button>
                                            </div>
                                            <div class="col-sm-1">
                                                <button class="btn btn-danger stop">STOP</button>
                                            </div>
                                        </div>
                                        
                                        <div class="row" style="margin-bottom: 20px">
                                        	<div class="col-md-1">
                                                <label>Marcador</label>
                                            </div>
                                            
                                            <div class="col-md-1">
                                                <button id="modal_marcador" class="btn btn-success">OPEN</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>     
                            </div>
                        </div>
                    </div>
                </div>
            </div>                

        </div>

	{% include 'AppBundle:Stream:Fifa/modal/allianz_modal.html.twig' with players %}
	{% include 'AppBundle:Stream:Fifa/modal/marcador_modal.html.twig' with flags %}

        <script type="text/javascript">
            $(document).ready(function () {
                $("#play_tweet").click(function () {
                    var tweet = $("#tweetId").val();
                    var hashtag = $("#hashtag").val();
                    $.post(Routing.generate('caspar_play_fifa_tweet', {id: tweet, hashtag: hashtag}));
                });

				$('#modal_allianz').click(function(){
					var $modal = $('#fifa-player-selector');
					$modal.modal("show");
				});

				$('#modal_marcador').click(function(){
					var $modal = $('#fifa-marcador');
					$modal.modal("show");
				});

				
				
				$('#play_allianz').click(function(){
					var players = [];

					$('.fifa-player').each(function(){
						players.push($(this).val());
					});	

					players.push($('.fifa-gk').val());

					$.post(Routing.generate('caspar_play_allianz', { players : players }))
				});

				$('#play-lineup-local').on('click', function(){
					var matchId = $('#match_id').val();

					$.post(Routing.generate('caspar_play_fifa_lineup', { matchId : matchId, side: 100 }))
				});

				$('#play-lineup-visitor').on('click', function(){
					var matchId = $('#match_id').val();

					$.post(Routing.generate('caspar_play_fifa_lineup', { matchId : matchId, side: 200 }))
				});

				$('#play-lineup-local-full').on('click', function(){
					var matchId = $('#match_id').val();

					$.post(Routing.generate('caspar_play_fifa_lineup_full', { matchId : matchId, side: 100 }))
				});

				$('#play-lineup-visitor-full').on('click', function(){
					var matchId = $('#match_id').val();

					$.post(Routing.generate('caspar_play_fifa_lineup_full', { matchId : matchId, side: 200 }))
				});

				// Marcador
                
                $('#match-2').on('click', function(){
                    var $scores = $('.match-2');
					if($scores.hasClass('hidden')) {
						$scores.removeClass('hidden');
					}
                });

                $('#match-1, #match-3').on('click', function(){
                	var $scores = $('.match-2');
					if(!$scores.hasClass('hidden')) {
						$scores.addClass('hidden');
					}
                });

                $('#marcador').on('click', function(){
                	var matchId = $('#match_id').val();
                    
					var scoreLocal = $('#local-score').val();
					var scoreVisitor = $('#visitor-score').val();
					var game = $('#fifa-marcador input[name="optradio"]:checked').val();

					var flagLocal = $('#flag-local').val();
					var flagVisitor = $('#flag-visitor').val();
					
					var scores = [];
					scores[0] = scoreLocal;
					scores[1] = scoreVisitor;

					var $swap = $('#marcador-swap');
					var swap = 0;
					
					if($swap.is(':checked')) {
						swap = 1;
					}

					var title = $('#title').val();
					
					$.post(Routing.generate('caspar_play_fifa_scoreboard', { matchId : matchId, game: game, swap: swap, flagL: flagLocal, flagV: flagVisitor, title: title, scores: scores }));
                });

				$('.update').on('click', function(){
					var matchId = $('#match_id').val();
					var game = $('#fifa-marcador input[name="optradio"]:checked').val();
					var side = $(this).attr('data-side');

					var scoreL = $('#score-l').val();
					var scoreV = $('#score-v').val();
					
					var a;
					
					if(side == 100) {
						a = scoreL;
					}
					else {
						a = scoreV;
					}
					
					var localScore = $('#local-score').val();
					var visitorScore = $('#visitor-score').val();
					
					var totalLocal = parseInt(scoreL) + parseInt(localScore);
					var totalVisitor = parseInt(scoreV) + parseInt(visitorScore);

					var scores = [];
					scores[0] = totalLocal;
					scores[1] = totalVisitor;

					var flagLocal = $('#flag-local').val();
					var flagVisitor = $('#flag-visitor').val();
					
					var layer = $(this).attr('data-layer');

					var $swap = $('#marcador-swap');
					var swap = 0;
					
					if($swap.is(':checked')) {
						swap = 1;
					}
					
					$.post(Routing.generate('caspar_play_fifa_scoreboard', { matchId : matchId, game: game, swap:swap, flagL: flagLocal, flagV: flagVisitor, scores: scores }));
					$.post(Routing.generate('caspar_play_fifa_score', { layer: layer, side: side, score: a }));
				});
                
				//STOP
                
                $(".stop").click(function () {
                    $.post(Routing.generate('caspar_stop'));
                });

                $('.stop-layer').on('click', function(){
					var layer = $(this).attr('data-layer');

					$.post(Routing.generate('caspar_stop_layer', { layer : layer }));
                });

                $('.stop-scoreboard').on('click', function(){
                	$.post(Routing.generate('caspar_stop_layer', { layer : "22" }));
                	$.post(Routing.generate('caspar_stop_layer', { layer : "23" }));
                	$.post(Routing.generate('caspar_stop_layer', { layer : "24" }));
               	}); 

            })
        </script>

    {% endblock %}