{% extends 'AppBundle:Stream:layout.html.twig' %}

{% block styles %}
    <link href="{{ asset('bundles/app/css/fifa/lineup.css') }}" rel="stylesheet" />
    
    <style>
    	body{
    		background-image: url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Fifa/{{ choices[0].draft.side }}.png');
    	}
    	{% if choices[0].draft.side == 200 %}
    		.cam {
    			float: right;
    		}
    	{% endif %}
    </style>
{% endblock %}

{% block body %}
    <div class="overlay">
        <div class="board">
        	<div class="cam">
        		<div class="cam-name">
        			{{ choices[0].player.team.name }}
        		</div>
        	</div>
        	
        	<div class="field">
    		{% for choice in choices %}
        	    {% include 'AppBundle:Stream:Fifa/includes/card.html.twig' with { 'card' : choice.fifaPlayer, 'order' : choice.order, 'cardNumber' : choice.cardNumber, 'side' : choices[0].draft.side } %}
        	{% endfor %}
        	</div>	
        </div>
	</div>
{% endblock body %}