{% extends 'AppBundle:Stream:layout.html.twig' %}

{% block styles %}
    <link href="{{ asset('bundles/app/css/fifa/lineup-full.css') }}" rel="stylesheet" />
    
{% endblock %}

{% block body %}
    <div class="overlay">
        <div class="board">
        	<div class="header">
        		<span class="field-team">Equipo</span>
        		<span class="field-name">{{ choices[0].player.team.name }}</span>
        	</div>
        	
        	<div class="field">
    		{% for choice in choices %}
        	    {% include 'AppBundle:Stream:Fifa/includes/card.html.twig' with { 'card' : choice.fifaPlayer, 'order' : choice.order, 'cardNumber' : choice.cardNumber, 'side' : choices[0].draft.side } %}
        	{% endfor %}
        	</div>	
        </div>
	</div>
{% endblock body %}