{% extends 'AppBundle:Stream:layout.html.twig' %}

{% block styles %}
    <link href="{{ asset('bundles/app/css/fifa/scoreboard.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="overlay">
        <div class="board">
        	<div class="main">
        		<div class="main-blue">
        			<div class="header">
        				{% if game == 1 %}
        					PARTIDO DE IDA
        				{% elseif game == 2 %}
        					PARTIDO DE VUELTA
        				{% else %}
        					DESEMPATE
        				{% endif %}
        			</div>
        			<div class="content">
        				<div class="team-background">
        					<div class="team">
        						{% if game == 1 or game == 3 %}
        							{{ match.teamOne.team.shortname }}
        						{% else %}
        						    {{ match.teamTwo.team.shortname }}
        						{% endif %}
        						<img src="{% path localFlag.image, 'normal' %}" />
        					</div>
        				</div>
        				
        				<div class="score">
        					0
        				</div>
        				
        				<div class="score">
        					0
        				</div>
        				
        				<div class="team-background" style="margin-left:3px;">
        					<div class="team">
        						{% if game == 1 or game == 3 %}
        							{{ match.teamTwo.team.shortname }}
        						{% else %}
        						    {{ match.teamOne.team.shortname }}
        						{% endif %}
        						<img src="{% path visitorFlag.image, 'normal' %}" />
        					</div>
        				</div>
        			</div>
        		</div>
        	</div>
        	{% if game == 2 %}
        	<div class="global-scoreboard-background">
    			<div class="global-scoreboard">
    				 {{ scores[0] }} - {{ scores[1] }} 
    			</div>
    		</div>
    		{% endif %}
        </div>
        
        <div class="patros">
        	<div class="rotatorio">
        		<img src="" id="patro_img" />
        	</div>
        </div>
        
        <div class="camera left-camera">
        	{% if game == 1 or game == 3 %}			     
                {% if swap == 0 %}
	        	    {{ match.teamOne.team.name }}
				{% else %}
					{{ match.teamTwo.team.name }}
				{% endif %}
		    {% elseif game == 2 %}
			    {% if swap == 0 %}
	        	    {{ match.teamTwo.team.name }}
				{% else %}
					{{ match.teamOne.team.name }}
				{% endif %}
		    {% endif %}
    	</div>
    	
    	<div class="round">
			{{ title }}
    	</div>
    	
    	<div class="camera right-camera">
        	{% if game == 1 or game == 3 %}
			    {% if swap == 0 %}
	        	    {{ match.teamTwo.team.name }}
				{% else %}
					{{ match.teamOne.team.name }}
				{% endif %}
		    {% elseif game == 2 %}
			    {% if swap == 0 %}
	        	    {{ match.teamOne.team.name }}
				{% else %}
					{{ match.teamTwo.team.name }}
				{% endif %}
		    {% endif %}
    	</div>
	</div>
	
	<script type="text/javascript">
        $(document).ready(function(){
        	 var picPaths = ['https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Fifa/patros/McDonals.png', 'https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Fifa/patros/CorteIngles.png', 'https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Fifa/patros/Orange.png', 'https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Fifa/patros/Allianz.png', 'https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Fifa/patros/Hyundai.png','https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Fifa/patros/Hyundai.png'];
             var curPic = -1;
             //preload the images for smooth animation
             var imgO = new Array();
             for(i=0; i < picPaths.length; i++) {
                 imgO[i] = new Image();
                 imgO[i].src = picPaths[i];
             }

             function swapImage() {
             	if(curPic == picPaths.length - 1) {
                 	$('.patros').fadeOut();
     				return;
             	}
                 
     			setTimeout(function(){
					if($('.patros').is(':hidden')) {
						$('.patros').fadeIn();
					}
         			
     				curPic = (++curPic > picPaths.length-1)? 0 : curPic;
     				imgCont.src = imgO[curPic].src;
     				swapImage();
     			}, 10000);    
             }

     		function startRotative()
     		{
     			imgCont = document.getElementById('patro_img');
     			curPic = -1;
     			swapImage();
     		}
     		
     		startRotative();
            setInterval(startRotative, 150000);
        });
        
    </script>
{% endblock body %}