{% extends 'AppBundle:Stream:layout.html.twig' %}

{% block styles %}
	<link href="{{ asset('bundles/app/css/fifa/twitter.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
	<div class="all">
		<div class="board">
			<div class="image">
				<img src="{{ tweet.avatar }}" alt="image" /> 
			</div>
			
			<div class="content">
				<div class="header">
					<div class="user">@{{ tweet.user }} - {{ tweet.name }}</div>
					<div class="hashtag">#{{ hashtag }}</div>
				</div>
				<div class="tweet">
					{{ tweet.text }}
				</div>
			</div>
			
		</div>
	</div>	
{% endblock %}