{% extends 'AppBundle:Stream:layout.html.twig' %}

{% block styles %}
	<link href="{{ asset('bundles/app/css/cod/chyron_hardpoint.css') }}" rel="stylesheet" />
	
	<style>
		body{
			background-image:url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Call+of+Duty/hardpoint-{{ data['rounds'] }}.png');
 			background-color: transparent; 
		}
		
		{% if data['rounds'] == 4 %}
			.team-score {
				width: 81px;
			}
		{% endif %}
		
	</style>
{% endblock %}

{% block body %}
	<div class="overlay">
		<div class="board">
			<div class="header">
				{{ data['rotation'] }} rotación
			</div>
			<div class="content">
				<div class="team">
					<div class="team-logo">
						<img src="{% path localTeam.imageSet, 'normal' %}" />
					</div>
					<ul>
					{% for i in 1..data['rounds'] %}
						<li class="team-score">
							{{ data['localScores'][i - 1] }}
						</li>
					{% endfor %}
					</ul>
				</div>
				
				<div class="team">
					<div class="team-logo">
						<img src="{% path visitorTeam.imageSet, 'normal' %}" />
					</div>
					<ul>
                    {% for i in 1..data['rounds'] %}
						<li class="team-score">
							{{ data['visitorScores'][i - 1] }}
						</li>
					{% endfor %}
					</ul>
				</div>
				
				<div class="scores">
					HARDPOINTS
				</div>
			</div>
		</div>
	</div>
{% endblock %}