{% extends 'AppBundle:Stream:layout.html.twig' %}

{% block styles %}
	<link href="{{ asset('bundles/app/css/interface.css') }}" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Signika" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="all">
        <div class="header">


        </div>

        <div class="main">
            <div class="container-fluid">
                <div class="interface">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Twitter</h3>
                                </div>
                                <div class="panel-body">
                                	<div class="row">
                                    	<div class="col-md-12" style="margin-bottom:10px">
                                            <label>Tweet</label>
                                            <input id="tweetId" type="text" name="tweetId" class="form-control">
                                        </div>

                                        <div class="col-md-12" style="margin-bottom:10px">
                                            <label>Hashtag</label>
                                            <input id="hashtag" type="text" name="hashtag" class="form-control" value="SUPERLIGAORANGECOD">
                                        </div>

                                        <div class="col-md-2" style="margin-bottom:10px">
                                            <button id="play_tweet" class="btn btn-success">PLAY</button>
                                        </div>

                                        <div class="col-sm-2">
                                            <button class="btn btn-danger stop">STOP</button>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-7">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Interfaz</h3>
                                </div>
                                <div class="panel-body">
                                	<div class="row" style="margin-bottom: 20px;">
                                		<div class="col-xs-4">
                                			<select id="match_id" class="form-control">
                                				{% for match in matches %}
                                					<option value="{{ match.id }}">{{ match }}</option>
                                				{% endfor %}
                                			</select>
                                		</div>
                                	</div>
                                
                                    <div class="row" style="margin-bottom: 20px;">
                                    	<div class="col-sm-1">
                                    		<label>Votaciones Countdown</label>
                                    	</div>
                                    	
                                    	<div class="col-sm-1">
                                        	<button id="play_twitter_share" class="btn btn-success">PLAY</button>
                                        </div>
                                        
                                        <div class="col-sm-1">
                                        	<button class="btn btn-danger stop">STOP</button>
                                        </div>
                                        
                                        <div class="col-sm-offset-2 col-sm-2">
                                            <label>Votaciones</label>
                                        </div>

                                        <div class="col-sm-1">
                                            <button id="play_twitter_share_chyron" class="btn btn-success">PLAY</button>
                                        </div>

                                        <div class="col-sm-1">
                                            <button class="btn btn-danger stop">STOP</button>
                                        </div>
                                    </div>
                                    
                                    <div class="row" style="margin-bottom: 20px;">
                                    	<div class="col-sm-1">
                                    		<label>Clasificación</label>
                                    	</div>
                                    	<div class="col-sm-1">
                                        	<button id="play_ladder" class="btn btn-success">PLAY</button>
                                        </div>
                                        
                                        <div class="col-sm-1">
                                        	<button class="btn btn-danger stop">STOP</button>
                                        </div>
                                        
                                        <div class="col-sm-offset-2 col-sm-2">
                                            <label>Resumen Partidos</label>
                                        </div>

                                        <div class="col-sm-1">
                                            <button id="modal_resumen_partidos" class="btn btn-success">OPEN</button>
                                        </div>
                                    </div>
                                    
                                    <div class="row" style="margin-bottom: 20px;">
                                    	<div class="col-sm-2">
                                    		<label>Chyron Hardpoint</label>
                                    	</div>
                                    	<div class="col-sm-1">
                                    		<button id="modal_hardpoint" class="btn btn-success">OPEN</button>
                                    	</div>
                                    	
                                    	<div class="col-sm-offset-2 col-sm-2">
                                    		<label>Resumen Hardpoint</label>
                                    	</div>
                                    	<div class="col-sm-1">
                                    		<button id="modal_hardpoint_resumen" class="btn btn-success">OPEN</button>
                                    	</div>
                                    </div>
                                    
                                    <div class="row" style="margin-bottom: 20px;">
                                        <div class="col-sm-2">
                                    		<label>Resumen ByD</label>
                                    	</div>
                                    	<div class="col-sm-1">
                                    		<button id="modal_byd_resumen" class="btn btn-success">OPEN</button>
                                    	</div>
                                    	
                                    	<div class="col-sm-offset-2 col-sm-2">
                                    		<label>Resumen TLB</label>
                                    	</div>
                                    	<div class="col-sm-1">
                                    		<button id="modal_tlb_resumen" class="btn btn-success">OPEN</button>
                                    	</div>
                                    </div>
                                </div>
                            </div>     
                        </div>
                    </div>
                </div>
            </div>
        </div>                
                
    </div>
    
    {% include 'AppBundle:Stream:CallOfDuty/modal/hardpoint-chyron.html.twig' with teams %}
    {% include 'AppBundle:Stream:CallOfDuty/modal/hardpoint-resumen.html.twig' with teams %}
    {% include 'AppBundle:Stream:CallOfDuty/modal/byd-resumen.html.twig' with teams %}
    {% include 'AppBundle:Stream:CallOfDuty/modal/tlb-resumen.html.twig' with teams %}
    {% include 'AppBundle:Stream:CallOfDuty/modal/mapas-resumen.html.twig' %}
    
    <script type="text/javascript">
    	$(document).ready(function(){
        		$("#play_tweet").click(function () {
                    var tweet = $("#tweetId").val();
                    var hashtag = $("#hashtag").val();
                    $.post(Routing.generate('caspar_play_tweet', {id: tweet, hashtag: hashtag}));
                });

        		$("#send_twitter_cwl").click(function(){
            		var id = $("#tweet").val();
    				$.post(Routing.generate('caspar_play_cod_twitter_cwl', { id: id }));
    			});

//         		$("#send_cwl").click(function(){
//             		var text = $(".scores").val();
//     				$.post(Routing.generate('caspar_play_cod_cwl', { text: text }));
//     			});

        		$("#play_ladder").click(function () {
        			$.post(Routing.generate('caspar_play_ladder_generic', { game: '{{ game }}', competition: '{{ competition }}'}));
                });

        		$("#play_twitter_share").click(function () {
                    var match_id = $("#match_id").val();
                    $.post(Routing.generate('caspar_play_twitter_share', {game: '{{ game }}', competition: '{{ competition }}', id: match_id}));
                });

        		$("#play_twitter_share_chyron").click(function () {
                    var match_id = $("#match_id").val();
                    $.post(Routing.generate('caspar_play_twitter_chyron', {game: '{{ game }}', competition: '{{ competition }}', id: match_id}));
                });
        		
        		// Chyron hardpoint ingame
                $('#modal_hardpoint').on('click', function(){
                	var $modal = $('#cod-hardpoint');
					$modal.modal("show");
                });

                $('#play-hardpoint-chyron').on('click', function(){
                    var localPoints = [];
                	var visitorPoints = [];

                	$('#cod-hardpoint [id^=team-one-]').each(function(){
						localPoints.push($(this).val());
                	});

                	$('#cod-hardpoint [id^=team-two-]').each(function(){
						visitorPoints.push($(this).val());
                	}); 

                	var localTeam = $('#cod-hardpoint #local-team-selector').val();
                	var visitorTeam = $('#cod-hardpoint #visitor-team-selector').val();
					var rotation = $('#cod-hardpoint input[name="optradio"]:checked').val();
					var rounds = $('#cod-hardpoint input[name="rounds"]:checked').val();
                	
                	$.post(Routing.generate('caspar_play_cod_chyron_hardpoint', { 
                    	localTeam : localTeam, 
                    	visitorTeam: visitorTeam, 
                    	localScores : localPoints,
                    	visitorScores : visitorPoints,
                    	rotation : rotation,
                    	rounds : rounds }));
                });

             // Chyron hardpoint resumen
                $('#modal_hardpoint_resumen').on('click', function(){
                	var $modal = $('#cod-hardpoint-resumen');
					$modal.modal("show");
                });

             // Chyron byd resumen
                $('#modal_byd_resumen').on('click', function(){
                	var $modal = $('#cod-byd-resumen');
					$modal.modal("show");
                });
                
				$(".stop").click(function(){
					$.post(Routing.generate('caspar_stop'));
				});


				$('.byd-selector').on('click', function(){
					var attr = $(this).attr('data-value');

					if(attr == 0) {
						$(this).attr('data-value', 1);
						$(this).find('img').attr('src', 'https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Call+of+Duty/byd/death.png');
					}
					else if(attr == 1) {
						$(this).attr('data-value', 2);
						$(this).find('img').attr('src', 'https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Call+of+Duty/byd/explosion.png');
					}
					else if (attr == 2) {
						$(this).attr('data-value', 3);
						$(this).find('img').attr('src', 'https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Call+of+Duty/byd/defuse.png');
					}
					else if (attr == 3) {
						$(this).attr('data-value', 4);
						$(this).find('img').attr('src', 'https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Call+of+Duty/byd/timer.png');
					}
					else {
						$(this).attr('data-value', 0);
						$(this).find('img').attr('src', '');
					}
				});

				$('#play-resumen-byd').on('click', function(){

					var localResults = [];
					var visitorResults = [];

					var totalScoreLocal = 0;
					var totalScoreVisitor = 0;
					
					var map = $('#cod-byd-resumen #map-selector').val();

					$('#cod-byd-resumen .local-score').each(function(){
						localResults.push($(this).attr('data-value'));

						if($(this).attr('data-value') != 0) {
							totalScoreLocal += 1;
						}
					});

					$('#cod-byd-resumen .visitor-score').each(function(){
						visitorResults.push($(this).attr('data-value'));

						if($(this).attr('data-value') != 0) {
							totalScoreVisitor += 1;
						}
					});

					var localTeam = $('#cod-byd-resumen #local-team-selector').val();
					var visitorTeam = $('#cod-byd-resumen #visitor-team-selector').val();
					
					$.post(Routing.generate('caspar_play_cod_resumen_byd', { 
						localTeam : localTeam,
						visitorTeam: visitorTeam,
						localResults : localResults,
						visitorResults : visitorResults,
						totalScoreLocal : totalScoreLocal,
						totalScoreVisitor : totalScoreVisitor,
						map : map
					 }));
				});


				$('#modal_resumen_partidos').on('click', function(){
					var $modal = $('#cod-mapas-resumen');
					$modal.modal("show");
				});
				
				// Chyron TLB Resumen
				$('#modal_tlb_resumen').on('click', function(){
                	var $modal = $('#cod-tlb-resumen');
					$modal.modal("show");
                });

				$('.tlb-selector').on('click', function(){
					var attr = $(this).attr('data-value');

					if(attr == 0) {
						$(this).attr('data-value', 1);
						$(this).find('img').attr('src', 'https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Call+of+Duty/ctf/bandera-1.png');
					}
					else if(attr == 1) {
						$(this).attr('data-value', 2);
						$(this).find('img').attr('src', 'https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Call+of+Duty/ctf/bandera-2.png');
					}
					else {
						$(this).attr('data-value', 0);
						$(this).find('img').attr('src', '');
					}
				});

				$('#play-resumen-tlb').on('click', function(){

					var localResults = [];
					var visitorResults = [];

					var totalScoreLocal = 0;
					var totalScoreVisitor = 0;
					var totalHalfLocal = 0;
					var totalHalfVisitor = 0;
					
					var map = $('#cod-tlb-resumen #map-selector').val();

					$('#cod-tlb-resumen .local-score').each(function(key, value){
						localResults.push($(this).attr('data-value'));
						totalScoreLocal += parseInt($(this).attr('data-value'));

						if(key < 5) {
							totalHalfLocal += parseInt($(this).attr('data-value'));
						}
					});

					$('#cod-tlb-resumen .visitor-score').each(function(key, value){
						visitorResults.push($(this).attr('data-value'));
						totalScoreVisitor += parseInt($(this).attr('data-value'));

						if(key < 5) {
							totalHalfVisitor += parseInt($(this).attr('data-value'));
						}
					});

					var localTeam = $('#cod-tlb-resumen #local-team-selector').val();
					var visitorTeam = $('#cod-tlb-resumen #visitor-team-selector').val();
					
					$.post(Routing.generate('caspar_play_cod_resumen_tlb', { 
						localTeam : localTeam,
						visitorTeam: visitorTeam,
						localResults : localResults,
						visitorResults : visitorResults,
						totalScoreLocal : totalScoreLocal,
						totalScoreVisitor : totalScoreVisitor,
						totalHalfLocal: totalHalfLocal,
						totalHalfVisitor : totalHalfVisitor,
						map : map
					 }));
				});

				$('#cod-mapas-resumen #play-resumen-mapas').on('click', function(){
					var match_id = $("#match_id").val();

					 var maps = [];
					 var scores = [];

					 $('#cod-mapas-resumen .map-selector').each(function(){
						 maps.push($(this).val());
					 });

					$('#cod-mapas-resumen input[type="number"]').each(function(){
						scores.push($(this).val());
					});

					$.post(Routing.generate('caspar_play_cod_resumen_mapas', {
						match : match_id,
						maps : maps,
						scores : scores
					}));
				});
        	})
    	</script>
       
{% endblock %}