{% extends 'AppBundle:Stream:layout.html.twig' %}

{% block styles %}
	<link href="{{ asset('bundles/app/css/cod/lower_stats.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
	<div class="all">
		<div class="board">
			<div class="blank"></div>
			<div class="text">
				{{ text }}
			</div>
		</div>
	</div>
	<script src="http://cdn.jsdelivr.net/npm/jquery.marquee@1.5.0/jquery.marquee.min.js"></script>
	
	<script type="text/javascript">
		$(function(){
			var textSize = $('.text').width();
			console.log(textSize);
			$('.text').animate({
				right: textSize + 50
			},20000);
		});
	</script>
{% endblock %}