{% extends 'AppBundle:Stream:layout.html.twig' %}

{% block styles %}
	<link href="{{ asset('bundles/app/css/cod/resumen_hardpoint.css') }}" rel="stylesheet" />
	
	<style>
		{% if (hardpoints|length == 4)  %}
			.hardpoint-container {
				width: 306px;
			}
			
			.scoreboard {
		    	width: 298px;
			}
		{% endif %}
	</style>
{% endblock %}

{% block body %}
	<div class="overlay">
		<div class="board">
			<div class="header">
				RESUMEN PUNTO CALIENTE <img src="https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Call+of+Duty/medals/medal-hardpoint.png" />
			</div>
			<div class="maps-header">
				<div class="map">{{ data['map'] }}</div>
				{% for hardpoint in hardpoints %}
				<div class="hardpoint-container">
					<div class="hardpoint-name">
						{{ hardpoint }}
					</div>
				</div>
				{% endfor %}
			</div>
			
			{% for i in 1..3 %}
			<div class="rotation">
				<div class="rotation-name">
					{{ i|toText }} ROTACIÓN
				</div>
				{% for key in 0..((data['rotation_'~ i]|length - 1)) %}
				{% if key % 2 == 0 %}
    				<div class="scoreboard">
    					<div class="scores">
    						<div class="score-local {% if data['rotation_' ~ i][key] == 250 %} orange {% endif %}">{{ data['rotation_' ~ i][key] }}</div>
    						<div class="score-visitor {% if data['rotation_' ~ i][key + 1] == 250 %} orange {% endif %}">{{ data['rotation_' ~ i][key + 1] }}</div>
    					</div>
    					<div class="teams">
    						<div class="team-local">
    							{% if data['rotation_' ~ i][key] > data['rotation_' ~ i][key + 1] %}
    								<img src="{% path localTeam.imageSet, 'normal' %}" />
								{% else %}
									<div class="border" style="background-color:{{ localTeam.hex }};"></div>
    							{% endif %}
    						</div>
    						<div class="team-visitor">
    							{% if data['rotation_' ~ i][key] < data['rotation_' ~ i][key + 1] %}
    								<img src="{% path visitorTeam.imageSet, 'normal' %}" />
								{% else %}
									<div class="border" style="background-color:{{ visitorTeam.hex }};"></div>
    							{% endif %}
    						</div>
    					</div>
    				</div>
    				{% endif %}
				{% endfor %}
			</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}