{% extends 'AppBundle:Stream:layout.html.twig' %}

{% block styles %}
	<link href="{{ asset('bundles/app/css/cod/resumen_mapas.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
	<div class="overlay">
		<div class="board">
			<div class="header">
				<div class="team left">
					{{ localTeam.name }}
				</div>
				<div class="scoreboard">
					<div class="score pull-left">
						{{ match.scoreOne }}
					</div>
					
					<div class="score pull-right">
						{{ match.scoreTwo }}
					</div>
				</div>
				<div class="team right">
					{{ visitorTeam.name }}
				</div>
			</div>
			
			<div class="cinta"></div>
			<div class="maps">
				{% for i in 0..9 %}
    				{% if i % 2 == 0 %}
    				<div class="map">
    					<img src="https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Call+of+Duty/resumen/{{ data.maps[i / 2] }}.png" />
    					{% if data.scores[i] is defined %}
    					<div class="finished"></div>
    					<div class="map-result">
    						<div class="result">
    							{{ data.scores[i] }} - {{ data.scores[i + 1] }} 
    						</div>
    						<div class="team-result">
    						{% if  data.scores[i] > data.scores[i + 1]%}
    							<img src="{% path localTeam.imageLineup, 'normal' %}" />
    						{% else %}
    							<img src="{% path visitorTeam.imageLineup, 'normal' %}" />
    						{% endif %}
    						</div>
    					</div>
    					{% endif %}
    				</div>
    				{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
	
	<script type="text/javascript">

	</script>
</script>
{% endblock %}