{% extends 'AppBundle:Stream:layout.html.twig' %}

{% block styles %}
	<link href="{{ asset('bundles/app/css/cod/resumen_byd.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
	<div class="overlay">
		<div class="board">
			<div class="header">
				RESUMEN BUSCAR Y DESTRUIR <img src="https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Call+of+Duty/medals/medal-byd.png" />
			</div>
			<div class="map">
				<img src="https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Call+of+Duty/byd/{{ data['map'] }}.png" />
			</div>
			<div class="scoreboard">
				<ul class="scoreboard-header">
					<li class="rounds">RONDAS</li>
					{% for i in 1..11 %}
						<li class="score-number">{{ i }}</li>
					{% endfor %}
					<li class="total-title">TOTAL</li>
				</ul>
				{% for i in 1..2 %}
				<ul class="team">
						{% if i == 1 %}
						<li class="team-logo" style="background: linear-gradient(to top, rgba({{ localTeam.r  - 100}},{{ localTeam.g - 100 }},{{ localTeam.b  - 100}},1), rgba({{ localTeam.r }},{{ localTeam.g }},{{ localTeam.b }},1));">
							<img src="{% path localTeam.image, 'normal' %}" />
						</li>
						{% else %}
						<li class="team-logo" style="background: linear-gradient(to top, rgba({{ visitorTeam.r  - 100}},{{ visitorTeam.g - 100 }},{{ visitorTeam.b  - 100}},1), rgba({{ visitorTeam.r }},{{ visitorTeam.g }},{{ visitorTeam.b }},1));">
							<img src="{% path visitorTeam.image, 'normal' %}" />
						</li>
						{% endif %}
					{% for j in 1..11 %}
						<li class="team-score {% if i == 2 %} color {% endif %}">
							{% if i == 1 %}
								<img src="{{ data['localResults'][j - 1] | toImage }}" />
							{% else %}
								<img src="{{ data['visitorResults'][j - 1] | toImage }}" />
							{% endif %}
						</li>	
					{% endfor %}
					
					{% if i == 1 %}
					<li class="total-score {% if data['totalScoreLocal'] == 6 %} orange {% endif %}">
					    {{ data['totalScoreLocal'] }}
					</li>
					{% else %}
					<li class="total-score color {% if data['totalScoreVisitor'] == 6 %} orange {% endif %} ">
					    {{ data['totalScoreVisitor'] }}
				    </li>
					{% endif %}
				</ul>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}