{% extends 'AppBundle:Stream:layout.html.twig' %}

{% block styles %}
	<link href="{{ asset('bundles/app/css/cod/twitter_copa.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
<div class="all">
	<div class="pastilla">
		<div class="tweet">
			<div class="header">
				<div class="user">
					@{{ tweet.user }}
				</div>
				
				<div class="hashtag">
					#CODPAFINALES
				</div>
			</div>
			
			<div class="text">
				{{ tweet.text }}
			</div>
		</div>
	</div>
</div>
{% endblock %}