{% extends 'AppBundle:Stream:layout.html.twig' %}

{% block styles %}
	<link href="{{ asset('bundles/app/css/clash/gm_top10.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}

	<div class="overlay">
		<div class="board">
			<div class="header">
				<div class="header_title">
					Ranking individual
				</div>
				
				<div class="header_subtitle">
					Winrate
				</div>
			</div>
			
			<div class="teams">
				<div class="team_big"> <!-- RANK 1 -->
					<div class="border">
					
					</div>
					<div class="team_rank">
						1
					</div>
					<div class="team_big_photo" style="background: linear-gradient(to bottom, rgba(0,0,0, 1), rgba({{ data[0].player.team.r }},{{ data[0].player.team.g }},{{ data[0].player.team.b }},1) 70%)">
						<img src="{% path data[0].player.team.image, 'normal' %}" style="opacity:0.5; position:absolute">
						<div class="overimg">
							<img src="{% path data[0].player.imageLineup, 'normal' %}">
						</div>
					</div>
					<div class="team_info">
						<div class="team_info_name">
							{{ data[0].player.nickname }}
						</div>
						<div class="team_info_score" style="color: #ff6100;font-size:50px">
							{{ data[0].winrate}}%
						</div>
					</div>
				</div> <!-- End rank 1 -->
				<!-- RANK 2 and 3 -->
				{% for i in 1..2 %}
				<div class="team_medium"> 
					<div class="border">
					
					</div>
					<div class="team_rank">
						{{ i+1 }}
					</div>
					
					<div class="team_medium_photo" style="background: linear-gradient(to bottom, rgba(0,0,0, 1), rgba({{ data[i].player.team.r }},{{ data[i].player.team.g }},{{ data[i].player.team.b }},1) 70%)">
						<img src="{% path data[i].player.team.image, 'normal' %}" style="opacity:0.5; position:absolute; left:15px; width:90%;">
						<div class="overimg">
							<img src="{% path data[i].player.imageLineup, 'normal' %}">
						</div>
					</div>
					<div class="team_info">
						<div class="team_info_name" style="font-size:35px;">
							{{ data[i].player.nickname }}
						</div>
						<div class="team_info_score">
							{{ data[i].winrate }}%
						</div>
					</div>
				</div>
				{% endfor %}
				<!-- End Rank 2 and 3 -->
				
				<!-- RANK 4 to 10 -->
				{% for i in 3..9 %}
				<div class="team_small">
					<div class="border">
					
					</div>
					<div class="team_rank" style="margin-right: 0">
						{{ i+1 }}
					</div>
					<div class="team_small_photo"  style="background: linear-gradient(to bottom, rgba(0,0,0, 1), rgba({{ data[i].player.team.r }},{{ data[i].player.team.g }},{{ data[i].player.team.b }},1) 70%)">
						<img src="{% path data[i].player.team.imageScoreboard, 'normal' %}" >
					</div>
					<div class="team_info">
						<div class="team_info_name" style="font-size:25px">
							{{ data[i].player.nickname }}
						</div>
						<div class="team_info_score">
							{{ data[i].winrate }}%
						</div>
					</div>
				</div>
				{% endfor %}
				<!-- End rank 4 to 10 -->
			</div>
		</div>
	</div>
	
{% endblock %}