{% extends 'AppBundle:Stream:layout.html.twig' %}

{% block styles %}
    <link href="{{ asset('bundles/app/css/interface.css') }}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Signika" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="all">
        <div class="header">


        </div>

        <div class="main">
            <div class="container-fluid">
                <div class="interface">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Twitter</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12" style="margin-bottom:10px">
                                            <label>Tweet</label>
                                            <input id="tweetId" type="text" name="tweetId" class="form-control">
                                        </div>

                                        <div class="col-md-12" style="margin-bottom:10px">
                                            <label>Hashtag</label>
                                            <input id="hashtag" type="text" name="hashtag" class="form-control" value="SUPERLIGAORANGECR">
                                        </div>

                                        <div class="col-md-2" style="margin-bottom:10px">
                                            <button id="play_tweet" class="btn btn-success">PLAY</button>
                                        </div>

                                        <div class="col-sm-2">
                                            <button class="btn btn-danger stop">STOP</button>
                                        </div>
                                    </div>	
                                </div>
                            </div>
                        </div>

                        <div class="col-md-9">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Interfaz</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="gameSelector">
                                        <div class="row">
                                            <div class="col-sm-3 col-md-4">
                                                <select id="match_id" class="form-control">
                                                    {% for match in matches %}
                                                        <option value="{{ match.id }}">{{ match }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div> 
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-1">
                                            <label>Ingame</label>
                                        </div>
                                        <div class="col-sm-1">
                                            <button id="play" class="btn btn-success">PLAY</button>
                                        </div>

                                        <div class="col-sm-1">
                                            <button class="btn btn-danger stop">STOP</button>
                                        </div>

                                        <div class="col-sm-offset-1 col-sm-1">
                                            <label>Scoreboard</label>
                                        </div>
                                        <div class="col-sm-1">
                                            <button id="play_ingame" class="btn btn-success">PLAY</button>
                                        </div>

                                        <div class="col-sm-1">
                                            <button class="btn btn-danger stop">STOP</button>
                                        </div>
                                        
                                        <div class="col-sm-offset-1 col-sm-1">
                                            <label>Bans</label>
                                        </div>
                                        <div class="col-sm-1">
                                            <button id="play_bans" class="btn btn-success">PLAY</button>
                                        </div>

                                        <div class="col-sm-1">
                                            <button class="btn btn-danger stop3">STOP</button>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-1">
                                            <label>Votaciones Countdown</label>
                                        </div>

                                        <div class="col-sm-1">
                                            <button id="play_twitter_share" class="btn btn-success">PLAY</button>
                                        </div>

                                        <div class="col-sm-1">
                                            <button class="btn btn-danger stop">STOP</button>
                                        </div>

                                        <div class="col-sm-offset-1 col-sm-1">
                                            <label>Ingame LAN</label>
                                        </div>
                                        <div class="col-sm-1">
                                            <button id="play_lan" class="btn btn-success">PLAY</button>
                                        </div>

                                        <div class="col-sm-1">
                                            <button class="btn btn-danger stop">STOP</button>
                                        </div>
                                        
                                        <div class="col-sm-offset-1 col-sm-1">
                                            <label>Top 10</label>
                                        </div>
                                        <div class="col-sm-1">
                                            <button id="play_top10" class="btn btn-success">PLAY</button>
                                        </div>

                                        <div class="col-sm-1">
                                            <button class="btn btn-danger stop">STOP</button>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-1">
                                            <label>Sustituciones</label>
                                        </div>

                                        <div class="col-sm-1">
                                            <button id="play_sustitutions" class="btn btn-success">PLAY</button>
                                        </div>

                                        <div class="col-sm-1">
                                            <button class="btn btn-danger stop">STOP</button>
                                        </div>

                                        <div class="col-sm-offset-1 col-sm-1">
                                            <label>Clasificación</label>
                                        </div>

                                        <div class="col-sm-1">
                                            <button id="play_ladder" class="btn btn-success">PLAY</button>
                                        </div>

                                        <div class="col-sm-1">
                                            <button class="btn btn-danger stop">STOP</button>
                                        </div>
                                        
                                        <div class="col-sm-offset-1 col-sm-1">
                                            <label>DESEMPATE</label>
                                        </div>
                                        <div class="col-sm-1">
                                            <button id="play_desempate" class="btn btn-success">PLAY</button>
                                        </div>

                                        <div class="col-sm-1">
                                            <button class="btn btn-danger stop">STOP</button>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-1">
                                            <label>Resumen</label>
                                        </div>

                                        <div class="col-sm-1">
                                            <button id="play_resumen" class="btn btn-success">PLAY</button>
                                        </div>

                                        <div class="col-sm-1">
                                            <button class="btn btn-danger stop">STOP</button>
                                        </div>

                                        <div class="col-sm-offset-1 col-sm-1">
                                            <label>Lineup</label>
                                        </div>

                                        <div class="col-sm-1">
                                            <button id="play_lineup" class="btn btn-success">PLAY</button>
                                        </div>

                                        <div class="col-sm-1">
                                            <button class="btn btn-danger stop">STOP</button>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-sm-1">
                                             <button id="play_timer" class="btn btn-success">BANS</button>
                                        </div>

                                        <div class="col-sm-1">
                                            <button id="play_timer_lineup" class="btn btn-success">LINEUP</button>
                                        </div>

                                        <div class="col-sm-1">
                                            <button class="btn btn-danger stop2">STOP</button>
                                        </div>

                                        <div class="col-sm-offset-1 col-sm-1">
                                            <label>INGAME STATIC</label>
                                        </div>

                                        <div class="col-sm-1">
                                            <button id="play_static" class="btn btn-success">PLAY</button>
                                        </div>

                                        <div class="col-sm-1">
                                            <button class="btn btn-danger stop">STOP</button>
                                        </div>
                                        
                                        <div class="col-sm-offset-1 col-sm-1">
                                            <label>SCOREBOARD DESEMPATE</label>
                                        </div>

                                        <div class="col-sm-1">
                                            <button id="play_scoreboard_desempate" class="btn btn-success">PLAY</button>
                                        </div>

                                        <div class="col-sm-1">
                                            <button class="btn btn-danger stop">STOP</button>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-1">
                                            <label>Votaciones</label>
                                        </div>

                                        <div class="col-sm-1">
                                            <button id="play_twitter_share_chyron" class="btn btn-success">PLAY</button>
                                        </div>

                                        <div class="col-sm-1">
                                            <button class="btn btn-danger stop">STOP</button>
                                        </div>
                                    </div>
                                                
                                    <br>
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-3 col-md-4">
                                            <select id="player_id" class="form-control">
                                                {% for player in players %}
                                                    <option value="{{ player.id }}">{{ player }}</option>
                                                {% endfor %}
                                            </select>
                                        </div> 

                                        <div class="col-sm-3 col-md-4">
                                            <select id="player_id_two" class="form-control">
                                                {% for player in players %}
                                                    <option value="{{ player.id }}">{{ player }}</option>
                                                {% endfor %}
                                            </select>
                                        </div> 
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-1">
                                            <label>Stats Lower</label>
                                        </div>

                                        <div class="col-sm-1">
                                            <button id="player_stats_lower" class="btn btn-success">PLAY</button>
                                        </div>

                                        <div class="col-sm-1">
                                            <button class="btn btn-danger stop">STOP</button>
                                        </div>

                                        <div class="col-sm-offset-1 col-sm-1">
                                            <label>PIP</label>
                                        </div>

                                        <div class="col-sm-1">
                                            <button id="play_pip" class="btn btn-success">PLAY</button>
                                        </div>

                                        <div class="col-sm-1">
                                            <button class="btn btn-danger stop">STOP</button>
                                        </div>
                                    </div>
                                    
                                    <div class="row" style="margin-top:20px;">
                                    	<div class="col-sm-1">
                                            <label>Winrate</label>
                                        </div>

                                        <div class="col-sm-1">
                                            <button id="play_winrate" class="btn btn-success">PLAY</button>
                                        </div>

                                        <div class="col-sm-1">
                                            <button class="btn btn-danger stop">STOP</button>
                                        </div>
                                    </div>
                                </div>
                            </div>     
                        </div>
                    </div>
                </div>
            </div>
        </div>                

    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            var match_id = $("#match_id").val();
            $("#play").click(function () {
                var match_id = $("#match_id").val();
                $.post(Routing.generate('caspar_play', {id: match_id}));
            });

            $("#play_ingame").click(function () {
                var match_id = $("#match_id").val();
                $.post(Routing.generate('caspar_play_scoreboard', {id: match_id}));
            });

            $("#play_scoreboard_desempate").click(function () {
                var match_id = $("#match_id").val();
                $.post(Routing.generate('caspar_play_scoreboard_desempate', {id: match_id}));
            });
            
            $("#play_bans").click(function () {
                var match_id = $("#match_id").val();
                $.post(Routing.generate('caspar_play_bans', {id: match_id}));
            });

            $("#play_static").click(function () {
                var match_id = $("#match_id").val();
                $.post(Routing.generate('caspar_play_static', {id: match_id}));
            });

            $("#play_lan").click(function () {
                var match_id = $("#match_id").val();
                $.post(Routing.generate('caspar_play_lan', {id: match_id}));
            });

            $("#play_desempate").click(function () {
                var match_id = $("#match_id").val();
                $.post(Routing.generate('caspar_play_desempate', {id: match_id}));
            });

            $("#play_twitter_share").click(function () {
                var match_id = $("#match_id").val();
                $.post(Routing.generate('caspar_play_twitter_share', {game: '{{ game }}', competition: '{{ competition }}', id: match_id}));
            });
            
             $("#play_twitter_share_chyron").click(function () {
                var match_id = $("#match_id").val();
                $.post(Routing.generate('caspar_play_twitter_chyron', {game: '{{ game }}', competition: '{{ competition }}', id: match_id}));
            });

            $("#play_sustitutions").click(function () {
                var match_id = $("#match_id").val();
                $.post(Routing.generate('caspar_play_sustitution', {id: match_id}));
            });

            $("#play_ladder").click(function () {
                $.post(Routing.generate('caspar_play_ladder', {game: '{{ game }}', competition: '{{ competition }}'}));
            });

            $("#play_resumen").click(function () {
                var match_id = $("#match_id").val();
                $.post(Routing.generate('caspar_play_resumen', {id: match_id}));
            });

            $("#play_tweet").click(function () {
                var tweet = $("#tweetId").val();
                var hashtag = $("#hashtag").val();
                $.post(Routing.generate('caspar_play_tweet', {id: tweet, hashtag: hashtag}));
            });

            $("#play_lineup").click(function () {
                var match_id = $("#match_id").val();
                $.post(Routing.generate('caspar_play_lineup', {id: match_id}));
            });

            $("#player_stats_lower").click(function () {
                var player_id = $("#player_id").val();
                $.post(Routing.generate('caspar_play_lower_stats', {id: player_id}));
            });

            $("#play_pip").click(function () {
                var player_one = $("#player_id").val();
                var player_two = $("#player_id_two").val();

                $.post(Routing.generate('caspar_play_pip', {p1: player_one, p2: player_two}));
            });

            $("#play_top10").click(function(){
            	$.post(Routing.generate('caspar_play_gm_top10'));
            });

            $("#play_winrate").click(function () {
                var player_id = $("#player_id").val();
                $.post(Routing.generate('caspar_play_player_winrate', {id: player_id}));
            });

            $("#play_timer").click(function () {
                $.post(Routing.generate('caspar_play_timer', { minutes: 1, text: "Tiempo de baneo" } ));
            });
            
            $("#play_timer_lineup").click(function () {
                $.post(Routing.generate('caspar_play_timer', { minutes: 2, text: "Alineaciones" } ));
            });

            $(".stop").click(function () {
                $.post(Routing.generate('caspar_stop'));
            });
            $(".stop2").click(function () {
                $.post(Routing.generate('caspar_stop_21_lol'));
            });
            
            $(".stop3").click(function () {
                $.post(Routing.generate('caspar_stop_22_lol'));
            });

        })
    </script>

{% endblock %}