{% extends 'AppBundle:Stream:layout.html.twig' %}

{% block styles %}
	<link href="{{ asset('bundles/app/css/clash/lineup_overlay.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
	<div class="overlay">
		<div class="board">
			<div class="header">
				<div class="header_team" style="background: linear-gradient(to bottom, rgba(0,0,0, 1), rgba({{ match.teamOne.team.r }},{{ match.teamOne.team.g }},{{ match.teamOne.team.b }},1) 70%)">
 					<img src="{% path match.teamOne.team.imageLineup, 'normal' %}">
				</div>
				
				<div class="header_set">
					SET {{ activeMap[0].set }}
				</div>
				
				<div class="header_team right" style="background: linear-gradient(to bottom, rgba(0,0,0, 1), rgba({{ match.teamTwo.team.r }},{{ match.teamTwo.team.g }},{{ match.teamTwo.team.b }},1) 70%)">
                                    <img src="{% path match.teamTwo.team.imageLineup, 'normal' %}">
				</div>
			</div>
			
			{% for map in activeMap %}
    			<div class="team">
    				<div class="team_player" style="background: linear-gradient(to bottom, rgba(0,0,0, 1), rgba({{ match.teamOne.team.r }},{{ match.teamOne.team.g }},{{ match.teamOne.team.b }},1) 70%)">
                                    <img src="{% path map.playerOne.imageLineup, 'normal' %}">
    				</div>
    				
    				<div class="team_player_name">
    					{{ map.playerOne }}
    				</div>
    				
    				<div class="team_versus">
    					VS
    				</div>
    				
    				<div class="team_player_name right">
    				    {{ map.playerTwo }}
    				</div>
    				
    				<div class="team_player" style="background: linear-gradient(to bottom, rgba(0,0,0, 1), rgba({{ match.teamTwo.team.r }},{{ match.teamTwo.team.g }},{{ match.teamTwo.team.b }},1) 70%)">
                                    <img src="{% path map.playerTwo.imageLineup, 'normal' %}">
    				</div>
    			</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}