{% extends 'AppBundle:Stream:layout.html.twig' %}

{% block styles %}
	<link href="{{ asset('bundles/app/css/clash/lower_pip.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
	<div class="overlay">
		<div class="left">
			<div class="lower">
				<div class="lower_header">
					<span class="name"> {{ p1.nickname }}</span>
					<span class="team">{{ p1.team.name }}</span>
				</div>
				
				<div class="lower_body">
					<div class="card">
						<img src="{% path winConditionP1[0][0].pipImage, 'normal' %}">
					</div>
					
					<div class="win_condition">
						<div class="win_condition_top">
							WIN CONDITION
						</div>
						
						<div class="win_condition_bot">
							
						</div>
					</div>
					
					<div class="crown_avg">
						<div class="crown_avg_top">
							DIF. CORONAS / PARTIDO
						</div>
						
						<div class="crown_avg_bot">
							{{ ((data1.crownsIn - data1.crownsOut) / data1.timesPlayed)|round(2) }}
						</div>
					</div>
					
					<div class="victories">
						<div class="victories_top">
							% VICTORIAS
						</div>
						
						<div class="victories_bot">
							{{ (data1.victories / (data1.victories + data1.defeats) * 100)|round(0) }}%
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="right">
			<div class="lower">
				<div class="lower_header">
					<span class="name"> {{ p2.nickname }}</span>
					<span class="team">{{ p2.team.name }}</span>
				</div>
				
				<div class="lower_body">
					<div class="victories">
						<div class="victories_top">
							% VICTORIAS
						</div>
						
						<div class="victories_bot">
							{{ (data2.victories / (data2.victories + data2.defeats) * 100)|round(0) }}%
						</div>
					</div>
					
					<div class="crown_avg">
						<div class="crown_avg_top">
							DIF. CORONAS / PARTIDO
						</div>
						
						<div class="crown_avg_bot">
							{{ ((data2.crownsIn - data2.crownsOut) / data2.timesPlayed)|round(2) }}
						</div>
					</div>
					
					<div class="win_condition">
						<div class="win_condition_top">
							WIN CONDITION
						</div>
						
						<div class="win_condition_bot">
						
						</div>
					</div>
					
					<div class="card">
						<img src="{% path winConditionP2[0][0].pipImage, 'normal' %}">
					</div>
				</div>
			</div>
		</div>
	</div>
	
{% endblock %}