{% extends 'AppBundle:Stream:layout.html.twig' %}

{% block styles %}
    <link href="{{ asset('bundles/app/css/clash/overlay_time.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="overlay">
        <div class="scoreboard">
            <div class="content">
                <span class="text"></span>
                <span class="time"></span>
            </div>
        </div>
    </div>
    
    <script type="text/javascript">
        var count = 0;
        
        function startTimer() {

          var presentTime = $('.time').html();
          var timeArray = presentTime.split(/[:]+/);
          var m = timeArray[0];
          var s = checkSecond((timeArray[1] - 1));
{#          if(s==57){s="0"+2}#}
          if(s==59){m=m-1}

          if(m<0) {
                $.when(function() {
                      return $('.text, .time').fadeOut();
                  }()).done(function() {
                       $('.scoreboard').animate({'width': 'toggle'});
                  });
                  
                  return;
          }

          $('.time').html(m + ":" + s);
            
          setTimeout(function(){
              startTimer();
          }, 1000);
        }

        function checkSecond(sec) {
          if (sec < 10 && sec >= 0) {sec = "0" + sec}; // add zero in front of numbers < 10
          if (sec < 0) {sec = "59"};
          return sec;
        }
        
        $(function(){
            $('.scoreboard').hide();
            $('.text').hide();
            $('.time').hide();
            $('.scoreboard').animate({'width': 'toggle'}, 'slow').delay(200);
            
            $('.scoreboard').promise().done(function(){
                $('.text').html('{{ text }}').fadeIn();
                $('.time').html(0{{ time }} + ":" + 01).fadeIn();
                startTimer();
            });     
        });
    </script>
{% endblock %}