{% extends 'AppBundle:Stream:layout.html.twig' %}

{% block styles %}
	<link href="{{ asset('bundles/app/css/clash/overlay_sustitution.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
	<div class="overlay">
	{% if changes[0] is defined %}
		<div class="board">
			<div class="team" style="background-color:{{ changes[0].team.hex }}">
				<img src="{% path changes[0].team.image, 'normal' %}">
			</div>
			
			<div class="in">
				<div class="in_name">
					{{ changes[0].nickname }}
				</div>
				<div class="up">
					<div class="arrow-up">
					
					</div>
				</div>
			</div>
				
			<div class="out">
				<div class="out_name">
					{{ changes[1].nickname }}
				</div>
				<div class="down">
					<div class="arrow-down">
					</div>
				</div>
			</div>
		</div>
		
		{% endif %}
		
		{% if changes[2] is defined %}
		<div class="board-right">
			<div class="team" style="background-color:{{ changes[2].team.hex }}">
				<img src="{% path changes[2].team.image, 'normal' %}">
			</div>
			
			<div class="in">
				<div class="in_name">
					{{ changes[2].nickname }}
				</div>
				<div class="up">
					<div class="arrow-up">
					
					</div>
				</div>
			</div>
				
			<div class="out">
				<div class="out_name">
					{{ changes[3].nickname }}
				</div>
				<div class="down">
					<div class="arrow-down">
					</div>
				</div>
			</div>
			
		</div>
		
		{% endif %}
	</div>
	
	
	
	<script type="text/javascript">
	$(document).ready(function(){
		setTimeout(function(){
			$(".out").animate({top: '80px'}, {duration:1500 });
			$(".in").animate({top: '0'}, {duration:1500 });
		}, 2000);
	});
    </script>
	
	{{ parent() }}
{% endblock %}

