{% extends 'AppBundle:Stream:layout.html.twig' %}

{% block styles %}
    <link href="{{ asset('bundles/app/css/clash/bans.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="overlay">
        <ul>
            <div class="bans">
                {% for key,ban in match.bans %}
                    <li class="ban">
                        <img src="{% path ban.card.image, 'normal' %}" style="z-index:1;">
                        {% if loop.last %}
                        	<div class="ban-rate">
                        		BAN <br>
                        		<span class="value">{{ (bans[key] / totalBans * 100)|number_format(1, ',') }}%</span>
                        	</div>
                        {% endif %}
                    </li>
                {% endfor %}
            </div>
        </ul>
    </div>

<script type="text/javascript">
	$(function(){
		var $banrate = $('.ban-rate');
		setTimeout(function(){
			$banrate.slideToggle("slow");	
		},2000);
		
		setTimeout(function(){
			$banrate.slideToggle("slow");	
		},8000);
	});
</script>
{% endblock %}