{% extends 'AppBundle:Stream:layout.html.twig' %}

{% block styles %}
    <link href="{{ asset('bundles/app/css/clash/overlay_ingame.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}

    <div class="left">
        <div class="left-header">
            <img src="https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Clash+Royale/SLO-CR-chyron-lvp.png">
        </div>
        <div class="left-content">	
            <div class="team-scoreboard">
                <div class="team-scoreboard-name">
                    {{ match.teamTwo.team.name }}
                </div>
                <div class="team-scoreboard-score">
                    {{ scores.scoreTwo }}
                </div>
            </div>

            <!-- TEAM TOP -->
            <div class="team-big" style="background: linear-gradient(to bottom, rgba(0,0,0, 0.48), rgba({{ match.teamTwo.team.r }},{{ match.teamTwo.team.g }},{{ match.teamTwo.team.b }},0.48))">				
                <div class="team-big-body">
                    <img src="{% path match.teamTwo.team.image, 'normal' %}"/>
                </div>
                <div class="team-bans">
                    <ul>
                        <li class="ban">BANS</li>
                            {% for i in 0..3 %}
                            <li class="ban">
                                {% if match.bans[i] is defined %}
                                    {% if match.bans[i].team == match.teamTwo %}
                                        <img src="{% path match.bans[i].card.image, 'small' %}" >
                                    {% endif %}
                                {% endif %}	
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <!-- SCOREBOARD SETS -->
            <div class="scoreboard">
                <ul>

                    {% for i in 1..5 %}
                        {% if scores.teamOne[i] is defined and scores.teamTwo[i] is defined %}
                            {% if scores.teamOne[i] == 2 or scores.teamTwo[i] == 2 %}
                                {% if scores.teamOne[i] > scores.teamTwo[i] %}
                                    <li class="scoreboard-single" style="background: rgba({{ match.teamOne.team.r }},{{ match.teamOne.team.g }},{{ match.teamOne.team.b }},0.7);">{{ scores.teamTwo[i] }}-{{ scores.teamOne[i] }}</li>
                                    {% else %}
                                    <li class="scoreboard-single" style="background: rgba({{ match.teamTwo.team.r }},{{ match.teamTwo.team.g }},{{ match.teamTwo.team.b }},0.7);">{{ scores.teamTwo[i] }}-{{ scores.teamOne[i] }}</li>
                                    {% endif %}
                                {% else %}
                                <li class="scoreboard-single">{{ scores.teamTwo[i] }}-{{ scores.teamOne[i] }}</li>
                                {% endif %}    					
                            {% else %}
                            <li class="scoreboard-single">SET {{ i }}</li>
                            {% endif %}
                        {% endfor %}

                </ul>
            </div>

            <!-- TEAM BOTTOM -->
            <div class="team-big bottom" style="background: linear-gradient(to top, rgba(0,0,0, 0.48), rgba({{ match.teamOne.team.r }},{{ match.teamOne.team.g }},{{ match.teamOne.team.b }},0.48))">
                <div class="team-bans bottom">
                    <ul>
                        <li class="ban">BANS</li>
                            {% for i in 0..3 %}
                            <li class="ban">
                                {% if match.bans[i] is defined %}
                                    {% if match.bans[i].team == match.teamOne %}
                                        <img src="{% path match.bans[i].card.image, 'small' %}" >
                                    {% endif %}
                                {% endif %}	
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="team-big-body bottom">
                    <img src="{% path match.teamOne.team.image, 'normal' %}"/>
                </div>
            </div>

            <div class="team-scoreboard">
                <div class="team-scoreboard-name">
                    {{ match.teamOne.team.name }}
                </div>
                <div class="team-scoreboard-score">
                    {{ scores.scoreOne }}
                </div>
            </div>

            <div class="patro_orange">
                <img src="https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Clash+Royale/Orange.png" />
            </div>
        </div>
    </div>

    <div class="right">
        <div class="right-content">
            <div class="right-header">
{#                 JORNADA {{ match.jornada }} - SET {{ sets }}#}
                ASCENSO / DESCENSO - SET {{ sets }}
            </div>
            {% for set in 1..sets  %}
                {% if set != 5 %}
                <div class="set">
                    <ul>
                        <li class="set-header">
                            <ul>
                                <li class="set-left" style="background: linear-gradient(to top, rgba(0,0,0, 1), rgba({{ match.teamTwo.team.r }},{{ match.teamTwo.team.g }},{{ match.teamTwo.team.b }},1))">
                                    <img src="{% path match.teamTwo.team.imageSet, 'normal' %}">
                                </li>
                                <li class="set-center">SET {{ set }}</li>
                                <li class="set-right" style="background: linear-gradient(to top, rgba(0,0,0, 1), rgba({{ match.teamOne.team.r }},{{ match.teamOne.team.g }},{{ match.teamOne.team.b }},1))">
                                    <img src="{% path match.teamOne.team.imageSet, 'normal' %}">
                                </li>
                            </ul>
                        </li>

                        {% for matchMap in match.matchMaps|slice(3*(set-1),3) %}
                            <li class="set-map">
                                {% if (matchMap.set < activeSet[0].set) and (matchMap.crownsOne == 0) and (matchMap.crownsTwo == 0) %} 
                                <div class="notPlayed"></div>
                                <div class="notPlayedRight"></div>
                                {% endif %}
                                    <ul>
                                        <li class="set-left">{{ matchMap.playerTwo }}</li>
                                        <li class="set-center">
                                            {% if (matchMap.set < activeSet[0].set) and (matchMap.crownsOne == 0) and (matchMap.crownsTwo == 0) %} 
                                            &nbsp;
                                            {% else %}
                                                {{ matchMap.crownsTwo }}-{{ matchMap.crownsOne }}
                                                {% endif %}
                                                </li>
                                                <li class="set-right">{{ matchMap.playerOne }}</li>
                                            </ul>
                                        </li>
                                        {% endfor %}

                                        </ul>
                                    </div>
                                    {% endif %}
                                        {% endfor %}
                                            <!--  End score table  -->

                                            <!--  Cards -->
                                            <div class="cards hidden ctop">
                                                {% for i in 1..3  %}

                                                    {% if i == activeMap %}
                                                        <div class="card" style="background: linear-gradient(to top, rgba(0,0,0, 1), rgba({{ match.teamTwo.team.r }},{{ match.teamTwo.team.g }},{{ match.teamTwo.team.b }},1))">
                                                            <div class="card-container">
                                                                <div class="overlay"></div>
                                                                <div class="card-header">
                                                                    {{ activeSet[i-1].playerTwo.nickname }}
                                                                </div>
                                                                <img src="{% path activeSet[i-1].playerTwo.image, 'normal' %}"/>
                                                            </div>
                                                        </div>
                                                    {% else %}
                                                        <div class="card disabled" style="background-color:{{ match.teamTwo.team.hex }}">
                                                            <div class="card-container">
                                                                <div class="overlay"></div>
                                                                <div class="card-header">
                                                                    {{ activeSet[i-1].playerTwo.nickname }}
                                                                </div>
                                                                <img src="{% path activeSet[i-1].playerTwo.image, 'normal' %}"/>
                                                            </div>
                                                        </div>
                                                    {% endif %}

                                                {% endfor %}

                                            </div>
                                            <div class="gameboard hidden">
                                                <ul>
                                                    {% for i in 1..3 %}
                                                        {% if i < activeMap %}
                                                            {% if activeSet[i-1].crownsOne > activeSet[i-1].crownsTwo %}
                                                                <li class="game" style="background-color: {{ match.teamOne.team.hex }}">
                                                                    <img src="{% path match.teamOne.team.imageWin, 'normal' %}"/>
                                                                </li>
                                                            {% else %}
                                                                <li class="game" style="background-color: {{ match.teamTwo.team.hex }}">
                                                                    <img src="{% path match.teamTwo.team.imageWin, 'normal' %}"/>
                                                                </li>
                                                            {% endif %}
                                                            </li>
                                                        {% elseif i != activeMap %}
                                                            <li class="game">Partida {{ i }}</li>
                                                            {% else %}
                                                            <li class="game active">Partida {{ i }}</li>
                                                            {% endif %}
                                                        {% endfor %}
                                                </ul>
                                            </div>

                                            <div class="cards bottom hidden cbot">
                                                {% for i in 1..3  %}

                                                    {% if i == activeMap %}
                                                        <div class="card" style="background: linear-gradient(to top, rgba(0,0,0, 1), rgba({{ match.teamOne.team.r }},{{ match.teamOne.team.g }},{{ match.teamOne.team.b }},1))">

                                                            <div class="card-container">
                                                                <div class="overlay"></div>
                                                                <div class="card-header">
                                                                    {{ activeSet[i-1].playerOne.nickname }}
                                                                </div>
                                                                <img src="{% path activeSet[i-1].playerOne.image, 'normal' %}"/>
                                                            </div>
                                                        </div>
                                                    {% else %}
                                                        <div class="card disabled" style="background-color:{{ match.teamOne.team.hex }}">
                                                            <div class="card-container">
                                                                <div class="overlay"></div>
                                                                <div class="card-header">
                                                                    <div class="nameplayer">{{ activeSet[i-1].playerOne.nickname }}</div>
                                                                </div>
                                                                <img src="{% path activeSet[i-1].playerOne.image, 'normal' %}"/>
                                                            </div>
                                                        </div>
                                                    {% endif %}

                                                {% endfor %}

                                            </div>

                                            <!-- End cards -->

                                            <div class="patros_rotativos">
                                            </div>

                                        </div>
                                    </div>

                                    <script type="text/javascript">
                                        $(document).ready(function () {
                                            function change() {
                                                $(".set").fadeToggle('slow');
                                                function change2() {
                                                    $(".ctop").removeClass("hidden");
                                                    function change3() {
                                                        $(".gameboard").removeClass("hidden");
                                                        function change4() {
                                                            $(".cbot").removeClass("hidden");
                                                        }
                                                        setTimeout(change4, 0);
                                                    }
                                                    setTimeout(change3, 0);
                                                }
                                                setTimeout(change2, 700);
                                            }
                                            setTimeout(change, 13000);
                                        {#                                            setTimeout(change, 1);#}
                                            });
                                    </script>

                                    <script type="text/javascript">
                                        var youtube = [
                                            {c: 'youtube', text: 'Todos los detalles de cada <br>jornada en <span class="color">LVPClash</span>'},
                                            //{c: 'gy', text: '¡Compra ya tus entradas en gamergy.es !'}
                                             {c: 'youtube', text: 'Vuelve a ver las mejores<br> jugadas  del partido en <span class="color">LVPClash</span>'}
                                        ];

                                        var store = [
                                            {c: 'shop', text: 'Equipaciones de la nueva <br> temporada: <span class="color">LVPSTORE.ES</span>'},
                                            {c: 'crn', text: 'Sigue el Mundial de Clash en crnationscup.com'}
//                                             {c: 'shop', text: 'Hazte con la camiseta de tu<br> equipo en <span class="color">LVPSTORE.ES</span>'}
                                        ];

                                        var lvpesclash = [
                                            {c: 'twitter', text: 'Sigue con nosotros el <br> directo en <span class="color">@LVPesClash</span>'},
                                            {c: 'twitter', text: 'Comenta el partido <br> con <span class="color">@LVPesClash</span>'}
                                        ];

                                        var patros = [youtube, store, lvpesclash];

                                        $(function () {
                                            function swap() {
                                                $('.patros_rotativos').show();

                                                var patro = Math.floor(Math.random() * 3);

                                                var p = Math.floor(Math.random() * 2);

                                                var content = [
                                                    '<div class="patros_rotativos_logo ' + patros[patro][p].c + '"></div>',
                                                    '<div class="patros_rotativos_text">',
                                                    patros[patro][p].text,
                                                    '</div>'
                                                ].join('\r\n');

                                                $('.patros_rotativos').hide().html(content).fadeIn(2000);

                                                setTimeout(swap, 17000);
                                            }
                                            
                                            function logo()
                                            {
                                                var img = $('.left-header img');
                                                if(img.attr('src') === 'https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Clash+Royale/SLO-CR-chyron-lvp.png')
                                                {
                                                    img.attr('src', 'https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Clash+Royale/SLO-CR-chyron-slo.png');
                                                }
                                                else
                                                {
                                                    img.attr('src', 'https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Clash+Royale/SLO-CR-chyron-lvp.png');
                                                }
                                                
                                                setTimeout(logo, 10000);
                                            }
                                            
                                            
                                            setTimeout(swap, 14000);
                                            logo();
                                            

                                        });
                                    </script>

                                    {{ parent() }}
                                    {% endblock %}