{% extends 'AppBundle:Stream:layout.html.twig' %}

{% block styles %}
	<link href="{{ asset('bundles/app/css/clash/ladder_overlay.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="overlay">
        <div class="jornada">
            JORNADA {{ jornada[1] }}
        </div>
        
        <div class="header">
            <div class="header_victory">
                V
            </div>
            
            <div class="header_defeat">
                D
            </div>
            
            <div class="header_points">
                P
            </div>
        </div>
        
        <div class="board">
            {% for team in  ladder %}
            <div class="team">
                {% if team.rank > 8 %}
                    <div class="team_color" style="background: linear-gradient(to bottom, #ff0101, #980001)"></div>
                    <div class="team_position">
                        {{ team.rank }}
                    </div>
                {% elseif team.rank <= 4 %}
                    <div class="team_color"></div>
                    <div class="team_position">
                        {{ team.rank }}
                    </div>
                {% else %}    
                    <div class="team_no_color"></div>
                    <div class="team_position round">
                        {{ team.rank }}
                    </div>
                {% endif %}                
                <div class="team_logo" style="background: linear-gradient(to top, rgba(0,0,0, 1), rgba({{ team.team.r }}, {{ team.team.g }}, {{ team.team.b }},1) 70%);">
                    <img src="{% path team.team.imageSet, 'normal' %}">
                </div>
                
                <div class="team_name">
                    {{ team.team.name }}
                </div>
                
                <div class="team_victory">
                    {{ team.win }}
                </div>
                
                <div class="team_defeat">
                    {{ team.defeat }}
                </div>
                
                <div class="team_points">
                    {{ team.points }}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}