{% extends 'AppBundle:Stream:layout.html.twig' %}

{% block styles %}
	<link href="{{ asset('bundles/app/css/clash/overlay_winrate.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
<style>
	body{
		background-image:url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Clash+Royale/players/{{ player.id }}.png');
	}
</style>

	<div class="overlay">
		<div class="board">
			<div class="header">
				<div class="header-brand">
					<img class="logo" src="https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/superliga.png" />
					<img class="brand" src="https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Clash+Royale/cr.png" />
				</div>
				<div class="header-team">
					<span class="team-name">DESTACADO</span>
					
					<div class="team-logo" style="background: linear-gradient(to top, rgba(0,0,0, 1), rgba({{ player.team.r }}, {{ player.team.g }}, {{ player.team.b }},1) 70%);">
						<img src="{% path player.team.imageLineup, 'normal' %}" style="margin-left: -40px;" />
					</div>
				</div>
				
				<div class="header-jornada">
					JORNADA {{ jornada }}
				</div>
			</div>
			
			<div class="winrate">
				<div class="winrate-title">WIN RATE</div>
				<div class="winrate-name">{{ player.nickname }}</div>
				<div class="winrate-value">{{ (data.victories / (data.defeats + data.victories) * 100)|number_format(1,',') }}%</div>
			</div>
			
			<div class="stats">
				<div class="stats-header">
					<div class="stats-header-card">CARTA</div>
					<div class="stats-header-use">USO</div>
					<div class="stats-header-winrate">WIN RATE</div>
				</div>
				{% for i in 0..4 %}
				<div class="stats-card">
					<div class="rating">{{ i + 1 }}</div>
					<div class="card-image">
						<img src="{% path winCondition[i][0].pipImage, 'normal' %}">
					</div>
					<div class="card-name">{{ winCondition[i][0].name|trans }}</div>
					<div class="card-usage">{{ (winCondition[i]['times'] / totalGames * 100)|number_format }}%</div>
					<div class="card-winrate">{{ (winCondition[i]['totalWinsAsWinCondition'] / winCondition[i]['times'] * 100) |number_format(1, ',') }}%</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	
	<script type="text/javascript">
		$(function(){
			setTimeout(function(){
				$('.winrate-title, .winrate-name').fadeIn('slow');
			}, 2000);

			setTimeout(function(){
				$('.winrate-value').slideDown("slow");
			}, 3000);

			setTimeout(function(){
				$('.stats-header').fadeIn("slow");
				$('.rating').fadeIn("slow");
				$('.card-image').animate({width: 'toggle'});
				$('.stats-card').animate({width: 'toggle'},1000);
			},5000);
		});
	</script>
{% endblock %}