{% extends 'AppBundle:Stream:layout.html.twig' %}

{% block styles %}
	<link href="{{ asset('bundles/app/css/clash/overlay_stats_lower.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
	<div class="overlay">
		<div class="board">
			<div class="team" style="background:linear-gradient(to top, rgba(0,0,0, 1), rgba({{ player.team.r }},{{ player.team.g }},{{ player.team.b }},1) 30%) ">
				<img src="{% path player.team.image, 'normal' %}">
				<div class="player">
					<img src="{% path player.imageLineup, 'normal' %}">
				</div>
			</div>
			<div class="stats">
				<div class="stats_header">
					<span class="black">{{ player.nickname }}</span> <span class="nameTeam">{{ player.team.name }}</span>
				</div>
				
				<div class="stats_victories">
					<div class="title">
						% VICTORIAS
					</div>
					<div class="score">
						{{ (data.victories / (data.victories + data.defeats) * 100)|round(0) }}%
					</div>
					
				</div>
				
				<div class="stats_crownavg">
					<div class="title" style="width: 70%;">
						DIF. CORONAS / PARTIDO
					</div>
					<div class="score" style="width: 30%;">
						{{ ((data.crownsIn - data.crownsOut) / data.timesPlayed)|round(2) }}
					</div>
				</div>
				
				<div class="stats_winc">
					<div class="stats_winc_title">
						WIN CONDITION
					</div>
					<div class="stats_winc_card">
						<img src="{% path winCondition[0][0].pipImage, 'normal' %}">
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}