{% extends 'AppBundle:Stream:layout.html.twig' %}

{% block styles %}
	<link href="{{ asset('bundles/app/css/clash/resumen_overlay.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="overlay">
    <div class="line">

    </div>
        <div class="board">
            <div class="header">
                <div class="header_team">
                    <div class="header_team_name">
                        {{ match.teamOne.team.name }}
                    </div>
                    
                    <div class="header_team_logo" style="background: linear-gradient(to bottom, rgba(0,0,0, 0.48), rgba({{ match.teamOne.team.r }},{{ match.teamOne.team.g }},{{ match.teamOne.team.b }},0.48))">
                        <img src="{% path match.teamOne.team.imageLineup, 'normal' %}">
                    </div>
                </div>
                
                <div class="header_score">
                    {{ scores.scoreOne }}
                </div>
                
                <div class="header_score right">
                    {{ scores.scoreTwo }}
                </div>
                
                <div class="header_team right">
                    <div class="header_team_name">
                        {{ match.teamTwo.team.name }}
                    </div>
                    
                    <div class="header_team_logo" style="background: linear-gradient(to bottom, rgba(0,0,0, 0.48), rgba({{ match.teamTwo.team.r }},{{ match.teamTwo.team.g }},{{ match.teamTwo.team.b }},0.48))">
                        <img src="{% path match.teamTwo.team.imageLineup, 'normal' %}">
                    </div>
                </div>
            </div>
                    

            
                    
            <div class="sets">
                {% for set in 1..sets %}
                    <div class="set">
                        <div class="set_header">
                            <div class="set_header_team" style="background-color: rgba({{ match.teamOne.team.r }},{{ match.teamOne.team.g }},{{ match.teamOne.team.b }},0.7)">
                                <img src="{% path match.teamOne.team.imageSet, 'normal' %}">
                            </div>

                            <div class="set_header_set">
                                SET {{ set }}
                            </div>

                            <div class="set_header_team" style="background-color: rgba({{ match.teamTwo.team.r }},{{ match.teamTwo.team.g }},{{ match.teamTwo.team.b }},0.7)">
                                <img src="{% path match.teamTwo.team.imageSet, 'normal' %}">
                            </div>
                        </div>
                        {% for matchMap in match.matchMaps|slice(3*(set-1),3) %}
                        <div class="set_">
                        	{% if ((matchMap.set < activeSet[0].set) and (matchMap.crownsOne == 0) and (matchMap.crownsTwo == 0)) or (matchMap.crownsOne == 0 and matchMap.crownsTwo ==0 ) %} 
                        		<div class="notPlayed"></div> 
                        		<div class="notPlayedRight"></div> 
                    		{% endif %}
                            <div class="set_player" style="text-align: right; padding-right: 13px;">
                                {{ matchMap.playerOne }}
                            </div>

                            <div class="set_scores">
                            	{% if ((matchMap.set < activeSet[0].set) and (matchMap.crownsOne == 0) and (matchMap.crownsTwo == 0)) or (matchMap.crownsOne == 0 and matchMap.crownsTwo ==0 ) %} 
                            	
                            	{% else %}
                            		{{ matchMap.crownsOne }}-{{ matchMap.crownsTwo }}
                            	{% endif %}
                                
                            </div>

                            <div class="set_player" style="text-align: left; padding-left: 13px;">
                                {{ matchMap.playerTwo }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}