{% extends 'AppBundle:Stream:layout.html.twig' %}

{% block styles %}
    <link href="{{ asset('bundles/app/css/clash/scoreboard_out.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="overlay">
        <div class="scoreboard" style="width:485px;">
            <ul>
                <div class="sets" style="width:252px;">
                    {% for i in 1..3 %}
                        <li class="set">SET {{ i }}</li>
                        {% endfor %}
                </div>

                <div class="scores">
                    <div class="scoresOne">
                        <li class="team" style="background: rgba({{ match.teamOne.team.r }},{{ match.teamOne.team.g }},{{ match.teamOne.team.b }},0.9);">
                            <img src="{% path match.teamOne.team.imageScoreboard, 'normal' %}" >
                        </li>
                        {% for i in 1..3 %}
                            {% if scores.teamOne[i] is not defined and scores.teamTwo[i] is not defined %}
                                <li class="resultado">-</li>
                                {% else %}
                                    {% if scores.teamOne[i] == 2 %}
                                    <li class="resultado" style="color:#fd5c01">{{ scores.teamOne[i] }}</li>
                                    {% else %}
                                    <li class="resultado">{{ scores.teamOne[i] }}</li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        <li class="scoreTotal">{{ scores.scoreOne }}</li>
                    </div>

                    <div class="scoresTwo">
                        <li class="team" style="background: rgba({{ match.teamTwo.team.r }},{{ match.teamTwo.team.g }},{{ match.teamTwo.team.b }},0.9);">
                            <img src="{% path match.teamTwo.team.imageScoreboard, 'normal' %}" >
                        </li>
                        {% for i in 1..3 %}
                            {% if scores.teamOne[i] is not defined and scores.teamTwo[i] is not defined %}
                                <li class="resultado">-</li>
                                {% else %}
                                    {% if scores.teamTwo[i] == 2 %}
                                    <li class="resultado" style="color:#fd5c01">{{ scores.teamTwo[i] }}</li>
                                    {% else %}
                                    <li class="resultado">{{ scores.teamTwo[i] }}</li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        <li class="scoreTotal">{{ scores.scoreTwo }}</li>
                    </div>
                </div>

                {#<div class="bans">
                        {% for i in 0..3 %}
                                {% if match.bans[i] is defined %}
                                        <li class="ban">
                                                <img src="{% path match.bans[i].card.image, 'normal' %}">
                                        </li>
                                {% endif %}
                        {% endfor %}
                </div>#}
            </ul>
        </div>
    </div>

{% endblock %}