{% extends 'GrafismBundle::layout.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('bundles/grafism/css/Virtual/draft.css') }}" />

    <style>
        body, html {
            background: url('https://s3-eu-west-1.amazonaws.com/lvp-graphism/Virtual/draft/draft-{{ side }}.png');
            background-repeat: no-repeat;
            background-color: transparent;
        }
    </style>

{% endblock styles %}

{% block body %}

    <div class="draft {{ side }}">
        <div class="header">{{ player.nickname }}</div>
        <div class="cards">
            {% for i in 0..2 %}
                <div class="card-row">
                    {% for card in cards | slice (i * 5, 5)%}
                        <div class="card">
                            <div class="fifa-card {{ card.quality }}{{ card.type }}" style="background: url('https://s3-eu-west-1.amazonaws.com/lvp-api/fifa/cards/{{ card.quality }}{{ card.type }}.png')" >
                                <div class="top">
                                    <div class="card-info">
                                        <div class="rating">{{ card.rating }}</div>
                                        <div class="position">{{ card.position | abbr }}</div>
                                        <div class="flag">
                                            <img src="{{ card.flag }}" alt="">
                                        </div>
                                        <div class="club">
                                            <img src="{{ card.clubImage }}" alt="" />
                                        </div>
                                    </div>
                                    <div class="player {{ card.quality }}{{ card.type }}">
                                        <img src="{{ card.image }}" alt="" />
                                    </div>
                                </div>

                                <div class="bottom">
                                    <div class="player-name din-bond">{{ card.name }}</div>
                                    <div class="player-stats">
                                        <div class="stats" style="padding-left: 24px;">
                                            {% for stat in card.stats | slice(0,3) %}
                                                <div><span class="din-bond">{{ stat.value }}</span> <span style="font-weight: 600;">{{ stat.name }}</span></div>
                                            {% endfor %}
                                        </div>
                                        <div class="stats" style="padding-left: 16px;">
                                            {% for stat in card.stats | slice(3,3) %}
                                                <div><span class="din-bond">{{ stat.value }}</span> <span style="font-weight: 600;">{{ stat.name }}</span></div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>

    <script type="text/javascript">
        $(function () {
            /*setTimeout(function () {
                $('.fifa-card').each(function (i) {
                    $(this).delay(500*(1+i)).fadeIn(600);
                });
            }, 3000);*/
        });
    </script>

{% endblock body %}