{% extends 'GrafismBundle::layout.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('bundles/grafism/css/Virtual/in-game.css') }}" />
{% endblock styles %}

{% block body %}

    <div class="header">
        <div class="scoreboard">
            <div class="scoreboard-header">{{ label }}</div>
            <div class="team local">
                <div class="team-info">
                    <div class="team-tag">{{ games[currentGame].local.tag }}</div>
                    <div class="team-color">
                        <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/Virtual/in-game/teams/{{ flags.local }}.png" alt="" />
                    </div>
                </div>
                <div id="score-local" class="team-score">{{ games[currentGame].local.score }}</div>
                <div class="local-fade"></div>
            </div>
            <div class="team visitor">
                <div id="score-visitor" class="team-score">{{ games[currentGame].visitor.score }}</div>
                <div class="visitor-fade"></div>
                <div class="team-info">
                    <div class="team-tag">{{ games[currentGame].visitor.tag }}</div>
                    <div class="team-color">
                        <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/Virtual/in-game/teams/{{ flags.visitor }}.png" alt="" />
                    </div>
                </div>
            </div>
        </div>

        <div class="global-scoreboard" style="{% if currentGame == 2 %} display:block; {% endif %}">(<span id="global-visitor">{{ scores.visitor }}</span>-<span id="global-local">{{ scores.local }}</span>)</div>

        <div class="sponsors">
            <div class="sponsors-rotative">
                <img id="patros" alt="" />
            </div>
        </div>
    </div>

    <div class="cameras">
        <div class="camera local">
            <div class="camera-name">{{ (half == 1) ? games[currentGame].local.nickname : games[currentGame].visitor.nickname }}</div>
        </div>
        <div class="camera visitor">
            <div class="camera-name">{{ (half == 1) ? games[currentGame].visitor.nickname : games[currentGame].local.nickname }}</div>
        </div>
    </div>

    <div class="round">{{ round }}</div>

    <script type="text/javascript">

        var matchLocal = {{ scores.visitor }};
        var matchVisitor = {{ scores.local }};

        var picPaths = [
            'https://s3-eu-west-1.amazonaws.com/lvp-graphism/Virtual/in-game/Allianz.png',
            'https://s3-eu-west-1.amazonaws.com/lvp-graphism/Virtual/in-game/Orange.png',
            'https://s3-eu-west-1.amazonaws.com/lvp-graphism/Virtual/in-game/Hyundai.png',
            'https://s3-eu-west-1.amazonaws.com/lvp-graphism/Virtual/in-game/LVP.png'
        ];
        var curPic = -1;
        //preload the images for smooth animation
        var imgO = new Array();
        for(i=0; i < picPaths.length; i++) {
            imgO[i] = new Image();
            imgO[i].src = picPaths[i];
        }

        function swapImage() {
            curPic = (++curPic > picPaths.length-1)? 0 : curPic;

            // If Patch
            if(curPic == 1) {
                $('.patch').show();
            } else {
                $('.patch').hide();
            }

            imgCont.src = imgO[curPic].src;
            setTimeout(swapImage, 7000);
        }

        function updateScores()
        {
            var request = $.ajax({
                url: '{{ path('virtual_form_game', { id: games[currentGame].id }) }}'
            });

            request.done(function (response) {
                var localScore = response.game.scores.local;
                var visitorScore = response.game.scores.visitor;

                if(localScore != $('#score-local').text()) {
                    $('.local-fade').animate({
                        height: 54
                    }, 300, function () {
                        $('#score-local').text(localScore);
                        $('.local-fade').animate({
                            height: 0
                        });
                    });

                    {% if currentGame == 2 %}
                    $('#global-visitor').text(localScore + matchLocal);
                    {% endif %}
                }

                if(visitorScore != $('#score-visitor').text()) {
                    $('.visitor-fade').animate({
                        height: 54
                    }, 300, function () {
                        $('#score-visitor').text(visitorScore);
                        $('.visitor-fade').animate({
                            height: 0
                        });
                    })

                    {% if currentGame == 2 %}
                        $('#global-local').text(visitorScore + matchVisitor);
                    {% endif %}
                }
            });
        }

        function updateRound()
        {
            var tag = '{{ round }}';

            (tag == $('.round').text()) ? $('.round').text('VIRTUALLALIGAESPORTS.COM') : $('.round').text(tag);
        }

        $(document).ready(function(){
            imgCont = document.getElementById('patros');
            swapImage();

            setInterval(function () {
                updateScores();
            }, 1500);

            setInterval(function () {
                updateRound();
            }, 60000);

        });

    </script>

{% endblock body %}