{% extends 'GrafismBundle::layout.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('bundles/grafism/css/Virtual/safest-draft.css') }}" />
{% endblock styles %}

{% block body %}

<div class="draft">
    <div class="first-row">
        {% include '@Grafism/Virtual/partial/card.html.twig' with { 'card' : cards['player_8']['card'], 'class' : 'player-8' } %}
        {% include '@Grafism/Virtual/partial/card.html.twig' with { 'card' : cards['player_9']['card'], 'class' : 'player-9' } %}
        {% include '@Grafism/Virtual/partial/card.html.twig' with { 'card' : cards['player_10']['card'], 'class' : 'player-10' } %}
    </div>

    <div class="second-row">
        {% include '@Grafism/Virtual/partial/card.html.twig' with { 'card' : cards['player_5']['card'], 'class' : 'player-5' } %}
        {% include '@Grafism/Virtual/partial/card.html.twig' with { 'card' : cards['player_6']['card'], 'class' : 'player-6' } %}
        {% include '@Grafism/Virtual/partial/card.html.twig' with { 'card' : cards['player_7']['card'], 'class' : 'player-7' } %}
    </div>

    <div class="third-row">
        {% include '@Grafism/Virtual/partial/card.html.twig' with { 'card' : cards['player_1']['card'], 'class' : 'player-1' } %}
        {% include '@Grafism/Virtual/partial/card.html.twig' with { 'card' : cards['player_2']['card'], 'class' : 'player-2' } %}
        {% include '@Grafism/Virtual/partial/card.html.twig' with { 'card' : cards['player_3']['card'], 'class' : 'player-3' } %}
        {% include '@Grafism/Virtual/partial/card.html.twig' with { 'card' : cards['player_4']['card'], 'class' : 'player-4' } %}
    </div>

    <div class="fourth-row">
        {% include '@Grafism/Virtual/partial/card.html.twig' with { 'card' : cards['player_11']['card'], 'class' : 'player-11' } %}
    </div>
</div>

{% endblock body %}