{% extends 'GrafismBundle::layout.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('bundles/grafism/css/Virtual/twitter.css') }}" />
{% endblock styles %}

{% block body %}

    <div class="twitter">
        <div class="username">@{{ user }}</div>
        <div class="text">{{ text }}</div>
    </div>

{% endblock body %}