<div id="fifa-player-selector" class="modal fade" role="dialog" style="width: ">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Alineación Allianz</h4>
            </div>
            <div class="modal-body">
            	{% for i in 1..10 %}
            		{% if i == 1 or i == 4 or i == 7 %}
                    <div class="row" style="margin-bottom: 20px;">
                    {% endif %}
                    	<div class="col-md-{% if i == 1 or i == 4 %}4 {% else %}3{% endif %}">
                    		<select class="fifa-player">
                    			{% for player in players %}
                    				<option value="{{ player.id }}">{{ player.name }} - ({{ player.quality }}) - {{ player.rating }}</option>
                    			{% endfor %}
                    		</select>
                    	</div>
                	{% if i == 3 or i == 6 or i == 10 %}
                    </div>
                    {% endif %}
                {% endfor %}
                
                <div class="row">
                	<div class="col-md-offset-4 col-md-4">
                		<select class="fifa-gk">
                			{% for gk in gks %}
                				<option value="{{ gk.id }}">{{ gk.name }} - ({{ gk.quality }}) - {{ gk.rating }}</option>
                			{% endfor %}
                		</select>
                	</div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group row">
                	<div class="col-xs-offset-3 col-xs-2">
                        <button type="button" id="play_allianz" class="btn btn-success">PLAY</button>
                    </div>
                
                    <div class="col-xs-2">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>  