<div id="fifa-marcador" class="modal fade" role="dialog" style="width: ">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Marcador</h4>
            </div>
            <div class="modal-body">
            	<div class="partido-selector">
                	<label class="radio-inline">
                      <input type="radio" name="optradio" id="match-1" value="1" checked>Partido 1 (IDA)
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="optradio" id="match-2" value="2">Partido 2 (VUELTA)
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="optradio" id="match-3" value="3">Partido 3 (DESEMPATE)
                    </label>
                    <button id="marcador" class="btn btn-success">Play</button>
                    <button class="btn btn-danger stop-layer" data-layer="22">STOP</button>
                    <input type="checkbox" id="marcador-swap" style="margin-left:50px;">SWITCH
                </div>
                
                <div class="row match-2 hidden" style="margin-top:20px">
                	<h4 class="col-sm-3">Puntuación global</h4>
                	<div class="col-sm-2">
                		<input class="form-control" type="number" id="local-score" value="0">
                	</div>
                	<div class="col-sm-2">
                		<input class="form-control" type="number" id="visitor-score" value="0">
            		</div>
            	</div>
            	
            	<div class="row" style="margin-top:20px;">
            		<h4 class="col-xs-1">Scores</h4>
            		<div class="col-xs-2">
            			<input class="form-control" type="number" id="score-l" value="0"/>
            		</div>
            		<div class="col-xs-3">
            			<button class="btn btn-success update" data-layer="23" data-side="100">LOCAL</button>
            			<button class="btn btn-danger stop-layer" data-layer="23">STOP</button>
            		</div>
            		
            		<div class="col-xs-2">
            			<input class="form-control" type="number" id="score-v" value="0" />
            		</div>
            		<div class="col-xs-3">
            			<button class="btn btn-success update"  data-layer="24" data-side="200">VISITANTE</button>
            			<button class="btn btn-danger stop-layer" data-layer="24">STOP</button>
            		</div>
            	</div>
            	
            	<!-- Flags -->
            	<div class="row" style="margin-top:20px;">
            		<h4 class="col-xs-2">Bandera local</h4>
            		<div class="col-xs-3">
            			<select id="flag-local" class="form-control">
                            {% for flag in flags %}
            					<option value="{{ flag.id }}">{{ flag.name }}</option>
            				{% endfor %}
            			</select>
            		</div>
            		<h4 class="col-xs-2">Bandera visit</h4>
            		<div class="col-xs-3">
            			<select id="flag-visitor" class="form-control">
            				{% for flag in flags %}
            					<option value="{{ flag.id }}">{{ flag.name }}</option>
            				{% endfor %}
            			</select>
            		</div>
            	</div>
            	
            	<div class="row" style="margin-top:20px;">
            		<div class="col-xs-2">
            			<button class="btn btn-danger stop-scoreboard">LIMPIAR MARCADOR</button>
        			</div>
        			
        			<h4 class="col-xs-offset-4 col-xs-1">Titulo</h4>
        			<div class="col-xs-3">
        				<input class="form-control" id="title" type="text" placeholder="FINAL" />
        			</div>
            	</div>
            </div>
        </div>

    </div>
</div>  