<ul id="filtered-card-list" data-input="#card-modal-search">
	{% for card in cards %}
	
	{% if card.color == 'toty' %}
		{% set color = '#d0b361' %}
		{% set stats_label_color = '#FBED83' %}
		{% set stats_number_color = '#FBED83' %}
		{% set name = '#d0b361' %}
	{% elseif card.color == 'bronze' or card.color == 'rare_bronze' %}
		{% set color = '#4D331F' %}
		{% set stats_label_color = '#583E26' %}
		{% set stats_number_color = '#523A27' %}
		{% set name = '#4D331F' %}
	{% elseif card.color == 'europe_motm' %}
		{% set color = '#003482' %}
		{% set stats_label_color = '#003482' %}
		{% set stats_number_color = '#1b51a3' %}
		{% set name = '#e6e6e6' %}
	{% elseif card.color == 'fut_birthday' %}
		{% set color = '#1d3d71' %}
		{% set stats_label_color = '#33558d' %}
		{% set stats_number_color = '#5873a0' %}
		{% set name = '#33558d' %}
	{% elseif card.color == 'fut_champions_gold' %}
		{% set color = '#6d0e10' %}
		{% set stats_label_color = '#9b8035' %}
		{% set stats_number_color = '#9b8035' %}
		{% set name = '#fff' %}
	{% elseif card.color == 'fut_mas' %}
		{% set color = '#fff' %}
		{% set stats_label_color = '#fff' %}
		{% set stats_number_color = '#f7d4d5' %}
		{% set name = '#fff' %}
	{% elseif card.color == 'gold' or card.color == 'rare_gold' %}
		{% set color = '#2B180C' %}
		{% set stats_label_color = '#2B180C' %}
		{% set stats_number_color = '#311C0E' %}
		{% set name = '#2B180C' %}
	{% elseif card.color == 'gotm' %}
		{% set color = '#1e6434' %}
		{% set stats_label_color = '#fff' %}
		{% set stats_number_color = '#d3e3d8' %}
		{% set name = '#fff' %}
	{% elseif card.color == 'halloween' %}
		{% set color = '#d36c12' %}
		{% set stats_label_color = '#d36c12' %}
		{% set stats_number_color = '#d36c12' %}
		{% set name = '#000' %}
	{% elseif card.color == 'legend' %}
		{% set color = '#1c3259' %}
		{% set stats_label_color = '#1c3259' %}
		{% set stats_number_color = '#1c3259' %}
		{% set name = '#1c3259' %}
	{% elseif card.color == 'marquee' %}
		{% set color = '#201c55' %}
		{% set stats_label_color = '#c0ff36' %}
		{% set stats_number_color = '#c0ff36' %}
		{% set name = '#fff' %}
	{% elseif card.color == 'motm' %}
		{% set color = '#381a01' %}
		{% set stats_label_color = '#ffe2ca' %}
		{% set stats_number_color = '#d5ab8e' %}
		{% set name = '#ffe2ca' %}
	{% elseif card.color == 'ones_to_watch' %}
		{% set color = '#d5b43a' %}
		{% set stats_label_color = '#aeb0b1' %}
		{% set stats_number_color = '#828384' %}
		{% set name = '#d5b43a' %}
	{% elseif card.color == 'purple' %}
		{% set color = '#111124' %}
		{% set stats_label_color = '#D4C0FC' %}
		{% set stats_number_color = '#AF9ED4' %}
		{% set name = '#D4C0FC' %}
	{% elseif card.color == 'silver' or card.color == 'rare_silver' %}
		{% set color = '#252629' %}
		{% set stats_label_color = '#252629' %}
		{% set stats_number_color = '#4C4E52' %}
		{% set name = '#252629' %}
	{% elseif card.color == 'totw_gold' %}
		{% set color = '#1E1D1A' %}
		{% set stats_label_color = '#E1C775' %}
		{% set stats_number_color = '#A69359' %}
		{% set name = '#E1C775' %}
	{% endif %}
		<div class="card" data-id="{{ card.id }}" data-name="{{ card.name|lower }}" style="background-image:url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Fifa/cards/{{ card.color }}.png')">
			<div class="js-card-choice" card-id="{{ card.id }}" >
				<!-- Maquetación de la carta -->
				<div class="left" style="color:{{ color }}">
					<p class="rating">{{ card.rating }}</p>
					<p class="position">{{ card.position | toAcronym }}</p>
					<img src="{{ card.clubImage }}" class="team-logo" />
					<img src="{{ card.flag }}" class="flag" />
				</div>
				<div class="right">
					<img src="{{ card.image }}" class="photo" />
					<p class="name" style="color:{{ name }};margin-bottom:0;">{{ card.name }}</p>
					<div class="stats">
						{% for stat in card.stats %}
							<span style="color:{{ stats_label_color }};font-weight:bold;">{{ stat.value }}</span>  <span style="color:{{ stats_number_color }}">{{ stat.name | toStat }}</span>
							{% if loop.index % 2 == 0 %}
								<br>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
</ul>