@font-face {
    font-family: Clash;
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/Clash-Regular.ttf');
}


body, html
{
    width: 1920px;
    height: 1080px;
    /*background-color: #6EF618;*/
    background-image: url('https://s3-eu-west-1.amazonaws.com/lvp-crl/Overlay/ladder/ladder.jpg');
    background-repeat: no-repeat;
    background-color: transparent; 
    font-family: Clash;
    color: white;
    font-size: 20px;
}

.overlay
{
    position: relative;
    height: 100%;
    /*text-shadow: 1px 1px #000000;*/
    text-transform: uppercase;
}

.board
{
    width: 1462px;
    height: 1080px;
    position: absolute;
    margin-left: 148px;
}

.ranking {
	float: left;
	width: 846px;
	height: 1173px;
	margin-top: -118px;
	    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    margin-left: 163px;
}

.team {
	width: 100%;
	height: 136px;
	margin-top: 12px;
	float: left;
}

.team:first-child {
/* 	margin-left: 0; */
	margin-top: 0;
}

.logo {
	width: 145px;
	height: 100%;
	float: left;
	text-align: center;
	line-height: 135px;
}

.logo img {
	height: 90px;
}

.name {
	width: 508px;
	height: 100%;
	color: black;
	float: left;
	line-height: 136px;
	padding-left: 20px;
	font-size: 40px;
}

.scores {
	width: 140px;
	height: 100%;
	float: left;
	text-align: center;
	line-height: 136px;
	color: black;
	font-size: 45px;
}