@font-face {
    font-family: Geogtq-Bold;
    src: url('../../fonts/Geogtq-Bd.otf');
}

@font-face {
    font-family: Geogtq-SemiBold;
    src: url('../../fonts/Geogtq-Sb.otf');
}

@font-face {
    font-family: Geogtq-Regular;
    src: url('../../fonts/Geogtq-Rg.otf');
}

body, html
{
    width: 1920px;
    height: 1080px;
    background-color: transparent; 
    font-family: Geogtq-SemiBold;
    color: white;
    font-size: 20px;
}

.overlay
{
    position: relative;
    height: 100%;
    text-shadow: 1px 1px #000000;
    text-transform: uppercase;
    overflow: hidden;
}

.board
{
	background: url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/League+of+Legends/comparativa.png');
    background-repeat: no-repeat;
    width: 1325px;
    height: 278px;
    position: absolute;
    bottom: 0;
    display: none;
    left: 312px;
}

.team {
	width: 275px;
	height: 100%;
	float: left;
}

.team.a {
	margin-right: 2px;
}

.team.a img {
	margin-top: 9px;
    margin-left: 9px;
}

.team.b img {
	margin-top: 9px;
    margin-right: 9px;
}

.scoreboard {
	width: 770px;
	height: 100%;
	margin-right: 2px;
	float: left;
}

.scoreboard .header {
	height: 72px;
	width: 100%;
	margin-top: 4px;
	line-height: 72px;
	text-align: center;
	color: #967b37;
	font-size: 45px;
	margin-bottom: 1px;
}

.scoreboard .stats {
	width: 100%;
	height: 200px;
}

.stats .stat {
	height: 65px;
	margin-bottom: 2px;
	line-height: 65px;
}

.stat:nth-last-child() {
	margin-bottom: 0;	
}

.local, .visitor {
	width: 257px;
	height: 100%;
	float: left;
	font-size: 35px;
}

.stat .local {
	text-align: right;
	padding-right: 35px;
	float: left;
}

.stat .visitor {
	padding-left: 35px;
	float: left;
}

.stat .value {
	width: 254px;
	height: 100%;
	margin: 0 1px;
	float: left;
	text-align: center;
	font-size: 35px;
	color: #ababab;
	font-family: Geogtq-Regular;
}
