@font-face {
    font-family: Geogtq-Bold;
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/Geogtq-Bd.otf');
}

@font-face {
    font-family: Geogtq-SemiBold;
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/Geogtq-Sb.otf');
}

@font-face {
    font-family: Geogtq;
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/Geogtq-Rg.otf');
}

body, html
{
    width: 2080px;
    height: 500px;
    background-color: transparent; 
    font-family: Geogtq;
/*     color: white; */
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.overlay
{
    position: relative;
    height: 100%;
    text-transform: uppercase;
}

.board
{
    width: 2080px;
    height: 416px;
    position: absolute;
}

.card {
	height: 100%;
	width: 208px;
	float: left;
	z-index: 10;
}

.champion, .rol {
	height: 207px;
	position: absolute;
	bottom: -3px;
	z-index: -1;
}

.champion {
	top: 0;
}

.champion img {
	width: 208px;
}

.commands {
	padding-left: 50px;
}