@font-face {
    font-family: Geogtq-Bold;
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/Geogtq-Bd.otf');
}

@font-face {
    font-family: Geogtq-SemiBold;
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/Geogtq-Sb.otf');
}

@font-face {
    font-family: Geogtq;
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/Geogtq-Rg.otf');
}

body, html
{
    width: 1920px;
    height: 1080px;
    /*background-color: #6EF618;*/
    background: url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/League+of+Legends/postmatch.png');
    background-repeat: no-repeat;
    background-color: transparent; 
    font-family: Geogtq;
    color: white;
    font-size: 28px;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.overlay
{
    position: relative;
    height: 100%;
    text-transform: uppercase;
}

.board
{
    margin-top: 161px;
    margin-left: 229px;
    width: 1462px;
    height: 745px;
    position: absolute;
}

.header
{
    height: 120px;
    width: 100%;
}

.stats
{
    width: 100%;
    height: 300px;
}

.picks_bans
{
    width: 437px;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    z-index: 6;
}

.scores
{
    height: 100%;
    width: 157px;
    text-align: center;
    float: left;
}

.time
{
    height: 100%;
    width: 274px;
    float: left;
    text-align: center;
    padding-top: 45px;
    font-size: 45px;
}

.team
{
    height: 111px;
    width: 100%;
    padding-top: 13px;
    font-family: Geogtq-SemiBold;
}

.blue
{
    height: 111px;
    width: 100%;
    padding-top: 6px;
    padding-right: 18px;
    text-align: right;
    font-size: 37px;
}

.red
{
    height: 111px;
    width: 100%;
    padding-top: 6px;
    padding-left: 18px;
    font-size: 37px;
}

.data
{
    height: 32px;
    width: 100%;
    line-height: 32px;
    font-size: 18px;
}

.little
{
    font-size: 22px;
}

.p_b
{
    width: 100%;
    height: 188px;
    text-align: right;
    padding-right: 9px;
}

.p_b_r
{
    width: 100%;
    height: 188px;
    padding-left: 18px;
}

ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}

.champ_pick
{
    margin-right: 12px;
    float: left;
}

.champ_pick img
{
    height: 54px;
}

.champ_ban
{
    margin-right: 10px;
    float: left;
}

.champ_ban img
{
    height: 46px;
}

.lower
{
    height: 326px;
    width: 100%;
}

.match_info
{
    width: 594px;
    height: 100%;
    float: left;
    padding-top: 190px;
}

.destacado
{
    margin-left: 129px;
    float: left;
    text-align: center;
    font-size: 22px;
}

.destacado img
{
    height: 70px;
    display: block;
}

.teams
{
    width: 275px;
    height: 100%;
    float: left;
    text-align: center;
    font-family: Geogtq-SemiBold;
}

.team_ind
{
    height: 50%;
    width: 100%;
    margin-left: -3px;
}

.bars
{
    width: 593px;
    height: 100%;
    float: left;
    padding-top: 88px;
}

.stat
{
    height: 40px;
    margin-top: 5px;
    padding-left:19px;
}

.stat.rr
{
    text-align: right;
    padding-right: 19px;
    padding-left: 0;
}

.stat:first-child
{
    margin: 0;
}

.stat img
{
    height: 40px;
    vertical-align: baseline;
}

.stat .little
{
    text-transform: lowercase;
    width: 50px;
    display: inline-block;
    font-size: 19px;
    position: relative;
    top: -12px;
    padding-left: 2px;
}

.bar_blue
{
    height: 40px;
    width: 100px;
    display: inline-block;
    background-image: -moz-linear-gradient( 90deg, rgb(0,36,61) 0%, rgb(0,74,126) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(0,36,61) 0%, rgb(0,74,126) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(0,36,61) 0%, rgb(0,74,126) 100%);
    max-width: 174px;
}

.bar_red
{
    height: 40px;
    width: 100px;
    display: inline-block;
    max-width: 174px;
    background-image: -moz-linear-gradient( 90deg, rgb(61,5,5) 0%, rgb(137,11,11) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(61,5,5) 0%, rgb(137,11,11) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(61,5,5) 0%, rgb(137,11,11) 100%);
}

.picks_bans > img
{
    position: absolute;
    height: 400px;
    vertical-align: baseline;
    opacity: 0.05;
    margin: -63px;
    z-index: -4;
}

.picks_bans.rr > img
{
    margin: -60px 85px;
}

.air
{
    padding-top: 5px;
}