@font-face {
    font-family: Geogtq-Bold;
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/Geogtq-Bd.otf');
}

@font-face {
    font-family: Geogtq-SemiBold;
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/Geogtq-Sb.otf');
}

@font-face {
    font-family: Geogtq;
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/Geogtq-Rg.otf');
}

body, html
{
    width: 3840px;
    height: 640px;
    background-color: transparent; 
    font-family: Geogtq;
/*     color: white; */
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.overlay
{
    position: relative;
    height: 100%;
    text-transform: uppercase;
}

.board
{
    width: 3840px;
    height: 640px;
    position: absolute;
}

.team {
	width: 1920px;
	height: 100%;
	float: left;
    position: relative;
    background-repeat: no-repeat !important;
}

.barras {
    background: url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/League+of+Legends/bilbao/Barras.png');
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.champion {
	height: 213px;
	position: absolute;
	top:520px;
	padding-top:74px;
}

.champion img {
	width: 353px;
}

.player {
	width: 353px;
	height: 100%;
	margin-left: 37px;
	float: left;
	padding-top:74px;
}

.player:first-child {
	margin-left: 0px;
}

.commands {
    margin-top: 50px;
	padding-left: 50px;
}