@font-face {
    font-family: Geogtq-Bold;
    src: url('../../fonts/Geogtq-Bd.otf');
}

@font-face {
    font-family: Geogtq-SemiBold;
    src: url('../../fonts/Geogtq-Sb.otf');
}

body, html
{
    width: 1920px;
    height: 1080px;
    /*background-color: #6EF618;*/
    background-color: transparent; 
    font-family: Geogtq-SemiBold;
    color: white;
    font-size: 20px;
}

.overlay
{
    position: relative;
    height: 100%;
    text-shadow: 1px 1px #000000;
    text-transform: uppercase;
}

.board
{
    width: 1467px;
    height: 130px;
    position: absolute;
    left: 59px;
    bottom: 66px;
    background: url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/League+of+Legends/picks-base.png');
}

.pastilla
{
    height:120px;
    width: 100%;
    margin-top: 10px;
}

.pastilla_left, .pastilla_right
{
    height: 100%;
    width: 604px;
    margin-left: 184px;
    float: left;
}

.pastilla_right
{
    margin-left: 66px;
}

.team
{
    height: 100%;
    width: 112px;
    float: left;
}

.bans
{
    height: 100%;
    width: 159px;
    float: left;
}

.bans_top
{
    height: 50%;
}

.bans_top ul
{
    margin: 0;
    padding: 0;
    list-style: none;
    padding-top: 14px;
    padding-left: 12px;
}

.ban
{
    height: 42px;
    width: 42px;
    background-color: #030303;
    padding-left: 5px;
    display: inline-block;
}

.ban img
{
    width: 100%;
    vertical-align: baseline;
}

.ban_title
{
    height: 42px;
    width: 42px;
    display: inline-block;
    font-size: 15px;
    text-align: center;
    vertical-align: middle;
    margin-top: -38px
}

.bans_bot
{
    height: 50%;
    line-height: 60px;
}

.bans_bot ul
{
    margin: 0;
    padding: 0;
    list-style: none;
    padding-top: 5px;
    padding-left: 12px;
}

.picks
{
    width: 333px;
    height: 100%;
    float: left;
    position: relative;
}

.picks > img
{
    position: absolute;
}

.champion
{
    height: 100%;
    width: 63px;
    display: inline-block;
}

.picks ul
{
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
}