@font-face {
    font-family: Geogtq-Bold;
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/Geogtq-Bd.otf');
}

@font-face {
    font-family: Geogtq-SemiBold;
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/Geogtq-Sb.otf');
}

@font-face {
    font-family: Geogtq;
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/Geogtq-Rg.otf');
}

body, html
{
    width: 1920px;
    height: 1080px;
    /*background-color: #6EF618;*/
    background-color: transparent; 
    font-family: Geogtq;
    color: white;
    font-size: 28px;
}

.overlay
{
    position: relative;
    height: 100%;
    text-transform: uppercase;
}

.board
{
    width: 100%;
    height: 67px;
    position: absolute;
    bottom: 1px;
}

.logo
{
    float: left;
    width: 296px;
    height: 100%;
    background: url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/League+of+Legends/slo-jornada.jpg');
}

.jornada
{
    font-family: Geogtq;
    float: left;
    margin-top: 31px;
    margin-left: 197px;
    font-size: 19px;
}

.map
{
    width: 184px;
    height: 100%;
    text-align: center;
    line-height: 67px;
    float: left;
    font-size: 30px;
    background: linear-gradient(to bottom, #fd5c01,#8f2c02);
    font-family: Geogtq-SemiBold;
}

.stats
{
    width: 1736px;
    height: 100%;
    float: left;
    text-align: center;
    line-height: 67px;
}

.gold
{
    height: 100%;
    width: 161px;
    float: left;
}

.gold.blue
{
    background-image: -moz-linear-gradient( 90deg, rgb(0,19,33) 0%, rgb(0,52,89) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(0,19,33) 0%, rgb(0,52,89) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(0,19,33) 0%, rgb(0,52,89) 100%);
}

.gold.red
{
    background-image: -moz-linear-gradient( 90deg, rgb(38,0,0) 0%, rgb(64,0,0) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(38,0,0) 0%, rgb(64,0,0) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(38,0,0) 0%, rgb(64,0,0) 100%);
}

.creeps
{
    float: left;
    height: 100%;
    width: 109px;
}

.creeps img
{
    height: 30px;
    margin-top: -4px
}

.creeps.blue, .kda.blue
{
    background-image: -moz-linear-gradient( 90deg, rgb(0,22,38) 0%, rgb(0,60,102) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(0,22,38) 0%, rgb(0,60,102) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(0,22,38) 0%, rgb(0,60,102) 100%);
}

.creeps.red, .kda.red
{
    background-image: -moz-linear-gradient( 90deg, rgb(38,0,0) 0%, rgb(102,0,0) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(38,0,0) 0%, rgb(102,0,0) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(38,0,0) 0%, rgb(102,0,0) 100%);
}

.kda
{
    width: 161px;
    height: 100%;
    float: left;
}

.champion
{
    width: 64px;
    float: left;
    height: 100%;
    overflow: hidden;
}

.champion img
{
    height: 110%;
    vertical-align: baseline;
    margin-top: -5px;
    margin-left: -4px;
}

.name
{
    float: left;
    height: 100%;
    width: 190px;
    font-family: Geogtq-SemiBold;
}

.score
{
    float: left;
    height: 100%;
    width: 71px;
    font-family: Geogtq-SemiBold;
}

.score.blue, .kda.blue
{
    background-image: -moz-linear-gradient( 90deg, rgb(0,30,51) 0%, rgb(0,74,128) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(0,30,51) 0%, rgb(0,74,128) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(0,30,51) 0%, rgb(0,74,128) 100%);
}

.score.red, .kda.red
{
    background-image: -moz-linear-gradient( 90deg, rgb(51,0,0) 0%, rgb(128,0,0) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(51,0,0) 0%, rgb(128,0,0) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(51,0,0) 0%, rgb(128,0,0) 100%);
}

.team-logo
{
    float: left;
    height: 100%;
    width: 76px;
}

.team-logo img
{
    height: 55px;
    vertical-align: baseline;
    margin-top: 5px;
}

.team-logo.blue, .name.blue
{
    background-image: -moz-linear-gradient( 90deg, rgb(0,36,61) 0%, rgb(0,106,180) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(0,36,61) 0%, rgb(0,106,180) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(0,36,61) 0%, rgb(0,106,180) 100%);
}

.team-logo.red, .name.red
{
    background-image: -moz-linear-gradient( 90deg, rgb(59,0,0) 0%, rgb(136,0,0) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(59,0,0) 0%, rgb(136,0,0) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(59,0,0) 0%, rgb(136,0,0) 100%);
}

.rol
{
    width: 72px;
    height: 100%;
    float: left;
    background: linear-gradient(to bottom, #0f0e13 50%, #040406 50%);
}

.rol img
{
    width: 40%;
    margin-top: -5px;
}