@font-face {
    font-family: Geogtq-Bold;
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/Geogtq-Bd.otf');
}

@font-face {
    font-family: Geogtq-SemiBold;
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/Geogtq-Sb.otf');
}

html, body
{
    width: 1920px;
    height: 1080px;
    background-color: transparent;
     background: url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/League+of+Legends/BarraInferior-Mosca.png'); 
     background-repeat: no-repeat;
/*     background-repeat: no-repeat; */
    font-family: Geogtq-SemiBold;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}

.header
{
    height: 43px;
    width: 100%;
}

.left
{
    width: 595px;
    float: left;
    position: relative;
}

#patch
{
    text-align: center;
    line-height: 102px;
    font-size: 27px;
}

.team_left
{
    float: left;
    width: 158px;
    background-image: url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/League+of+Legends/tapador-izquierda.png');
    background-repeat: no-repeat;
    height: 100%;
    margin-left: 429px;
}

.next_drake
{
    width: 82px;
    height: 86px;
    margin-top: -12px;
    margin-left: 32px;
}

.right
{
    float: right;
    width: 589px;
    margin-top: -848px;
    position: relative;
}

.jornada
{
    float: right;
    margin-top: 23px;
    font-size: 19px;
    padding-left: 15px;
    width: 183px;
    text-align: center;
}

.team_right
{
    float: right;
    width: 156px;
    height: 100%;
    background-image: url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/League+of+Legends/tapador-derecha.png');
    margin-right: 421px;
}

.masteries
{
    width: 99px;
    height: 570px;
    margin-top: 62px;
}

.masteries.right
{
    float:right;
    margin-top: 134px;
}

.patros
{
    width: 293px;
    height: 97px;
    background-image: url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/League+of+Legends/patros.png');
    margin-left: 7px;
    margin-top: 223px; 
    
}

.patros > img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
}

.logo_lvp
{
    width: 125px;
    height: 52px;
    background-image: url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/League+of+Legends/logo-lvp.png');
    margin-top: 707px;
    margin-left: 293px;
    position: absolute;
    right: 0;
}

.info
{
  width:712px;
    height:51px;
    /*background-image: url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/League+of+Legends/abajo.png');*/
    background-size: 100%;
    position: absolute;
    bottom: -7px;
    margin-left: 16px;
}

.info_text
{
    line-height: 58px;
    text-align: center;
    font-size: 21px;
    text-transform: none;
}

.mid
{
    width: 736px;
    height: 100%;
    float: left;
    position: relative;
    margin-top: -275px;
    margin-left: 1px;
}

.nameTeam
{
    width: 108px;
    height: 39px;
    margin-top: 2px;
    float: right;
    margin-right: 2px;
    line-height: 39px;
    text-align: center;
    font-size: 35px;
    color: #3aa5b8;
    text-shadow: 2px 2px #000000;
}

.team_right > .scoreTeam, .team_right > .nameTeam
{
    color:#b8434e;
}

.team_right > .scoreTeam
{
    float: right;
    margin-right: 2px;
}

.team_right > .nameTeam
{
    float: left;
    margin-right: 0;
}

.scoreTeam
{
    width: 44px;
    height: 39px;
    float: left;
    margin-left: 2px;
    text-align: center;
    line-height: 39px;
    color: #3aa5b8;
    text-shadow: 2px 2px #000000;
    margin-top: 2px;
    font-size: 35px;
}

.orange
{
    color: #ce5303;
}

.camera
{
    position: absolute;
    right: -4px;
    bottom: -11px;
    /*width: 308px;*/
    width: 289px;
    height: 254px;
    /*height: 237px;*/
}

.camera2
{
    position: absolute;
/*    width: 308px;
    height: 237px;  */
    width: 304px;
    height: 257px;  
    bottom: -376px;
    left: 6px;
}
.camera.l
{
    background: url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/League+of+Legends/cam-blue.png');
}

.camera2.r
{
    background: url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/League+of+Legends/cam-red.png');  
}

.team_name
{
    height: 43px;
    width: 100%;
    line-height: 43px;
    bottom: 0;
    position: absolute;
    text-align: center;
}