@font-face {
    font-family: Geogtq-Bold;
    src: url('../../fonts/Geogtq-Bd.otf');
}

@font-face {
    font-family: Geogtq-SemiBold;
    src: url('../../fonts/Geogtq-Sb.otf');
}

@font-face {
    font-family: Geogtq-Rg;
    src: url('../../fonts/Geogtq-Rg.otf');
}

body, html
{
    width: 1920px;
    height: 1080px;
    background-color: transparent; 
    font-family: Geogtq-SemiBold;
    color: white;
    font-size: 20px;
}

.overlay
{
    position: relative;
    height: 100%;
    text-transform: uppercase;
    overflow: hidden;
}

.board
{
    width: 1372px;
    height: 782px;
    position: absolute;
    margin-top: 147px;
    margin-left: 304px;
}

.player {
	width: 451px;
	height: 100%;
	float: left;
}

.content {
	width: 921px;
	height: 100%;
	float: left;
	text-align: center;
	display: none;
}

.header {
	width: 100%;
	height: 125px;
	font-size: 50px;
	line-height: 125px;
	border-top-right-radius: 8px;
	background: linear-gradient(to top, #0d0e11, #2a2a2a);
}

.inside {
	width: 100%;
	height: 657px;
	background-color: #000;
	padding-top: 60px;
	padding-left: 41px;
}

.card {
	width: 601px;
	height: 244px;
	background-color: #0c0d10;
	margin-bottom: 54px;
	float: left;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	display: none;
	z-index: 13;
	position: relative;
}

.card-header {
	width: 100%;
	height: 66px;
	line-height: 66px;
	font-size: 30px;
	background-color: #1b1c22;
	border-top-left-radius: 8px;
}

.card-body {
	width: 100%;
	height: 123px;
	line-height: 123px;
	font-size: 60px;
	color: #898989;
	font-family: Geogtq-Rg;
}

.card-footer {
	width: 100%;
	height: 55px;
	background-color: #0e0f13;
	line-height: 55px;
	border-bottom-left-radius: 8px;
}

.card-ban {
	float: left;
	width: 234px;
	height: 244px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	background: -moz-linear-gradient(left, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 13%);
	background: -webkit-linear-gradient(left, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 13%);
	background: linear-gradient(to right, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 13%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 );
	overflow: hidden;
	display: none;
	z-index: 1;
    margin-left: -235px;
    position: relative;
}

.orange {
	color: #ff6600;
	font-weight: bold;
}