@font-face {
    font-family: United;
    src: url('../../fonts/UnitedSansReg-Bold.otf');
}


html, body
{
    width: 1920px;
    height: 1080px;
    background: url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/League+of+Legends/Chyron-Twitter.png');
    background-color: transparent;
    font-family: United;
    text-transform: uppercase;
    color: white;
    font-size: 22px;
}

.all
{
	position: relative;
	height: 100%;
}

.board
{
	width: 1223px;
	height: 136px;
	position: absolute;
	bottom: 63px;
	left: 308px;
}

.header
{
	height: 50px;
	width: 100%;
	line-height: 50px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #d6a46c;
	font-size: 27px;
}

.user
{
	height: 100%;
	float: left;
	padding-left: 10px;
}

.hashtag
{
/* 	width: 50%; */
	height: 100%;
	float: right;
	text-align: right;
	padding-right: 15px;
}

.content
{
	width: 100%;
	padding: 10px;
}