{% extends 'AppBundle:Stream:layout.html.twig' %}

{% block styles %}
    <style>
        @font-face {
            font-family: Geogtq-SemiBold;
            src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/Geogtq-Sb.otf');
        }

        body {
            background-color: transparent;
            font-family: Geogtq-SemiBold;
                        backgrou{#nd-image: url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/League+of+Legends/fondo-picks.png');
                        background-size: 100%;
                        background-repeat: no-repeat;#}
        }

        .ban {
            background-image: url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/League+of+Legends/{{ side }}_ban.png');
            width: 149px;
            height: 106px;
            position: absolute;
            bottom: 50px;
            left: {{ left }}px;
            color: white;
            display: none;
        }

        .text {

            {% if side == 100 %}
                margin-left: 55px;
            {% else %}
                margin-left: 44px;
            {% endif %}
            margin-top: 60px;
            font-size: 20px;
        }

    </style>
{% endblock %}

{% block body %}

    <div class="ban">
        <p class="text">{{ banr }}%</p>
    </div>

    <script type="text/javascript">
        $(function () {
            $('.ban').fadeIn("slow");
        });
    </script>

{% endblock %}