{% extends 'AppBundle:Stream:layout.html.twig' %}

{% block styles %}
    <style>
        @font-face {
            font-family: Geogtq-SemiBold;
            src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/Geogtq-Sb.otf');
        }

        body{
{#            background-image: url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/League+of+Legends/fondo-picks.png');#}
            background-color: transparent;
            font-family: Geogtq-SemiBold;
        }

        .square {
            background-image: url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/League+of+Legends/picks/victory_{{ side }}.png');
            width: 163px;
            height: 121px;
            font-size: 20px;
            color: white;
            top: {{ top }}px;
            display: none;
            text-align: center;
            position: absolute;
            {% if side == 200 %}
                right: 0;
            {% endif %}
        }

        .winr {
            color: #ff6600;
            font-size: 40px;
            padding-top: 40px;
        }

        .total {
            font-size: 20px;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="square">
        <div class="data">
            <br>
            <span class="winr">{{ winr }}</span>
            <br>
            ({{ wins }}/{{ games }})
        </div>
    </div>

    <script type="text/javascript">
        $(function () {
            $('.square').animate({'width': 'toggle'}, 'slow').delay(200);

            setTimeout(function () {
                $('.data').fadeOut();
                $('.data').promise().done(function () {
                    $('.square').animate({'width': 'toggle'}, 'slow').delay(200);
                });
            }, 8000);
        });
    </script>

{% endblock %}