{% extends 'AppBundle:Stream:layout.html.twig' %}

{% block styles %}
    <link href="{{ asset('bundles/app/css/interface.css') }}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Signika" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="all">
        <div class="header">


        </div>

        <div class="main">
            <div class="container-fluid">
                <div class="interface">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Twitter</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12" style="margin-bottom:10px">
                                            <label>Tweet</label>
                                            <input id="tweetId" type="text" name="tweetId" class="form-control">
                                        </div>

                                        <div class="col-md-12" style="margin-bottom:10px">
                                            <label>Hashtag</label>
                                            <input id="hashtag_t" type="text" name="hashtag" class="form-control" placeholder="HASHTAG">
                                        </div>
                                        <div class="col-md-2" style="margin-bottom:10px;">
                                        	<button id="play_forge" class="btn btn-success">PLAY</button>
                                        </div>
                                        <div class="col-sm-2">
                                            <button class="btn btn-danger stop" layer="23">STOP</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-9">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Interfaz</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="row" style="margin-bottom: 10px">
                                        <div class="col-md-3">
                                            <select id="drake" class="form-control">
                                                <option value="0">DRAKES</option>
                                                <option value="infernal">Infernal</option>
                                                <option value="cloud">Cloud</option>
                                                <option value="mountain">Mountain</option>
                                                <option value="ocean">Ocean</option>
                                                <option value="elder">Elder</option>
                                            </select>
                                        </div>   
										<div class="col-md-offset-1 col-md-1">
                                            <button id="play_drake" class="btn btn-success">PLAY</button>
                                        </div>

                                        <div class="col-sm-1">
                                            <button class="btn btn-danger stop" layer="21">STOP</button>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-bottom: 20px">
                                        <div class="col-md-1">
                                            <label>OVERLAY</label>
                                        </div>
                                        <div class="col-md-1">
                                        	<input type="number" class="form-control" value="0" id="blue_score" min="0"/>
                                        </div>
                                        <div class="col-md-2">
                                        	<input type="text" class="form-control" placeholder="Blue team" id="blue_team" />
                                        </div>
                                        <div class="col-md-2">
                                        	<input type="text" class="form-control" placeholder="Red team" id="red_team" />
                                        </div>
                                        <div class="col-md-1">
                                        	<input type="number" class="form-control" value="0" id="red_score" min="0"/>
                                        </div>
                                    </div>    
                                    <div class="row" style="margin-bottom: 10px;">
                                    	<div class="col-md-offset-1 col-md-1">Hashtag</div>
                                    	<div class="col-md-3">
                                        	<input type="text" class="form-control" value="FORGEOFCHAMPIONS" id="hashtag" />
                                        </div>
                                        <div class="col-md-4">
                                        	<input type="text" class="form-control" value="TOURNAMENT " id="next" />
                                        </div>
                                    </div>
                                    <div class="row">
                                    	<div class="col-md-offset-1 col-md-1">
                                            <button id="play_online" class="btn btn-success">PLAY</button>
                                        </div>

                                        <div class="col-sm-1">
                                            <button class="btn btn-danger stop" layer="20">STOP</button>
                                        </div>
                                    </div>                                
                                </div>
                            </div>     
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                                            
    <script type="text/javascript">
        $(document).ready(function () {
            $("#play_online").click(function () {
                var blue = $('#blue_team').val();
                var blueScore = $('#blue_score').val();
                var red = $('#red_team').val();
                var redScore = $('#red_score').val();
                var hashtag = $('#hashtag').val();
                var tournament = $('#next').val();
                
                $.post(Routing.generate('caspar_play_forge_overlay', {
                    blueName: blue,
                    blueScore: blueScore,
                    redName: red,
                    redScore: redScore,
                    hashtag: hashtag,
                    tournament: tournament
                }));
            });

			$('#play_drake').click(function () {
				var drake = $('#drake').val();
				
				$.post(Routing.generate('caspar_play_forge_overlay_drakes'), {
					drake: drake
				});
			});

			$('#play_forge').click(function () {
				var hashtag = $('#hashtag_t').val();
				var tweet = $('#tweetId').val();

				$.post(Routing.generate('caspar_play_tweet_forge'), {
					hashtag: hashtag,
					tweet: tweet
				});
			});
            
            $(".stop").click(function () {
                var layer = $(this).attr('layer');
                
                $.post(Routing.generate('caspar_stop_layer', {
					layer: layer
                }));
            });
        })
    </script>

{% endblock %}