{% extends 'AppBundle:Stream:layout.html.twig' %}

{% block styles %}
	<link href="{{ asset('bundles/app/css/forge/overlay_ingame_drakes.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="drakes">
    	<img src="{{ drake }}" />
    </div>
{% endblock %}
