{% extends 'AppBundle:Stream:layout.html.twig' %}

{% block styles %}
	<link href="{{ asset('bundles/app/css/forge/overlay_ingame.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="header">
    	<div class="blue">
    		<div class="blue-score">{{ data.blueScore }}</div>
    		<div class="blue-name">{{ data.blueName }}</div>
    	</div>
    	<div class="red">
    		<div class="red-name">{{ data.redName }}</div>
    		<div class="red-score">{{ data.redScore }}</div>
    	</div>
    </div>
    
    <div class="patros">
    	<img id="patro_img" src="">
    	<div class="patch">{{ patch.value }}</div>
    </div>

    <div class="camera l">
        <div class="team_name">
            {{ data.blueName }}
        </div>
    </div>

    <div class="mid">
    	<span class="hashtag">#{{ data.hashtag }}</span>
    	<span class="tournament">{{ data.tournament }}</span>
    </div>

    <div class="camera2 r">
        <div class="team_name">
            {{ data.redName }}
        </div>
    </div>

    <script type="text/javascript">
        var picPaths = [
            'https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Forge/LVP.png',
            'https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Forge/patch.png',
            'https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Forge/website.png'
            ];
        var curPic = -1;
        //preload the images for smooth animation
        var imgO = new Array();
        for(i=0; i < picPaths.length; i++) {
            imgO[i] = new Image();
            imgO[i].src = picPaths[i];
        }

        function swapImage() {
            curPic = (++curPic > picPaths.length-1)? 0 : curPic;
            imgCont.src = imgO[curPic].src;
            if(curPic == 1) {
                $('.patch').show();
            } else {
                $('.patch').hide();
            }
            
            setTimeout(swapImage,20000);
        }

        $(function (){
            imgCont = document.getElementById('patro_img');
            swapImage(); 
        });
        
    </script>
{% endblock %}
