{% extends 'AppBundle:Stream:layout.html.twig' %}

{% block styles %}
	<link href="{{ asset('bundles/app/css/forge/twitter.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
	<div class="all">
		<div class="board">
			<div class="content">
				<div class="avatar">
					<img src="{{ tweet.avatar }}" />
				</div>
				<div class="text">{{ tweet.text|upper|replace({('#' ~ hashtag|upper) : '<span style="font-family:Uni-Bold">'~ ('#' ~ hashtag|upper) ~'</span>' }) | raw }}</div>
			</div>
			<div class="user">@{{ tweet.user }}</div>
		</div>
	</div>	
{% endblock %}