@font-face {
    font-family: 'Clash';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/Clash-Regular.ttf');
}

html, body {
    width: 1920px;
    height: 1080px;
    background-color: transparent;
    /*background-color: green;*/
    font-family: 'Clash';
    color: #000000;
    position: relative;
    overflow: hidden;
}

.cards {
    width: 1209px;
    height: 197px;
    position: absolute;
    bottom: -197px;
    display: none;
    left: 344px;
}

.card-overlay {
    position: absolute;
    top:0;
    z-index: 100;
}

.cards-header {
    width: 100%;
    height: 51px;
    line-height: 51px;
    text-align: center;
    background: #000000;
    color: #ffffff;
    font-size: 23px;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    z-index: 300;
}

.cards-content {
    width: 100%;
    height: 146px;
    overflow: hidden;
    position: absolute;
    top: 51px;
}

.card {
    width: 375px;
    height: 100%;
    text-align: center;
    float: left;
    z-index: 100;
    margin-right: 12px;
}

.card:last-child {
    width: 350px;
    border-right: none;
}

.card-image {
    width: 152px;
    height: 100%;
    float: left;
}

.card-image > img {
    height: 100%;
    margin-left: -20px;
}

.card-key {
    width: 223px;
    height: 100%;
    float: left;
    padding-top: 35px;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    z-index: 200;
    margin-left: 155px;
}

.card-name {

}

.card-value {

    font-size: 45px;
}