@font-face {
    font-family: 'Clash';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/Clash-Regular.ttf');
}

html, body {
    width: 1920px;
    height: 1080px;
    background: url("https://s3-eu-west-1.amazonaws.com/lvp-graphism/CRL/countdown/Fondo-azul-rojo.jpg");
    background-color: transparent;
    background-repeat: no-repeat;
    /*background-color: green;*/
    font-family: 'Clash';
    color: #000000;
    position: relative;
}

.logo {
    width: 1407px;
    height: 200px;
    position: absolute;
    left: 257px;
    text-align: center;
}

.logo img {
    margin-top: 50px;
    width: 40%;
}

.next-matches {
    width: 1407px;
    height: 600px;
    position: absolute;
    top: 429px;
    left: 251px;
}

.header {
    width: 100%;
    height: 74px;
    border-bottom: 1px solid #d1d1d1;
    margin-bottom: 23px;
}

.header-top {
    width: 100%;
    height: 63px;
    border-bottom: 1px solid #444444;
    line-height: 63px;
    text-align: center;
    background: #000000;
    color: #FFFFFF;
    font-size: 25px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.header-bottom {
    width: 100%;
    height: 11px;
    background: #FFFFFF;
}

.match {
    width: 100%;
    height: 166px;
    margin-bottom: 23px;
}

.match-content {
    width: 100%;
    height: 133px;
    background: #FFFFFF;
    color: #000000;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    line-height: 133px;
}

.match-footer {
    width: 100%;
    height: 33px;
    position: relative;
}

.match-footer > img {
    width: 100%;
    position: absolute;
    margin-top: -2px;
}

.blue {
    background: #015aa0;
    float: left;
    width: 50%;
    height: 100%;
    border-bottom-left-radius: 10px;
}

.red {
    background: #c32236;
    float: left;
    width: 50%;
    height: 100%;
    border-bottom-right-radius: 10px;
}

.local, .visitor {
    width: 570px;
    height: 100%;
    float: left;
    position: relative;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
}

.local {
    padding-left: 175px;
}

.visitor {
    padding-right: 175px;
}

.local img {
    left: 50px;
}

.visitor img {
    right: 50px;
}

.match-content img {
    height: 90%;
    position: absolute;
    top: 7px;
}

.mid {
    width: 267px;
    height: 100%;
    float: left;
    text-align: center;
    color: #c32236;
    font-size: 40px;
}

.mid.timer {
    font-size: 60px;
}

.sub-label {
    margin-top: 50px;
    width: 100%;
    height: 50px;
    color: #FFFFFF;
    font-size: 40px;
    text-align: center;
    text-shadow: 2px 2px #c32236;
}