@font-face {
    font-family: 'SuperCell';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/Clash-Regular.ttf');
}

html, body{
    width: 1920px;
    height: 1080px;
    background-color: transparent;
    margin: 0px;
    font-family: 'Supercell';
    background-image: url('https://s3-eu-west-1.amazonaws.com/lvp-graphism/CRL/decks/two-vs-two.png');
    background-repeat: no-repeat;
    color: #000000;
}

.header {
    width: 100%;
    height: 95px;
    line-height: 95px;
}

.logo-team{
    width: 235px;
    height: 136px;
    float: left;
    text-align: center;
    padding: 18px 0px;
}

.logo-team .red{
    width: 235px;
    height: 172px;
    float: right;
    text-align: center;
}

.logo-team img{
    height: 150%;
    margin-top: -10px;
}

.header-team {
    width: 50%;
    height: 100%;
    float: left;
}

.header-team-name {
    width: 489px;
    height: 100%;
    float: left;
    font-size: 25px;
    text-transform: uppercase;
}

.header-team-score {
    width: 236px;
    height: 100%;
    float: left;
    color: #ffffff;
    position: relative;
    font-size: 61px;
    text-align: center;
}

.header-team-score.blue{
    float: right;
    padding-right: 70px;
}

.header-team-score.red {
    padding-left: 70px;
}

.triangle-left {
    width: 0;
    height: 0;
    border-top: 47px solid transparent;
    border-right: 64px solid #ffffff;
    border-bottom: 47px solid transparent;
    position: absolute;
    right: 0;
    top: 0;
}

.triangle-right {
    width: 0;
    height: 0;
    border-top: 47px solid transparent;
    border-left: 64px solid #ffffff;
    border-bottom: 47px solid transparent;
    position: absolute;
    left: 0;
    top: 0;
}

.header-label {
    width: 100%;
    height: 76px;
    color: #ffffff;
    text-align: center;
    line-height: 83px;
    font-size: 32px;
}

.content {
    width: 100%;
    height: 908px;
}

.player-photo {
    width: 100%;
    height: 433px;
    overflow: hidden;
    position: relative;
}


.player-photo > img {
    width: 117%;
    position: absolute;
    top: -43px;
    left: -28px;
}

.player-deck{
    width: 50%;
    height: 100%;
    padding-top: 29px;
    padding-left: 71px;
}

.player-deck.blue{
    float: left;
}

.player-deck.red{
    float: right;
}

.player {
    width: 385px;
    height: 812px;
    float: left;
    position: relative;
    margin-right: 42px;
    text-align: center;
}

.deck{
    width: 100%;
    height: 379px;
    position: absolute;
    bottom: 0;
}

.player-name{
    width: 100%;
    height: 57px;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 52px;
    color: white;
    margin-bottom: 15px;
}

.info-deck{
    width: 100%;
    height: 306px;
    padding: 18px 5px;
}

.cards-deck{
    width: 100%;
    height: 222px;
    margin-bottom: 13px;
}

.card{
    width: 79px;
    height: 97px;
    float: left;
    margin-left: 12px;
    margin-bottom: 19px;
}

.card img{
    width: 100%;
}

.elixir-avg{
    width: 100%;
    height: 37px;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 40px;
    color: white;
    padding-left: 15px;
}

.card.legendary {
    margin-top: -6px;
    margin-bottom: 25px;
}