@font-face {
    font-family: 'SuperCell';
    src: url(https://s3-eu-west-1.amazonaws.com/lvp-fonts/Supercell-magic-webfont.ttf);
}

html, body{
    width: 1920px;
    height: 1080px;
    background-color: transparent;
    font-family: 'Supercell';
    text-transform: uppercase;
    background-image: url('https://s3-eu-west-1.amazonaws.com/lvp-graphism/CRL/elixir/elixir.png');
    background-repeat: no-repeat;
    color: #000000;
}

.header {
    width: 100%;
    height: 95px;
    line-height: 95px;
}

.logo-team{
    width: 235px;
    height: 136px;
    float: left;
    text-align: center;
    padding: 18px 0px;
}

.logo-team .red{
    width: 235px;
    height: 172px;
    float: right;
    text-align: center;
}

.logo-team img{
    height: 100%;
}

.header-team {
    width: 50%;
    height: 100%;
    float: left;
}

.header-team-name {
    width: 489px;
    height: 100%;
    float: left;
    font-size: 25px;
}

.header-team-score {
    width: 230px;
    height: 100%;
    float: left;
    color: #ffffff;
    position: relative;
    font-size: 70px;
    text-align: center;
}

.header-team-score.blue{
    float: right;
    padding-right: 70px;
}

.header-team-score.red {
    padding-left: 70px;
}
.triangle-left {
    width: 0;
    height: 0;
    border-top: 47px solid transparent;
    border-right: 64px solid #ffffff;
    border-bottom: 47px solid transparent;
    position: absolute;
    right: 0;
    top: 0;
}

.triangle-right {
    width: 0;
    height: 0;
    border-top: 47px solid transparent;
    border-left: 64px solid #ffffff;
    border-bottom: 47px solid transparent;
    position: absolute;
    left: 0;
    top: 0;
}

.header-label {
    width: 100%;
    height: 76px;
    color: #ffffff;
    text-align: center;
    line-height: 76px;
    font-size: 30px;
    text-transform: uppercase;
}

.content {
    width: 100%;
    height: 803px;
    padding-top: 190px;
}

.elixir-table {
    width: 713px;
    height: 415px;
    margin: 0 auto;
}

.table-header {
    width: 100%;
    height: 62px;
    text-align: center;
    color: #FFFFFF;
    line-height: 62px;
}

.table-row {
    width: 100%;
    height: 111px;
    margin-bottom: 9px;
    line-height: 111px;
    text-align: center;
}

.score {
    width: 193px;
    height: 100%;
    float: left;
    color: #ffffff;
    font-size: 26px;
    text-shadow: 1px 3px #0a0a0c;
}

.key {
    width: 326px;
    height: 100%;
    float: left;
    text-transform: uppercase;
}

.lower {
    width: 100%;
    height: 106px;
    line-height: 72px;
}

.lower-content {
    width: 50%;
    height: 100%;
    float: left;
}

.player-names {
    width: 633px;
    height: 100%;
    float: left;
    text-align: center;
    color: #FFFFFF;
}

.player-name {
    width: 50%;
    float: left;
    font-size: 23px;
    height: 67px;
    margin-top: 23px;
}