@font-face {
    font-family: 'Clash';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/Clash-Regular.ttf');
}

html, body {
    width: 1920px;
    height: 1080px;
    background-color: transparent;
    /*background-color: green;*/
    font-family: 'Clash';
    color: #000000;
}


.featured {
    width: 1364px;
    height: 741px;
    padding-top: 187px;
    margin-left: 287px;
    position: relative;
}

.featured-header {
    width: 100%;
    height: 84px;
    background: #000000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    line-height: 75px;
    font-size: 30px;
    border-bottom: 10px solid #c22337;
    position: relative;
}

.featured-header img {
    height: 135px;
    position: absolute;
    left: 40px;
    top: -35px;
    z-index: 5;
}

.main {
    width: 100%;
    height: 570px;
    background: rgba(194,35,35,0.6);
    z-index: 2;
    border-bottom: 20px solid #c22337;
    position: relative;
}

.big-logo {
    z-index: 1;
    position: absolute;
    height: 570px;
    left: 8%;
}

.main-player , .main-stats {
    width: 50%;
    height: 100%;
    float: left;
}

.main-player {
    padding-top: 50px;
    text-align: center;
    overflow: hidden;
}

.main-player img {
    height: 185%;
}

.stats {
    width: 479px;
    height: 444px;
    padding-top: 60px;
}

.stats-header {
    width: 100%;
    height: 93px;
    background: #000000;
    color: #ffffff;
    line-height: 73px;
    font-size: 25px;
    text-align: center;
    border-bottom: 23px solid #c22337;
    margin-bottom: 10px;
    box-shadow: rgba(0,0,0,0.6) 0px 2px 2px;
}

.stat {
    width: 100%;
    height: 80px;
    line-height: 88px;
    margin-bottom: 7px;
}

.stat > .key {
    width: 314px;
    height: 100%;
    margin-right: 3px;
    float: left;
    background: #ffffff;
    font-size: 18px;
    line-height: 66px;

}

.key > .text {
    height: 62px;
    margin-top: 8px;
    border-left: 6px solid #c22337;
    padding-left: 20px;
}

.stat > .value {
    width: 162px;
    height: 100%;
    float: left;
    text-align: center;
    color: #ffffff;
    background-color: #c22337;
    font-size: 35px;
}

.stat > .value img {
    height: 100%;
}

.stat > .value.wc {
    line-height: 1;
}

.footer {
    width: 100%;
    height: 68px;
    background: #000000;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 10px;
}

.footer img {
    height: 80%;
}