@font-face {
    font-family: 'Clash';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/Clash-Regular.ttf');
}

html, body {
    width: 1920px;
    height: 1080px;
    background: url('https://s3-eu-west-1.amazonaws.com/lvp-graphism/CRL/koh/koh.png');
    background-repeat: no-repeat;
    background-color: transparent;
    /*background-color: green;*/
    font-family: 'Clash';
    color: #000000;
    position: relative;
    text-transform: uppercase;
}


.header {
    width: 100%;
    height: 95px;
    line-height: 95px;
}

.header-team {
    width: 50%;
    height: 100%;
    float: left;
}

.header-team-name {
    width: 720px;
    height: 100%;
    float: left;
    padding: 0 30px;
    font-size: 25px;
}

.header-team-score {
    width: 240px;
    height: 100%;
    float: left;
    padding: 0 30px;
    color: #ffffff;
    position: relative;
    font-size: 70px;
    text-align: center;
    line-height: 106px;
}

.header-team-score.blue{
    float: right;
    padding-right: 70px;
}

.header-team-score.red {
    padding-left: 70px;
}

.header-label {
    width: 100%;
    height: 76px;
    color: #ffffff;
    text-align: center;
    line-height: 85px;
    font-size: 35px;
    text-transform: uppercase;
}

.content {
    width: 100%;
    height: 907px;
}

.team {
    width: 50%;
    height: 100%;
    float: left;
    text-align: center;
    padding-top: 30px;
}

.team-logo {
    height: 365px;
    margin-bottom: 31px;
}

.team-logo img {
    height: 95%;
}

.players {
    width: 863px;
    height: 440px;
    margin-left: 46px;
    position: relative;
}

.player {
    width: 283px;
    height: 352px;
    float: left;
    margin-right: 7px;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.player img {
    position: absolute;
    top: -35px;
    width: 121%;
    left: -25px;
}

.players-name {
    width: 100%;
    height: 88px;
    position: absolute;
    bottom: 0;
}

.player-name {
    width: 33%;
    height: 100%;
    float: left;
    padding: 24px 0;
}

.player-name-key {
    width: 100%;
    height: 54px;
    line-height: 54px;
    font-size: 25px;
}

.defeated {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.dead {
    background: #494949;
}