@font-face {
    font-family: 'Clash';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/Clash-Regular.ttf');
}

html, body {
    width: 1920px;
    height: 1080px;
    background-color: transparent;
    /*background-color: green;*/
    font-family: 'Clash';
    color: #000000;
}

.lineup {
    width: 1364px;
    height: 741px;
    padding-top: 187px;
    margin-left: 287px;
    position: relative;
}

.lineup-header {
    width: 100%;
    height: 84px;
    background: #000000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    line-height: 75px;
    font-size: 30px;
    border-bottom: 12px solid #c22337;
    position: relative;
}

.lineup-header img {
    height: 135px;
    position: absolute;
    left: 40px;
    top: -35px;
    z-index: 5;
}

.main {
    width: 100%;
    height: 590px;
    background: rgba(194,35,35,0.6);
    border-bottom: 30px solid #c22337;
    position: relative;
    z-index: 2;
}

.big-logo {
    z-index: 1;
    position: absolute;
    height: 570px;
    left: 34%;
}

.main > img {
    opacity: 0.5;
    position: absolute;
    z-index: 1;
    height: 100%;
    left: 34%;
}

.player {
    width: 25%;
    height: 100%;
    padding-top: 40px;
    float: left;
    text-align: center;
    overflow: hidden;
    z-index: 3;
}

.player img {
    height: 130%;
}

.player-name {
    width: 25%;
    height: 60px;
    position: absolute;
    bottom: 0;
    background: #ffffff;
    text-align: center;
    float: left;
    line-height: 48px;
    text-transform: uppercase;
}

.player-name-text {
    width: 100%;
    height: 39px;
    margin-top: 10px;
    border-left: 6px solid #c22337;
    font-size: 25px;
}

.player:first-of-type .player-name-text {
    border: none;
}

.footer {
    width: 100%;
    height: 68px;
    background: #000000;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 10px;
}

.footer img {
    height: 80%;
}