@font-face {
    font-family: 'SuperCell';
    src: url(https://s3-eu-west-1.amazonaws.com/lvp-fonts/Supercell-magic-webfont.ttf);
}

html, body{
    width: 1920px;
    height: 1080px;
    /*background-color: pink;*/
    background-color: transparent;
    margin: 0px;
    font-family: 'Supercell';
    text-transform: uppercase;
}

.logo-team{
    width: 200px;
    height: 155px;
    float: left;
    text-align: center;
}

.logo-team .red{
    width: 235px;
    height: 172px;
    float: right;
    text-align: center;
}

.logo-team img{
    height: 100%;
}

.card-img{
    position: absolute;
    z-index: 99;
    top: 754px;
}

.card{
    width: 764px;
    height: 204px;
    position: absolute;
    z-index: 999;
    top: 754px;
}

.player-name{
    width: 310px;
    height: 49px;
    color: white;
    font-size: 18px;
    line-height: 49px;
    float: left;
    text-align: center;
}

.game-stats{
    width: 536px;
    height: 110px;
    color: black;
    font-size: 18px;
    line-height: 49px;
    float: left;
    margin-top: -4px;
}

.match{
    width: 322px;
    height: 49px;
    color: white;
    font-size: 18px;
    line-height: 49px;
    text-align: center;
    float: left;
}

.stats-info{
    width: 563px;
    height: 100%;
}

.stats{
    height: 100%;
    width: 160px;
    float: left;
    text-align: center;
    padding-top: 10px;
}

.second{
    width: 215px;
}

.ban{
    width: 188px;
    height: 100%;
    float: left;
}

.ban img{
    width: 100%;
    margin-left: -8px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}