@font-face {
    font-family: 'Clash';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/Clash-Regular.ttf');
}

html, body {
    width: 1920px;
    height: 1080px;
    background-color: transparent;
    /*background-color: green;*/
    font-family: 'Clash';
    color: #000000;
    position: relative;
    overflow: hidden;
}

.teams-winrate-lower {
    width: 1211px;
    height: 234px;
    background: url('https://s3-eu-west-1.amazonaws.com/lvp-graphism/CRL/lowers/Lower-baneos-KING-OF-THE-HILL.png');
    position: absolute;
    bottom: 0px;
    left: 344px;
    text-transform: uppercase;
}

.teams {
    width: 100%;
    height: 187px;
}

.team {
    width: 50%;
    height: 100%;
    float: left;
}

.team-main {
    width: 450px;
    height: 100%;
    float: left;
    position: relative;
}

.team.blue .team-main img {
    left: -103px;
}

.team.red .team-main img {
    right: -103px;
}

.team-main img {
    height: 255px;
    position: absolute;
    top: -23px;
}

.team-main.red {
    margin-left: -16px;
    width: 466px;
}

.team-wr {
    width: 80%;
    height: 116px;
    position: relative;
    text-align: center;
    font-size: 28px;
    line-height: 116px;
    float: right;
}

.team-name {
    width: 80%;
    height: 70px;
    line-height: 85px;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    float: right;
 }

.team-ban {
    width: 155px;
    height: 100%;
    float: left;
}

.team-ban img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    height: 104.5%;
    margin-top: -5.7px;
    width: 126%;
}

.key {
    font-size: 30px;
}

.value {
    font-size: 50px;
}

.footer {
    width: 100%;
    height: 47px;
    line-height: 47px;
    text-align: center;
    font-size: 23px;
    background: #000000;
    color: #ffffff;
}