@font-face {
    font-family: 'Clash';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/Clash-Regular.ttf');
}

html, body {
    width: 1920px;
    height: 1080px;
    background-color: transparent;
    /*background-color: green;*/
    font-family: 'Clash';
    color: #000000;
    position: relative;
    overflow: hidden;
}

.teams-winrate-lower {
    width: 1920px;
    height: 234px;
    background: url('https://s3-eu-west-1.amazonaws.com/lvp-graphism/CRL/lowers/Lower-baneos-2v2-VER-1.png');
    background-size: 100%;
    position: absolute;
    bottom: 0;
    /*display: none;*/
    text-transform: uppercase;
}

.teams {
    width: 100%;
    height: 187px;
}

.team {
    width: 50%;
    height: 100%;
    float: left;
}

.team-main {
    width: 813px;
    height: 100%;
    float: left;
    position: relative;
}

.team.blue .team-main img {
    left: -85px;
}

.team.red .team-main img {
    right: -85px;
}

.team-main img {
    height: 520px;
    position: absolute;
    top: -117px;
}

.team-wr {
    width: 100%;
    height: 138px;
    position: relative;
    text-align: center;
    font-size: 28px;
    line-height: 150px;
}

.team-name {
    width: 600px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
 }

.team-ban {
    width: 147px;
    height: 100%;
    float: left;
}

.team-ban img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    height: 104.5%;
    margin-top: -5.7px;
    width: 126%;
}

.key {
    font-size: 30px;
}

.value {
    font-size: 50px;
}

.footer {
    width: 100%;
    height: 47px;
    line-height: 47px;
    text-align: center;
    font-size: 23px;
    background: #000000;
    color: #ffffff;
}

.player-name {
    width: 264px;
    height: 100%;
    float: right;
    margin-left: 6px;
    text-align: center;
    font-size: 25px;
}