@font-face {
    font-family: 'Clash';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/Clash-Regular.ttf');
}

html, body {
    width: 1920px;
    height: 1080px;
    background: url('https://s3-eu-west-1.amazonaws.com/lvp-graphism/CRL/overlay/background-overlay.png');
    background-color: transparent;
    background-repeat: no-repeat;
    /*background-color: green;*/
    font-family: 'Clash';
    color: #FFFFFF;
}

.lineas-blancas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url('https://s3-eu-west-1.amazonaws.com/lvp-graphism/CRL/overlay/LINEAS-BLANCAS2.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.local, .visitor {
    width: 549px;
    height: 100%;
    float: left;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.visitor {
    float: right;
}

.local-top, .visitor-top{
    width: 100%;
    height: 301px;
    position: absolute;
    top: 0;
    left: 0;
}

.visitor-top {
    width: 100%;
    height: 301px;
    position: absolute;
    top: 0;
    right: 0;
}

.local-bottom {
    width: 100%;
    height: 368px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.team {
    width: 100%;
    height: 229px;
    text-align: center;
    font-size: 100px;
    text-shadow: 1px 3px #0a0a0c;
    padding-top: 35px;
}

.team img {
    height: 90%;
    margin-top: -10px;
}

.player-names {
    width: 100%;
    height: 72px;
    line-height: 72px;
    text-transform: uppercase;
    font-size: 25px;
}

.player-name {
    width: 50%;
    height: 100%;
    float: left;
}

.player-names.local {
    background: #004c8b;
}

.player-names.visitor {
    background: #9f1929;
}

.games-info {
    width: 100%;
    height: 164px;
    background: #000000;
    padding-top: 21px;
}

.game-ban {
    width: 138px;
    height: 100%;
    position: relative;
    text-align: center;
    float: left;
}

.game-ban > img {
    width: 117px;
    position: absolute;
    right: 0;
    top: 0;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.ban-label {
    position: absolute;
    bottom: 20px;
    left: 50px;
    font-size: 25px;
}

.games {
    width: 411px;
    height: 100%;
    float: left;
    padding-left: 12px;
}

.game-info {
    width: 119px;
    height: 100%;
    position: relative;
    float: left;
    margin-right: 13px;
    text-align: center;
}

.game-label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 12px;
    width: 100%;
}

.game {
    width: 100%;
    height: 96px;
    position: absolute;
    bottom: 16px;
    background: #FFFFFF;
    color: #000000;
    line-height: 96px;
    font-size: 30px;
    text-transform: uppercase;
    overflow: hidden;
}

.game.win, .game.loss {
    background: #474747;
    color: #FFFFFF;
}

.game.loss > img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.local .win, .game.local {
    background: #0060af;
}

.game.local, .game.visitor {
    border: 3px solid #FFFFFF;
}

.visitor .win, .game.visitor {
    background: #c32236;
}

.loss {
    background: #626262;
}

.crl-logo {
    width: 100%;
    height: 204px;
    text-align: center;
}

.crl-logo > img {
    margin-top: 12px;
    width: 55%;
}

.set-content {
    width: 100%;
    height: 204px;
    padding-top: 64px;
    line-height: 1;
}

.set-label-info {
    width: 216px;
    height: 105px;
    float: left;
    text-align: center;
    position: relative;
}

.set-label {
    position: absolute;
    bottom: 0;
    left: 30px;
    font-size: 65px;
    line-height: 1;
}

.sets {
    width: 273px;
    height: 105px;
    float: left;
}

.set-square {
    width: 68px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    color: #000000;
    background-color: #FFFFFF;
    margin-right: 17px;
    border-radius: 7px;
    float: left;
    font-size: 30px;
    opacity: 0.7;
    margin-top: 35px;
}

.set-square.local {
    opacity: 1;
    color: #FFFFFF;
    background: #0060af;
}

.set-square.visitor {
    opacity: 1;
    color: #FFFFFF;
    background: #c32236;
}

.set-square:last-child {
    margin-right: 0;
}

.set-square.current {
    width: 102px;
    height: 105px;
    line-height: 110px;
    font-size: 60px;
    opacity: 1;
    margin-top: 0;
}