@font-face {
    font-family: 'Clash';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/Clash-Regular.ttf');
}
html, body{
    width: 1920px;
    height: 1080px;
    background-color: transparent;
    margin: 0px;
    font-family: 'Clash';
    text-transform: uppercase;
}

.stats-player{
    width: 883px;
    height: 966px;
    padding-top: 60px;
}

.player-name{
    width: 100%;
    height: 64px;
    text-align: center;
    line-height: 64px;
    font-size: 21px;
    color: #ffffff;
}

.content-stats{
    width: 100%;
    height: 790px;
}

.bans-stats{
    width: 902px;
    height: 113px;
}

.text-bans{
    width: 345px;
    height: 75px;
    float: left;
    text-align: center;
    line-height: 75px;
    font-size: 21px;
    color: #ffffff;
}

.bans-cards{
    width: 552px;
    height: 100%;
    float: right;
}

.ban-layout {
    width: 201px;
    height: 112px;
    margin-left: -18px;
    float: left;
}

.ban-layout {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
}

.ban {
    width: 201px;
    height: 100%;
    margin-left: -15px;
    float: left;
    overflow: hidden;
}

.ban img {
    width: 100%;
    margin-top: -2px;
}


.logo-team{
    width: 595px;
    height: 374px;
    margin: auto;
    text-align: center;
}

.logo-team img{
    height: 100%;
}

.info-stats{
    width: 595px;
    height: 350px;
    margin-left: 135px;
}

.info-header{
    width: 100%;
    height: 58px;
    color: white;
    margin-bottom: 4px;
    font-size: 20px;
}

.info-header .cell{
    height: 100%;
    float: left;
    text-align: center;
    line-height: 58px;
    border-bottom: 4px;
    box-shadow: none;
}

.round{
    width: 266px;
}

.status{
    width: 159px;
}

.cell{
    height: 100%;
    float: left;
    text-align: center;
    line-height: 91px;
    border-bottom: 4px;
}

.cell.result {
    margin-right: 5px;
}

.info-competition{
    width: 100%;
    height: 94px;
    color: white;
    margin-bottom: 4px;
}

.info-competition:last-child {
    margin-bottom: 0;
}

.first{
    color: black;
}

.first .text{
    height: 62px;
    width: 224px;
    margin: auto;
    margin-top: 15px;
    line-height: 62px;
}

.text {
    font-size: 20px;
}

.result{
    font-size: 30px;
}
