@font-face {
    font-family: 'Clash';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/Clash-Regular.ttf');
}

html, body {
    width: 1920px;
    height: 1080px;
    background: url('https://s3-eu-west-1.amazonaws.com/lvp-graphism/CRL/default/Pip-replay.png');
    background-repeat: no-repeat;
    background-color: transparent;
    /*background-color: green;*/
    font-family: 'Clash';
    color: #000000;
    position: relative;
}

.replays {
    width: 100%;
    height: 90px;
    position: absolute;
    top: 0;
    left: 0;
    background: #FFFFFF;
    text-align: center;
    line-height: 104px;
}

.team {
    width: 180px;
    height: 100%;
    float: left;
    position: relative;
}

.team img {
    margin-top: 5px;
    height: 133%;
}

.text {
    width: 1560px;
    height: 100%;
    float: left;
    line-height: 104px;
    font-size: 40px;
}

i {
    margin-right: 8px;
}