@font-face {
    font-family: 'Clash';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/Clash-Regular.ttf');
}

html, body {
    width: 1920px;
    height: 1080px;
    background: url("https://s3-eu-west-1.amazonaws.com/lvp-graphism/CRL/default/Marcador.png");
    background-repeat: no-repeat;
    background-color: transparent;
    /*background-color: green;*/
    font-family: 'Clash';
    color: #000000;
    position: relative;
    overflow: hidden;
}

.header {
    width: 100%;
    height: 96px;
    line-height: 96px;
}

.team {
    width: 50%;
    height: 100%;
    float: left;
}

.team.visitor > .team-name {
    text-align: right;
}

.team-name {
    width: 651px;
    height: 100%;
    float: left;
    padding: 0 50px;
    font-size: 27px;
    text-transform: uppercase;
}

.team-score {
    width: 309px;
    height: 100%;
    float: left;
    text-align: center;
    color: #FFFFFF;
    font-size: 70px;
}

.content {
    width: 100%;
    height: 772px;
    padding-top: 218px;
}

.content > .local, .content > .visitor {
    width: 479px;
    height: 100%;
    float: left;
    text-align: center;
    padding-top: 118px;
}

.local img, .visitor img {
    height: 330px;
}

.scoreboard {
    width: 956px;
    height: 100%;
    float: left;
}

.scoreboard-header {
    width: 100%;
    height: 75px;
    margin-bottom: 1px;
    line-height: 75px;
    text-align: center;
    color: #FFFFFF;
    font-size: 35px;
}

.scoreboard-row {
    width: 100%;
    height: 152px;
    margin-bottom: 12px;
}

.scoreboard-row:nth-child(3) {
    margin-bottom: 11px;
}

.score {
    width: 282px;
    height: 100%;
    float: left;
}

.score img {
    height: 100%;
}

.key {
    width: 391px;
    height: 100%;
    line-height: 152px;
    text-align: center;
    float: left;
    font-size: 38px;
}

.key.koh {
    line-height: 1;
    padding: 42px 85px;
}