@font-face {
    font-family: 'Clash';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/Clash-Regular.ttf');
}

html, body {
    width: 1920px;
    height: 1080px;
    background: url('https://s3-eu-west-1.amazonaws.com/lvp-graphism/CRL/scoreboard-bans/scoreboard-bans-bg.jpg');
    background-color: transparent;
    background-repeat: no-repeat;
    /*background-color: green;*/
    font-family: 'Clash';
    color: #000000;
    position: relative;
    text-transform: uppercase;
}

.header {
    width: 100%;
    height: 95px;
    background: #ffffff;
    line-height: 95px;
}

.header-team {
    width: 50%;
    height: 100%;
    float: left;
}

.header-team-name {
    width: 720px;
    height: 100%;
    float: left;
    padding: 0 30px;
    font-size: 25px;
}

.header-team-score {
    width: 240px;
    height: 100%;
    float: left;
    padding: 0 30px;
    color: #ffffff;
    position: relative;
    font-size: 70px;
}

.header-team-score.blue{
    background: #005faf;
    text-align: right;
}

.header-team-score.red {
    background: #dc293f;
}

.triangle-left {
    width: 0;
    height: 0;
    border-top: 47px solid transparent;
    border-right: 64px solid #ffffff;
    border-bottom: 47px solid transparent;
    position: absolute;
    right: 0;
    top: 0;
}

.triangle-right {
    width: 0;
    height: 0;
    border-top: 47px solid transparent;
    border-left: 64px solid #ffffff;
    border-bottom: 47px solid transparent;
    position: absolute;
    left: 0;
    top: 0;
}

.header-label {
    width: 100%;
    height: 77px;
    background: #000000;
    color: #ffffff;
    text-align: center;
    line-height: 77px;
    font-size: 40px;
}

.content {
    width: 100%;
    height: 785px;
}

.content-team {
    width: 651px;
    height: 100%;
    float: left;
    text-align: center;
    padding-top: 120px;
}

.content-team img {
    height: 400px;
}

.scoreboard {
    width: 618px;
    height: 100%;
    float: left;
    padding: 72px 0;
}

.stat {
    width: 100%;
    height: 96px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 8px;
}

.stat-value {
    float: left;
    line-height: 96px;
    font-size: 30px;
    width: 169px;
    height: 100%;
}

.stat-key {
    width: 280px;
    height: 100%;
    padding: 15px 25px;
    color: #000000;
    float: left;
}

.stat-key-name {
    width: 100%;
    height: 66px;
    line-height: 66px;
    font-size: 25px;
}

.bans {
    width: 100%;
    height: 123px;
    position: relative;
}

.ban-img {
    position: absolute;
    top: 0;
    z-index: 200;
}

.bans-content {
    width: 100%;
    height: 100%;
    background: #000000;
    color: #ffffff;
    position: relative;
    z-index: 2;
}

.ban-section {
    width: 753px;
    height: 100%;
    float: left;
    position: relative;
}

.ban {
    width: 230px;
    height: 103%;
    margin-left: -18px;
    float: left;
    position: absolute;
    overflow: hidden;
    margin-top: -4px;
}

.ban.blue:first-child {
    margin-left: 116px;
}

.ban.blue:nth-child(2) {
    margin-left: 326px;
}

.ban.blue:nth-child(3) {
    margin-left: 538px;
}

.ban.red:first-child {
    margin-left: -19px;
}

.ban.red:nth-child(2) {
    margin-left: 190px;
}

.ban.red:nth-child(3) {
    margin-left: 402px;
}

.ban img {
    width: 100%;
}

.ban-label {
    width: 414px;
    height: 100%;
    text-align: center;
    line-height: 90px;
    font-size: 30px;
    color: #ffffff;
    float: left;
}

.bans-line {
    width: 100%;
    height: 25px;
    background: #ffffff;
    position: absolute;
    bottom: 0;
    z-index: -1;
}