@font-face {
    font-family: 'Clash';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/Clash-Regular.ttf');
}

html, body {
    width: 1920px;
    height: 1080px;
    background-color: transparent;
    /*background-color: green;*/
    font-family: 'Clash';
    color: #000000;
    position: relative;
}

.scoreboard-countdown {
    overflow: hidden;
    width: 1178px;
    height: 222px;
    position: absolute;
    bottom: 0;
    text-transform: uppercase;
}

.teams {
    width: 841px;
    height: 100%;
    float: left;
    margin-right: 6px;
}

.team {
    width: 100%;
    height: 87px;
    line-height: 87px;
}

.team-name {
    width: 349px;
    height: 100%;
    float: left;
    padding-top: 16px;
    background: #ffffff;
}

.name {
    width: 100%;
    height: 57px;
    line-height: 57px;
    padding-left: 30px;
    font-size: 20px;
}

.name img {
    height: 65px;
    padding-right: 20px;
}

.name.blue {
    border-left: 7px solid #005faf;
}

.name.red {
    border-left: 7px solid #c22337;
}

.score {
    width: 120px;
    height: 100%;
    float: left;
    margin-right: 6px;
    background: #ffffff;
    text-align: center;
    font-size: 50px;
    line-height: 90px;
}

.score.blue {
    background: #005faf;
    color: #ffffff;
}

.score.red {
    background: #c22337;
    color: #ffffff;
}

.score:last-child {
    margin-right: 0;
}

.sets-label {
    width: 100%;
    height: 48px;
    line-height: 48px;
    background: #000000;
    color: #ffffff;
    padding-left: 349px;
}

.set-label {
    width: 120px;
    height: 100%;
    float: left;
    margin-right: 6px;
    color: #ffffff;
    text-align: center;
    line-height: 48px;
    text-transform: uppercase;
    font-size: 18px;
}

.countdown {
    width: 331px;
    height: 100%;
    background: #ffffff;
    padding-top: 60px;
    float: left;
    text-align: center;
    font-size: 25px;
}

.countdown-timer {
    color: #c22337;
    font-size: 70px;
}