@font-face {
    font-family: 'Clash';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/Clash-Regular.ttf');
}

html, body {
    width: 1920px;
    height: 1080px;
    background: url('https://s3-eu-west-1.amazonaws.com/lvp-graphism/CRL/standings/fondo-clasificacion.png');
    background-color: transparent;
    /*background-color: green;*/
    font-family: 'Clash';
    color: #000000;
}

.standings {
    width: 100%;
    height: 678px;
    padding: 460px 152px 0 150px;
    margin-bottom: 137px;
}

.standing-table {
    width: 744px;
    height: 541px;
    float: left;
}

.standing-table:first-of-type {
    margin-right: 130px;
}

.standing-table-header {
    width: 100%;
    height: 76px;
    color: white;
    background-color: #f52a33;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 11px solid #ffffff;
    margin-bottom: 26px;
    line-height: 70px;
    text-transform: uppercase;
    font-size: 22px;
}

.position-label {
    width: 104px;
    height: 100%;
    text-align: center;
    float: left;
}

.team-label {
    width: 509px;
    height: 100%;
    text-align: left;
    float: left;
    padding-left: 20px;
}

.team-label > img {
    height: 60px;
    padding-right: 10px;
}

.score-label {
    width: 130px;
    height: 100%;
    text-align: center;
    float: left;
}

.standing-team {
    width: 100%;
    height: 103px;
    line-height: 103px;
    margin-bottom: 8px;
    padding-top: 1px;
    padding-left: 1px;
    background: rgba(255, 255, 255, 0.5);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 30px;
}

.standing-team > .position-label {
    background-color: #0070c2;
    color: white;
    text-shadow: 1px 1px #333333;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 45px;
}

.standing-team > .team-label, .standing-team > .score-label {
    background: #fff;
}

.standing-team > .score-label {
    font-size: 33px;
}

.standings-countdown {
    width: 100%;
    height: 258px;
}

.standings-countdown-label {
    width: 100%;
    height: 51px;
    background: #000000;
    color: #ffffff;
    text-align: center;
    line-height: 55px;
    font-size: 23px;
}

.countdown {
    width: 100%;
    height: 120px;
    background: #ffffff;
    color: #f52a33;
    text-align: center;
    font-size: 50px;
    line-height: 120px;
}

.next-matches {
    width: 100%;
    height: 94px;
}

.next-team {
    height: 100%;
    float: left;
    position: relative;
    width: 50%;
    color: #ffffff;
    line-height: 94px;
    font-size: 30px;
}

.next-team.blue img {
    height: 175px;
    position: absolute;
    top: -100px;
    left: 303px;
}

.next-team.red img {
    height: 175px;
    position: absolute;
    top: -100px;
    right: 303px;
}

.next-team.blue {
    text-align: right;
    background-color: #0070c2;
}

.next-team.red {
    background-color: #f52a33;
}

.next-team.blue > .team-name {
    margin-right: 85px;
}

.next-team.red > .team-name {
    margin-left: 85px;
}

.triangle {
    width: 0;
    height: 0;
    border-bottom: 94px solid #f52a33;
    border-left: 40px solid transparent;
    position: absolute;
    right: 0;
    z-index: 3;
    top: 0;
}