@font-face {
    font-family: 'Clash';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/Clash-Regular.ttf');
}

html, body {
    width: 1920px;
    height: 1080px;
    background-color: transparent;
    /*background-color: green;*/
    font-family: 'Clash';
    color: #000000;
    margin: 0px;
    text-transform: uppercase;
}


.featured {
    width: 1364px;
    height: 741px;
    padding-top: 187px;
    margin-left: 287px;
    position: relative;
}

.featured-header {
    width: 100%;
    height: 72px;
    background: #000000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    line-height: 75px;
    font-size: 25px;
    position: relative;
}

.featured-header img {
    height: 135px;
    position: absolute;
    left: 40px;
    top: -35px;
    z-index: 5;
}

.featured-header img.red{
    height: 135px;
    position: absolute;
    left: 1210px;
    top: -35px;
    z-index: 5;
}

.main.blue{
    float: left;
    border-top: 10px solid #025fae;
    background: #025fae85;
}

.main.red {
    float: right;
    border-top: 10px solid #b82033;
    background: #b8203391;
}

.main {
    width: 50%;
    height: 587px;
    background: rgba(194,35,35,0.6);
    z-index: 2;
    position: relative;
}

.big-logo {
    z-index: 1;
    position: absolute;
    height: 570px;
    left: 0%;
    opacity: 0.3;
}

.big-logo.red {
    z-index: 1;
    position: absolute;
    height: 570px;
    right: 0%;
    left: initial;
}

.main-player , .main-stats {
    width: 50%;
    height: 100%;
    float: left;
}

.main-player {
    padding-top: 50px;
    text-align: center;
    overflow: hidden;
}

.main-player.red {
    float: right;
}

.main-player img {
    height: 185%;
}

.main-name{
    width: 100%;
    height: 59px;
    background: #ffffff;
    float: right;
    border-bottom: 11px solid #025fae;
    line-height: 56px;
    text-align: center;
    font-size: 25px;
    position: absolute;
    bottom: 0;
}

.main-name.red{
    border-bottom: 11px solid #b82033;
}

.footer {
    width: 100%;
    height: 71px;
    background: #000000;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    float: left;
    padding-top: 10px;
}

.footer img {
    height: 80%;
}

.value img{
    height: 100%;
}

.stats{
    width: 550px;
    height: 364px;
    text-align: center;
    position: absolute;
    top: 340px;
    left: 694px;
    z-index: 999;
}

.overview{
    width: 100%;
    height: 61px;
    margin-bottom: 12px;
}

.result{
    width: 50%;
    height: 100%;
    float: left;
    line-height: 61px;
    font-size: 20px;
}

.name-team{
    width: 218px;
    height: 100%;
    float: left;
    background: black;
    color: white;
}

.marker{
    width: 57px;
    height: 100%;
    float: right;
    font-size: 35px;
    color: white;
    background-color: #025fae;
}

.marker.red{
    float: left;
    background-color: #c32236;
}

.stat{
    width: 100%;
    height: 93px;
    margin-bottom: 7px;
}

.stats-team{
    width: 124px;
    height: 100%;
    float: left;
    line-height: 93px;
    font-size: 30px;
    background: rgba(241,111,92,1);
    background: -moz-linear-gradient(top, rgba(241,111,92,1) 0%, rgba(246,41,12,1) 0%, rgba(0,61,114,1) 0%, rgba(0,92,167,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(241,111,92,1)), color-stop(0%, rgba(246,41,12,1)), color-stop(0%, rgba(0,61,114,1)), color-stop(100%, rgba(0,92,167,1)));
    background: -webkit-linear-gradient(top, rgba(241,111,92,1) 0%, rgba(246,41,12,1) 0%, rgba(0,61,114,1) 0%, rgba(0,92,167,1) 100%);
    background: -o-linear-gradient(top, rgba(241,111,92,1) 0%, rgba(246,41,12,1) 0%, rgba(0,61,114,1) 0%, rgba(0,92,167,1) 100%);
    background: -ms-linear-gradient(top, rgba(241,111,92,1) 0%, rgba(246,41,12,1) 0%, rgba(0,61,114,1) 0%, rgba(0,92,167,1) 100%);
    background: linear-gradient(to bottom, rgba(241,111,92,1) 0%, rgba(246,41,12,1) 0%, rgba(0,61,114,1) 0%, rgba(0,92,167,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f16f5c', endColorstr='#005ca7', GradientType=0 );
    color: white;
    overflow: hidden;
}

.stats-team img {
    height: 100%;
}

.stats-team.red{
    float: right;
    background: rgba(246,41,12,1);
    background: -moz-linear-gradient(top, rgba(246,41,12,1) 0%, rgba(0,61,114,1) 0%, rgba(241,111,92,1) 0%, rgba(131,20,35,1) 0%, rgba(183,31,51,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(246,41,12,1)), color-stop(0%, rgba(0,61,114,1)), color-stop(0%, rgba(241,111,92,1)), color-stop(0%, rgba(131,20,35,1)), color-stop(100%, rgba(183,31,51,1)));
    background: -webkit-linear-gradient(top, rgba(246,41,12,1) 0%, rgba(0,61,114,1) 0%, rgba(241,111,92,1) 0%, rgba(131,20,35,1) 0%, rgba(183,31,51,1) 100%);
    background: -o-linear-gradient(top, rgba(246,41,12,1) 0%, rgba(0,61,114,1) 0%, rgba(241,111,92,1) 0%, rgba(131,20,35,1) 0%, rgba(183,31,51,1) 100%);
    background: -ms-linear-gradient(top, rgba(246,41,12,1) 0%, rgba(0,61,114,1) 0%, rgba(241,111,92,1) 0%, rgba(131,20,35,1) 0%, rgba(183,31,51,1) 100%);
}

.stats-name{
    width: 287px;
    height: 100%;
    float: left;
    margin: 0px 6px;
    background-color: white;
}

.stats-game{
    line-height: 93px;
    font-size: 25px;
}