{% extends 'GrafismBundle::layout.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('bundles/grafism/css/SLO/default/next-match.css') }}" />
{% endblock styles %}

{% block body %}
    <div class="featured">
        <div class="logo" {% if app.request.get('context') == 'cs' %}style="background:#e7492d !important; "{% endif %}>
            <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/slo/clash/in-game/logo-overlay-slo.png">
        </div>
        <div class="text">
            <div class="next-text">
                Próximo partido
            </div>
            <div class="next-time">
                {{ scheduledAt }}H
            </div>
        </div>
        <div class="teams">
            <div class="team" style="border-color:{{ local.color }};">
                <img alt="" src="{{ local.logo }}">
            </div>
            <div class="versus">
                VS
            </div>
            <div class="team" style="border-color:{{ visitor.color }};">
                <img alt="" src="{{ visitor.logo }}">
            </div>
        </div>
    </div>
{% endblock body %}