{% extends 'GrafismBundle::layout.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('bundles/grafism/css/SLO/default/twitter.css') }}" />
{% endblock styles %}

{% block body %}
    <div class="featured">
        <div class="logo">
            <img alt="" src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/slo/clash/in-game/logo-overlay-slo.png">
        </div>
        <div class="text">
            <div class="username">
                @{{ user }}
            </div>
            <div class="username-tweet">
                {{ text }}
            </div>
        </div>
    </div>
{% endblock body %}