{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jszip-2.5.0/dt-1.10.16/b-1.4.2/b-colvis-1.4.2/b-html5-1.4.2/b-print-1.4.2/r-2.2.0/datatables.min.css"/>
{% endblock %}

{% block sonata_admin_content %}
	<div class="row">
    	<div class="col-sm-12 col-md-12">
            <div class="box box-success">
            	<div class="box-header">
            		<h4 class="box-title">
            			Players
            		</h4>
            		<select id="competitions" style="margin-top: 10px">
						{% for competiton in competitions %}
							<option value="{{ competiton.id }}">{{ competiton.name }}</option>
						{% endfor %}
            		</select>
            	</div>
            	<div class="box-body">            		
            		
            	</div>
            </div>
        </div>
    </div>
{% endblock %}