<div id="cod-hardpoint" class="modal fade" role="dialog" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Rotaciones Hardpoint</h4>
            </div>
            <div class="modal-body">
            	<div class="row">
            		<div class="col-xs-12">
                		<div class="row" style="margin-bottom:10px;">
                			<div class="col-xs-3">
            					<select id="local-team-selector" class="form-control">
            						{% for t in teams %}
            							<option value="{{ t.id }}">{{ t.team.name }}</option>
            						{% endfor %}
            					</select>
            				</div>
                		</div>
            		
						<div class="row">
							<div class="col-xs-12">
								<div class="row">
    								{% for i in 1..5 %}
            							<div class="col-xs-2 text-center">Punto {{ i }}</div>
            							{% endfor %}
            						</div>
                        		
                    			<div class="row">
                    				{% for i in 1..5 %}
                    					<div class="col-xs-2" style="margin-bottom:10px;">
                    						<input placeholder="{% if loop.last %} 0 {% endif %}"on type="number" class="form-control" id="team-one-{{ i }}" />
                    					</div>
                    				{% endfor %}
                    			</div>
							</div>
						</div>
						
						<div class="row" style="margin-bottom:10px;">
                			<div class="col-xs-3">
            					<select id="visitor-team-selector" class="form-control">
            						{% for t in teams %}
            							<option value="{{ t.id }}">{{ t.team.name }}</option>
            						{% endfor %}
            					</select>
            				</div>
                		</div>
						
						<div class="row">
							<div class="col-xs-12">
								<div class="row">
    								{% for i in 1..5 %}
            							<div class="col-xs-2 text-center">Punto {{ i }}</div>
            							{% endfor %}
            						</div>
                        		
                    			<div class="row">
                    				{% for i in 1..5 %}
                    					<div class="col-xs-2" style="margin-bottom:10px;">
                    						<input placeholder="{% if loop.last %} 0 {% endif %}" type="number" class="form-control" id="team-two-{{ i }}" />
                    					</div>
                    				{% endfor %}
                    			</div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-xs-6">
								<label class="radio-inline">
                                  <input type="radio" name="optradio" id="rotation-1" value="primera" checked>Primera
                                </label>
                                <label class="radio-inline">
                                  <input type="radio" name="optradio" id="rotation-2" value="segunda">Segunda
                                </label>
                                <label class="radio-inline">
                                  <input type="radio" name="optradio" id="rotation-3" value="tercera">Tercera
                                </label>
							</div>
							
							<div class="col-xs-offset-2 col-xs-4">
								<label class="radio-inline">
                                  <input type="radio" name="rounds" value="4" checked>Cuatro
                                </label>
                                <label class="radio-inline">
                                  <input type="radio" name="rounds" value="5">Cinco
                                </label>
							</div>
						</div>
            		</div>
            	</div>
        	</div>
        	
        	<div class="modal-footer">
        		<div class="row">
        			<div class="col-xs-1">
        				<button id="play-hardpoint-chyron" class="btn btn-success">PLAY</button>
        			</div>
        			
        			<div class="col-xs-1">
        				<button class="stop btn btn-danger">STOP</button>
        			</div>
        		</div>
        	</div>
        </div>

    </div>
</div>  