<div id="cod-hardpoint-resumen" class="modal fade" role="dialog" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Resumen Hardpoint</h4>
            </div>
            <form method="post"  enctype="multipart/form-data" action="{{ path('caspar_play_cod_resumen_hardpoint') }}">
                <div class="modal-body">
                	<div class="row">
                		<div class="col-xs-12">
                    		<div class="row" style="margin-bottom:10px;">
                    			<div class="col-xs-3">
                					<select name="local-team" id="local-team-selector" class="form-control">
                						{% for t in teams %}
                							<option value="{{ t.id }}">{{ t.team.name }}</option>
                						{% endfor %}
                					</select>
                				</div>
                				
                				<div class="col-xs-3">
                					<select name="visitor-team" id="local-team-selector" class="form-control">
                						{% for t in teams %}
                							<option value="{{ t.id }}">{{ t.team.name }}</option>
                						{% endfor %}
                					</select>
                				</div>
                				
                				<div class="col-xs-3">
                					<select name="map" id="map-selector" class="form-control">
                						{% for map in constant('AppBundle\\Utils\\CodUtils::hardpointMaps') %}
                							<option value="{{ map }}">{{ map }}</option>
                						{% endfor %}
                					</select>
                				</div>
                    		</div>
                		
                			<div class="row">
                				<div class="col-xs-5">
                					<input name="file" type="file" />
                				</div>
                				<div class="col-xs-offset-2 col-xs-2">
                    				<input type="submit" class="btn btn-success" value="PLAY" />
                    			</div>
                			</div>
                		</div>
                	</div>
            	</div>
        	</form>
        	<div class="modal-footer">
        		<div class="row">
        			<div class="col-xs-1">
        				<button class="stop btn btn-danger">STOP</button>
        			</div>
        			
        			<div class="col-xs-1">
        				<a href="https://s3-eu-west-1.amazonaws.com/superliga-static/plantilla.csv" class="btn btn-success" target="_blank">Plantilla</a>
        			</div>
        		</div>
        	</div>
        </div>

    </div>
</div>  