<div id="cod-mapas-resumen" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Resumen Partido</h4>
            </div>
            <div class="modal-body">
            	<div class="row">
            		<div class="col-xs-12">
                		<div class="row" style="margin-bottom:10px;">
                			<div class="col-xs-3">
                				<select name="map" class="form-control map-selector">
            						{% for map in constant('AppBundle\\Utils\\CodUtils::hardpointMaps') %}
            							<option value="{{ map }}">{{ map }}</option>
            						{% endfor %}
            					</select>
                			</div>
                			
                			<div class="col-xs-3">
                				<select name="map" class="form-control map-selector">
            						{% for map in constant('AppBundle\\Utils\\CodUtils::bydMaps') %}
            							<option value="{{ map }}">{{ map }}</option>
            						{% endfor %}
            					</select>
                			</div>
                			
                			<div class="col-xs-2">
                				<select name="map" class="form-control map-selector">
            						{% for map in constant('AppBundle\\Utils\\CodUtils::tlbMaps') %}
            							<option value="{{ map }}">{{ map }}</option>
            						{% endfor %}
            					</select>
                			</div>
                			
                			<div class="col-xs-2">
                				<select name="map" class="form-control map-selector">
            						{% for map in constant('AppBundle\\Utils\\CodUtils::hardpointMaps') %}
            							<option value="{{ map }}">{{ map }}</option>
            						{% endfor %}
            					</select>
                			</div>
                			
                			<div class="col-xs-2">
                				<select name="map" class="form-control map-selector">
            						{% for map in constant('AppBundle\\Utils\\CodUtils::bydMaps') %}
            							<option value="{{ map }}">{{ map }}</option>
            						{% endfor %}
            					</select>
                			</div>
            			</div>
            			
            			<!-- Resultados -->
            			<div class="row" style="margin-bottom:10px;">
            				<div class="col-xs-3">
            					<input type="number" class="form-control"/>
            					<input type="number" class="form-control"/>
            				</div>
            				
            				<div class="col-xs-3">
            					<input type="number" class="form-control"/>
            					<input type="number" class="form-control"/>
            				</div>
            				
            				<div class="col-xs-2">
            					<input type="number" class="form-control"/>
            					<input type="number" class="form-control"/>
            				</div>
            				
            				<div class="col-xs-2">
            					<input type="number" class="form-control"/>
            					<input type="number" class="form-control"/>
            				</div>
            				
            				<div class="col-xs-2">
            					<input type="number" class="form-control"/>
            					<input type="number" class="form-control"/>
            				</div>
            			</div>
            		</div>
            	</div>
        	</div>
        	<div class="modal-footer">
        		<div class="row">
        			<div class="col-xs-1">
        				<button id="play-resumen-mapas" class="btn btn-success">PLAY</button>
        			</div>
        			<div class="col-xs-1">
        				<button class="stop btn btn-danger">STOP</button>
        			</div>
        		</div>
        	</div>
        </div>

    </div>
</div>  