<div id="cod-tlb-resumen" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Resumen TLB</h4>
            </div>
            <div class="modal-body">
            	<div class="row">
            		<div class="col-xs-12">
                		<div class="row" style="margin-bottom:10px;">
                			<div class="col-xs-3">
            					<select name="local-team" id="local-team-selector" class="form-control">
            						{% for t in teams %}
            							<option value="{{ t.id }}">{{ t.team.name }}</option>
            						{% endfor %}
            					</select>
            				</div>
            				
            				<div class="col-xs-3">
            					<select name="visitor-team" id="visitor-team-selector" class="form-control">
            						{% for t in teams %}
            							<option value="{{ t.id }}">{{ t.team.name }}</option>
            						{% endfor %}
            					</select>
            				</div>
            				
            				<div class="col-xs-3">
            					<select name="map" id="map-selector" class="form-control">
            						{% for map in constant('AppBundle\\Utils\\CodUtils::tlbMaps') %}
            							<option value="{{ map }}">{{ map }}</option>
            						{% endfor %}
            					</select>
            				</div>
                		</div>
            		
            			<div class="row">
            				<div class="col-xs-12">
            					<div class="row">
            						<ul>
            						<li style="float: left;margin-right:5px;">LOCAL</li>
                					{% for i in 1..10 %}
                						<li  data-value="0" class="tlb-selector local-score" >
                							<img src="" />
                						</li>
                					{% endfor %}
                					</ul>
            					</div>
            				</div>
            			</div>
            			
            			<div class="row" style="margin-top:30px;">
            				<div class="col-xs-12">
            					<div class="row">
            						<ul>
            						<li style="float: left;margin-right:5px;">VISITOR</li>
                					{% for i in 1..10 %}
                						<li  data-value="0" class="tlb-selector visitor-score" >
                							<img src="" />
                						</li>
                					{% endfor %}
                					</ul>
            					</div>
            				</div>
            			</div>
            		</div>
            	</div>
        	</div>
        	<div class="modal-footer">
        		<div class="row">
        			<div class="col-xs-1">
        				<button id="play-resumen-tlb" class="btn btn-success">PLAY</button>
        			</div>
        			<div class="col-xs-1">
        				<button class="stop btn btn-danger">STOP</button>
        			</div>
        		</div>
        	</div>
        </div>

    </div>
</div>  