{% extends 'GrafismBundle::form/base_form.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-3">
            {{ form_label(form.type) }}
            {{ form_widget(form.type, { 'attr': { 'class' : 'form-control' } }) }}
        </div>

        <div class="col-xs-1">
            {{ form_label(form.minutes) }}
            {{ form_widget(form.minutes, { 'attr': { 'class' : 'form-control' } }) }}
        </div>

        <div class="col-xs-1">
            {{ form_label(form.seconds) }}
            {{ form_widget(form.seconds, { 'attr': { 'class' : 'form-control' } }) }}
        </div>
    </div>
{% endblock %}