{% extends 'GrafismBundle::layout.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('bundles/grafism/css/Iberian/in-game.css') }}" />
{% endblock styles %}

{% block body %}

    <div class="header">
        <div class="scoreboard">
            <div class="score local">{{ local.score }}</div>
            <div class="team local">{{ local.shortname }}</div>
            <div class="team visitor">{{ visitor.shortname }}</div>
            <div class="score visitor">{{ visitor.score }}</div>
        </div>
    </div>

    <div class="footer">
        <div class="sponsors-spot">
            <div class="sponsors">
                <img id="patros" alt="" />
                <span class="patch">PARCHE ACTUAL </br>
                    <span style="color:#c1b07c;">{{ patch }}</span>
                </span>
            </div>
        </div>

        <div class="cam">
            <div class="cam-label">{{ local.name }}</div>
        </div>

        <div class="info">IBERIAN CUP · {{ phase }}</div>

        <div class="cam">
            <div class="cam-label">{{ visitor.name }}</div>
        </div>
    </div>

    <script type="text/javascript">
        var picPaths = ['https://s3-eu-west-1.amazonaws.com/lvp-graphism/iberian/ingame/IberianCup-Cajainferior-LOGO.png',
            'https://s3-eu-west-1.amazonaws.com/lvp-graphism/iberian/ingame/IberianCup-Cajainferior-FONDO.png',
            'https://s3-eu-west-1.amazonaws.com/lvp-graphism/iberian/ingame/IberianCup-Cajainferior-ORANGE.png',
            'https://s3-eu-west-1.amazonaws.com/lvp-graphism/iberian/ingame/IberianCup-Cajainferior-TAKIS.png',
            'https://s3-eu-west-1.amazonaws.com/lvp-graphism/iberian/ingame/IberianCup-Cajainferior-ONEBLADE.png',
            'https://s3-eu-west-1.amazonaws.com/lvp-graphism/iberian/ingame/IberianCup-Cajainferior-CorteIngles-Intel-Omen.png'];

        var curPic = -1;
        //preload the images for smooth animation
        var imgO = new Array();
        for(i=0; i < picPaths.length; i++) {
            imgO[i] = new Image();
            imgO[i].src = picPaths[i];
        }

        function swapImage() {
            curPic = (++curPic > picPaths.length-1)? 0 : curPic;

            // If Patch
            if(curPic == 1) {
                $('.patch').show();
            } else {
                $('.patch').hide();
            }

            imgCont.src = imgO[curPic].src;
            setTimeout(swapImage, 15000);
        }

        $(document).ready(function(){
            imgCont = document.getElementById('patros');
            swapImage();
        });

    </script>

{% endblock %}