{% extends 'GrafismBundle::layout.html.twig' %}

{% block styles %}
	<link href="{{ asset('bundles/grafism/css/Iberian/in-game-drakes.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="drakes">
    	<img src="https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/League+of+Legends/{{ drake }}.png" />
    </div>

    <script type="text/javascript">
        $(function () {
            $('img').fadeIn("slow");
        });
    </script>
{% endblock %}
