{% extends 'GrafismBundle::layout.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('bundles/grafism/css/Iberian/inhibitor.css') }}" />
{% endblock styles %}

{% block body %}
    <div class="item {{ side }}" style="background:url('{{ img }}')"></div>

    <script type="text/javascript">

        $(function () {
            $('.item').animate({'width': 'toggle'}, 'slow').delay(300);
        });
    </script>
{% endblock %}