{% extends 'GrafismBundle::layout.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('bundles/grafism/css/Iberian/inhibitor-row.css') }}" />
{% endblock styles %}

{% block body %}
    <div class="item-row {{ rol }} {{ side }}">
        <div class="item-bar {{ side }}">
            <div class="up {{ side }}"></div>
            <div class="down {{ side }}"></div>
            <span class="timer-label">{{ rol }}</span>
        </div>
        <div class="timer {{ side }}">05:00</div>
    </div>

    <script type="text/javascript">

        function startTimer() {

            var presentTime = $('.timer').html();
            var timeArray = presentTime.split(/[:]+/);
            var m = timeArray[0];
            var s = checkSecond((timeArray[1] - 1));
            {#          if(s==57){s="0"+2}#}
            if(s==59){m=m-1}

            if(m<0) {
                $.when(function() {
                    return $('.item-row').fadeOut();
                }()).done(function() {

                });

                return;
            }

            $('.timer').html(m + ":" + s);

            var seconds = 300 - (m * 60 + parseInt(s));
            var width = seconds / 300 * 100

            $('.up, .down').css('width', width+'%');

            setTimeout(function(){
                startTimer();
            }, 1000);
        }

        function checkSecond(sec) {
            if (sec < 10 && sec >= 0) {sec = "0" + sec}; // add zero in front of numbers < 10
            if (sec < 0) {sec = "59"};
            return sec;
        }

        $(function () {
            startTimer();
        });
    </script>
{% endblock %}