{% extends 'GrafismBundle::layout.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('bundles/grafism/css/Iberian/next-matches.css') }}" />
{% endblock styles %}

{% block body %}

    <div class="match">
        <div class="logo">
            <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/iberian/logos/{{ local.shortname | lower }}.png" alt="" />
        </div>

        <div class="hour">
           {{ hour }} <span class="h">h</span>
        </div>

        <div class="logo">
            <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/iberian/logos/{{ visitor.shortname | lower }}.png" alt="" />
        </div>
    </div>

{% endblock %}