{% extends 'GrafismBundle::layout.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('bundles/grafism/css/Iberian/screens.css') }}" />
{% endblock styles %}

{% block body %}

    <div class="screen blue">
        {% for i in 1..5 %}
            <div class="player 100_{{ i }}" {% if loop.last %}style="margin-right: 0px;"{% endif %}>
                <div class="champion">
                    <img src="" />
                </div>
            </div>
        {% endfor %}
        <div class="bars"></div>
    </div>

    <div class="commands">
        <select id="team-selector-blue" size="9">
            {% for key, value in teams %}
                <option value="{{ key }}">{{ value }}</option>
            {% endfor %}
        </select>

        <select id="champion-selector" size="9">
            {% for id, name in champions %}
                <option value="{{ id }}">{{ name }}</option>
            {% endfor %}
        </select>

        <select id="team-selector-red" size="9">
            {% for key, value in teams %}
                <option value="{{ key }}">{{ value }}</option>
            {% endfor %}
        </select>

        <br><br>

        <button class="button" data-player="100_1">Top</button>
        <button class="button" data-player="100_2" >Jungler</button>
        <button class="button" data-player="100_3" >Mid</button>
        <button class="button" data-player="100_4" >ADC</button>
        <button class="button" data-player="100_5" style="margin-right: 50px" >Support</button>
        </br></br>
        <button id="clear" class="button btn btn-primary">CLEAR CHAMPIONS</button>
        </br></br>
        <button class="button" data-player="200_1">Top</button>
        <button class="button" data-player="200_2" >Jungler</button>
        <button class="button" data-player="200_3" >Mid</button>
        <button class="button" data-player="200_4" >ADC</button>
        <button class="button" data-player="200_5" style="margin-right: 50px" >Support</button>

    </div>

    <div class="screen red">
        {% for i in 1..5 %}
            <div class="player 200_{{ i }}" {% if loop.last %}style="margin-right: 0px;"{% endif %}>
                <div class="champion">
                    <img src="" />
                </div>
            </div>
        {% endfor %}
        <div class="bars"></div>
    </div>

    <script type="text/javascript">
        $(function(){
            $('.button').on('click', function(){
                var $this = $(this);
                var player = $this.attr('data-player');

                var champion = $('#champion-selector').val();

                $championImg = $('.' + player).find('.champion img');

                $championImg.attr('src', '');
                $championImg.attr('src', 'https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/League+of+Legends/gamergy/champions/' + champion + '.png');

                setTimeout(function () {
                    $championImg.parents('.champion').fadeIn('slow');
                }, 500);
            });

            $('#team-selector-blue').on('change', function () {
                var selected = $(this).val();
                $('.screen.blue').css('background', 'url("https://s3-eu-west-1.amazonaws.com/lvp-graphism/iberian/screens/' + selected + '-blue.png")');
            });

            $('#team-selector-red').on('change', function () {
                var selected = $(this).val();
                $('.screen.red').css('background', 'url("https://s3-eu-west-1.amazonaws.com/lvp-graphism/iberian/screens/' + selected + '-red.png")');
            });

            $('#clear').on('click', function () {
                $('.champion').each(function () {
                    $(this).fadeOut('slow');
                });
            });
        });
    </script>
{% endblock %}