{% extends 'GrafismBundle::layout.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('bundles/grafism/css/Iberian/standings.css') }}" />
{% endblock styles %}

{% block body %}

    <div class="standings">
    {% for group in groups %}
        <div class="standing">
            {% for team in group %}
                <div class="team">
                    <div class="name">{{ team.name }}</div>
                    <div class="logo">
                        <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/iberian/logos/{{ team.shortname |lower }}.png" alt="" />
                    </div>
                    <div class="score victories">{{ team.victories }}</div>
                    <div class="score">{{ team.defeats }}</div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
    </div>

{% endblock %}