{% extends 'GrafismBundle::layout.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('bundles/grafism/css/Iberian/standing.css') }}" />

    {% set group = groups | keys %}

    <style>
        html, body {
            background: url('https://s3-eu-west-1.amazonaws.com/lvp-graphism/iberian/standings/Grupo-{{ group[0] }}.png');
            background-repeat: no-repeat;
            background-color: transparent;
        }
    </style>
{% endblock styles %}

{% block body %}

    <div class="label">
        <img src="" alt="" />
    </div>

    {% set teams = groups | first %}

    <div class="standing">
        {% for team in teams %}
            <div class="team">
                <div class="name">{{ team.name }}</div>
                <div class="logo">
                    <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/iberian/logos/{{ team.shortname |lower }}.png" alt="" />
                </div>
                <div class="score victories">{{ team.victories }}</div>
                <div class="score">{{ team.defeats }}</div>
            </div>
        {% endfor %}
    </div>

{% endblock %}