{% extends 'GrafismBundle::layout.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('bundles/grafism/css/Iberian/timer.css') }}" />
{% endblock styles %}

{% block body %}

<div class="item {{ type }}" style="background:url('{{ img }}');">
   <div class="item-label {{ type }}">{{ side | raw }}</div>
    <div class="timer {{ type }}">
        <div class="{{ type }} up"></div>
        <div class="{{ type }} down"></div>
        <span class="timer-label">03:00</span>
    </div>
</div>

<script type="text/javascript">
    function startTimer() {

        var presentTime = $('.timer-label').html();
        var timeArray = presentTime.split(/[:]+/);
        var m = timeArray[0];
        var s = checkSecond((timeArray[1] - 1));
        {#          if(s==57){s="0"+2}#}
        if(s==59){m=m-1}

        if(m<0) {
            $.when(function() {
                return $('.item').fadeOut();
            }()).done(function() {

            });

            return;
        }

        $('.timer-label').html(m + ":" + s);

        var width = (m * 60 + parseInt(s)) / 180 * 100;

        $('.up, .down').css('width', width+'%');

        setTimeout(function(){
            startTimer();
        }, 1000);
    }

    function checkSecond(sec) {
        if (sec < 10 && sec >= 0) {sec = "0" + sec}; // add zero in front of numbers < 10
        if (sec < 0) {sec = "59"};
        return sec;
    }

    $(function () {
        startTimer();
    });
</script>

{% endblock %}