{% extends 'GrafismBundle::layout.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('bundles/grafism/css/Iberian/twitter.css') }}" />
{% endblock styles %}

{% block body %}

    <div class="twitter">
        <div class="header">@{{ user }}</div>
        <div class="tweet">{{ tweet }}</div>
    </div>
    
{% endblock %}