{% extends 'GrafismBundle::layout.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('bundles/grafism/css/Iberian/votes.css') }}" />
{% endblock styles %}

{% block body %}

    <div class="votes">
        <div class="caster-votes">
            {% for vote in votes %}
                <div class="vote {{ vote }}" {% if loop.last %} style="margin-right:0;" {% endif %}></div>
            {% endfor %}
        </div>

        <div class="team-votes">
            <div class="team local">
                <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/iberian/logos/{{ local.shortname | lower }}.png" alt="" />
            </div>
            <div class="team visitor">
                <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/iberian/logos/{{ visitor.shortname | lower }}.png" alt="" />
            </div>

            {% set localPercentage = local.votes / total_votes * 100 %}
            {% set visitorPercentage = visitor.votes / total_votes * 100 %}

            <div class="bars">
                <div class="bar local" style="width: calc(100% - ({{ visitorPercentage }}%))"></div>
                <div class="bar visitor" style="width: calc(100% - ({{ localPercentage }}%))"></div>
            </div>

            <div class="percentages">
                <span style="margin-right:20px;">{{ localPercentage | round(1) }}%</span>
                <span>{{ visitorPercentage | round(1) }}%</span>
            </div>
        </div>
    </div>
{% endblock %}