{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jszip-2.5.0/dt-1.10.16/b-1.4.2/b-colvis-1.4.2/b-html5-1.4.2/b-print-1.4.2/r-2.2.0/datatables.min.css"/>
{% endblock %}

{% block sonata_admin_content %}
	<div class="row">
    	<div class="col-sm-12 col-md-12">
            <div class="box box-success">
            	<div class="box-header">
            		<h4 class="box-title">
            			Cards
            		</h4>
            		<select id="competitions" style="margin-top: 10px">
						{% for competiton in competitions %}
							<option value="{{ competiton.id }}">{{ competiton.name }}</option>
						{% endfor %}
            		</select>
            	</div>
            	<div class="box-body">            		
            		<table id="cards_table" class="table table-striped">
            			<thead>
        					<tr>
        						<th>Card</th>
        						<th>Win Condition</th>
        						<th>% Win Condition</th>
        						<th>Usage</th>
        						<th>% Usage</th>
        						<th>Times banned</th>
        						<th>% Times banned</th>
        					</tr>					
        				</thead>
            		</table>
            		<div class="col-sm-4">
            			<b>Total usage: </b> {{ count }} 
            		</div>
            	</div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

	{{ parent() }}
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/v/bs/jszip-2.5.0/dt-1.10.16/b-1.4.2/b-colvis-1.4.2/b-html5-1.4.2/b-print-1.4.2/r-2.2.0/datatables.min.js"></script>
    
    <script type="text/javascript">
        $(function() {
			
			var $competitionSelector = $('#competitions');
			
        	var defaults = {
				'query[competition]': $competitionSelector.val()
           	};

            var table = $('#cards_table').DataTable({
            	dom: 'Bfrtip',
    	        buttons: [
    	            'copy', 'csv', 'excel', 'pdf', 'print'
    	        ],
                "order": [[ 2, 'desc']],
                "ajax" : {
					'url': generateUrl(defaults),
					'dataSrc': 'data'
                }
            });
            
            $competitionSelector.on('change', function(e)
            {
                defaults = $.extend({}, defaults, {'query[competition]': e.val});
        		reload(defaults);
           	});

           	function reload(query) 
           	{
				table.destroy();
                
        		table = $('#cards_table').DataTable({
        			dom: 'Bfrtip',
        	        buttons: [
        	            'copy', 'csv', 'excel', 'pdf', 'print'
        	        ],
                    "order": [[ 2, 'desc']],
                    "ajax" : {
    					'url': generateUrl(query),
    					'dataSrc': 'data'
                    }
                });
            }

            function generateUrl(query) 
            {
                var url = '/admin/cr/fetch/cards?';
                var strQuery = jQuery.param(query);

               	return url + strQuery;
            }
        });
    </script>

{% endblock %}