{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jszip-2.5.0/dt-1.10.16/b-1.4.2/b-colvis-1.4.2/b-html5-1.4.2/b-print-1.4.2/r-2.2.0/datatables.min.css"/>
{% endblock %}

{% block sonata_admin_content %}
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="box box-success">
                <div class="box-header">
                    <h4 class="box-title">
                        Players
                    </h4>
                    <select id="competitions" style="margin-top: 10px">
                        {% for competiton in competitions %}
                            <option value="{{ competiton.id }}">{{ competiton.name }}</option>
                        {% endfor %}
                    </select>

                    <select id="jornadas" style="margin-top: 10px">
                        <option value="0">Global</option>
                        {% for i in 1..18 %}
                            <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="box-body">            		
                    <table id="players_table" class="table table-striped">
                        <thead>
                            <tr>
                                <th>Player</th>
                                <th>Team</th>
                                <th>Victories</th>
                                <th>Defeats</th>
                                <th>Winrate</th>
                                <th>Crown Average</th>
                                <th>Win Condition</th>
                            </tr>					
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="box box-info">
                <div class="box-header">
                    <h4 class="box-title">
                        Player Win Condition
                    </h4>
                </div>
                <div class="box-body">            		
                    <table id="winc_table" class="table table-striped">
                        <thead>
                            <tr>
                                <th>Player</th>
                                <th>Team</th>
                                <th>Win Condition</th>
                            </tr>					
                        </thead>
                        <tbody>  
                            {% for player in winC %}
                                <tr>
                                    <td>{{ player.player }}</td>
                                    <td>{{ player.team }}</td>
                                    <td>
                                        {% for card in player.cards %}
                                            {{ card.times }} | <img src="{% path card.card.image, 'normal' %}" style="height: 50px"/> 
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/jszip-2.5.0/dt-1.10.16/b-1.4.2/b-colvis-1.4.2/b-html5-1.4.2/b-print-1.4.2/r-2.2.0/datatables.min.js"></script>

    <script type="text/javascript">
        $(function () {

            var $competitionSelector = $('#competitions');
            var $jornadaSelector = $('#jornadas');

            var defaults = {
                'query[competition]': $competitionSelector.val(),
                'query[jornada]': $jornadaSelector.val()
            };

            var table = $('#players_table').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ],
//                 "order": [[4, 'desc'], [2, 'desc']],
				"aaSorting": [],
                "ajax": {
                    'url': generateUrl(defaults),
                    'dataSrc': 'data'
                }
            });

            var tableWin = $('#winc_table').DataTable({
                "order": [[2, 'desc']],
                {#"ajax": {
                    'url': generateUrlWc(defaults),
                    'dataSrc': 'data'
                }#}
            });

            $competitionSelector.on('change', function (e)
            {
                defaults = $.extend({}, defaults, {'query[competition]': e.val});
                reload(defaults);
            });

            $jornadaSelector.on('change', function (e)
            {
                defaults = $.extend({}, defaults, {'query[jornada]': e.val});
                reload(defaults);
            });

            function reload(query)
            {
                table.destroy();
                tableWin.destroy();

                table = $('#players_table').DataTable({
                    dom: 'Bfrtip',
                    buttons: [
                        'copy', 'csv', 'excel', 'pdf', 'print'
                    ],
//                     "order": [[4, 'desc'], [2, 'desc']],
					"aaSorting": [],
                    "ajax": {
                        'url': generateUrl(query),
                        'dataSrc': 'data'
                    }
                });
                
                
                
                tableWin = $('#winc_table').DataTable({
                "order": [[2, 'desc']],
                "ajax": {
                        'url': generateUrlWc(query),
                        'dataSrc': function(data) {
                            for( var i = 0, ien=data.data.length; i<ien; i++) 
                            {
                                for(var j = 0, ien2=data.data[i][2].length; j<ien2; j++) {
                                    data.data[i][2][j] = data.data[i][2][j]['times'] + '| ' + data.data[i][2][j]['card'];
                                }
                            }
                            
                            return data.data;
                        }
                    }
                 });
            }

            function generateUrl(query)
            {
                var url = '/admin/cr/fetch/players?';
                var strQuery = jQuery.param(query);

                return url + strQuery;
            }
            
            function generateUrlWc(query)
            {
                var url = '/admin/cr/fetch/playerswin?';
                var strQuery = jQuery.param(query);

                return url + strQuery;
            }
        });
    </script>

{% endblock %}