{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.16/af-2.2.2/b-1.4.2/b-html5-1.4.2/b-print-1.4.2/r-2.2.0/datatables.min.css"/>
	
{% endblock %}

{% block sonata_admin_content %}
	<div class="row">
    	<div class="col-md-6">
            <div class="box box-success">
            	<div class="box-header">
            		<h4 class="box-title">
            			Teams
            		</h4>
            	</div>
            	<div class="box-body">
            		<table class="table table-striped" id="teamTable">
            			<thead>
        					<tr>
        						<th>Team</th>
        						<th>Victories</th>
        						<th>Defeats</th>
        						<th>Winrate</th>
        					</tr>					
        				</thead>
            			<tbody>
        					{% for team in data %}
        						<tr>
        							<td>{{ team.name }}</td>
        							<td>{{ team.wins }}</td>
        							<td>{{ team.loses }}</td>
        							<td>{{ team.wr|round(2, 'ceil') }}%</td>
        						</tr>
        					{% endfor %}
            			</tbody>
            		</table>
            	</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-success">
            	<div class="box-header">
            		<h4 class="box-title">
            			Teams bans
            		</h4>
            	</div>
            	<div class="box-body">
            		<table class="table table-striped" id="teamBansTable">
            			<thead>
        					<tr>
        						<th>Team</th>
        						<th>Card</th>
        					</tr>					
        				</thead>
            			<tbody>
        					{% for team in teamBans %}
        						<tr>
        							<td>{{ team.team }}</td>
        							<td>
        								{% for card in team.cards %}
        									{{ card.times }} | <img src="{% path card.c.image, 'normal' %}" style="height: 50px"/> 
        								{% endfor %}
        							</td>
    							</tr>
        					{% endfor %}
            			</tbody>
            		</table>
            	</div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

	{{ parent() }}
    
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.16/af-2.2.2/b-1.4.2/b-html5-1.4.2/b-print-1.4.2/r-2.2.0/datatables.min.js"></script>
    
    <script type="text/javascript">
        $(function() {
            $('#teamTable').DataTable({
            	dom: 'Bfrtip',
    	        buttons: [
    	            'copy', 'csv', 'excel', 'pdf', 'print'
    	        ],
                "order": [[ 3, 'desc']]});
        });
    </script>

{% endblock %}