{% extends 'AppBundle:Stream:layout.html.twig' %}

{% block styles %}
    <link href="{{ asset('bundles/app/css/lol/nexo/countdown.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}

    <div class="overlay">
        <div class="board">
			<div class="teams">
				<div class="team" style="background: linear-gradient(to top, rgba({{ local.colors.r  - 100}},{{ local.colors.g - 100 }},{{ local.colors.b  - 100}},1), rgba({{ local.colors.r }},{{ local.colors.g }},{{ local.colors.b }},1));">
					<img src="{{ local.image }}" />
				</div>
				<div class="team" style="background: linear-gradient(to top, rgba({{ visitor.colors.r  - 100}},{{ visitor.colors.g - 100 }},{{ visitor.colors.b  - 100}},1), rgba({{ visitor.colors.r }},{{ visitor.colors.g }},{{ visitor.colors.b }},1));">
					<img src="{{ visitor.image }}" />
				</div>
			</div>
			<div class="timer"></div>
        </div>
    </div>
    
    <script type="text/javascript">
    var count = 0;
    
    function startTimer() {

      var presentTime = $('.timer').html();
      var timeArray = presentTime.split(/[:]+/);
      var m = timeArray[0];
      var s = checkSecond((timeArray[1] - 1));
//           if(s==57){s="0"+2}
      if(s==59){m=m-1}

      if(m<0) {
              return;
      }

      $('.timer').html(m + ":" + s);
        
      setTimeout(function(){
          startTimer();
      }, 1000);
    }

    function checkSecond(sec) {
      if (sec < 10 && sec >= 0) {sec = "0" + sec}; // add zero in front of numbers < 10
      if (sec < 0) {sec = "59"};
      return sec;
    }
    
    $(function(){
        $('.board').animate({'width': 'toggle'}, 'slow').delay(1000);
        $('.board').promise().done(function(){
            $('.timer').animate({'height': 'toggle'}, 'slow').delay(400);
            $('.timer').promise().done(function () {
            	$('.timer').html({{ minutes }} + ":" + {{ seconds }}).fadeIn();
                startTimer();
            });
        });     
    });
	</script>
{% endblock %}