{% extends 'AppBundle:Stream:layout.html.twig' %}

{% block styles %}
    <link href="{{ asset('bundles/app/css/interface.css') }}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Signika" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="all">
        <div class="header">


        </div>

        <div class="main">
            <div class="container-fluid">
                <div class="interface">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Twitter</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12" style="margin-bottom:10px">
                                            <label>Tweet</label>
                                            <input id="tweetId" type="text" name="tweetId" class="form-control">
                                        </div>

                                        <div class="col-md-12" style="margin-bottom:10px">
                                            <label>Hashtag</label>
                                            <input id="hashtag" type="text" name="hashtag" class="form-control" value="ELNEXO">
                                        </div>

                                        <div class="col-md-2" style="margin-bottom:10px">
                                            <button id="play_tweet" class="btn btn-success">NEXO</button>
                                        </div>
                                        <div class="col-sm-2">
                                            <button class="btn btn-danger stop" layer="23">STOP</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-9">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Interfaz</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="row" style="margin-bottom: 20px">
                                        <div class="col-sm-1">Countdown</div>
                                        <div class="col-md-2">
                                            <select id="team_blue" class="form-control">
                                            {% for team in teams %}
                                                <option value="{{ team.team.superligaId }}">{{ team.team.name }}</option>
                                            {% endfor %}
                                            </select>
                                        </div>
                                        
                                        <div class="col-md-2">
                                            <select id="team_purple" class="form-control">
                                            {% for team in teams %}
                                                <option value="{{ team.team.superligaId}}">{{ team.team.name }}</option>
                                            {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-md-1">
                                        	<input type="number" min="0" max="60" id="minutes" value="05" step="1" onchange="if(parseInt(this.value,10)<10)this.value='0'+this.value;" class="form-control" />
                                        </div>
                                        <div class="col-md-1">
                                        	<input type="number" min="0" max="60" id="seconds" value="00" step="1" onchange="if(parseInt(this.value,10)<10)this.value='0'+this.value;" class="form-control" />
                                        </div>
                                        <div class="col-md-1">
                                            <button id="play_countdown" class="btn btn-success">PLAY</button>
                                        </div>
                                        <div class="col-md-1">
                                            <button layer="25" class="btn btn-danger stop">STOP</button>
                                        </div>
                                    </div>                            
                                </div>
                            </div>     
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                                            
    <script type="text/javascript">
        $(document).ready(function () {
			$('#play_tweet').click(function () {
				var hashtag = $('#hashtag').val();
				var tweet = $('#tweetId').val();

				$.post(Routing.generate('caspar_play_tweet_nexo'), {
					hashtag: hashtag,
					tweet: tweet
				});
			});

			$('#play_countdown').click(function () {
				var local = $('#team_blue').val();
				var visitor = $('#team_purple').val();

				var minutes = $('#minutes').val();
				var seconds = $('#seconds').val();

				$.post(Routing.generate('caspar_play_nexo_countdown'), {
					local: local,
					visitor: visitor,
					minutes: minutes,
					seconds: seconds
				});
			});
			
            $(".stop").click(function () {
                var layer = $(this).attr('layer');
                
                $.post(Routing.generate('caspar_stop_layer', {
					layer: layer
                }));
            });
        })
    </script>

{% endblock %}