{% extends 'AppBundle:Stream:layout.html.twig' %}

{% block styles %}
    <link href="{{ asset('bundles/app/css/interface.css') }}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Signika" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="all">
        <div class="header">


        </div>

        <div class="main">
            <div class="container-fluid">
                <div class="interface">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Twitter</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12" style="margin-bottom:10px">
                                            <label>Tweet</label>
                                            <input id="tweetId" type="text" name="tweetId" class="form-control">
                                        </div>

                                        <div class="col-md-12" style="margin-bottom:10px">
                                            <label>Hashtag</label>
                                            <input id="hashtag" type="text" name="hashtag" class="form-control" value="SUPERLIGAORANGECSGO">
                                        </div>

                                        <div class="col-md-2" style="margin-bottom:10px">
                                            <button id="play_tweet" class="btn btn-success">PLAY</button>
                                        </div>

                                        <div class="col-sm-2">
                                            <button class="btn btn-danger stop">STOP</button>
                                        </div>
                                    </div>									
                                </div>
                            </div>
                        </div>

                        <div class="col-md-7">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Interfaz</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="gameSelector">
                                        <div class="row" style="margin-bottom: 10px">
                                            <div class="col-md-4">

                                                <select id="match_id" class="form-control">
                                                    {% for match in matches %}
                                                        <option value="{{ match.id }}">{{ match }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-bottom: 20px">
                                            <div class="col-md-1">
                                                <label>Votaciones C.Atrás</label>
                                            </div>
                                            <div class="col-md-1">
                                                <button id="play_twitter_share" class="btn btn-success">PLAY</button>
                                            </div>

                                            <div class="col-sm-1">
                                                <button class="btn btn-danger stop">STOP</button>
                                            </div>
                                        </div>

                                        <div class="row" style="margin-bottom: 20px">
                                            <div class="col-md-1">
                                                <label>Votaciones</label>
                                            </div>
                                            <div class="col-md-1">
                                                <button id="play_twitter_share_chyron" class="btn btn-success">PLAY</button>
                                            </div>

                                            <div class="col-sm-1">
                                                <button class="btn btn-danger stop">STOP</button>
                                            </div>
                                        </div>

                                        <div class="row" style="margin-bottom: 20px">
                                            <div class="col-md-1">
                                                <label>Clasificación</label>
                                            </div>
                                            <div class="col-md-1">
                                                <button id="play_ladder" class="btn btn-success">PLAY</button>
                                            </div>

                                            <div class="col-sm-1">
                                                <button class="btn btn-danger stop">STOP</button>
                                            </div>
                                        </div>

                                        <div class="row" style="margin-bottom: 20px">
                                            <div class="col-md-1">
                                                <label>Scoreboard</label>
                                            </div>
                                            <div class="col-md-1">
                                                <button id="play_scoreboard" class="btn btn-success">PLAY</button>
                                            </div>

                                            <div class="col-sm-1">
                                                <button class="btn btn-danger stop">STOP</button>
                                            </div>
                                        </div>
                                                
                                        <div class="row" style="margin-bottom: 20px">
                                            <div class="col-md-1">
                                                <label>Comparativa armas</label>
                                            </div>
                                            
                                            <div class="col-md-2">
                                               <select id="player_one" class="form-control">
                                                {% for player in players %}
                                                    <option value="{{ player.steamid }}">{{ player.nickname }}</option>
                                                {% endfor %}
                                                </select>
                                            </div>
                                            
                                            <div class="col-md-2">
                                               <select id="player_two" class="form-control">
                                                {% for player in players %}
                                                    <option value="{{ player.steamid }}">{{ player.nickname }}</option>
                                                {% endfor %}
                                            </select>
                                            </div>
                                            
                                            <div class="col-md-2">
                                               <select id="armas" class="form-control">
                                                {% for key, value in weapons %}
                                                    <option value="{{ value }}">{{ key }}</option>
                                                {% endfor %}
                                            </select>
                                            </div>
                                            
                                            <div class="col-md-2">
                                                <input type="text" placeholder="Partidos ebot(comas)" id="ebot-matches" class="form-control" />
                                            </div>
                                            
                                            <div class="col-md-1">
                                                <button id="play_comparativa" class="btn btn-success">PLAY</button>
                                            </div>

                                            <div class="col-sm-1">
                                                <button class="btn btn-danger stop">STOP</button>
                                            </div>
                                        </div>
                                                
                                    </div>
                                </div>     
                            </div>
                        </div>
                    </div>
                </div>
            </div>                

        </div>

        <script type="text/javascript">
            $(document).ready(function () {
                $("#play_twitter_share").click(function () {
                    var match_id = $("#match_id").val();
                    $.post(Routing.generate('caspar_play_twitter_share', {game: '{{ game }}', competition: '{{ competition }}', id: match_id}));
                });
                
                $("#play_twitter_share_chyron").click(function () {
                    var match_id = $("#match_id").val();
                    $.post(Routing.generate('caspar_play_twitter_chyron', {game: '{{ game }}', competition: '{{ competition }}', id: match_id}));
                });

                $("#play_ladder").click(function () {
                    $.post(Routing.generate('caspar_play_ladder_generic', {game: '{{ game }}', competition: '{{ competition }}'}));
                });

                $("#play_tweet").click(function () {
                    var tweet = $("#tweetId").val();
                    var hashtag = $("#hashtag").val();
                    $.post(Routing.generate('caspar_play_tweet', {id: tweet, hashtag: hashtag}));
                });

                $("#play_scoreboard").click(function () {
                    var match_id = $("#match_id").val();
                    $.post(Routing.generate('caspar_play_resumen_csgo', {id: match_id}));
                });
                
                $("#play_comparativa").click(function () {
                    var playerOne = $("#player_one").val();
                    var playerTwo = $("#player_two").val();
                    var weapons = $("#armas").val();
                    var matches = $('#ebot-matches').val();
                    
                    $.post(Routing.generate('caspar_play_comparativa_csgo', {playerOne: playerOne, playerTwo: playerTwo, weapons: weapons, matches: matches}));
                });

                $(".stop").click(function () {
                    $.post(Routing.generate('caspar_stop'));
                });

            })
        </script>

    {% endblock %}