{% extends 'AppBundle:Stream:layout.html.twig' %}

{% block styles %}
    <link href="{{ asset('bundles/app/css/csgo/overlay_resumen.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="overlay">
        <div class="board">
            <div class="teams">
                <div class="team">
                    <div class="team_logo">
						<img src="{% path teamA.image, 'normal' %}">
                    </div>
                    
                    {% if (match.rounds|last.teamWin == 'a' and match.rounds|last.ctWin == 1) or (match.rounds|last.teamWin == 'b' and match.rounds|last.tWin == 1) %}
                    	{% set colorA = '#4a94b6' %}
                    	{% set gradientA = 'linear-gradient(to right, #4f9cc0, #2a4e63);' %}
                    	{% set gradientB = 'linear-gradient(to left, #c59d2f, #7e6127);' %}
                    	{% set colorB = '#bc962e' %}
                    {% else %}
                    	{% set colorA = '#bc962e' %}
                    	{% set colorB = '#4a94b6' %}
                    	{% set gradientA = 'linear-gradient(to top left, #7e6127, #c59d2f);' %}
                    	{% set gradientB = 'linear-gradient(to top right, #2a4e63, #4f9cc0);' %}
                    {% endif %}
                    
					{% if (match.rounds|last.teamWin == 'a' and match.rounds|last.ctWin == 1) or (match.rounds|last.teamWin == 'b' and match.rounds|last.tWin == 1) %}
                        <div class="team_scoreboard" style="background: linear-gradient(to top right, #2a4e63, #4f9cc0);">
                            <div class="team_scoreboard_name" style="color:#4a94b6; ">
                                {{ teamA.name }}
                            </div>
                            <div class="team_scoreboard_score">
                                {{ match.match.scoreA }}
                            </div>
                        </div>
                    {% else %}
                    	<div class="team_scoreboard" style="background: linear-gradient(to top left, #7e6127, #c59d2f);">
                            <div class="team_scoreboard_name" style="color: #bc962e;">
                                {{ teamA.name }}
                            </div>
                            <div class="team_scoreboard_score">
                                {{ match.match.scoreA }}
                            </div>
                        </div>
                    {% endif %}
                </div>

                <div class="team right">
                    <div class="team_logo">
						<img src="{% path teamB.image, 'normal' %}">
                    </div>
                    
                    {% if (match.rounds|last.teamWin == 'b' and match.rounds|last.ctWin == 1) or (match.rounds|last.teamWin == 'a' and match.rounds|last.tWin == 1) %}
                        <div class="team_scoreboard" style="background: linear-gradient(to top right, #2a4e63, #4f9cc0);">
                            <div class="team_scoreboard_name" style="color:#4a94b6; ">
                                {{ teamB.name }}
                            </div>
                            <div class="team_scoreboard_score">
                                {{ match.match.scoreB }}
                            </div>
                        </div>
                    {% else %}
                    	<div class="team_scoreboard" style="background: linear-gradient(to top left, #7e6127, #c59d2f);">
                            <div class="team_scoreboard_name" style="color: #bc962e;">
                                {{ teamB.name }}
                            </div>
                            <div class="team_scoreboard_score">
                                {{ match.match.scoreB }}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            
            <div class="recap">
            	{% if (match.rounds|last.teamWin == 'a' and match.rounds|last.ctWin == 1) or (match.rounds|last.teamWin == 'b' and match.rounds|last.tWin == 1) %}
                	<div class="team_name_a" style="color:#4a94b6;">
                		 {{ teamA.name }}
                	</div>
                	
                	<div class="team_name_b" style="color: #bc962e;">
            		 {{ teamB.name }}
            	</div>
            	{% else %}
            		<div class="team_name_a" style="color: #bc962e;">
                		 {{ teamA.name }}
                	</div>
                	
                	<div class="team_name_b" style="color: #4a94b6;">
            		 {{ teamB.name }}
            	</div>
            	{% endif %}
                <ul>
                	{% set nRounds = match.rounds|length %}
            	{% if nRounds <= 30 %}
                    {% for key, round in match.rounds %}
                            {% if round.teamWin == 'a' %}
                            	{% if round.ctWin %}
                            			{% if round.winType == 'normal' %}
                            				<li class="roundWin" style="margin-top: -14px;background:url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Counter+Strike/Calavera-CT-Arriba.png')"> </li>
                            			{% elseif round.winType == 'bombdefused' %}
                            				<li class="roundWin" style="margin-top: -14px;background:url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Counter+Strike/DefuseArriba.png')"> </li>
                            			{% else %}
                            				<li class="roundWin" style="margin-top: -14px;background:url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Counter+Strike/RelojArriba.png')"> </li>
                            			{% endif %}
                            	{% else %}
    	                                {% if round.winType == 'normal' %}
                            				<li class="roundWin" style="margin-top: -14px;background:url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Counter+Strike/Calavera-T-Arriba.png')"> </li>
                            			{% elseif round.winType == 'bombeexploded' %}
                            				<li class="roundWin" style="margin-top: -14px;background:url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Counter+Strike/ExplosionArriba.png')"> </li>
                            			{% else %}
                            				<li class="roundWin" style="margin-top: -14px;background:url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Counter+Strike/RelojArriba.png')"> </li>
                            			{% endif %}
                            		
                            	{% endif %}
                            	
                            {% else %}
                            	{% if round.ctWin %}
                            			{% if round.winType == 'normal' %}
                            				<li class="roundWin" style="margin-top: 20px;background:url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Counter+Strike/Calavera-CT-Abajo.png')"> </li>
                            			{% elseif round.winType == 'bombdefused' %}
                            				<li class="roundWin" style="margin-top: 20px;background:url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Counter+Strike/DefuseAbajo.png')"> </li>
                            			{% else %}
                            				<li class="roundWin" style="margin-top: 20px;background:url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Counter+Strike/RelojAbajo.png')"> </li>
                            			{% endif %}
                            	{% else %}
    	                                {% if round.winType == 'normal' %}
                            				<li class="roundWin" style="margin-top: 20px;background:url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Counter+Strike/Calavera-T-Abajo.png')"> </li>
                            			{% elseif round.winType == 'bombeexploded' %}
                            				<li class="roundWin" style="margin-top: 20px;background:url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Counter+Strike/ExplosionAbajo.png')"> </li>
                            			{% else %}
                            				<li class="roundWin" style="margin-top: 20px;background:url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Counter+Strike/RelojAbajo.png')"> </li>
                            			{% endif %}
                            		
                            	{% endif %}
                            	
                            	
                            {% endif %}
                    {% endfor %}
                    
                {% else %}    
                    {% for key, round in match.rounds|slice(30, nRounds) %}
                            {% if round.teamWin == 'a' %}
                            	{% if round.ctWin %}
                            			{% if round.winType == 'normal' %}
                            				<li class="roundWin" style="margin-top: -14px;background:url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Counter+Strike/Calavera-CT-Arriba.png')"> </li>
                            			{% elseif round.winType == 'bombdefused' %}
                            				<li class="roundWin" style="margin-top: -14px;background:url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Counter+Strike/DefuseArriba.png')"> </li>
                            			{% else %}
                            				<li class="roundWin" style="margin-top: -14px;background:url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Counter+Strike/RelojArriba.png')"> </li>
                            			{% endif %}
                            	{% else %}
    	                                {% if round.winType == 'normal' %}
                            				<li class="roundWin" style="margin-top: -14px;background:url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Counter+Strike/Calavera-T-Arriba.png')"> </li>
                            			{% elseif round.winType == 'bombeexploded' %}
                            				<li class="roundWin" style="margin-top: -14px;background:url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Counter+Strike/ExplosionArriba.png')"> </li>
                            			{% else %}
                            				<li class="roundWin" style="margin-top: -14px;background:url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Counter+Strike/RelojArriba.png')"> </li>
                            			{% endif %}
                            		
                            	{% endif %}
                            	
                            {% else %}
                            	{% if round.ctWin %}
                            			{% if round.winType == 'normal' %}
                            				<li class="roundWin" style="margin-top: 20px;background:url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Counter+Strike/Calavera-CT-Abajo.png')"> </li>
                            			{% elseif round.winType == 'bombdefused' %}
                            				<li class="roundWin" style="margin-top: 20px;background:url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Counter+Strike/DefuseAbajo.png')"> </li>
                            			{% else %}
                            				<li class="roundWin" style="margin-top: 20px;background:url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Counter+Strike/RelojAbajo.png')"> </li>
                            			{% endif %}
                            	{% else %}
    	                                {% if round.winType == 'normal' %}
                            				<li class="roundWin" style="margin-top: 20px;background:url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Counter+Strike/Calavera-T-Abajo.png')"> </li>
                            			{% elseif round.winType == 'bombeexploded' %}
                            				<li class="roundWin" style="margin-top: 20px;background:url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Counter+Strike/ExplosionAbajo.png')"> </li>
                            			{% else %}
                            				<li class="roundWin" style="margin-top: 20px;background:url('https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Counter+Strike/RelojAbajo.png')"> </li>
                            			{% endif %}
                            		
                            	{% endif %}
                            	
                            	
                            {% endif %}
                    {% endfor %}
                {% endif %}
                </ul>
                
                    <div class="vertical_line">
                    
                    </div>
                    
                     <div class="vertical_line" style="left: 400px">
                    
                    </div>
                    
                    <div class="vertical_line" style="left:530px">
                    
                    </div>
                    
                     <div class="vertical_line" style="left: 545px;">
                    
                    </div>
                    
                     <div class="vertical_line" style="left: 657px;">
                    
                    </div>
                    
                     <div class="vertical_line" style="left: 765px;">
                    
                    </div>
                    
                     <div class="vertical_line">
                    
                    </div>
                
                <div class="whiteLine">
                </div>
            </div>
                        
            <div class="title">
            	DAÑO MEDIO POR RONDA
            </div>
            <div class="stats">
                <div class="stats_left">
                    {% for player in match.adr.teamA|slice(0, 5) %}
                        <div class="stats_player">
                            <div class="stats_player_name" style="color:{{ colorA }}">
                                {{ player.player }}
                            </div>
                            <div class="stats_player_score">
                                <div class="stats_player_score_bar" style="background:{{ gradientA }}; width: calc({{ player.adr|round(2, 'common') }} * 210px / {{ match.adr.maxAdr }} )">
                                    
                                </div>
                                <div class="stats_player_score_number">
                                    {{ player.adr|round(2, 'common') }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                                                
                <div class="stats_right">
                    {% for player in match.adr.teamB|slice(0,5)  %}
                        <div class="stats_player">
                            <div class="stats_player_name" style="color:{{ colorB }}">
                                 {{ player.player }}
                            </div>
                            <div class="stats_player_score">
                                <div class="stats_player_score_bar" style="background:{{ gradientB }} ; width: calc({{ player.adr|round(2, 'common') }} * 210px / {{ match.adr.maxAdr }} )">
                                    
                                </div>
                                <div class="stats_player_score_number">
                                    {{ player.adr|round(2, 'common') }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}