{% extends 'AppBundle:Stream:layout.html.twig' %}

{% block styles %}
    <link href="{{ asset('bundles/app/css/csgo/overlay_comparativa.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="overlay">
        <div class="board">
            <div class="side">
                <img src="https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Counter+Strike/players/{{ steamOne }}.jpg" />
            </div>
            <div class="middle">
                <div class="header">
                    <span class="title">COMPARATIVA {{ weapon }}</span>
                </div>
                <div class="data-row">
                    <div class="data">{{ p1.kda }}</div>
                    <div class="key">KDA</div>
                    <div class="data">{{ p2.kda }}</div>
                </div>
                <div class="data-row">
                    <div class="data">{{ p1.adr }}</div>
                    <div class="key">ADR</div>
                    <div class="data">{{ p2.adr }}</div>
                </div>
                <div class="data-row">
                    <div class="data">{{ p1.killsWithWeapon }}</div>
                    <div class="key">BAJAS CON {{ weapon }}</div>
                    <div class="data">{{ p2.killsWithWeapon }}</div>
                </div>
                <div class="data-row">
                    <div class="data">{{ p1.percent }}</div>
                    <div class="key">%BAJAS CON {{ weapon }}</div>
                    <div class="data">{{ p2.percent }}</div>
                </div>
            </div>
                <div class="side">
                    <img src="https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/Counter+Strike/players/{{ steamTwo }}.jpg" />
                </div>
        </div>
    </div>
{% endblock %}