@font-face {
    font-family: 'DIN';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/dinpro/DINPro-CondBold.otf');
}

@font-face {
    font-family: 'DIN-Light';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/dinpro/DINPro-CondLight.otf');
}

html, body {
    width: 1920px;
    height: 1080px;
    background-color: transparent;
    font-family: 'DIN';
    color: #fff;
    margin: 0px;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.featured {
    width: 594px;
    height: 114px;
    position: absolute;
    top: 912px;
    left: 96px;
}

.logo{
    width: 114px;
    height: 100%;
    float: left;
    background-color: #008de1;
    text-align: center;
}

.logo img{
    width: 85%;
    margin-top: 18px;
}

.text{
    width: 190px;
    height: 100%;
    float: left;
    background-color: #101010;
    text-align: center;
}

.next-text{
    margin-top: 17px;
    font-size: 18px;
    font-family: 'DIN-Light';
}

.next-time{
    margin-top: 4px;
    font-size: 44px;
}

.teams{
    width: 290px;
    height: 100%;
    float: right;
    background-color: #101010;
}

.team{
    width: 102px;
    height: 100%;
    float: left;
    border-bottom: 5px solid #157373;
    text-align: center;
}

.team img{
    width: 90%;
    margin-top: 10px;
}

.versus{
    width: 53px;
    height: 100%;
    float: left;
    text-align: center;
    margin-top: 34px;
    font-size: 31px;
}