@font-face {
    font-family: 'DIN';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/dinpro/DINPro-CondBold.otf');
}

@font-face {
    font-family: 'DIN-Light';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/dinpro/DINPro-CondLight.otf');
}

html, body {
    width: 1920px;
    height: 1080px;
    background-color: transparent;
    font-family: 'DIN';
    color: #fff;
    margin: 0px;
    letter-spacing: 2px;
    position: relative;
}

.featured{
    position: absolute;
    top: 912px;
    width: 864px;
    height: 114px;
    left: 96px;
}

.logo{
    width: 114px;
    height: 100%;
    float: left;
    background: #008de1;
    text-align: center;
}

.logo img{
    width: 85%;
    margin-top: 18px;
}

.text{
    width: 750px;
    height: 100%;
    float: right;
    background: #101010;
}

.username{
    width: 722px;
    height: 43px;
    padding-left: 28px;
    line-height: 50px;
    font-size: 26px;
}

.username-tweet{
    width: 722px;
    padding-left: 28px;
    font-family: 'DIN-Light';
    font-size: 22px;
    height: 71px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}