@font-face {
    font-family: 'Univers';
    src: url('https://s3-eu-west-1.amazonaws.com/lvp-fonts/UniversLTStd-BoldCn.otf');
}

html, body {
    width: 1920px;
    height: 1080px;
    background-color: transparent;
    /*background-color: green;*/
    font-family: 'Univers';
    position: relative;
    color: #FFFFFF;
    font-size: 17px;
}

.top-box {
    width: 357px;
    height: 0;
    position: absolute;
    top: 70px;
    background: rgba(0,0,0, 0.5);
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.top-box.local {
    left: 468px;
}

.top-box.visitor {
    left: 1094px;
}

.middle-box {
    width: 697px;
    height: 0;
    /*padding: 10px;*/
    position: absolute;
    bottom: 138px;
    left: 608px;
    background: rgba(0,0,0, 0.5);
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 17px;
}