{% extends 'AppBundle:Stream:layout.html.twig' %}

{% block styles %}
	<link href="{{ asset('bundles/app/css/ladder.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    {% if game == 'csgo' %}
        <style>
            .board 
            {
                margin-top: 70px;
            }
        </style>
    {% endif %}
    
    {% if game == 'cod' %}
    	<style>
    		.board {
    			width: 1052px;
    			margin-left: 468px;
    		}
    	</style>
    {% endif %}
    
	<div class="overlay">
		<div class="board">
			<div class="header">
				<div class="header_jornada">
					JORNADA {{ jornada[1] }}
				</div>
				
				<div class="header_square">
					P
				</div>
				
				<div class="header_square">
					D
				</div>
				
				{% if game != 'cod' %}
				<div class="header_square">
					E
				</div>
				{% endif %}
				
				<div class="header_square">
					V
				</div>
			</div>
			
    		{% for team in ladder %}
    			<div class="team">
    				{% if team.rank <= 4 %}
                    	<div class="team_color" style="background: linear-gradient(to bottom, #e45a01, #7e3200)"></div>
                    {#{% elseif team.rank >= 8 and game == 'lol' %}
                        <div class="team_color" style="background: linear-gradient(to bottom, #ff0101, #980001)"></div>#}
                    {% elseif team.rank > 8 and game != 'lol' %}
                        <div class="team_color" style="background: linear-gradient(to bottom, #ff0101, #980001)"></div>
                    {% else %}
                    	<div class="team_color"></div>
                    {% endif %}
    				
    				<div class="team_position" >
    					{{ team.rank }}
    				</div>
    				
    				<div class="team_logo" style="background: linear-gradient(to top, rgba(0,0,0, 1), rgba({{ team.team.r | default('0') }}, {{ team.team.g | default('0') }}, {{ team.team.b | default('0') }},1) 70%);">
    					<img src="{% path team.team.imageSet, 'normal' %}">
    				</div>
    				
    				<div class="team_name">
    					{{ team.team.name | default("") }}
    				</div>
    				
    				<div class="team_win">
    					{{ team.win | default("0") }}
    				</div>
    				
    				{% if game != 'cod' %}
    				<div class="team_draw">
    					{{ team.draw | default("0") }}
    				</div>
    				{% endif %}
    				
    				<div class="team_defeat">
    					{{ team.defeat | default("0") }}
    				</div>
    				
    				<div class="team_score">
    					{{ team.points | default("0") }}
    				</div>
    			</div>
    		{% endfor %}
		</div>
	</div>

{% endblock %}