{% extends 'AppBundle:Stream:layout.html.twig' %}

{% block styles %}
	<link href="{{ asset('bundles/app/css/twitter_nexo.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
	<div class="all">
		<div class="board">
			<div class="header">
				<div class="user">@{{ tweet.user }}</div>
				<div class="hashtag">#{{ hashtag }}</div>
			</div>
			<div class="content">
				<div class="avatar">
					<img src="{{ tweet.avatar }}" />
				</div>
				<div class="text">{{ tweet.text }}</div>
			</div>
		</div>
	</div>	
{% endblock %}