{% extends 'AppBundle:Stream:layout.html.twig' %}

{% block styles %}
    <link href="{{ asset('bundles/app/css/twitter_votes_chyron.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="all">
        <div class="board">
            <div class="header">
                ¿QUIÉN GANARÁ EL PARTIDO? VOTA EN <span class="orange">SUPERLIGAORANGE.COM</span>
            </div>
            <div class="content">
                <div class="border"></div>
                <div class="slo">
                    <img src="https://s3-eu-west-1.amazonaws.com/superliga-static/Stream/superliga.png" />
                </div>
                <div class="teams">
                    <div class="logo-container">
                        <div class="logo" style="background: linear-gradient(to top, rgba({{ data['teamOne'].r  - 100}},{{ data['teamOne'].g - 100 }},{{ data['teamOne'].b  - 100}},1), rgba({{ data['teamOne'].r }},{{ data['teamOne'].g }},{{ data['teamOne'].b }},1));">
                            <img src="{{ data['teamOne'].image }}">
                        </div>
                        <div class="overlay"></div>
                    </div>

                    <div id="teamOne" data-value="{{ data['teamOne'].votes }}" class="team" style="background: linear-gradient(to top, rgba({{ data['teamOne'].r  - 100}},{{ data['teamOne'].g - 100 }},{{ data['teamOne'].b  - 100}},1),rgba({{ data['teamOne'].r }},{{ data['teamOne'].g }},{{ data['teamOne'].b }},1));">
                        <span class="p"></span>
                    </div>

                    <!-- Team right -->
                    <div class="logo-container pull-right">
                        <div class="logo right" style="background: linear-gradient(to top, rgba({{ data['teamTwo'].r - 100 }},{{ data['teamTwo'].g - 100 }},{{ data['teamTwo'].b -100 }},1),rgba({{ data['teamTwo'].r }},{{ data['teamTwo'].g }},{{ data['teamTwo'].b }},1));">
                            <img src="{{ data['teamTwo'].image }}">
                        </div>
                        <div class="overlay"></div>
                    </div>

                    <div id="teamTwo" data-value="{{ data['teamTwo'].votes }}"  class="team right" style="background: linear-gradient(to top, rgba({{ data['teamTwo'].r - 100 }},{{ data['teamTwo'].g - 100 }},{{ data['teamTwo'].b -100 }},1),rgba({{ data['teamTwo'].r }},{{ data['teamTwo'].g }},{{ data['teamTwo'].b }},1));">
                        <span class="p"></span>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.team').each(function () {
                var percentage = $(this).attr('data-value');
                var el = $(this).find('.p');

                $({countNum: 0}).animate({countNum: percentage}, {
                    duration: 2000,
                    easing: 'linear',
                    step: function () {
                        // What todo on every count
                        var pct = '';
                        if (percentage == 0) {
                            pct = Math.floor(this.countNum) + '%';

                        } else {
                            pct = Math.floor(this.countNum + 1) + '%';
                        }
                        el.text(pct);
                    }
                });
            });

            var a =    {{data['teamOne'].votes}} * 489 / 100;
            var b = 489 - a;


            $("#teamOne").css('width', a);
            $("#teamTwo").css('width', b);
        })
    </script>

{% endblock %}