{% extends 'GrafismBundle::layout.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('bundles/grafism/css/CRL/cards-played.css') }}" />
{% endblock styles %}

{% block body %}

<div class="cards">
    <img class="card-overlay" src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/CRL/lowers/cartas-mas-usadas-{{ data.side }}.png" />
    <div class="cards-header">{{ data.player.nickname }} - {{ 'Cards used' | trans({}, 'messages', locale ) }}</div>
    <div class="cards-content">
            {% for card in data['stats']['cards_used'] | slice (0,3) %}
            <div class="card" {% if loop.first %} style="margin-left:70px;" {% endif %}>
                <div class="card-image">
                    <img src="https://s3-eu-west-1.amazonaws.com/lvp-api/clash-royale/cards/thumbnail/{{ card.key }}.jpg" alt="" />
                </div>
                <div class="card-key">
                    <p class="card-name">{{ card.name | trans({}, 'messages', locale) }}</p>
                    <p class="card-value">{{ (card.used/data.stats.total_cards_used * 100) | number_format(1,'.')  }}%</p>
                </div>
            </div>
            {% endfor %}
    </div>
</div>

    <script type="text/javascript">
        $(function () {
            $(".cards").fadeIn()
                .animate({bottom:0}, 1500, function() {
                    setTimeout(function () {
                        $(".cards").fadeIn()
                            .animate({bottom:-197}, 1500);
                    }, 10000);
                });
        });
    </script>

{% endblock %}