{% extends 'GrafismBundle::layout.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('bundles/grafism/css/CRL/countdown.css') }}" />

    {% if match1.status == 'FINISHED' %}
        <style>
            .timer2 {
                font-size: 60px;
            }
        </style>
    {% endif %}
{% endblock styles %}

{% block body %}

<div class="logo">
    <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/CRL/default/LOGO-CRL-HORIZONTAL-final.png" alt="" />
</div>

<div class="next-matches">
    <div class="header">
        <div class="header-top">{{ localize('Starting') }}</div>
        <div class="header-bottom"></div>
    </div>

    <!-- NEXT MATCH -->
    <div class="match">
        <div class="match-content">
            <div class="local">
                <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/CRL/logos-final/{{ match1.local.shortname | lower }}.png" alt="" />
                {{ match1.local.name }}
            </div>
            <div class="mid timer">
                {% if match1.status == 'FINISHED' %}
                    {{ match1.local.score }} - {{ match1.visitor.score }}
                {% endif %}
            </div>
            <div class="visitor">
                {{ match1.visitor.name }}
                <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/CRL/logos-final/{{ match1.visitor.shortname | lower }}.png" alt="" />
            </div>
        </div>
        <div class="match-footer">
            <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/CRL/default/agenda-del-dia-barra.png" alt="" />
            <div class="blue"></div>
            <div class="red"></div>
        </div>
    </div>

    <!-- FOLLOWING MATCH -->
    <div class="match">
        <div class="match-content">
            <div class="local">
                <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/CRL/logos-final/{{ match2.local.shortname | lower }}.png" alt="" />
                {{ match2.local.name }}
            </div>
            <div class="mid timer2">{{ localize( 'Next') }}</div>
            <div class="visitor">
                {{ match2.visitor.name }}
                <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/CRL/logos-final/{{ match2.visitor.shortname | lower }}.png" alt="" />
            </div>
        </div>
        <div class="match-footer">
            <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/CRL/default/agenda-del-dia-barra.png" alt="" />
            <div class="blue"></div>
            <div class="red"></div>
        </div>
    </div>

    <div class="sub-label">{{ localize( 'Subscribe') }}</div>
</div>

    <script type="text/javascript">
        var subject = 'timer';
        {% if match1.status == 'FINISHED' %}
        subject = 'timer2';
        {% endif %}

        var count = 0;

        function startTimer() {

            var presentTime = $('.' + subject).html();
            var timeArray = presentTime.split(/[:]+/);
            var m = timeArray[0];
            var s = checkSecond((timeArray[1] - 1));
            if(s==59){m=m-1}

            if(m<0) {
                return;
            }

            $('.' + subject).html(m + ":" + s);

            setTimeout(function(){
                startTimer();
            }, 1000);
        }

        function checkSecond(sec) {
            if (sec < 10 && sec >= 0) {sec = "0" + sec}; // add zero in front of numbers < 10
            if (sec < 0) {sec = "59"};
            return sec;
        }

        $(function(){
            $('.' + subject).html({{ countdown.minutes }} + ":" + {{ countdown.seconds }}).fadeIn();
            startTimer();

            setInterval(function () {
                $('.es, .pt').toggle();
            }, 20000);
        });
    </script>

{% endblock %}