{% extends 'GrafismBundle::layout.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('bundles/grafism/css/CRL/decks_2vs2.css') }}" />
{% endblock styles %}

{% block body %}
    <div class="header">
        <div class="header-team">
            <div class="logo-team"><img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/CRL/logos-final/{{ local.team.shortname | lower }}.png" alt=""/></div>
            <div class="header-team-name">{{ local['team']['name'] }}</div>
            <div class="header-team-score blue">{{ results['local'] }}</div>
        </div>
        <div class="header-team">
            <div class="header-team-score red">{{ results['visitor'] }}</div>
            <div class="header-team-name" style="text-align: right;">{{ visitor['team']['name'] }}</div>
            <div class="logo-team red"> <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/CRL/logos-final/{{ visitor.team.shortname | lower }}.png" alt=""> </div>
        </div>
    </div>
    <div class="header-label">SET {{ set }} - {{ 'Game' | trans({}, 'messages', locale) | upper }} {{ order }} - {{ localize(modality, false) }}</div>
    <div class="content">
        <div class="player-deck blue">
            {% for player in local['players'] %}
            <div class="player">
                <div class="player-photo">
                    <img src="{{ player.photo }}" alt="" />
                </div>
                <div class="deck {% if loop.index == 2 %}second{% endif %}">
                    <div class="player-name">{{ player.name }}</div>
                    <div class="info-deck">
                        <div class="cards-deck">
                            {% for cardIndex in 0..7 %}
                                <div class="card {{ (player['cards'][cardIndex]['rarity'] | default('unknown')) | lower }}"><img src="https://s3-eu-west-1.amazonaws.com/lvp-api/clash-royale/cards/{{ (player['cards'][cardIndex]['key'] | default('unknown')) | lower }}.png"></div>
                            {% endfor %}
                        </div>
                        <div class="elixir-avg">{{ localize('Average elixir') }} {{ player.elixir | number_format(1,'.') }}</div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="player-deck red">
            {% for player in visitor['players'] %}
                <div class="player" {% if loop.first %} style="margin-left: 8px;" {% endif %}>
                    <div class="player-photo">
                        <img src="{{ player.photo }}" alt="" />
                    </div>
                    <div class="deck {% if loop.index == 2 %}second{% endif %}">
                        <div class="player-name">{{ player.name }}</div>
                        <div class="info-deck">
                            <div class="cards-deck">
                                {% for cardIndex in 0..7 %}
                                    <div class="card {{ (player['cards'][cardIndex]['rarity'] | default('unknown')) | lower }}"><img src="https://s3-eu-west-1.amazonaws.com/lvp-api/clash-royale/cards/{{ (player['cards'][cardIndex]['key'] | default('unknown')) | lower }}.png"></div>
                                {% endfor %}
                            </div>
                            <div class="elixir-avg">{{ localize('Average elixir') }} {{ player.elixir | number_format(1,'.') }}</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <script type="text/javascript">
        $(function () {
            function swapLanguage(from, to)
            {
                $('.' + from).parent().fadeOut("fast", function () {
                    $('.' + from).toggle();
                    $('.' + to).toggle();
                    $('.'+from).parent().fadeIn("fast");
                });
            }

            setInterval(function () {
                $('.es, .pt').toggle();
            }, 6000);
        });
    </script>

{% endblock %}