{% extends 'GrafismBundle::layout.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('bundles/grafism/css/CRL/elixir.css') }}" />
{% endblock styles %}

{% block body %}
    <div class="header">
        <div class="header-team">
            <div class="logo-team"><img src="{{ teams.local.logo }}" alt=""/></div>
            <div class="header-team-name">{{ teams.local.name }}</div>
            <div class="header-team-score blue">{{ teams.local.score }}</div>
        </div>
        <div class="header-team">
            <div class="header-team-score red">{{ teams.visitor.score }}</div>
            <div class="header-team-name" style="text-align: right;">{{ teams.visitor.name }}</div>
            <div class="logo-team red"> <img src="{{ teams.visitor.logo }}" alt=""> </div>
        </div>
    </div>
    <div class="header-label"> {{ 'Game' | trans({}, 'messages', locale) | upper }} {{ game }}</div>
    <div class="content">
        <div class="elixir-table">
            <div class="table-header">{{ 'elixir.stats' | trans }}</div>
            <div class="table-row">
                <div class="score"></div>
                <div class="key">{{ 'elixir.spent' | trans }}</div>
                <div class="score"></div>
            </div>

            <div class="table-row">
                <div class="score"></div>
                <div class="key">{{ 'elixir.lost' | trans }}</div>
                <div class="score"></div>
            </div>

            <div class="table-row">
                <div class="score"></div>
                <div class="key">{{ 'elixir.average' | trans }}</div>
                <div class="score"></div>
            </div>
        </div>
    </div>
    <div class="lower">
        <div class="lower-content">
            <div class="player-names">
                {% for player in teams.local.players %}
                    {% if set == 1 %}
                        <div class="player-name" {% if loop.last and teams.local.players |length == 2 %} style="border-left:5px solid #FFFFFF" {% endif %}>{{ player.name }}</div>
                    {% else %}
                        {{ player.name }}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="lower-content">
            <div class="player-names pull-right">
                {% for player in teams.local.players %}
                    {% if set == 1 %}
                        <div class="player-name" {% if loop.last and teams.local.players |length == 2 %} style="border-left:5px solid #FFFFFF" {% endif %}>{{ player.name }}</div>
                    {% else %}
                        {{ player.name }}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}