{% extends 'GrafismBundle::layout.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('bundles/grafism/css/CRL/featured-player-' ~ side ~ '.css') }}" />
{% endblock styles %}


{% block body %}    

    <div class="featured">
        <div class="featured-header">
            <img src="{{ team.logo }}" alt="" />
            Jugador destacado - {{ team.name }}
        </div>
        <img class="big-logo" src="{{ team.logo }}" alt="" />
        <div class="main">
            <div class="main-player">
                <img src="{{ player.photo }}" alt="" />
            </div>
            <div class="main-stats">
                <div class="stats">
                    <div class="stats-header">{{ player.name }}</div>
                    <div class="stats-content">
                        <div class="stat">
                            <div class="key">
                                <div class="text">WIN RATIO</div>
                            </div>
                            <div class="value">{{ player.stats.win_ratio | number_format(1, '.') }}%</div>
                        </div>
                        <div class="stat">
                            <div class="key">
                                <div class="text">CROWN AVERAGE</div>
                            </div>
                            <div class="value">{{ player.stats.crown_average | number_format(1, '.') }}</div>
                        </div>
                        <div class="stat">
                            <div class="key">
                                <div class="text">WIN CONDITION</div>
                            </div>
                            <div class="value wc">
                                <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/clash-royale/cards/type-1/{{ player.stats.win_condition }}.png" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/CRL/default/logo+CRL+Blanco.png" />
        </div>
    </div>

{% endblock %}