{% extends 'GrafismBundle::layout.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('bundles/grafism/css/CRL/koh-lineup.css') }}" />
{% endblock styles %}


{% block body %}

    <div class="header">
        <div class="header-team">
            <div class="header-team-name">{{ data.local.name }}</div>
            <div class="header-team-score blue">
                {{ data.match.score_local }}
            </div>
        </div>
        <div class="header-team">
            <div class="header-team-score red">
                {{ data.match.score_visitor }}
            </div>
            <div class="header-team-name" style="text-align: right;">{{ data.visitor.name }}</div>
        </div>
    </div>
    <div class="header-label">SET 5 - {{ localize('Koh') }}</div>
    <div class="content">
        <div class="team">
            <div class="team-logo">
                <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/CRL/logos-final/{{ data.local.shortname | lower }}.png" alt="" />
            </div>
            <div class="players">
                {% for player in data.local.players %}
                    <div class="player blue {% if player.alive == 0 %} dead {% endif %} " {% if loop.last %} style="margin-right: 0;" {% endif %} >
                        <img {% if player.alive == 0 %} class="defeated" {% endif %} src="{{ player.data.photo.original }}" alt="" />
                    </div>
                {% endfor %}
                <div class="players-name">
                    {% for player in data.local.players %}
                        <div class="player-name">
                            <div class="player-name-key blue">{{ player.data.nickname }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="team">
            <div class="team-logo">
                <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/CRL/logos-final/{{ data.visitor.shortname | lower }}.png" alt="" />
            </div>
            <div class="players" style="margin-left: 56px;">
                {% for player in data.visitor.players %}
                    <div class="player red {% if player.alive == 0 %} dead {% endif %} " {% if loop.last %} style="margin-right: 0;" {% endif %} >
                        <img {% if player.alive == 0 %} class="defeated" {% endif %} src="{{ player.data.photo.original }}" alt="" />
                    </div>
                {% endfor %}
                <div class="players-name">
                {% for player in data.visitor.players %}
                    <div class="player-name">
                        <div class="player-name-key red">{{ player.data.nickname }}</div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function () {
            setInterval(function () {
                $('.es, .pt').toggle();
            }, 4000);
        });
    </script>

{% endblock %}