{% extends 'GrafismBundle::layout.html.twig' %}

{% block styles %}
        <link rel="stylesheet" href="{{ asset('bundles/grafism/css/CRL/lineup-' ~ team.side ~ '.css') }}" />


{% endblock styles %}


{% block body %}

    <div class="lineup">
        <div class="lineup-header">
            <img src="{{ team.logo }}" alt="" />
            Alineación - {{ team.name }}
        </div>
        <img class="big-logo" src="{{ team.logo }}" alt="" />
        <div class="main">
            {% for player in players %}
                <div class="player">
                    <img src="{{ player.photo }}" />
                    <div class="player-name">
                        <div class="player-name-text">{{ player.name }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="footer">
            <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/CRL/default/logo+CRL+Blanco.png" />
        </div>
    </div>

{% endblock %}