{% extends 'GrafismBundle::layout.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('bundles/grafism/css/CRL/lower-player.css') }}" />

    <style>
        .card {
            background-image: url(https://s3-eu-west-1.amazonaws.com/lvp-graphism/CRL/lowers/rotulo-{{ team.side }}.png);
            background-repeat: no-repeat;
        }
    </style>

{% endblock styles %}

{% block body %}

    <div class="card">
        <div class="logo-team"> <img alt="" src="{{ team.logo }}"></div>
        <div class="player-name">{{ player.name }}</div>
        <div class="game-stats">
            <div class="stats-info">
                <div class="stats">
                    <h4>Win Rate</h4>
                    <h2>{{ player.win_ratio|number_format(1, '.') }}%</h2>
                </div>
                <div class="stats second">
                    <h4>Crown Avg.</h4>
                    <h2>{{ player.crown_average |number_format('1', '.') }}</h2>
                </div>
                <div class="ban">
                    <img alt="" src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/clash-royale/cards/type-1/{{ player.ban }}.png">
                </div>
            </div>
        </div>
        <div class="match">{{ match.label }}</div>
    </div>

{% endblock %}