{% extends 'GrafismBundle::layout.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('bundles/grafism/css/CRL/lower-player-versus-2v2.css') }}" />
{% endblock styles %}


{% block body %}
    <div class="teams-winrate-lower">
        <div class="teams">
            <div class="team blue">
                <div class="team-main">
                    <img style="z-index:9;"  src="{{ local.player.photo }}" alt="" />
                    <img style="left:33px;"  src="{{ local.player_2.photo }}" alt="" />
                    <div class="team-wr">
                        <div class="player-name">{{ local.player_2.name }}</div>
                        <div class="player-name">{{ local.player.name }}</div>
                    </div>
                    <div class="team-name blue pull-right">{{ local.name }}</div>
                </div>
                <div class="team-ban blue">
                    <img style="margin-left:-10.5px;" src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/clash-royale/cards/type-2/{{ local.ban }}.png" alt="" />
                </div>
            </div>

            <div class="team red">
                <div class="team-ban red">
                    <img style="margin-left: -32px;" src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/clash-royale/cards/type-2/{{ visitor.ban }}.png" alt="" />
                </div>
                <div class="team-main red">
                    <img style="z-index:9;"  src="{{ visitor.player_2.photo }}" alt="" />
                    <img style="right:33px;"  src="{{ visitor.player.photo }}" alt="" />
                    <div class="team-wr">
                        <div class="player-name" style="float:left;">{{ visitor.player.name }}</div>
                        <div class="player-name" style="float:left;">{{ visitor.player_2.name }}</div>
                    </div>
                    <div class="team-name red">{{ visitor.name }}</div>
                </div>
            </div>
        </div>
        <div class="footer">BANS</div>
    </div>
{% endblock %}