{% extends 'GrafismBundle::layout.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('bundles/grafism/css/CRL/overlay.css') }}" />
{% endblock styles %}


{% block body %}

    <div class="local">
        <div class="local-top">
            <div class="team">
                <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/CRL/logos-final/{{ teams.local.shortname | lower }}.png" alt="" />
                {{ teams.local.score }}
            </div>
            <div class="player-names local">
                {% for player in games[(currentGame <= 3) ? : 3].players.local %}
                    {% if currentSet == 1 %}
                        <div class="player-name">
                            {% if player.name  == 'Osledy Chacon' %}
                                Osledy
                            {% else %}
                                {{ player.name }}
                            {% endif %}
                        </div>
                    {% else %}
                        {{ player.name }}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="local-bottom">
            <div class="games-info">
                <div class="game-ban">
                    <img src="https://s3-eu-west-1.amazonaws.com/lvp-api/clash-royale/cards/thumbnail/{{ teams.local.ban }}.jpg" alt="" />
                    <span class="ban-label">BAN</span>
                </div>
                <div class="games">
                    {% for key, game in games %}
                        <div class="game-info">
                            <span class="game-label">{{ 'Game' | trans({}, 'messages', locale ) | upper }} {{ key }}</span>
                            <div class="game {% if game.scores.local == 'win' %}win{% elseif game.scores.local == 'loss' %}loss{% endif %}">
                                {% if game.scores.local == 'win' %}
                                    <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/CRL/overlay/blue-crown.png" alt="" />
                                {% elseif game.scores.local == 'loss' %}
                                    <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/CRL/overlay/crown.png" alt="" />
                                {% else %}
                                    {{ game.scores.local }}
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="crl-logo">
                <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/CRL/default/LOGO-CRL-HORIZONTAL-final.png" alt="" />
            </div>
        </div>
    </div>

    <div class="visitor">
        <div class="visitor-top">
            <div class="team">
                {{ teams.visitor.score }}
                <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/CRL/logos-final/{{ teams.visitor.shortname | lower }}.png" alt="" />
            </div>
            <div class="player-names visitor">
                {% for player in games[(currentGame <= 3) ? : 3].players.visitor %}
                    {% if currentSet == 1 %}
                        <div class="player-name">
                            {% if player.name  == 'Osledy Chacon' %}
                                Osledy
                            {% else %}
                                {{ player.name }}
                            {% endif %}
                        </div>
                    {% else %}
                        {{ player.name }}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="local-bottom">
            <div class="games-info">
                <div class="game-ban">
                    <img src="https://s3-eu-west-1.amazonaws.com/lvp-api/clash-royale/cards/thumbnail/{{ teams.visitor.ban }}.jpg" alt="" />
                    <span class="ban-label">BAN</span>
                </div>
                <div class="games">
                    {% for key, game in games %}
                        <div class="game-info">
                            <span class="game-label">{{ 'Game' | trans({}, 'messages', locale ) | upper }} {{ key }}</span>
                            <div class="game {% if game.scores.visitor == 'win' %}win{% elseif game.scores.visitor == 'loss' %}loss{% endif %}">
                                {% if game.scores.visitor == 'win' %}
                                    <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/CRL/overlay/red-crown.png" alt="" />
                                {% elseif game.scores.visitor == 'loss' %}
                                    <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/CRL/overlay/crown.png" alt="" />
                                {% else %}
                                    {{ game.scores.visitor }}
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="set-content">
               <p style="font-size: 23px;text-shadow: 1px 3px #0a0a0c;">{{ 'Game' | trans({}, 'messages', locale ) | upper }} {{ (currentGame <= 3) ? currentGame : 3 }} - SET {{ currentSet }}/5</p>
                <p style="font-size: 60px;text-shadow: 1px 3px #0a0a0c;">{% if currentSet == 1 %} {{ localize('2v2', false) }} {% else %} {{ localize('1v1', false) }} {% endif %}</p>
            </div>
        </div>
    </div>

    <div class="lineas-blancas"></div>

    <script type="text/javascript">
        $(function () {
            setInterval(function () {
                $('.es, .pt').toggle();
            }, 7000);
        });
    </script>

{% endblock %}