{% extends 'GrafismBundle::layout.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('bundles/grafism/css/CRL/overlay-koh.css') }}" />
{% endblock styles %}


{% block body %}

    <div class="local">
        <div class="local-top">
            <div class="team">
                <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/CRL/logos-final/{{ teams.local.shortname | lower }}.png" alt="" />
                {{ teams.local.score }}
            </div>
            <div class="player-names local">
                {% for player in games[currentGame].players.local %}
                    {% if currentSet == 1 %}
                        <div class="player-name">{{ player.name }}</div>
                    {% else %}
                        {{ player.name }}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="local-bottom">
            <div class="games-info">
                <div class="game-ban">
                    <img src="https://s3-eu-west-1.amazonaws.com/lvp-api/clash-royale/cards/thumbnail/{{ teams.local.ban }}.jpg" alt="" />
                    <span class="ban-label">BAN</span>
                </div>
                <div class="games">
                    {% for position, player in teams.local.players %}
                        <div class="game-info">
                            <span class="game-label">{{ player.name }}</span>
                            <div class="game {% if player.alive == 0 %}loss {% elseif (teams.local.players[position - 1] is defined and teams.local.players[position - 1].alive == 0) or teams.local.players[position - 1] is not defined %}local{% endif %}">
                                <img src="{{ player.photo }}" alt="" />
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="crl-logo">
                <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/CRL/default/LOGO-CRL-HORIZONTAL-final.png" alt="" />
            </div>
        </div>
    </div>

    <div class="visitor">
        <div class="visitor-top">
            <div class="team">
                {{ teams.visitor.score }}
                <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/CRL/logos-final/{{ teams.visitor.shortname | lower }}.png" alt="" />
            </div>
            <div class="player-names visitor">
                {% for player in games[currentGame].players.visitor %}
                    {% if currentSet == 1 %}
                        <div class="player-name">{{ player.name }}</div>
                    {% else %}
                        {{ player.name }}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="local-bottom">
            <div class="games-info">
                <div class="game-ban">
                    <img src="https://s3-eu-west-1.amazonaws.com/lvp-api/clash-royale/cards/thumbnail/{{ teams.visitor.ban }}.jpg" alt="" />
                    <span class="ban-label">BAN</span>
                </div>
                <div class="games">
                    {% for position, player in teams.visitor.players %}
                        <div class="game-info">
                            <span class="game-label">{{ player.name }}</span>
                            <div class="game {% if player.alive == 0 %}loss {% elseif (teams.visitor.players[position - 1] is defined and teams.visitor.players[position - 1].alive == 0) or teams.visitor.players[position - 1] is not defined %}visitor{% endif %}">
                                <img src="{{ player.photo }}" alt="" />
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="set-content">
                <p style="font-size: 23px;text-shadow: 1px 3px #0a0a0c;">{{ 'Game' | trans({}, 'messages', locale ) | upper }} {{ (currentGame <= 5) ? currentGame : 5 }} - SET {{ currentSet }}/5</p>
                <p style="font-size: 40px;text-shadow: 1px 3px #0a0a0c;">{{ localize('Koh') }}</p>
            </div>
        </div>
    </div>

    <div class="lineas-blancas"></div>

    <script type="text/javascript">
        $(function () {
            setInterval(function () {
                $('.es, .pt').toggle();
            }, 7000);
        });
    </script>

{% endblock %}