{% extends 'GrafismBundle::layout.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('bundles/grafism/css/CRL/player-card.css') }}" />

    <style>
        html, body {
            background-image: url(https://s3-eu-west-1.amazonaws.com/lvp-graphism/CRL/stats-player/stats-{{ side }}.png);
            background-color: transparent;
        }
    </style>
{% endblock styles %}


{% block body %}

    <div class="stats-player">
        <div class="player-name">{{ player.name }}</div>
        <div class="content-stats">
            <div class="logo-team">
                <img src="{{ team.logo }}" alt="">
            </div>
            <div class="info-stats">
                <div class="info-header">
                    <div class="round cell">SET</div>
                    <div class="status cell">V</div>
                    <div class="status cell">D</div>
                </div>
                <!-- 2VS2 -->
                <div class="info-competition">
                    <div class="round cell first">
                        <div class="text">2vs2</div>
                    </div>
                    <div class="status cell result">{{ player.stats['2v2'].victories }}</div>
                    <div class="status cell result">{{ player.stats['2v2'].defeats }}</div>
                </div>
                <!-- END 2VS2 -->

                <!-- 1VS1 -->
                <div class="info-competition">
                    <div class="round cell first">
                        <div class="text">1vs1</div>
                    </div>
                    <div class="status cell result">{{ player.stats['1v1'].victories }}</div>
                    <div class="status cell result">{{ player.stats['1v1'].defeats }}</div>
                </div>
                <!-- END 1VS1 -->

                <!-- KOH -->
                <div class="info-competition">
                    <div class="round cell first">
                        <div class="text">KOH</div>
                    </div>
                    <div class="status cell result">{{ player.stats['koh'].victories }}</div>
                    <div class="status cell result">{{ player.stats['koh'].defeats }}</div>
                </div>
                <!-- END KOH -->

            </div>
        </div>
        <div class="bans-stats">
            <div class="text-bans">TOP 3</div>
            <div class="bans-cards">
                {% for ban in player.cards_used %}
                <div class="ban-layout">
                    <div class="ban">
                        <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/clash-royale/cards/type-1/{{ ban.key }}.png" alt="" />
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}