{% extends 'GrafismBundle::layout.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('bundles/grafism/css/CRL/replays.css') }}" />
{% endblock styles %}

{% block body %}

    <div class="replays">
        <div class="team">
            <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/CRL/logos-final/{{ local.shortname | lower }}.png" alt="" />
        </div>
        <div class="text"><i class="fas fa-backward"></i>{{ localize('Replays') }}</div>
        <div class="team">
            <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/CRL/logos-final/{{ visitor.shortname | lower }}.png" alt="" />
        </div>

    </div>

    <script type="text/javascript">
        $(function () {
            function swapLanguage(from, to)
            {
                $('.' + from).parent().fadeOut("fast", function () {
                    $('.' + from).toggle();
                    $('.' + to).toggle();
                    $('.'+from).parent().fadeIn("fast");
                });
            }

            setInterval(function () {
                $('.es, .pt').toggle();
            }, 10000);
        });
    </script>

{% endblock %}