{% extends 'GrafismBundle::layout.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('bundles/grafism/css/CRL/scoreboard-countdown.css') }}" />
{% endblock styles %}

{% block body %}
    <div class="scoreboard-countdown">
        <div class="teams">
            <div class="team">
                <div class="team-name">
                    <div class="name blue">
                        <img src="{{ match.attributes.team_local.logo.original }}" alt="" />
                        {{ match.attributes.team_local.name }}
                    </div>
                </div>
                {% for i in 1..3 %}
                    <div class="score blue" {% if i == 3 %} style="margin-right:0;" {% endif %}>{{ sets[i].score_local }}</div>
                {% endfor %}
                <div class="score">{{ match.attributes.results.score_local }}</div>
            </div>
            <div class="sets-label">
                <div class="set-label">SET 2VS2</div>
                <div class="set-label">SET 1VS1</div>
                <div class="set-label">KOH</div>
            </div>
            <div class="team">
                <div class="team-name">
                    <div class="name red">
                        <img src="{{ match.attributes.team_visitor.logo.original }}" alt="" />
                        {{ match.attributes.team_visitor.name }}
                    </div>
                </div>
                {% for i in 1..3 %}
                    <div class="score red" {% if i == 3 %} style="margin-right:0;" {% endif %}>{{ sets[i].score_visitor }}</div>
                {% endfor %}
                <div class="score">{{ match.attributes.results.score_visitor }}</div>
            </div>
        </div>

        <div class="countdown">
            <div class="countdown-header">{{ 'Starting' | trans({}, 'messages', locale) }}</div>
            <div class="countdown-timer">00:00</div>
        </div>
    </div>

    <script type="text/javascript">
        var count = 0;

        function startTimer() {

            var presentTime = $('.countdown-timer').html();
            var timeArray = presentTime.split(/[:]+/);
            var m = timeArray[0];
            var s = checkSecond((timeArray[1] - 1));
            if(s==59){m=m-1}

            if(m<0) {
                return;
            }

            $('.countdown-timer').html(m + ":" + s);

            setTimeout(function(){
                startTimer();
            }, 1000);
        }

        function checkSecond(sec) {
            if (sec < 10 && sec >= 0) {sec = "0" + sec}; // add zero in front of numbers < 10
            if (sec < 0) {sec = "59"};
            return sec;
        }

        $(function(){
            $('.countdown-timer').html({{ minutes }} + ":" + {{ seconds }}).fadeIn();
            startTimer();
        });
    </script>
{% endblock %}