{% extends 'GrafismBundle::layout.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('bundles/grafism/css/CRL/scoreboard-bans.css') }}" />
{% endblock styles %}


{% block body %}

    {% set localTeamId = match.attributes.team_local.id %}
    {% set visitorTeamId = match.attributes.team_visitor.id %}

    <div class="header">
        <div class="header-team">
            <div class="header-team-name">{{ match.attributes.team_local.name }}</div>
            <div class="header-team-score blue">
                <div class="triangle-right"></div>
                {{ match.attributes.results.score_local }}
            </div>
        </div>
        <div class="header-team">
            <div class="header-team-score red">
                {{ match.attributes.results.score_visitor }}
                <div class="triangle-left"></div>
            </div>
            <div class="header-team-name" style="text-align: right;">{{ match.attributes.team_visitor.name }}</div>
        </div>
    </div>
    <div class="header-label">MATCH {{ match.attributes.bracket_position }}</div>
    <div class="content">
        <div class="content-team">
            <img src="{{ match.attributes.team_local.logo.original }}" alt="" />
        </div>
        <div class="scoreboard">
            {% for set in sets %}
                <div class="stat">
                    <div class="stat-value blue">{{ set.score_local }}</div>
                    <div class="stat-key">
                        <div class="stat-key-name">
                            {% if loop.index == 1 %}
                                2vs2
                            {% elseif loop.index == 2 %}
                                1vs1
                            {% elseif loop.index == 3 %}
                                KoH
                            {% endif %}
                        </div>
                    </div>
                    <div class="stat-value red">{{ set.score_visitor }}</div>
                </div>
            {% endfor %}
            <div class="stat">
                <div class="stat-value blue">{{ crowns.team_local }}</div>
                <div class="stat-key"><div class="stat-key-name" style="line-height: 1.3;">Torres derribadas</div></div>
                <div class="stat-value red">{{ crowns.team_visitor }}</div>
            </div>
            <div class="stat">
                <div class="stat-value blue">{{ crowns.team_visitor }}</div>
                <div class="stat-key"><div class="stat-key-name" style="line-height: 1.3;">Torres perdidas</div></div>
                <div class="stat-value red">{{ crowns.team_local }}</div>
            </div>
            <div class="stat">
                <div class="stat-value blue">{{ match.attributes.elixir.local | number_format(2,'.') }}</div>
                <div class="stat-key"><div class="stat-key-name">Elixir medio</div></div>
                <div class="stat-value red">{{ match.attributes.elixir.visitor | number_format(2,'.') }}</div>
            </div>
        </div>
        <div class="content-team">
            <img src="{{ match.attributes.team_visitor.logo.original }}" alt="" />
        </div>
    </div>

    <div class="bans">
        <img class="ban-img" src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/CRL/lowers/marcador+con+bans.png" alt="">
        <div class="bans-content">
            <div class="ban-section">
                {% for i in 1..3 %}
                    <div class="ban blue" style="z-index:10{{ 3 - i  }}">
                        <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/clash-royale/cards/type-1/{{ match.attributes.banned_cards[i][localTeamId].card.key }}.png" alt="" />
                    </div>
                {% endfor %}
            </div>
            <div class="ban-label">BANEOS</div>

            <div class="ban-section">
                {% for i in 1..3 %}
                    <div class="ban red" style="z-index:10{{ i }}">
                        <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/clash-royale/cards/type-1/{{ match.attributes.banned_cards[i][visitorTeamId].card.key }}.png" alt="" />
                    </div>
                {% endfor %}
            </div>

            <div class="bans-line"></div>
        </div>
    </div>

{% endblock %}