{% extends 'GrafismBundle::layout.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('bundles/grafism/css/CRL/scoreboard.css') }}" />
{% endblock styles %}

{% block body %}

    <div class="header">
        <div class="team local">
            <div class="team-name">{{ local.name }}</div>
            <div class="team-score">{{ local.score }}</div>
        </div>
        <div class="team visitor">
            <div class="team-score">{{ visitor.score }}</div>
            <div class="team-name">{{ visitor.name }}</div>
        </div>
    </div>

    <div class="content">
        <div class="local">
            <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/CRL/logos-final/{{ local.shortname | lower }}.png" alt="" />
        </div>
        <div class="scoreboard">
            <div class="scoreboard-header">{{ localize(label, false) }} - SET {{ set }}</div>
            {% for game in games %}
                <div class="scoreboard-row">
                    <div class="score">
                        {% if 'local' == game.score %}
                            <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/CRL/default/local-crown.png" alt="" />
                        {% endif %}
                    </div>
                    <div class="key {% if loop.last and label == 'Global Scoreboard' %} koh {% endif %}">{{ localize(game.label, false) }}</div>
                    <div class="score">
                        {% if 'visitor' == game.score %}
                            <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/CRL/default/visitor-crown.png" alt="" />
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="visitor">
            <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/CRL/logos-final/{{ visitor.shortname | lower }}.png" alt="" />
        </div>
    </div>

    <script type="text/javascript">
        $(function () {
            setInterval(function () {
                $('.es, .pt').toggle();
            }, 6000);
        });
    </script>

{% endblock %}