{% extends 'GrafismBundle::layout.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('bundles/grafism/css/CRL/standings.css') }}" />
{% endblock styles %}

{% block body %}

    <div class="standings">
        <!-- 1 to 4  -->
        <div class="standing-table">
            <div class="standing-table-header">
                <div class="position-label">{{ 'POS.' | trans({}, 'messages', locale) | upper }}</div>
                <div class="team-label">{{ 'Team' | trans({}, 'messages', locale) | upper }}</div>
                <div class="score-label">V - D</div>
            </div>

            <div class="standing-table-content">
                {% for team in teams | slice(0,4) %}
                <div class="standing-team">
                    <div class="position-label">{{ team.attributes.ladder_position }}</div>
                    <div class="team-label">
                        <img src="{{ team.attributes.logo.original }}" alt="" />
                        {{ team.attributes.name | upper }}
                    </div>
                    <div class="score-label">{{ team.attributes.victories }} - {{ team.attributes.defeats }}</div>
                </div>
                {% endfor %}
            </div>
        </div>

        <!-- 5 to 8 -->
        <div class="standing-table">
            <div class="standing-table-header">
                <div class="position-label">{{ 'POS.' | trans({}, 'messages', locale) | upper }}</div>
                <div class="team-label">{{ 'Team' | trans({}, 'messages', locale) | upper }}</div>
                <div class="score-label">V - D</div>
            </div>

            <div class="standing-table-content">
                {% for team in teams | slice(4,4) %}
                    <div class="standing-team">
                        <div style="background-color:#8b8b8b;" class="position-label">{{ team.attributes.ladder_position }}</div>
                        <div class="team-label">
                            <img src="{{ team.attributes.logo.original }}" alt="" />
                            {{ team.attributes.name | upper }}
                        </div>
                        <div class="score-label">{{ team.attributes.victories }} - {{ team.attributes.defeats }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}