{% extends 'GrafismBundle::layout.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('bundles/grafism/css/CRL/stats_1vs1.css') }}" />
{% endblock styles %}

{% block body %}
    <div class="featured">
        <div class="featured-header">
            <img src="{{ teams.local.logo }}" alt="" />
            {{ title }}
            <img class="red" src="{{ teams.visitor.logo }}" alt="" />
        </div>
        <img class="big-logo" src="{{ teams.local.logo }}" alt="" />
        <div class="main blue">
            <div class="main-player">
                {% for player in teams.local.players %}
                    <img src="{{  player.photo }}" alt="" />
                {% endfor %}
            </div>
            <div class="main-name">
                {% for player in teams.local.players %}
                        {{ player.name }}
                {% endfor %}
            </div>
        </div>
        <img class="big-logo red" src="{{ teams.visitor.logo }}" alt="" />
        <div class="main red">
            <div class="main-player red">
                {% for player in teams.visitor.players %}
                    <img src="{{ player.photo }}" alt="" />
                {% endfor %}
            </div>
            <div class="main-name red">
                {% for player in teams.visitor.players %}
                    {{ player.name }}
                {% endfor %}
            </div>
        </div>
        <div class="footer">
            <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/CRL/default/logo+CRL+Blanco.png" alt="" />
        </div>
    </div>
    <div class="stats">
        <div class="overview">
            <div class="result">
                <div class="name-team">{{ teams.local.name }}</div>
                <div class="marker">{{ score_local }}</div>
            </div>
            <div class="result red">
                <div class="marker red">{{ score_visitor }}</div>
                <div class="name-team"> {{ teams.visitor.name }}</div>
            </div>
        </div>
        <div class="stats-game">
            <div class="stat">
                <div class="stats-team">{{ teams.local.players[0].win_ratio |number_format(1,'.') }}%</div>
                <div class="stats-name">Win ratio</div>
                <div class="stats-team red">{{ teams.visitor.players[0].win_ratio|number_format(1,'.')  }}%</div>
            </div>
            <div class="stat">
                <div class="stats-team">{{ teams.local.players[0].crown_average|number_format(1,'.')  }}</div>
                <div class="stats-name">Crown Average</div>
                <div class="stats-team red">{{ teams.visitor.players[0].crown_average |number_format(1,'.') }}</div>
            </div>
            <div class="stat">
                <div class="stats-team" style="line-height:1;">
                    <img alt="" src="https://s3-eu-west-1.amazonaws.com/lvp-api/clash-royale/cards/thumbnail/{{ teams.local.players[0].win_condition }}.jpg" />
                </div>
                <div class="stats-name">Win Condition</div>
                <div class="stats-team red" style="line-height:1;">
                    <img alt="" src="https://s3-eu-west-1.amazonaws.com/lvp-api/clash-royale/cards/thumbnail/{{ teams.visitor.players[0].win_condition }}.jpg" />
                </div>
            </div>
        </div>
    </div>
{% endblock %}