{% extends 'GrafismBundle::layout.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('bundles/grafism/css/CRL/teams-winrate-lower.css') }}" />
{% endblock styles %}


{% block body %}
    <div class="teams-winrate-lower">
        <div class="teams">
            <div class="team blue">
                <div class="team-main">
                    <img src="{{ local.logo }}" alt="" />
                    <div class="team-wr">
                        <p class="key">WIN RATE</p>
                        <p class="value">{{ local.win_ratio | number_format(1, '.') }}%</p>
                    </div>
                    <div class="team-name blue">{{ local.name }}</div>
                </div>
                <div class="team-ban blue">
                    <img src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/clash-royale/cards/type-2/{{ local.ban }}.png" alt="" />
                </div>
            </div>

            <div class="team red">
                <div class="team-ban red">
                    <img style="margin-left: -25px;" src="https://s3-eu-west-1.amazonaws.com/lvp-graphism/clash-royale/cards/type-2/{{ visitor.ban }}.png" alt="" />
                </div>
                <div class="team-main red">
                    <img src="{{ visitor.logo }}" alt="" />
                    <div class="team-wr">
                        <p class="key">WIN RATE</p>
                        <p class="value">{{ visitor.win_ratio | number_format(1, '.') }}%</p>
                    </div>
                    <div class="team-name red">{{ visitor.name }}</div>
                </div>
            </div>
        </div>
        <div class="footer">BANS</div>
    </div>

    <script type="text/javascript">
        $(function () {

        });
    </script>
{% endblock %}